<h1><%= @rule.name %></h1>
<div class="subtitle">
Plugin: <%= @rule.plugin_name -%>&nbsp;&nbsp;&nbsp;
Key: <%= @rule.plugin_rule_key %></div>
<div class="doc">
  <p><%= @rule.description %></p>
</div>