<table class="width100">
  <tr>
    <td>
      <input type="text" id="issue-assignee-select">
      <input id="issue-assign-submit" type="submit" value="{{t 'issue.assign.submit'}}">&nbsp;
      <a id="issue-assign-cancel" class="action">{{t 'cancel'}}</a>
    </td>
  </tr>
</table>