<% if @update_plugin_center.nil? %>
  <p class="error">Not connected to update center. Please check your internet connection and logs.</p>
<% else %>
  <p class="notes">
  Updated on <%= @update_plugin_center.getDate() -%>. <%= link_to 'Refresh', :action => action, :reload => true %>
  </p>
<% end %>