<div class="component-viewer-header-expanded-bar-section">
  <div class="component-viewer-header-expanded-bar-section-title">Unit Tests</div>
  <ul class="component-viewer-header-expanded-bar-section-list">
    <li><a class="item">
      <span>Line Coverage</span>
      <span class="number">93.6%</span>
    </a></li>
    <li><a class="item">
      <span>Branch Coverage</span>
      <span class="number">100%</span>
    </a></li>
  </ul>
</div>

<div class="component-viewer-header-expanded-bar-section">
  <div class="component-viewer-header-expanded-bar-section-title">Integration Tests</div>
  <ul class="component-viewer-header-expanded-bar-section-list">
    <li><a class="item">
      <span>Line Coverage</span>
      <span class="number">47.2%</span>
    </a></li>
    <li><a class="item">
      <span>Branch Coverage</span>
      <span class="number">25%</span>
    </a></li>
  </ul>
</div>