<div class="component-viewer-header-expanded-bar-section">
  <div class="component-viewer-header-expanded-bar-section-title">Unit Tests</div>
  <ul class="component-viewer-header-expanded-bar-section-list">
    <li><span class="item">
      <span class="label">Line coverage</span>
      <span class="number">93.6%</span>
    </span></li>
    <li><a class="item js-filter-line-to-cover">
      <span class="label">Lines to cover</span>
      <span class="number">171</span>
      <i class="icon-chevron-right"></i>
    </a></li>
    <li><a class="item js-filter-uncovered-lines">
      <span class="label">Uncovered lines</span>
      <span class="number">16</span>
      <i class="icon-chevron-right"></i>
    </a></li>
    <li><span class="item">
      <span class="label">Branch coverage</span>
      <span class="number">100%</span>
    </span></li>
    <li><a class="item">
      <span class="label">Branches to cover</span>
      <span class="number">16</span>
      <i class="icon-chevron-right"></i>
    </a></li>
  </ul>
</div>

<div class="component-viewer-header-expanded-bar-section">
  <div class="component-viewer-header-expanded-bar-section-title">Integration Tests</div>
  <ul class="component-viewer-header-expanded-bar-section-list">
    <li><span class="item">
      <span class="label">Line Coverage</span>
      <span class="number">47.2%</span>
    </span></li>
    <li><a class="item">
      <span class="label">Lines to cover</span>
      <span class="number">171</span>
      <i class="icon-chevron-right"></i>
    </a></li>
    <li><a class="item">
      <span class="label">Uncovered lines</span>
      <span class="number">16</span>
      <i class="icon-chevron-right"></i>
    </a></li>
  </ul>
</div>