<div class="component-viewer-header-expanded-bar-section">
  <div class="component-viewer-header-expanded-bar-section-title">Unit Tests</div>
  <ul class="component-viewer-header-expanded-bar-section-list">
    <li><span class="item">
      <span class="label">Coverage</span>
      <span class="number">93.6%</span>
    </span></li>
    <li><span class="item">
      <span class="label">Line coverage</span>
      <span class="number">93.6%</span>
    </span></li>
    <li><a class="item js-filter-lines-to-cover">
      <span class="label">Lines to cover</span>
      <span class="number">171</span>
      <i class="icon-chevron-right"></i>
    </a></li>
    <li><a class="item js-filter-uncovered-lines">
      <span class="label">Uncovered lines</span>
      <span class="number">16</span>
      <i class="icon-chevron-right"></i>
    </a></li>
    <li><a class="item js-filter-covered-lines">
      <span class="label">Covered lines</span>
      <span class="number">55</span>
      <i class="icon-chevron-right"></i>
    </a></li>
  </ul>
</div>

<div class="component-viewer-header-expanded-bar-section">
  <div class="component-viewer-header-expanded-bar-section-title">&nbsp;</div>
  <ul class="component-viewer-header-expanded-bar-section-list">
    <li><span class="item">&nbsp;</span></li>
    <li><span class="item">
      <span class="label">Branch coverage</span>
      <span class="number">75.0%</span>
    </span></li>
    <li><a class="item js-filter-branches-to-cover">
      <span class="label">Branches to cover</span>
      <span class="number">16</span>
      <i class="icon-chevron-right"></i>
    </a></li>
    <li><a class="item js-filter-uncovered-branches">
      <span class="label">Uncovered branches</span>
      <span class="number">4</span>
      <i class="icon-chevron-right"></i>
    </a></li>
  </ul>
</div>


<div class="component-viewer-header-expanded-bar-section">
  <div class="component-viewer-header-expanded-bar-section-title">Unit Tests</div>
  <ul class="component-viewer-header-expanded-bar-section-list">
    <li><span class="item">
      <span class="label">Coverage</span>
      <span class="number">93.6%</span>
    </span></li>
    <li><span class="item">
      <span class="label">Line coverage</span>
      <span class="number">93.6%</span>
    </span></li>
    <li><a class="item js-filter-lines-to-cover-it">
      <span class="label">Lines to cover</span>
      <span class="number">171</span>
      <i class="icon-chevron-right"></i>
    </a></li>
    <li><a class="item js-filter-uncovered-lines-it">
      <span class="label">Uncovered lines</span>
      <span class="number">16</span>
      <i class="icon-chevron-right"></i>
    </a></li>
    <li><a class="item js-filter-covered-lines-it">
      <span class="label">Covered lines</span>
      <span class="number">55</span>
      <i class="icon-chevron-right"></i>
    </a></li>
  </ul>
</div>

<div class="component-viewer-header-expanded-bar-section">
  <div class="component-viewer-header-expanded-bar-section-title">&nbsp;</div>
  <ul class="component-viewer-header-expanded-bar-section-list">
    <li><span class="item">&nbsp;</span></li>
    <li><span class="item">
      <span class="label">Branch coverage</span>
      <span class="number">75.0%</span>
    </span></li>
    <li><a class="item js-filter-branches-to-cover-it">
      <span class="label">Branches to cover</span>
      <span class="number">16</span>
      <i class="icon-chevron-right"></i>
    </a></li>
    <li><a class="item js-filter-uncovered-branches-it">
      <span class="label">Uncovered branches</span>
      <span class="number">4</span>
      <i class="icon-chevron-right"></i>
    </a></li>
  </ul>
</div>