{{#with component.msr}}
  <div class="component-viewer-header-expanded-bar-section">
    <div class="component-viewer-header-expanded-bar-section-title">{{t 'duplications'}}</div>
    <ul class="component-viewer-header-expanded-bar-section-list">
      {{{componentViewerHeaderLink duplicated_blocks 'duplicated_blocks' 'js-filter-duplications'}}}
      {{{componentViewerHeaderLink duplicated_lines 'duplicated_lines' 'js-filter-duplications'}}}
    </ul>
  </div>
{{/with}}