<div class="component-viewer-header-expanded-bar-section">
  <div class="component-viewer-header-expanded-bar-section-title">Duplications</div>
  <ul class="component-viewer-header-expanded-bar-section-list">
    <li><a class="item">
      <span>Lines</span>
      <span class="number">76</span>
    </a></li>
    <li><a class="item">
      <span>Duplicated Lines</span>
      <span class="number">16</span>
    </a></li>
    <li><a class="item">
      <span>Duplicated Blocks</span>
      <span class="number">2</span>
    </a></li>
  </ul>
</div>