<div class="component-viewer-header-time-changes">
  <a class="highlighted-link js-scm-time-changes">
    {{#if period}}Δ {{period.label}}{{else}}<i class="icon-period"></i> {{t 'component_viewer.time_changes'}}{{/if}}
  </a>
</div>