<div class="component-viewer-header-time-changes">
  <a class="highlighted-link js-scm-time-changes">
    {{#if period}}Δ {{period.label}}{{else}}<i class="icon-period"></i> {{t 'component_viewer.time_changes'}}{{/if}}
  </a>
</div>

<div class="component-viewer-header-expanded-bar-section">
  <ul class="component-viewer-header-expanded-bar-section-list">
    <li><a class="item js-filter-modified-lines">
      <span>{{t 'component_viewer.scm.modified_lines'}}</span>
      <i class="icon-chevron-right"></i>
    </a></li>
  </ul>
</div>
