<header class="page-header">
  <h1 class="page-title">{{t 'provisioning.page'}}</h1>
  <div class="page-actions">
    <div class="button-group">
      <button id="provisioning-create">Create Project</button>
      <button class="button-red" id="provisioning-bulk-delete" disabled>Delete Projects</button>
    </div>
  </div>
  <p class="page-description">{{t 'provisioning.page.description'}}</p>
</header>
