<div class="panel panel-vertical bordered-bottom spacer-bottom">
  <span class="big-spacer-right text-middle">
    <a class="js-toggle-selection icon-checkbox {{#if allSelected}}icon-checkbox-checked{{/if}} {{#if someSelected}}icon-checkbox-checked icon-checkbox-single{{/if}}" href="#"></a>
  </span>

  <form id="provisioning-search-form" class="search-box display-inline-block text-middle">
    <button id="provisioning-search-submit" class="search-box-submit button-clean"><i class="icon-search"></i></button>
    <input id="provisioning-search-query" class="search-box-input" type="search" name="q" placeholder="Search" maxlength="100">
  </form>
</div>
