<div class="pull-right big-spacer-left nowrap">
  <a class="js-project-delete icon-delete" title="Delete" data-toggle="tooltip" href="#"></a>
</div>

<div class="pull-left big-spacer-right">
  <a class="js-toggle icon-checkbox {{#if selected}}icon-checkbox-checked{{/if}}" href="#"></a>
</div>

<div class="display-inline-block text-top width-30">
  <a class="js-project-name" href="{{dashboardUrl key}}">{{name}}</a>
  <span class="js-project-key note little-spacer-left">{{key}}</span>
</div>

<div class="display-inline-block text-top width-30">
  Created at {{dt creationDate}}
</div>
