<%= render :partial => 'gwt/base', :locals => {:resource => @project, :popup => true, :metric => params[:metric]} %>
<%= render :partial => 'gwt/resource_viewers', :locals => {:resource => @project} %>
<div id="pageselector"> </div>