<form id="change-user-password-form" autocomplete="off">
  <div class="modal-head">
    <h2>Change Password</h2>
  </div>
  <div class="modal-body">
    <div class="js-modal-messages"></div>
    {{#if isOwnPassword}}
      <div class="modal-field">
        <label for="change-user-password-old-password">Old Password<em class="mandatory">*</em></label>
        {{! keep this fake field to hack browser autofill }}
        <input id="change-user-password-old-password-fake" name="old-password-fake" type="password" class="hidden">
        <input id="change-user-password-old-password" name="old-password" type="password" size="50" maxlength="50" required>
      </div>
    {{/if}}
    <div class="modal-field">
      <label for="change-user-password-password">New Password<em class="mandatory">*</em></label>
      {{! keep this fake field to hack browser autofill }}
      <input id="change-user-password-password-fake" name="password-fake" type="password" class="hidden">
      <input id="change-user-password-password" name="password" type="password" size="50" maxlength="50" required>
    </div>
    <div class="modal-field">
      <label for="change-user-password-password-confirmation">Confirm Password<em class="mandatory">*</em></label>
      {{! keep this fake field to hack browser autofill }}
      <input id="change-user-password-password-confirmation-fake" name="password-confirmation-fake" type="password" class="hidden">
      <input id="change-user-password-password-confirmation" name="password-confirmation" type="password" size="50" maxlength="50" required>
    </div>
  </div>
  <div class="modal-foot">
    <button id="change-user-password-submit">Change</button>
    <a href="#" class="js-modal-close" id="change-user-password-cancel">Cancel</a>
  </div>
</form>
