<table class="data zebra">
  <thead>
    <tr>
      <th>&nbsp;</th>
      <th class="nowrap">&nbsp;</th>
      <th class="nowrap">SCM Accounts</th>
      {{#unless customOrganizations}}
        <th class="nowrap">Groups</th>
      {{/unless}}
      <th class="nowrap">Tokens</th>
      <th class="nowrap">&nbsp;</th>
    </tr>
  </thead>
  <tbody></tbody>
</table>
