<div class="panel panel-vertical">
  <form id="users-search-form">
    <label for="users-search-query">Search:</label>
    <input class="text-middle" type="search" name="q" id="users-search-query">
    <div class="button-group">
      <button id="users-search-submit">Search</button>
    </div>
    <a class="text-middle" id="users-search-cancel" href="#">Cancel</a>
  </form>
</div>
