<table class="data zebra">
  <thead>
  <tr>
    {{#ifShowAvatars}}<th>&nbsp;</th>{{/ifShowAvatars}}
    <th class="nowrap">&nbsp;</th>
    <th class="nowrap">SCM Accounts</th>
    <th class="nowrap">Groups</th>
    <th class="nowrap">Tokens</th>
    <th class="nowrap">&nbsp;</th>
  </tr>
  </thead>
  <tbody></tbody>
</table>
