<form id="deactivate-user-form" autocomplete="off">
  <div class="modal-head">
    <h2>Deactivate User</h2>
  </div>
  <div class="modal-body">
    <div class="js-modal-messages"></div>
    Are you sure you want to deactivate "{{name}} ({{login}})"?
  </div>
  <div class="modal-foot">
    <button id="deactivate-user-submit">Deactivate</button>
    <a href="#" class="js-modal-close" id="deactivate-user-cancel">Cancel</a>
  </div>
</form>
