<table class="width-100 data zebra">
  <thead>
  <tr>
    <th>Login</th>
    <th>Name</th>
    <th>Email</th>
    <th class="thin">Groups</th>
    <th class="thin">&nbsp;</th>
  </tr>
  </thead>
  <tbody></tbody>
</table>
