<td>{{login}}</td>
<td>{{name}}</td>
<td>{{email}}</td>
<td>&nbsp;</td>
<td class="thin text-right nowrap">
  <a class="js-user-update icon-edit little-spacer-right" title="Update" data-toggle="tooltip" href="#"></a>
  <a class="js-user-change-password icon-lock little-spacer-right" title="Change Password" data-toggle="tooltip" href="#"></a>
  <a class="js-user-deactivate icon-delete" title="Deactivate" data-toggle="tooltip" href="#"></a>
</td>
