<form id="deactivate-user-form" autocomplete="off">
  <div class="modal-head">
    <h2>{{t 'users.deactivate_user'}}</h2>
  </div>
  <div class="modal-body">
    <div class="js-modal-messages"></div>
    {{tp 'users.deactivate_user.confirmation' name login}}
  </div>
  <div class="modal-foot">
    <button class="button-red" id="deactivate-user-submit">{{t 'users.deactivate'}}</button>
    <a href="#" class="js-modal-close" id="deactivate-user-cancel">{{t 'cancel'}}</a>
  </div>
</form>
