<div class="panel panel-vertical bordered-bottom spacer-bottom">
  <form id="users-search-form" class="search-box">
    <button id="users-search-submit" class="search-box-submit button-clean"><i class="icon-search"></i></button>
    <input id="users-search-query" class="search-box-input" type="search" name="q" placeholder="Search" maxlength="100">
    <span class="js-hint note spacer-left text-middle hidden">
      {{tp 'select2.tooShort' 2}}
    </span>
  </form>
</div>
