<div class="modal-head">
  <h2>{{t 'users.update_groups'}}</h2>
</div>
<div class="modal-body">
  <div class="js-modal-messages"></div>
  <div id="users-groups"></div>
</div>
<div class="modal-foot">
  <a href="#" class="js-modal-close" id="users-groups-done">{{t 'Done'}}</a>
</div>
