<div class="select-list-container">
  <div class="select-list-control">
    <div class="select-list-check-control">
      <a class="select-list-control-button" name="selected">{{this.selected}}</a><a class="select-list-control-button" name="deselected">{{this.deselected}}</a><a class="select-list-control-button" name="all">{{this.all}}</a>
    </div>
    <div class="select-list-search-control">
      <form class="search-box">
        <span class="search-box-submit button-clean"><i class="icon-search"></i></span>
        <input class="search-box-input" type="search" name="q" placeholder="{{t 'search_verb'}}" maxlength="100" autocomplete="off">
      </form>
    </div>
  </div>
  <div class="select-list-list-container">
    <ul class="select-list-list"></ul>
  </div>
</div>
