.boxed-group {
  margin-bottom: 20px;
  border: 1px solid #e6e6e6;
  border-radius: 2px;
  background-color: #fff;
}

.boxed-group > h2 {
  line-height: 24px;
  padding: 15px 20px 0;
}

.boxed-group hr {
  height: 0;
  border-top: 1px solid #efefef;
  margin: 15px -20px;
}

.boxed-group-actions {
  float: right;
  margin-top: 15px;
  margin-right: 20px;
}

.boxed-group-inner {
  padding: 15px 20px;
}

.boxed-group-inner:empty {
  padding-top: 0;
}

.boxed-group-list {
  margin-top: -8px;
  margin-bottom: -8px;
}

.boxed-group-list > li {
  margin-left: -20px;
  margin-right: -20px;
  padding: 8px 20px;
}
