.page-head {
  margin-bottom: 20px;
  padding-bottom: 15px;
  border-bottom: 1px solid #e6e6e6;
  background-color: #f3f3f3;
}

.page-head .page-actions {
  margin-bottom: 0;
}

.page-head .spinner {
  top: 4px;
  margin-left: 8px;
}

.page-with-left-sidebar .page-main {
  order: 2;
}

.page-with-left-sidebar .page-sidebar,
.page-with-left-sidebar .page-sidebar-fixed {
  order: 1;
  padding-left: 0;
  padding-right: 40px;
}
