.date-input-control {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.date-input-control-input {
  width: 105px;
  padding-left: 24px !important;
  cursor: pointer;
}

.date-input-control-icon {
  position: absolute;
  top: 5px;
  left: 5px;
}

.date-input-control-icon path {
  fill: #cdcdcd;
  transition: fill 0.3s ease;
}

.date-input-control-input:focus + .date-input-control-icon path {
  fill: #4b9fd5;
}

.boolean-toggle {
  display: inline-block;
  vertical-align: middle;
  width: 48px;
  height: 24px;
  padding: 1px;
  border: 1px solid #cdcdcd;
  border-radius: 24px;
  box-sizing: border-box;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
}

.boolean-toggle:hover {
  background-color: #fff;
}

.boolean-toggle:focus {
  border-color: #4b9fd5;
  background-color: #f6f6f6;
}

.boolean-toggle-handle {
  width: 20px;
  height: 20px;
  border: 1px solid #cdcdcd;
  border-radius: 22px;
  box-sizing: border-box;
  background-color: #f6f6f6;
  transition: transform 0.3s cubic-bezier(0.87, -0.41, 0.19, 1.44), border 0.3s ease;
}

.boolean-toggle-on {
  border-color: #236a97;
  background-color: #236a97;
}

.boolean-toggle-on:hover {
  background-color: #236a97;
}

.boolean-toggle-on:focus {
  background-color: #236a97;
}

.boolean-toggle-on .boolean-toggle-handle {
  border-color: #f6f6f6;
  transform: translateX(24px);
}
