<% if @resource || @project %>
  <div id="bc">
    <ul>
      <%
         resource_link = {}
         if @review
           resource_link = {:controller => 'dashboard', :action => 'index'}
         end

         # ======== Path for resources ========
         displayed_resource = @resource || @project
         if displayed_resource && displayed_resource.last_snapshot
           resources=[]
           s=displayed_resource.last_snapshot
           while (s!=nil) do
             resources<<s.project
             s=s.parent
           end

           items_count = resources.size
           items_count+=1 if @review
           resources.reverse.each_with_index do |resource, index|
             if items_count==1
               css_class='first-selected'
             else
               css_class=
                 case index
                   when 0 then
                     'first'
                   when (items_count-1) then
                     'selected'
                   else
                     ''
                 end
             end
      %>
          <li class="<%= css_class -%>">
            <%= qualifier_icon(resource) -%>
            &nbsp;
            <%= link_to(h(resource.name),
                        {:overwrite_params => {:id => resource.key}.merge(resource_link)}
                ) -%>
          </li>
        <%
           end
           end

           # ======== Path for review ========
           if @review
        %>
        <li class="selected">
          <%= link_to message('review') + ' #' + @review.id.to_s -%>
        </li>
      <%
         end
      %>
      <li class="last">&nbsp;</li>
    </ul>
  </div>
<% end %>