<li>
  <a href="#" class="link-more dropdown" onclick="$j('#tools-menu').toggle(); return false;"><%= message('layout.tools') -%></a>
  
  <div id="tools-menu" class="dropdown-menu" style="display: none" onmouseout="$j(this).hide();" onmouseover="$j(this).show();">
    <ul>
      <li><a href="<%= ApplicationController.root_context -%>/dependencies/index"><%= message('dependencies.page') -%></a></li>
    </ul>
  </div>
  
</li>