.account-header {
  position: fixed;
  top: 30px;
  left: 0;
  right: 0;
  z-index: 420;
  background-color: #f3f3f3;
}

.account-nav {

}

.account-nav .nav-tabs {
  width: 100%;
}

.account-user {
  padding: 10px;
}

.account-nav-avatar {
  float: left;
  margin-right: 20px;
}

.account-page {
  padding-top: 102px;
}

.account-bar-chart .bar-chart-bar {
  fill: #4b9fd5;
}

.account-bar-chart .bar-chart-tick {
  fill: #777;
  font-size: 12px;
  text-anchor: middle;
}

.account-bar-chart .histogram-tick {
  text-anchor: end;
}

.account-bar-chart .histogram-value {
  text-anchor: start;
}
