<% content_for :script do %>
  <script data-main="<%= ApplicationController.root_context -%>/js/analysis-reports/app" src="<%= ApplicationController.root_context -%>/js/require.js"></script>
<% end %>


<div id="analysis-reports">
  <i class="spinner"></i>
</div>
