<li>
  <label title="{{id}}" data-id="{{id}}">
    <span>
      <i class="icon-checkbox {{#if checked}}icon-checkbox-checked{{/if}} {{#unless multiple}}icon-checkbox-single{{/unless}}"></i>
      {{text}}
    </span>

    {{#if language}}
      <br>
      <span>
        <i class="icon-checkbox icon-checkbox-invisible"></i>
        <span class="subtitle">{{language}}</span>
      </span>
    {{/if}}
  </label>
</li>
