<li>
  <label title="{{id}}" data-id="{{id}}">
    <i class="icon-checkbox {{#if checked}}icon-checkbox-checked{{/if}} {{#unless multiple}}icon-checkbox-single{{/unless}}"></i>
    <span>
      {{text}}
      <br>
      <span class="subtitle">{{language}}</span>
    </span>
  </label>
</li>
