<div class="search-navigator-filters-header">
  <span class="search-navigator-filters-name">{{t 'coding_rules.page'}}</span>
</div>

<div class="search-navigator-filters-actions">
  <div class="button-group">
    <button class="js-new-search" id="coding-rules-new-search">{{t 'issue_filter.new_search'}}</button>
  </div>
</div>
