<div class="js-rule-meta"></div>
<div class="js-rule-description"></div>
<div class="js-rule-parameters"></div>

{{#if isEditable}}
  <div class="coding-rules-detail-description">
    <div class="button-group">
      {{#if isManual}}
        <button class="js-edit-manual" id="coding-rules-detail-manual-rule-change">{{t 'edit'}}</button>
      {{else}}
        <button class="js-edit-custom" id="coding-rules-detail-custom-rule-change">{{t 'edit'}}</button>
      {{/if}}
      <button class="button-red js-delete" id="coding-rules-detail-rule-delete" class="button-red">{{t 'delete'}}</button>
    </div>
  </div>
{{/if}}

<div class="js-rule-custom-rules coding-rule-section"></div>
<div class="js-rule-profiles coding-rule-section"></div>
<div class="js-rule-issues coding-rule-section"></div>
