<div class="js-rule-meta"></div>
<div class="js-rule-description"></div>
<div class="js-rule-parameters"></div>

{{#if isEditable}}
  <div class="coding-rules-detail-description">
    <div class="button-group">
      {{#if isManual}}
        <button id="coding-rules-detail-manual-rule-change">{{t 'edit'}}</button>
      {{else}}
        <button id="coding-rules-detail-custom-rule-change">{{t 'edit'}}</button>
      {{/if}}
      <button id="coding-rules-detail-rule-delete" class="button-red">{{t 'delete'}}</button>
    </div>
  </div>
{{/if}}

<div class="js-rule-custom-rules"></div>
<div class="js-rule-profiles"></div>
