<div class="coding-rules-parameter-full-description component-viewer-popup-container">
  <div class="component-viewer-popup-title">{{key}}</div>

    {{{htmlDesc}}}
    {{#if defaultValue}}
      <div>
        {{t 'coding_rules.parameters.default_value'}} {{defaultValue}}
      </div>
    {{/if}}
</div>

<div class="component-viewer-popup-arrow"></div>
