<h6 class="workspace-viewer-name">{{qualifierIcon q}}&nbsp;{{name}}</h6>

<div class="workspace-viewer-actions">
  <a href="#" class="js-minimize icon-minimize spacer-right"></a>
  <a href="#" class="js-full-screen icon-bigger-size workspace-for-normal-size spacer-right"></a>
  <a href="#" class="js-normal-size icon-smaller-size workspace-for-full-screen spacer-right"></a>
  <a href="#" class="js-close icon-close"></a>
</div>
