<footer class="spacer-top note text-center">
  {{tp 'x_of_y_shown' count total}}
  {{#if more}}
    <a id="custom-measures-fetch-more" class="spacer-left" href="#">{{t 'show_more'}}</a>
  {{/if}}
</footer>
