<form id="delete-custom-measure-form">
  <div class="modal-head">
    <h2>Delete Custom Measure</h2>
  </div>
  <div class="modal-body">
    <div class="js-modal-messages"></div>
    Are you sure you want to delete custom measure "{{metric.name}}"?
  </div>
  <div class="modal-foot">
    <button id="delete-custom-measure-submit" class="button-red">Delete</button>
    <a href="#" class="js-modal-close" id="delete-custom-measure-cancel">Cancel</a>
  </div>
</form>
