<form id="delete-custom-measure-form">
  <div class="modal-head">
    <h2>{{t 'custom_measures.delete_custom_measure'}}</h2>
  </div>
  <div class="modal-body">
    <div class="js-modal-messages"></div>
    {{tp 'custom_measures.delete_custom_measure.confirmation' metric.name}}
  </div>
  <div class="modal-foot">
    <button id="delete-custom-measure-submit" class="button-red">{{t 'delete'}}</button>
    <a href="#" class="js-modal-close" id="delete-custom-measure-cancel">{{t 'cancel'}}</a>
  </div>
</form>
