<div class="boxed-group boxed-group-inner">
  <table class="data zebra">
    <thead>
    <tr>
      <th>{{t 'custom_measures.metric'}}</th>
      <th>{{t 'value'}}</th>
      <th>{{t 'description'}}</th>
      <th>{{t 'date'}}</th>
      <th>&nbsp;</th>
    </tr>
    </thead>
    <tbody></tbody>
  </table>
</div>
