<header class="page-header">
  <h1 class="page-title">{{t 'custom_measures.page'}}</h1>
  <div class="page-actions">
    <button id="custom-measures-create">{{t 'create'}}</button>
  </div>
  <p class="page-description">{{t 'custom_measures.page.description'}}</p>
</header>
