<div id="markdown-full-help"></div>

<% content_for :extra_script do %>
  <script>
    window.sonarqube.el = '#markdown-full-help';
  </script>
  <script src="<%= ApplicationController.root_context -%>/js/bundles/markdown.js?v=<%= sonar_version -%>"></script>
<% end %>
