<div id="markdown-full-help">
  <h2 class="spacer-bottom">Markdown Syntax</h2>
  <table class="width100 table table-bordered spacer-bottom">
    <thead>
    <tr>
      <th>Write :</th>
      <th>To display :</th>
    </tr>
    </thead>
    <tbody>
    <tr class="even">
      <td>*this text is bold*</td>
      <td><b>this text is bold</b></td>
    </tr>
    <tr class="odd">
      <td>http://sonarqube.org</td>
      <td><a href="http://sonarqube.org">http://sonarqube.org</a></td>
    </tr>
    <tr class="even">
      <td valign="top">* first item<br>
      * second item</td>
      <td class="discussionComment" style="background-color: inherit">
        <ul>
          <li>first item</li>
          <li>second item</li>
        </ul>
      </td>
    </tr>
    <tr class="odd">
      <td valign="top">1. first item<br>
      1. second item</td>
      <td class="discussionComment" style="background-color: inherit">
        <ol>
          <li>first item</li>
          <li>second item</li>
        </ol>
      </td>
    </tr>
    <tr class="even">
      <td valign="top">
        = Heading Level 1<br>
        == Heading Level 2<br>
        === Heading Level 3<br>
        ==== Heading Level 4<br>
        ===== Heading Level 5<br>
        ====== Heading Level 6<br>
      <td valign="top">
      <h1>Heading Level 1</h1>
      <h2>Heading Level 2</h2>
      <h3>Heading Level 3</h3>
      <h4>Heading Level 4</h4>
      <h5>Heading Level 5</h5>
      <h6>Heading Level 6</h6>
      </td>
    </tr>
    <tr class="odd">
      <td valign="top">``Lists#newArrayList()``</td>
      <td><code>Lists#newArrayList()</code></td>
    </tr>
    <tr class="even">
      <td valign="top">
        ``<br>
        // code on multiple lines<br>
        public void foo() {<br>
        &nbsp;&nbsp;// do some logic here<br>
        }<br>
        ``
      </td>
      <td valign="top"><pre style="border: 1px dashed #DDD;padding: 5px;color: #444;font-size: 12px;">
<code>
  // code on multiple lines
  public void foo() {
    // do some logic here
  }
</code>
      </pre>
      </td>
    </tr>
    <tr class="odd">
      <td valign="top">
        Standard text<br>
        > Blockquoted text<br>
        > that spans multiple lines<br>
      </td>
      <td valign="top">
      <p>Standard text</p>
      <blockquote>Blockquoted text<br>
      that spans multiple lines<br></blockquote>
      </td>
    </tr>
    <tr class="even">
      <td valign="top">
        [SonarQube™ Home Page](http://www.sonarqube.org)
      </td>
      <td valign="top">
      <a href="http://www.sonarqube.org" target="_blank">SonarQube™ Home Page</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
