.account-header {
  position: fixed;
  top: 30px;
  left: 0;
  right: 0;
  z-index: 420;
  background-color: #f3f3f3;
}

.account-nav {

}

.account-nav .nav-tabs {
  width: 100%;
}

.account-user {
  padding: 10px;
}

.account-nav-avatar {
  float: left;
  margin-right: 20px;
}

.account-page {
  padding-top: 102px;
}
