gradle.properties @SonarSource/platform-server-squad
.github/CODEOWNERS @SonarSource/platform-server-squad
/private/core-extension-securityreport/ @sonarsource/orchestration-reporting-squad
/private/core-extension-enterprise-server/ @sonarsource/orchestration-reporting-squad
/private/core-extension-jira/ @sonarsource/orchestration-integration-squad
/private/core-extension-slack/ @sonarsource/orchestration-integration-squad
/private/core-extension-jfrog/ @sonarsource/orchestration-integration-squad
/private/core-extension-software-quality-reports/ @sonarsource/orchestration-reporting-squad
/private/it-governance/ @sonarsource/orchestration-reporting-squad
/private/it-architecture/ @SonarSource/quality-architecture-squad
/server/sonar-db-migration/src/main/java/org/sonar/server/platform/db/migration/version/ @SonarSource/platform-server-squad
/.claude/skills/capability-extraction/ @sonarsource/platform-enterprise-architecture
