<%
   measures=[]
   (1..10).each do |index|
     metric=widget_properties["metric#{index}"]
     m=(metric ? measure(metric) : nil)
     measures << m if m
   end
   period = params[:period]
   unless measures.empty?
%>

  <table class="width100">
    <tr>
      <td width="100%">
        <%
           measures.each do |measure|
             if measure.visible?(period.to_i)
        -%>
          <div class="dashbox">
            <p class="title"><%= measure.metric.short_name -%></p>
            <p>
              <% if measure.value.nil? -%>
              <%# This is a differential measure -%>
              <span class="big"><%= format_measure(measure, :url => url_for_drilldown(measure, :period => period), :period => period) -%></span>
              <% else -%>
              <%# This is a classic measure that can have a differential -%>
              <span class="big"><%= format_measure(measure, :url => url_for_drilldown(measure)) -%></span>
              <%= dashboard_configuration.selected_period? ? format_variation(measure) : trend_icon(measure) -%>
              <% end -%>
            </p>
          </div>
        <%
             end
           end
        -%>
      </td>
    </tr>
  </table>
<% end %>