<%
  @filter=::Filter.find(widget_properties['filter'])
  @filter_context=Filters.execute(@filter, self, params)
%>

<div class="filter_widget">
  <%= render :partial => "filters/#{@filter.default_view}", :locals => {:edit_mode => false} %>
</div>
