<h2>New coverage</h2>
  <table>
    <tr>
      <td>New lines</td>
      <% m=measure('new_lines_to_cover') %>
      <% 5.times do |index| %>
      <td>
        <%= format_variation(m, :index => index+1) -%>
      </td>
      <% end %>
    </tr>
    <tr>
      <td>New uncovered</td>
      <% m=measure('new_uncovered_lines') %>
      <% 5.times do |index| %>
      <td>
        <%= format_variation(m, :index => index+1) -%>
      </td>
      <% end %>
    </tr>
    <tr>
      <td>New conditions</td>
      <% m=measure('new_conditions_to_cover') %>
      <% 5.times do |index| %>
      <td>
        <%= format_variation(m, :index => index+1) -%>
      </td>
      <% end %>
    </tr>
    <tr>
      <td>New uncovered conditions</td>
      <% m=measure('new_uncovered_conditions') %>
      <% 5.times do |index| %>
      <td>
        <%= format_variation(m, :index => index+1) -%>
      </td>
      <% end %>
    </tr>
  </table>
