<div id="block_1" class="block" style="width: <%= @widget_width -%>">
  <div class="<%= @widget_definition.getId() %>" style="height:100%;">
    <%
       begin
         widget_body=render :inline => @widget_definition.getTarget().getTemplate(), :locals => {:widget_properties => @widget.properties_as_hash, :widget => @widget, :dashboard_configuration => @dashboard_configuration}
       rescue => error
         logger.error(message('dashboard.cannot_render_widget_x', :params => [@widget_definition.getId(), error]))
         error.backtrace.each { |line| logger.error('  ' + line) }
         widget_body=""
       end

       if widget_body.include?('<')
    %>
      <%
         default_layout=(@widget_definition.getWidgetLayout().name()=='DEFAULT')
         if default_layout
      %>
        <div class="widget">
      <% end %>
      <%= widget_body -%>
      <% if default_layout %>
        <div class="clear"></div>
        </div>
      <% end %>
    <%
       end
    %>
    <div style="clear: both;"></div>
  </div>
</div>