<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.sonar.db.event.EventMapper">

  <sql id="eventColumns">
    e.id,
    e.name,
    e.category,
    e.description,
    e.event_data as "data",
    e.event_date as "date",
    e.component_uuid as "componentUuid",
    e.snapshot_id as "snapshotId",
    e.created_at as "createdAt"
  </sql>

  <select id="selectByComponentUuid" parameterType="String" resultType="Event">
    SELECT
    <include refid="eventColumns"/>
    FROM events e
    <where>
      AND e.component_uuid=#{uuid}
    </where>
  </select>

  <insert id="insert" parameterType="Event" keyColumn="id" useGeneratedKeys="true" keyProperty="id">
    INSERT INTO events (name, category, description, event_data, event_date, component_uuid, snapshot_id, created_at)
    VALUES (#{name}, #{category}, #{description}, #{data}, #{date}, #{componentUuid}, #{snapshotId}, #{createdAt})
  </insert>

  <delete id="delete">
    DELETE FROM events WHERE id=#{id}
  </delete>

  <select id="findSnapshotIdOfPreviousVersion" parameterType="map" resultType="long">
    SELECT s.id
    FROM snapshots s, events e, projects p
    <where>
      AND p.id=#{componentId}
      AND p.uuid=e.component_uuid
      AND e.name &lt;&gt; #{currentVersion}
      AND e.category='Version'
      AND s.id = e.snapshot_id
    </where>
    ORDER BY e.event_date DESC
    LIMIT 1
  </select>

  <!-- SQL Server -->
  <select id="findSnapshotIdOfPreviousVersion" parameterType="map" resultType="long" databaseId="mssql">
    SELECT TOP 1 s.id
    FROM snapshots s, events e, projects p
    <where>
      AND p.id=#{componentId}
      AND p.uuid=e.component_uuid
      AND e.name &lt;&gt; #{currentVersion}
      AND e.category='Version'
      AND s.id = e.snapshot_id
    </where>
    ORDER BY e.event_date DESC
  </select>

  <!-- Oracle -->
  <select id="findSnapshotIdOfPreviousVersion" parameterType="map" resultType="long" databaseId="oracle">
    SELECT * FROM (SELECT s.id
    FROM snapshots s, events e, projects p
    <where>
      AND p.id=#{componentId}
      AND p.uuid=e.component_uuid
      AND e.name &lt;&gt; #{currentVersion}
      AND e.category='Version'
      AND s.id = e.snapshot_id
    </where>
    ORDER BY e.event_date DESC
    )
    WHERE ROWNUM &lt;= 1
  </select>

</mapper>

