<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.sonar.db.event.EventMapper">

  <sql id="eventColumns">
    e.id,
    e.uuid,
    e.analysis_uuid as "analysisUuid",
    e.component_uuid as "componentUuid",
    e.name,
    e.category,
    e.description,
    e.event_data as "data",
    e.event_date as "date",
    e.created_at as "createdAt"
  </sql>

  <select id="selectByComponentUuid" parameterType="String" resultType="Event">
    SELECT
    <include refid="eventColumns"/>
    FROM events e
    <where>
      AND e.component_uuid=#{uuid}
    </where>
  </select>

  <insert id="insert" parameterType="Event" keyColumn="id" useGeneratedKeys="true" keyProperty="id">
    INSERT INTO events (uuid, analysis_uuid, component_uuid, name, category, description, event_data, event_date, created_at)
    VALUES (
      #{uuid, jdbcType=VARCHAR},
      #{analysisUuid, jdbcType=VARCHAR},
      #{componentUuid, jdbcType=VARCHAR},
      #{name, jdbcType=VARCHAR},
      #{category, jdbcType=VARCHAR},
      #{description, jdbcType=VARCHAR},
      #{data, jdbcType=VARCHAR},
      #{date, jdbcType=BIGINT},
      #{createdAt, jdbcType=BIGINT})
  </insert>

  <delete id="delete">
    DELETE FROM events WHERE id=#{id}
  </delete>

</mapper>

