{
  "presets": [
    [
      "env",
      {
        "modules": false,
        "targets": {
          "browsers": [
            "last 3 Chrome versions",
            "last 3 Firefox versions",
            "last 3 Safari versions",
            "last 3 Edge versions",
            "IE 11"
          ]
        },
        "useBuiltIns": true
      }
    ],
    "react"
  ],
  "plugins": [
    "transform-class-properties",
    // use built-in `Object.assign`
    ["transform-object-rest-spread", { "useBuiltIns": true }],
    "lodash"
  ],
  "env": {
    "production": {
      "plugins": ["syntax-dynamic-import", "transform-react-constant-elements"]
    },
    "development": {
      "plugins": ["syntax-dynamic-import", "transform-react-jsx-source", "transform-react-jsx-self"]
    },
    "test": {
      "plugins": [
        "transform-es2015-modules-commonjs",
        "dynamic-import-node",
        "transform-react-jsx-source",
        "transform-react-jsx-self"
      ]
    }
  },
  "ignore": ["**/libs/**"]
}
