<% content_for :script do %>
  <script>require(['design/app']);</script>
  <script>
    window.resourceKey = '<%= @resource.key -%>';
  </script>
<% end %>


<div id="project-design" class="page">
  <i class="spinner"></i>
</div>
