DOCKERHUB_NAMESPACE=your-dockerhub-namespace
IMAGE_NAME=topsec-ai-code-audit
IMAGE_TAG=qianduanV1.0

POSTGRES_DB=sonarqube
POSTGRES_USER=sonarqube
POSTGRES_PASSWORD=change_me_please

SONAR_WEB_PORT=9000
SONAR_CORE_SERVER_BASE_URL=http://localhost:9000
SONAR_FORCE_AUTHENTICATION=true

SONAR_SEARCH_JAVAOPTS="-Xms512m -Xmx512m"
SONAR_WEB_JAVAOPTS="-Xms512m -Xmx512m"
SONAR_CE_JAVAOPTS="-Xms512m -Xmx512m"

PLUGIN_TAG=sonar-l10n-zh-plugin-26.4
