# The following should be moved in related sub-directories
sonar-server/src/main/webapp/stylesheets/sonar-colorizer.css
sonar-server/src/main/webapp/deploy/gwt
sonar-server/src/main/webapp/deploy/plugins
sonar-server/src/main/webapp/deploy/bootstrap
sonar-server/src/main/webapp/deploy/maven/org
sonar-server/src/main/webapp/WEB-INF/log/
sonar-server/src/main/webapp/deploy/*.jar
sonar-server/src/main/webapp/deploy/jdbc-driver.txt

# ---- Javadoc
docs.tar

# ---- Maven
target/

# ---- IntelliJ IDEA
*.iws
*.iml
*.ipr
.idea/

# ---- Eclipse
.classpath
.project
.settings

# ---- Mac OS X
.DS_Store
Icon?
# Thumbnails
._*
# Files that might appear on external disk
.Spotlight-V100
.Trashes

# ---- Windows
# Windows image file caches
Thumbs.db 
# Folder config file
Desktop.ini
