David Gageot <david@gageot.net>
Eric Hartmann <hartmann.eric@gmail.com>
Eric Hartmann <hartmann.eric@gmail.com> <hartmann.eric@gmail.Com>
Evgeny Mandrikov <mandrikov@gmail.com>
Fabrice Bellingard <bellingard@gmail.com>
Freddy Mallet <freddy.mallet@gmail.com>
Olivier Gaudin <gaudol@gmail.com>
Olivier Gaudin <gaudol@gmail.com> <gaudol@yahoo.fr>
Simon Brandhof <simon.brandhof@gmail.com>
Simon Brandhof <simon.brandhof@gmail.com> <SimonBrandhof@imac2-sonarsource.local>
