# Mend documentation https://docs.mend.io/bundle/unified_agent/page/unified_agent_configuration_parameters.html

excludes=**/*it-* **/*test*
includes=**/*.java **/*.js **/*.ts
fileSystemScan=False

gradle.resolveDependencies=True
gradle.aggregateModules=True
gradle.preferredEnvironment=wrapper
gradle.innerModulesAsDependencies=True
gradle.ignoredConfigurations=.*test.* .*bbt.*
gradle.excludeModules=.*it-.* .*sonar-ws-generator.* .*sonar-testing-ldap.* .*sonar-testing-harness.*

npm.includeDevDependencies=False
npm.resolveDependencies=True
npm.resolveLockFile=False
npm.runPreStep=False
npm.yarnProject=True

case.sensitive.glob=false
archiveIncludes=**/*.jar

forceUpdate=true
checkPolicies=true
forceUpdate.failBuildOnPolicyViolation=false
