<div class="page">
  <% if @resource and !@snapshot %>
    <div class="alert alert-warning">
      <%= h message('provisioning.no_analysis') -%>
    </div>
    <div className="big-spacer-top">
      <h4><%= h message('key') -%></h4>
      <code><%= h @resource.key -%></code>
    </div>
  <% end %>
</div>
