<div class="page">
  <div id="source-viewer"></div>
</div>

<% content_for :extra_script do %>
  <script>
    (function () {
      jQuery('.navbar-context').remove();
      jQuery('.page-wrapper-context').addClass('page-wrapper-global').removeClass('page-wrapper-context');
      var file = {
        uuid: '<%= @resource.uuid -%>',
        key: '<%= @resource.key -%>'
      };
      require(['apps/source-viewer/app'], function (App) {
        App.start({ el: '#source-viewer', file: file })
      });
    })();
  </script>
<% end %>




