<% content_for :script do %>
  <script data-main="<%= ApplicationController.root_context -%>/js/source-viewer/app" src="<%= ApplicationController.root_context -%>/js/require.js"></script>
<% end %>

<div class="page">
  <div id="source-viewer"></div>
</div>

<script type="text/javascript">
  window.file = {
    uuid: '<%= @resource.uuid -%>',
    key: '<%= @resource.key -%>'
  };
  document.getElementById('crumbs').remove();
</script>

