<h1 class="maintenance-title text-danger">{{t 'maintenance.sonarqube_is_offline'}}</h1>
<p class="maintenance-text">{{t 'maintenance.sonarqube_is_offline.text'}}</p>
<p class="maintenance-text text-center">
  <a href="{{link '/'}}">{{t 'maintenance.try_again'}}</a>
</p>
