<h1 class="maintenance-title">SonarQube is under maintenance</h1>
<p class="maintenance-text">While waiting, you might want to investigate
  <a href="https://redirect.sonarsource.com/doc/plugin-library.html">new plugins</a> to extend the current functionality.
</p>
<p class="maintenance-text">If you are an administrator and have no idea why this message is being shown, you should
  read the <a href="https://redirect.sonarsource.com/doc/upgrading.html">upgrade guide</a>.
</p>
