<h1 class="maintenance-title">Upgrade Database</h1>
<p class="maintenance-text">The database upgrade can take several minutes.</p>
<p class="maintenance-text">It is mandatory to <strong>back up database</strong> before upgrading.</p>
<p class="maintenance-text"><strong>Copy the directory /extensions</strong> from previous version before upgrading.
</p>
<div class="maintenance-spinner">
  <button id="start-migration">Upgrade</button>
</div>
