<h1 class="maintenance-title">{{t 'maintenance.sonarqube_is_up'}}</h1>
<p class="maintenance-text text-center">{{t 'maintenance.all_systems_opetational'}}</p>
<p class="maintenance-text text-center">
  <a href="{{link '/'}}">{{t 'layout.home'}}</a>
</p>
