<h1 class="maintenance-title text-danger">SonarQube is down</h1>
<p class="maintenance-text">Something went wrong. Please contact your system administrator.</p>
<p class="maintenance-text text-center">
  <a href="{{link '/'}}">Try Again</a>
</p>
