.settings-layout {
  margin-bottom: 60px;
}

.settings-definitions-list > li + li {
  margin-top: 30px;
}

.settings-definition {
  display: flex;
  align-items: stretch;
}

.settings-definition-changed {
  margin: -10px -20px;
  padding: 9px 20px;
  border-top: 1px solid #faebcc;
  border-bottom: 1px solid #faebcc;
  background-color: #fcf8e3;
}

.settings-definition-left {
  width: 330px;
  padding-right: 30px;
  box-sizing: border-box;
}

.settings-definition-right {
  position: relative;
  width: calc(100% - 330px);
  box-sizing: border-box;
}

.settings-definition-name {
  text-overflow: ellipsis;
}

.settings-definition-key {
  line-height: 1.5;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.settings-definition-key:hover {
  overflow: visible;
}

.settings-definition-state {
  min-height: 32px;
  padding-bottom: 4px;
}

.settings-definition-state > span {
  display: flex;
}

.settings-definition-changes {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px dotted #e6e6e6;
}

.settings-sub-categories-list {
}

.settings-sub-categories-list > li {
}

.settings-sub-categories-list > li + li {
  margin: 30px -20px 0;
  padding: 30px 20px;
  border-top: 1px solid #e6e6e6;
}

.settings-sub-category-name {
  margin-bottom: 20px;
  font-size: 16px;
}

.settings-sub-category-description {
  margin-top: -15px;
  margin-bottom: 20px;
  color: #777;
}
