<header class="page-header">
  <h1 class="page-title">{{t 'custom_metrics.page'}}</h1>
  <div class="page-actions">
    <button id="metrics-create">{{t 'custom_metrics.create_metric'}}</button>
  </div>
  <p class="page-description">{{t 'custom_metrics.page.description'}}</p>
</header>
