<form id="delete-metric-form">
  <div class="modal-head">
    <h2>{{t 'custom_metrics.delete_metric'}}</h2>
  </div>
  <div class="modal-body">
    <div class="js-modal-messages"></div>
    {{tp 'custom_metrics.delete_metric.confirmation' name}}
  </div>
  <div class="modal-foot">
    <button id="delete-metric-submit" class="button-red">{{t 'delete'}}</button>
    <a href="#" class="js-modal-close" id="delete-metric-cancel">{{t 'cancel'}}</a>
  </div>
</form>
