<header class="page-header">
  <h1 class="page-title">Custom Metrics</h1>
  <div class="page-actions">
    <div class="button-group">
      <button id="metrics-create">Create Metric</button>
    </div>
  </div>
  <p class="page-description">These metrics are available for all projects. Manual measures can be set at project level
    via the configuration interface.</p>
</header>
