<script id="issue-detail-assign-form-template" type="text/x-handlebars-template">
  <table class="width100">
    <tr>
      <td>
        <input type="text" id="issue-assignee-select">
        <input id="issue-assign-submit" type="submit" value="<%= message('issue.assign.submit') -%>">
        <a id="issue-assign-cancel" class="link-action"><%= message('cancel') -%></a>
      </td>
    </tr>
  </table>
</script>
