<script id="issue-template" type="text/x-handlebars-template">
  <div class="line line-small">
      {{severityIcon severity}}{{capitalize severity}}&nbsp;
      {{statusIcon status}}{{capitalize status}}
      {{#if resolution}}
        &nbsp;{{resolutionIcon resolution}}{{capitalize resolution}}
      {{/if}}

      <div class="line-right">
        {{fUpdateAge}}
      </div>
    </div>

    <div class="line line-nowrap" title="{{ruleName}}">
      {{ruleName}}
    </div>

    <div class="line">
      <div class="subtitle">{{projectLongName}}</div>
      {{componentLongName}}
    </div>
</script>
