<script id="issues-actions-template" type="text/x-handlebars-template">
  <div class="navigator-actions-order">Order by <i class="icon-arrow-down"></i></div>
  <div class="navigator-actions-total">
    Found: {{paging.total}}
    <span class="navigator-actions-bulk" title="Bulk Change"><i class="icon-settings"></i></span>
  </div>
</script>
