<script id="issue-detail-rule-template" type="text/x-handlebars-template">
  <h1 class="marginbottom10">{{name}}</h1>
  <div class="marginbottom10">{{{description}}}</div>
  <p class="note">{{key}}</p>
</script>
