<script id="no-issues-template" type="text/x-handlebars-template">
  <div class="navigator-results-no-issues">
    <i class="icon-emoticon-sad"></i>
    <p>No issues to display</p>
  </div>
</script>
