<!--[if lte IE 7 ]>
<div style="position:fixed;z-index:99999;top:0;bottom:0;left:0;right:0;background:#fff;">
  <div style="margin-top:150px;text-align:center;line-height:1.4;color:#333;">
    The web interface cannot be displayed because your browser is not supported.<br>
    Please switch to a <a target="_blank"
                          href="http://redirect.sonarsource.com/doc/requirements.html">supported version or another supported browser</a>.
  </div>
</div>
<!--<![endif]-->

<% if cookies['flash'] %>
  <script>
    var data = JSON.parse('<%= escape_javascript cookies['flash'] -%>');
    if (data['notice']) {
      info(data['notice']);
    }
    if (data['warning']) {
      warning(data['warning']);
    }
    if (data['error']) {
      error(data['error']);
    }
  </script>
<% end %>
<% cookies.delete 'flash' %>

<script src="<%= ApplicationController.root_context -%>/js/bundles/app.js?v=<%= sonar_version -%>"></script>
<%= yield :extra_script -%>

</body>
</html>
