<%= render :partial => 'layouts/head' %>
<div>
  <div id="bd">
    <div id="nonav" class="page-simple">
      <%= yield %>
    </div>
  </div>
</div>
<script>
  (function ($) {
    $('html').addClass('dashboard-page');
  })(window.jQuery);
</script>
</body></html>
