<li><a class="item {{cl}}" data-metric="{{label}}">
  <span class="label">{{t 'metric' label 'name'}}</span>
  <span class="number">{{value}}</span>
  <i class="icon-component-viewer-filter"></i>
</a></li>
