<% index = 0 %>
<% children.each do |child| %>
  <tr>
    <% if index == 0 %>
      <td class="thin nowrap"><b>Includes:</b></td>
    <% else %>
      <td>&nbsp;</td>
    <% end %>
    <td><span><%= child.name -%></span> : <span><%= child.description -%></span></td>
  </tr>
  <% index = index + 1 %>
<% end %>