<% if @uninstalls.size > 0 %>
<form action="<%= ApplicationController.root_context -%>/updatecenter/cancel_uninstalls" method="post" class="warning">
<p>Sonar needs to be restarted in order to uninstall the following plugins: <ul>
  <% @uninstalls.each do |uninstall| %>
    <li><%= uninstall -%></li>
  <% end %>
  </ul>
</p>
</form>
<% end %>
