<div class="page page-limited">
  <div id="update-center-header"></div>
  <div id="update-center-search"></div>
  <div id="update-center-plugins"></div>
  <div id="update-center-footer"></div>
</div>
