<?xml version="1.0" encoding="UTF-8" ?>
<configuration debug="false">

  <!--
  
  This file is deprecated. It's replaced by org/sonar/batch/bootstrapper/logback.xml.
  It can't be deleted as long as SonarQube Scanner 2.4 is still supported.

  -->

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} %-5level %20.20logger{20} - %msg%n</pattern>
    </encoder>
  </appender>

  <!-- BeanUtils generate to many DEBUG logs when sonar.verbose is set -->
  <logger name="org.apache.commons.beanutils.converters">
    <level value="WARN"/>
  </logger>

  <logger name="PERSISTIT">
    <level value="WARN"/>
  </logger>

  <root>
    <!-- sonar.verbose -->
    <level value="${ROOT_LOGGER_LEVEL}"/>
    <appender-ref ref="STDOUT"/>
  </root>

</configuration>
