<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.sonar.core.filter.CriterionMapper">

  <insert id="insert" parameterType="Criterion" useGeneratedKeys="true" keyProperty="id">
    INSERT INTO criteria (filter_id, family, kee, operator, value, text_value, variation)
    VALUES (#{filterId}, #{family}, #{key}, #{operator}, #{value},
     #{textValue}, #{variation})
  </insert>

  <!-- Oracle -->
  <insert id="insert" databaseId="oracle" parameterType="Criterion" keyColumn="id" useGeneratedKeys="true" keyProperty="id">
    <selectKey order="BEFORE" resultType="Long" keyProperty="id">
      select criteria_seq.NEXTVAL from DUAL
    </selectKey>
    INSERT INTO criteria (id, filter_id, family, kee, operator, value, text_value, variation)
    VALUES (#{id}, #{filterId}, #{family}, #{key}, #{operator}, #{value}, #{textValue}, #{variation})
  </insert>

</mapper>
