<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.sonar.core.filter.FilterColumnMapper">

  <insert id="insert" parameterType="FilterColumn" useGeneratedKeys="true" keyProperty="id">
    INSERT INTO filter_columns (filter_id, family, kee, sort_direction, order_index, variation)
    VALUES (#{filterId}, #{family}, #{key}, #{sortDirection},
     #{orderIndex}, #{variation})
  </insert>

</mapper>
