<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd">
<mapper namespace="org.sonar.db.sca.ScaIssuesReleasesMapper">
  <resultMap id="scaIssueReleaseResultMap" type="org.sonar.db.sca.ScaIssueReleaseDto">
    <constructor>
      <idArg name="uuid" column="uuid" javaType="String"/>
      <arg name="scaIssueUuid" column="sca_issue_uuid" javaType="String"/>
      <arg name="scaReleaseUuid" column="sca_release_uuid" javaType="String"/>
      <arg name="severity" column="severity" javaType="org.sonar.db.sca.ScaSeverity" jdbcType="VARCHAR"/>
      <arg name="createdAt" column="created_at" javaType="_long"/>
      <arg name="updatedAt" column="updated_at" javaType="_long"/>
    </constructor>
  </resultMap>

  <sql id="scaIssuesReleasesColumns">
    sir.uuid,
    sir.sca_issue_uuid,
    sir.sca_release_uuid,
    sir.severity,
    sir.created_at,
    sir.updated_at
  </sql>

  <insert id="insert" parameterType="org.sonar.db.sca.ScaIssueReleaseDto" useGeneratedKeys="false">
    insert into sca_issues_releases (
      uuid,
      sca_issue_uuid,
      sca_release_uuid,
      severity,
      severity_sort_key,
      created_at,
      updated_at
    ) values (
      #{uuid,jdbcType=VARCHAR},
      #{scaIssueUuid,jdbcType=VARCHAR},
      #{scaReleaseUuid,jdbcType=VARCHAR},
      #{severity,jdbcType=VARCHAR},
      #{severitySortKey,jdbcType=INTEGER},
      #{createdAt,jdbcType=BIGINT},
      #{updatedAt,jdbcType=BIGINT}
    )
  </insert>

  <delete id="deleteByUuid" parameterType="string">
    delete from sca_issues_releases
    where uuid = #{uuid,jdbcType=VARCHAR}
  </delete>

  <update id="update" parameterType="org.sonar.db.sca.ScaIssueReleaseDto" useGeneratedKeys="false">
    update sca_issues_releases
    set
      sca_issue_uuid = #{scaIssueUuid, jdbcType=VARCHAR},
      sca_release_uuid = #{scaReleaseUuid, jdbcType=VARCHAR},
      severity = #{severity, jdbcType=VARCHAR},
      severity_sort_key = #{severitySortKey, jdbcType=VARCHAR},
      updated_at = #{updatedAt, jdbcType=BIGINT}
    where
      uuid = #{uuid, jdbcType=VARCHAR}
</update>


  <select id="selectByBranchUuid" parameterType="string" resultMap="scaIssueReleaseResultMap">
    select <include refid="scaIssuesReleasesColumns"/>
    from sca_issues_releases sir
    inner join sca_releases sr on sir.sca_release_uuid = sr.uuid
    where sr.component_uuid = #{branchUuid,jdbcType=VARCHAR}
    order by sir.uuid asc
  </select>
</mapper>
