<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.sonar.core.design.FileDependencyMapper">

  <sql id="fileDependenciesColumns">
    d.id as id,
    d.from_component_uuid as fromComponentUuid,
    d.to_component_uuid as toComponentUuid,
    d.from_parent_uuid as fromParentUuid,
    d.to_parent_uuid as toParentUuid,
    d.root_project_snapshot_id as rootProjectSnapshotId,
    d.dep_weight as "weight",
    d.created_at as "createdAt"
  </sql>

  <select id="selectFromParents" resultType="org.sonar.core.design.FileDependencyDto" >
    SELECT <include refid="fileDependenciesColumns"/>
    FROM dependencies d
    INNER JOIN snapshots root_snapshot on root_snapshot.id=d.root_project_snapshot_id AND root_snapshot.project_id=#{projectId} AND root_snapshot.islast=${_true}
    <where>
      AND d.from_parent_uuid=#{fromParentUuid}
      AND d.to_parent_uuid=#{toParentUuid}
    </where>
  </select>

  <insert id="insert" parameterType="org.sonar.core.design.FileDependencyDto" useGeneratedKeys="false">
    INSERT INTO dependencies (from_component_uuid, to_component_uuid, from_parent_uuid, to_parent_uuid, root_project_snapshot_id, dep_weight, created_at)
    VALUES (#{fromComponentUuid,jdbcType=VARCHAR}, #{toComponentUuid,jdbcType=VARCHAR}, #{fromParentUuid,jdbcType=VARCHAR}, #{toParentUuid,jdbcType=BOOLEAN},
    #{rootProjectSnapshotId,jdbcType=VARCHAR}, #{weight,jdbcType=VARCHAR}, #{createdAt,jdbcType=VARCHAR})
  </insert>

</mapper>
