<% content_for :script do %>
  <script data-main="<%= ApplicationController.root_context -%>/js/coding-rules/app" src="<%= ApplicationController.root_context -%>/js/require.js"></script>
<% end %>


<div class="coding-rules search-navigator"></div>
