<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.sonar.db.component.ResourceMapper">

  <resultMap id="resourceResultMap" type="Resource">
    <id property="id" column="id"/>
    <result property="key" column="kee"/>
    <result property="uuid" column="uuid"/>
    <result property="projectUuid" column="project_uuid"/>
    <result property="moduleUuid" column="module_uuid"/>
    <result property="moduleUuidPath" column="module_uuid_path"/>
    <result property="deprecatedKey" column="deprecated_kee"/>
    <result property="path" column="path"/>
    <result property="name" column="name"/>
    <result property="longName" column="long_name"/>
    <result property="rootUuid" column="root_uuid"/>
    <result property="scope" column="scope"/>
    <result property="qualifier" column="qualifier"/>
    <result property="enabled" column="enabled"/>
    <result property="description" column="description"/>
    <result property="language" column="language"/>
    <result property="copyComponentUuid" column="copy_component_uuid"/>
    <result property="developerUuid" column="developer_uuid"/>
    <result property="createdAt" column="created_at"/>
    <result property="authorizationUpdatedAt" column="authorization_updated_at"/>
  </resultMap>

  <select id="selectResources" parameterType="map" resultMap="resourceResultMap">
    select * from projects p
    <where>
      <if test="qualifiers != null and qualifiers.length!=0">
        and p.qualifier in
        <foreach item="qualifier" index="index" collection="qualifiers" open="(" separator="," close=")">
          #{qualifier}
        </foreach>
      </if>
      <if test="key != null">
        and p.kee=#{key}
      </if>
      <if test="excludeDisabled">
        and p.enabled=${_true}
      </if>
    </where>
  </select>

  <select id="selectResourceIds" parameterType="map" resultType="long">
    select p.id
    from projects p
    <where>
      <if test="qualifiers != null and qualifiers.length!=0">
        and p.qualifier in
        <foreach item="qualifier" index="index" collection="qualifiers" open="(" separator="," close=")">#{qualifier}
        </foreach>
      </if>
      <if test="key != null">
        and p.kee=#{key}
      </if>
      <if test="excludeDisabled">
        and p.enabled=${_true}
      </if>
    </where>
  </select>

  <select id="selectResourceByUuid" parameterType="String" resultMap="resourceResultMap">
    select * from projects p
    where p.uuid=#{uuid}
  </select>

  <select id="selectProvisionedProject" parameterType="string" resultMap="resourceResultMap">
    select p.* from projects p
    left join snapshots s on s.component_uuid=p.uuid
    where s.id is null
    and p.kee = #{key}
    and p.copy_component_uuid  is null
  </select>

  <update id="updateAuthorizationDate" parameterType="map">
    update projects set authorization_updated_at=#{authorizationDate}
    where id=#{projectId}
  </update>

</mapper>

