<td class="scm revision">
    <span class="date"><a href="#" title="<%= title -%>" alt="<%= title -%>"><%= Java::OrgSonarApiUtils::DateUtils.formatDate(line.datetime) if line.datetime -%></a></span>
    <span class="author"><%= h(line.author) -%></span>
</td>
