<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd">

<mapper namespace="org.sonar.db.organization.OrganizationMemberMapper">
  <sql id="selectColumns">
    om.organization_uuid as "organizationUuid",
    om.user_uuid as "userUuid"
  </sql>

  <select id="select" resultType="OrganizationMember">
    select
    <include refid="selectColumns"/>
    from organization_members om
    where
    om.organization_uuid = #{organizationUuid, jdbcType=VARCHAR}
    and om.user_uuid = #{userUuid, jdbcType=VARCHAR}
  </select>

  <select id="selectUserUuids" resultType="String">
    select om.user_uuid
    from organization_members om
    where om.organization_uuid=#{organizationUuid,jdbcType=VARCHAR}
  </select>

  <select id="selectOrganizationUuidsByUser" resultType="String">
    select om.organization_uuid as "organizationUuid"
    from organization_members om
    where om.user_uuid = #{userUuid, jdbcType=VARCHAR}
  </select>

  <select id="selectAllOrganizationMemberDtos" resultType="OrganizationMember">
    SELECT organization_uuid as organizationUuid , user_uuid as userUuid, type as type
    FROM organization_members
    where organization_uuid=#{organizationUuid,jdbcType=VARCHAR}
  </select>

  <select id="selectForIndexing" resultType="hashmap">
    select om.user_uuid as "uuid", om.organization_uuid as "organizationUuid"
    from organization_members om
    where om.user_uuid in
    <foreach collection="uuids" open="(" close=")" item="uuid" separator=",">
      #{uuid, jdbcType=VARCHAR}
    </foreach>
  </select>

  <select id="selectAllForIndexing" resultType="hashmap">
    select om.user_uuid as "uuid", om.organization_uuid as "organizationUuid"
    from organization_members om
  </select>

  <insert id="insert" parameterType="OrganizationMember" useGeneratedKeys="false">
    insert into organization_members
    (
    organization_uuid,
    user_uuid,
    type
    )
    values
    (
    #{organizationUuid, jdbcType=VARCHAR},
    #{userUuid, jdbcType=VARCHAR},
    #{type, jdbcType=VARCHAR}
    )
  </insert>

  <delete id="delete">
    delete from organization_members
    where
    organization_uuid = #{organizationUuid, jdbcType=VARCHAR}
    and user_uuid = #{userUuid, jdbcType=VARCHAR}
  </delete>

  <delete id="deleteByOrganization" parameterType="map">
    delete from organization_members
    where
    organization_uuid = #{organizationUuid, jdbcType=VARCHAR}
  </delete>

  <delete id="deleteByUserUuid" parameterType="String">
    DELETE FROM organization_members WHERE user_uuid=#{userUuid,jdbcType=VARCHAR}
  </delete>

  <update id="updateOrgMemberType">
    UPDATE organization_members
    SET type = #{type, jdbcType=VARCHAR}
    WHERE user_uuid = (
    SELECT uuid FROM users WHERE login = #{login, jdbcType=VARCHAR}
    )
    AND organization_uuid = (
    SELECT uuid FROM organizations
    WHERE kee = #{organizationKee, jdbcType=VARCHAR}
    )
  </update>

</mapper>
