<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.sonar.core.activity.db.ActivityMapper">

  <insert id="insert" parameterType="Activity" useGeneratedKeys="false" lang="raw">
    insert into activities
    (created_at, log_key, log_type, log_action, user_login, data_field, log_message)
    values (#{createdAt}, #{key}, #{type}, #{action}, #{author}, #{data}, #{message})
  </insert>

  <select id="selectAll" parameterType="map" resultType="Activity" lang="raw">
    SELECT
    created_at as "createdAt",
    log_type as "type",
    user_login as "author",
    data_field as "data",
    log_message as "message",
    log_key as "key",
    log_action as "action"
    FROM activities
  </select>

</mapper>

