.private-badge {
  display: inline-block;
  vertical-align: middle;
  height: 20px;
  line-height: 19px;
  padding: 0 8px;
  border: 1px solid #cdcdcd;
  border-radius: 2px;
  box-sizing: border-box;
  color: #777;
  font-size: 12px;
}
