.status-indicator {
  display: inline-block;
  box-sizing: border-box;
  width: 16px;
  height: 16px;
  border-radius: 16px;
  margin: 4px;
}

.status-indicator.small-status-indicator {
  width: 8px;
  height: 8px;
  border-radius: 8px;
  margin: 8px;
}

.status-indicator.big-status-indicator {
  width: var(--controlHeight);
  height: var(--controlHeight);
  border-radius: var(--controlHeight);
  margin: 0;
}

.status-indicator.red {
  background-color: var(--red);
}

.status-indicator.yellow {
  background-color: var(--yellow);
}

.status-indicator.green {
  background-color: var(--green);
}
