<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd">


<mapper namespace="org.sonar.db.issue.AnticipatedTransitionMapper">

  <sql id="anticipatedTransitionsColumns">
    at.uuid as uuid,
    at.project_uuid as projectUuid,
    at.user_uuid as userUuid,
    at.transition as transition,
    at.transition_comment as "comment",
    at.line as line,
    at.message as message,
    at.line_hash as lineHash,
    at.rule_key as ruleKey,
    at.file_path as filePath,
    at.created_at as createdAt
  </sql>

  <insert id="insert" useGeneratedKeys="false" parameterType="AnticipatedTransition">
    INSERT INTO anticipated_transitions (uuid, project_uuid, user_uuid, transition,
    transition_comment, line, message, line_hash, rule_key, file_path, created_at)
    VALUES (#{uuid,jdbcType=VARCHAR}, #{projectUuid,jdbcType=VARCHAR}, #{userUuid,jdbcType=VARCHAR},
    #{transition,jdbcType=VARCHAR}, #{comment,jdbcType=VARCHAR},
    #{line,jdbcType=INTEGER}, #{message,jdbcType=VARCHAR}, #{lineHash,jdbcType=VARCHAR}, #{ruleKey,jdbcType=VARCHAR},
    #{filePath,jdbcType=VARCHAR}, #{createdAt,jdbcType=BIGINT})
  </insert>

  <delete id="delete" parameterType="string">
    delete from anticipated_transitions where uuid=#{uuid}
  </delete>

  <delete id="deleteByProjectAndUser" parameterType="string">
    delete from anticipated_transitions where project_uuid=#{projectUuid,jdbcType=VARCHAR} and user_uuid=#{userUuid,jdbcType=VARCHAR}
  </delete>

  <select id="selectByProjectUuid" parameterType="string" resultType="AnticipatedTransition">
    select
    <include refid="anticipatedTransitionsColumns"/>
    from anticipated_transitions at
    where at.project_uuid=#{projectUuid,jdbcType=VARCHAR}
  </select>

    <select id="selectByProjectUuidAndFilePath" parameterType="string" resultType="AnticipatedTransition">
    select
    <include refid="anticipatedTransitionsColumns"/>
    from anticipated_transitions at
    where at.project_uuid=#{projectUuid,jdbcType=VARCHAR} and at.file_path=#{filePath,jdbcType=VARCHAR}
  </select>
</mapper>
