<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd">

<mapper namespace="org.sonar.db.issue.IssueFixedMapper">
  <insert id="insert" parameterType="org.sonar.db.issue.IssueFixedDto" useGeneratedKeys="false">
    INSERT INTO issues_fixed (
      pull_request_uuid,
      issue_key
    ) VALUES (
      #{pullRequestUuid,jdbcType=VARCHAR},
      #{issueKey,jdbcType=VARCHAR}
    )
  </insert>
  <select id="selectByPullRequest" resultType="org.sonar.db.issue.IssueFixedDto">
    SELECT
      pull_request_uuid as pullRequestUuid,
      issue_key as issueKey
    FROM issues_fixed
    WHERE pull_request_uuid = #{pullRequestUuid,jdbcType=VARCHAR}
  </select>
  <delete id="delete" parameterType="org.sonar.db.issue.IssueFixedDto">
    DELETE FROM issues_fixed
      WHERE issue_key = #{issueKey,jdbcType=VARCHAR}
    AND pull_request_uuid = #{pullRequestUuid,jdbcType=VARCHAR}
  </delete>
</mapper>
