<div class="issue-meta">
  <a class="issue-action issue-action-with-options js-issue-filter" href="#">
    <i class="icon-filter icon-half-transparent"></i>&nbsp;<i class="icon-dropdown"></i>
  </a>
</div>
