<div class="coding-rules-detail-quality-profiles-section">
  <div class="coding-rule-section-separator"></div>

  <h3 class="coding-rules-detail-title">{{t 'coding_rules.quality_profiles'}}</h3>

  {{#if canActivate}}
    {{#unless isTemplate}}
      <button id="coding-rules-quality-profile-activate" class="spacer-left">{{t 'coding_rules.activate'}}</button>
    {{/unless}}
  {{/if}}

  {{#if isTemplate}}
    <div class="alert alert-warning">
      {{t 'coding_rules.quality_profiles.template_caption'}}
    </div>
  {{/if}}

  <table id="coding-rules-detail-quality-profiles" class="coding-rules-detail-quality-profiles width100"></table>
</div>
