<div class="coding-rules-detail-custom-rules-section">
  <div class="coding-rule-section-separator"></div>

  <h3 class="coding-rules-detail-title">{{t 'coding_rules.custom_rules'}}</h3>

  {{#if canWrite}}
    <div class="button-group coding-rules-detail-quality-profiles-activation">
      <button class="js-create-custom-rule">{{t 'coding_rules.create'}}</button>
    </div>
  {{/if}}
  <table id="coding-rules-detail-custom-rules" class="coding-rules-detail-list"></table>
</div>
