<form>
  <div class="modal-head">
    <h2>{{t 'coding_rules.delete_rule'}}</h2>
  </div>

  <div class="modal-body">
    {{tp 'coding_rules.delete.custom.confirm' name}}
  </div>

  <div class="modal-foot">
    <button className="button-red">{{t 'delete'}}</button>
    <a class="js-modal-close">{{t 'cancel'}}</a>
  </div>
</form>
