.global-loading {
  width: 300px;
  margin: 200px auto 0;
  white-space: nowrap;
}

.global-loading-spinner {
  vertical-align: middle;
  width: 80px;
  height: 80px;
}

.global-loading-text {
  display: inline-block;
  vertical-align: middle;
  margin-left: 30px;
  font-size: 36px;
  font-weight: 300;
}
