<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.sonar.api.database.model.MeasureMapper">

  <insert id="insert" parameterType="MeasureModel" keyColumn="id" useGeneratedKeys="true" keyProperty="id">
    INSERT INTO project_measures (
      value, metric_id, snapshot_id, rule_id, text_value, tendency, measure_date,
      project_id, alert_status, alert_text, url, description, rule_priority, characteristic_id, variation_value_1,
      variation_value_2, variation_value_3, variation_value_4, variation_value_5, person_id)
    VALUES (
      #{value}, #{metricId}, #{snapshotId}, #{ruleId}, #{textValue}, #{tendency},
      #{measureDate}, #{projectId}, #{alertStatus}, #{alertText},
      #{url}, #{description}, #{rulePriority.ordinal}, #{characteristicId}, #{variationValue1},
      #{variationValue2}, #{variationValue3}, #{variationValue4}, #{variationValue5}, #{personId}
    )
  </insert>

  <insert id="insertData" parameterType="MeasureData" keyColumn="id" useGeneratedKeys="true" keyProperty="id">
    INSERT INTO measure_data (measure_id, snapshot_id, data)
    VALUES (#{measure.id}, #{measure.snapshotId}, #{data})
  </insert>

  <update id="deleteData" parameterType="MeasureModel">
    DELETE FROM measure_data WHERE measure_id=#{id} AND snapshot_id=#{snapshotId}
  </update>

  <update id="update" parameterType="MeasureModel">
    UPDATE project_measures
    SET
      value = #{value},
      metric_id = #{metricId},
      rule_id = #{ruleId},
      text_value = #{textValue},
      tendency = #{tendency},
      alert_status = #{alertStatus},
      alert_text = #{alertText},
      url = #{url},
      description = #{description},
      rule_priority = #{rulePriority.ordinal},
      characteristic_id = #{characteristicId},
      variation_value_1 = #{variationValue1},
      variation_value_2 = #{variationValue2},
      variation_value_3 = #{variationValue3},
      variation_value_4 = #{variationValue4},
      variation_value_5 = #{variationValue5},
      person_id = #{personId}
    WHERE id = #{id}
  </update>

</mapper>
