<header class="page-header">
  <h1 class="page-title">Project Computation</h1>
  <p class="page-description">The server is in charge to process reports submitted by batch analyses. This page allows
    to monitor the queue of pending reports to process, and gives access to the history of past analyses.</p>
</header>
