{{> '_issues-facet-header'}}

{{#if createdAt}}
  <input type="hidden" name="createdAt">
  <div class="search-navigator-facet-container">
    {{dt createdAt}} ({{fromNow createdAt}})
  </div>
{{else}}
  <div class="search-navigator-facet-container">
    <input type="text" class="search-navigator-facet-input" name="createdAfter" placeholder="From">
    to
    <input type="text" class="search-navigator-facet-input" name="createdBefore" placeholder="To">
  </div>
{{/if}}
