{{> '_issues-facet-header'}}

<div class="issues-facet-container justify">
  <input type="text" class="issues-facet-input" name="createdAfter" placeholder="From">
  to
  <input type="text" class="issues-facet-input" name="createdBefore" placeholder="To">
</div>

<input type="hidden" name="createdAt">
