<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.sonar.core.review.ReviewMapper">

    <resultMap id="reviewResultMap" type="Review">
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
        <result property="userId" column="user_id"/>
        <result property="assigneeId" column="assignee_id"/>
        <result property="violationPermanentId" column="rule_failure_permanent_id"/>
        <result property="projectId" column="project_id"/>
        <result property="resourceId" column="resource_id"/>
        <result property="line" column="resource_line"/>
        <result property="ruleId" column="rule_id"/>
        <result property="manualViolation" column="manual_violation"/>
    </resultMap>

    <sql id="reviewColumns">id, created_at, updated_at, user_id, assignee_id,
        title,status,resolution,rule_failure_permanent_id,project_id, resource_id, resource_line, severity, rule_id,
        manual_violation
    </sql>

    <select id="selectById" parameterType="long" resultMap="reviewResultMap">
        select
        <include refid="reviewColumns"/>
        from reviews where id=#{id}
    </select>
    
    <sql id="selectOrCountFromWhere">
        from reviews
        <if test="planned != null">R, action_plans_reviews APR</if>
        <where>
            <if test="userId != null">user_id = #{userId}</if>
            <if test="violationPermanentIds != null">AND rule_failure_permanent_id in
                <foreach item="permanentId" index="index" collection="violationPermanentIds"
                         open="(" separator="," close=")">#{permanentId}
                </foreach>
            </if>
            <if test="ruleId != null">AND rule_id = #{ruleId}</if>
            <if test="resourceId != null">AND resource_id = #{resourceId}</if>
            <if test="statuses != null">AND 
                <foreach item="status" index="index" collection="statuses"
                         open="(" separator=" OR " close=")">status = #{status}
                </foreach>
            </if>
            <if test="manualViolation != null">AND manual_violation = #{manualViolation}</if>
            <if test="manualSeverity != null">AND manual_severity = #{manualSeverity}</if>
            <if test="resolutions != null">AND 
                <foreach item="resolution" index="index" collection="resolutions"
                         open="(" separator=" OR " close=")">resolution = #{resolution}
                </foreach>
            </if>
            <if test="noAssignee != null">AND assignee_id IS NULL</if>
            <if test="planned != null">AND R.id = APR.review_id</if>
        </where>
    </sql>

    <select id="selectByQuery" parameterType="org.sonar.core.review.ReviewQuery" resultMap="reviewResultMap">
        select
        <include refid="reviewColumns"/>
        <include refid="selectOrCountFromWhere"/>
    </select>
    

    <select id="countByQuery" parameterType="org.sonar.core.review.ReviewQuery" resultType="Integer">
        select count(id)
        <include refid="selectOrCountFromWhere"/>
    </select>

</mapper>

