<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.sonar.core.permission.PermissionTemplateMapper">

  <insert id="insert" parameterType="PermissionTemplate" keyColumn="id" useGeneratedKeys="true" keyProperty="id">
    INSERT INTO permission_templates (name, kee, description, created_at, updated_at)
    VALUES (#{name}, #{kee}, #{description}, #{createdAt}, #{updatedAt})
  </insert>

  <update id="update" parameterType="PermissionTemplate">
    UPDATE permission_templates
    SET name = #{name}, description = #{description}, updated_at = #{updatedAt}
    WHERE id = #{id}
  </update>

  <delete id="delete" parameterType="Long">
    DELETE FROM permission_templates
    WHERE id = #{templateId}
  </delete>

  <delete id="deleteUsersPermissions" parameterType="Long">
    DELETE FROM perm_templates_users
    WHERE template_id = #{templateId}
  </delete>

  <delete id="deleteGroupsPermissions" parameterType="Long">
    DELETE FROM perm_templates_groups
    WHERE template_id = #{templateId}
  </delete>

  <insert id="insertUserPermission" parameterType="PermissionTemplateUser">
    INSERT INTO perm_templates_users (template_id, user_id, permission_reference, created_at, updated_at)
    VALUES (#{templateId}, #{userId}, #{permission}, #{createdAt}, #{updatedAt})
  </insert>

  <delete id="deleteUserPermission" parameterType="PermissionTemplateUser">
    DELETE FROM perm_templates_users
    WHERE template_id = #{templateId}
    AND user_id = #{userId}
    AND permission_reference = #{permission}
  </delete>

  <insert id="insertGroupPermission" parameterType="PermissionTemplateGroup">
    INSERT INTO perm_templates_groups (template_id, group_id, permission_reference, created_at, updated_at)
    VALUES (#{templateId}, #{groupId}, #{permission}, #{createdAt}, #{updatedAt})
  </insert>

  <delete id="deleteGroupPermission" parameterType="PermissionTemplateGroup">
    DELETE FROM perm_templates_groups
    WHERE template_id = #{templateId}
    AND permission_reference = #{permission}
    AND
    <choose>
      <when test="groupId != null">
        group_id = #{groupId}
      </when>
      <otherwise>
        group_id IS NULL
      </otherwise>
    </choose>
  </delete>

  <select id="selectByKey" parameterType="String" resultType="PermissionTemplate">
    SELECT id, name, kee, description, created_at AS createdAt, updated_at AS updatedAt
    FROM permission_templates
    WHERE kee = #{kee}
  </select>

  <select id="selectByName" parameterType="String" resultType="PermissionTemplate">
    SELECT id, name, description, created_at AS createdAt, updated_at AS updatedAt
    FROM permission_templates
    WHERE name = #{templateName}
  </select>

  <select id="selectAllPermissionTemplates" resultType="PermissionTemplate">
    SELECT id, name, description, created_at AS createdAt, updated_at AS updatedAt
    FROM permission_templates
  </select>

  <select id="selectTemplateUsersPermissions" parameterType="String" resultMap="fullPermissionsTemplateResult">
    SELECT  pt.id AS template_id,
            pt.name AS template_name,
            pt.description AS template_description,
            pt.created_at AS template_created_at,
            pt.updated_at AS template_updated_at,
            ptu.id AS permission_template_user_id,
            ptu.permission_reference AS user_permission,
            ptu.user_id AS user_id,
            u.name AS user_name,
            u.login AS user_login
    FROM permission_templates pt
    INNER JOIN perm_templates_users ptu ON ptu.template_id = pt.id
    INNER JOIN users u ON u.id = ptu.user_id
    WHERE pt.name = #{templateName}
  </select>

  <select id="selectTemplateGroupsPermissions" parameterType="String" resultMap="fullPermissionsTemplateResult">
    SELECT  pt.id AS template_id,
            pt.name AS template_name,
            pt.description AS template_description,
            pt.created_at AS template_created_at,
            pt.updated_at AS template_updated_at,
            ptg.id AS permission_template_group_id,
            ptg.permission_reference AS group_permission,
            ptg.group_id AS group_id,
            g.name AS group_name
    FROM permission_templates pt
    INNER JOIN perm_templates_groups ptg ON ptg.template_id = pt.id
    LEFT OUTER JOIN groups g ON g.id = ptg.group_id
    WHERE pt.name = #{templateName}
    AND (g.name IS NOT NULL OR ptg.group_id IS NULL)
  </select>

  <resultMap id="fullPermissionsTemplateResult" type="PermissionTemplate">
    <id property="id" column="template_id"/>
    <result property="name" column="template_name"/>
    <result property="description" column="template_description"/>
    <result property="createdAt" column="template_created_at"/>
    <result property="updatedAt" column="template_updated_at"/>
    <collection property="usersPermissions" ofType="PermissionTemplateUser">
      <id property="id" column="permission_template_user_id"/>
      <result property="userId" column="user_id"/>
      <result property="permission" column="user_permission"/>
      <result property="userName" column="user_name"/>
      <result property="userLogin" column="user_login"/>
    </collection>
    <collection property="groupsPermissions" ofType="PermissionTemplateGroup">
      <id property="id" column="permission_template_group_id"/>
      <result property="groupId" column="group_id"/>
      <result property="permission" column="group_permission"/>
      <result property="groupName" column="group_name"/>
    </collection>
  </resultMap>

</mapper>
