<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.sonar.core.metric.db.MetricMapper">

  <sql id="metricColumns">
    m.id,
    m.name,
    m.description,
    m.direction,
    m.domain,
    m.short_name as shortName,
    m.qualitative,
    m.val_type as valueType,
    m.user_managed as userManaged,
    m.enabled,
    m.origin,
    m.worst_value as worstValue,
    m.best_value as bestValue,
    m.optimized_best_value as optimizedBestValue,
    m.hidden,
    m.delete_historical_data as deleteHistoricalData
  </sql>

  <select id="selectByKey" parameterType="map" resultType="org.sonar.core.metric.db.MetricDto">
    SELECT
    <include refid="metricColumns"/>
    FROM metrics m
    <where>
      AND m.name=#{key}
    </where>
  </select>

  <select id="selectAllEnabled" parameterType="map" resultType="org.sonar.core.metric.db.MetricDto">
    SELECT
    <include refid="metricColumns"/>
    FROM metrics m
    <where>
      AND m.enabled=${_true}
      <if test="isCustom!=null">
        <if test="isCustom.equals(true)">
          AND m.user_managed=${_true}
        </if>
        <if test="isCustom.equals(false)">
          AND m.user_managed=${_false}
        </if>
      </if>
    </where>
    ORDER BY UPPER(m.short_name)
  </select>

  <insert id="insert" parameterType="org.sonar.core.metric.db.MetricDto" useGeneratedKeys="true" keyColumn="id"
          keyProperty="id">
    INSERT INTO metrics (
    name, description, direction, domain, short_name, qualitative, val_type, user_managed, enabled, origin, worst_value,
    best_value, optimized_best_value, hidden, delete_historical_data)
    VALUES (
    #{name, jdbcType=VARCHAR}, #{description, jdbcType=VARCHAR}, #{direction, jdbcType=INTEGER},
    #{domain, jdbcType=VARCHAR}, #{shortName, jdbcType=VARCHAR}, #{qualitative, jdbcType=BOOLEAN},
    #{valueType, jdbcType=VARCHAR}, #{userManaged, jdbcType=BOOLEAN}, #{enabled, jdbcType=BOOLEAN},
    #{origin, jdbcType=VARCHAR}, #{worstValue, jdbcType=DOUBLE}, #{bestValue, jdbcType=DOUBLE},
    #{optimizedBestValue, jdbcType=BOOLEAN}, #{hidden, jdbcType=BOOLEAN}, #{deleteHistoricalData, jdbcType=BOOLEAN}
    )
  </insert>

  <select id="selectDomains" resultType="String">
    select distinct domain
    from metrics m
    where m.domain is not null and m.enabled=${_true}
  </select>

  <update id="disable">
    update metrics
    set enabled=${_false}
    <where>
      AND user_managed=${_true}
      AND id in
      <foreach item="id" collection="ids" open="(" separator="," close=")">
        #{id}
      </foreach>
    </where>
  </update>

  <select id="selectByKeys" resultType="org.sonar.core.metric.db.MetricDto">
    SELECT
    <include refid="metricColumns"/>
    FROM metrics m
    <where>
      AND m.name in
      <foreach item="key" collection="keys" open="(" separator="," close=")">
        #{key}
      </foreach>
    </where>
  </select>

</mapper>
