<table>
  <thead>
  <tr>
    <th>Property</th>
    <th>Value</th>
  </tr>
  </thead>
  <tr>
    <td>some-property</td>
    <td id="some-property"><%= configuration('some-property') -%></td>
  </tr>
</table>
