<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd">

<mapper namespace="org.sonar.db.permission.UserPermissionMapper">

  <select id="selectUserPermissionsByQueryAndUserUuids" parameterType="map" resultType="org.sonar.db.permission.UserPermissionDto">
    select
      u.uuid as userUuid,
      ur.component_uuid as componentUuid,
      ur.role as permission
    <include refid="sqlQueryJoins"/>
    <where>
      u.uuid in <foreach collection="userUuids" open="(" close=")" item="userUuid" separator=",">#{userUuid,jdbcType=VARCHAR}</foreach>
      <include refid="sqlQueryFilters"/>
    </where>
  </select>

  <select id="selectUserUuidsByQuery" parameterType="map" resultType="String">
    select
      u.uuid, lower(u.name)
    <include refid="sqlQueryJoins"/>
    <where>
      <include refid="sqlQueryFilters"/>
    </where>
    group by u.uuid, lower(u.name)
    order by case when (count(ur.role) > 0) then 1 else 2 end asc, lower(u.name) asc
  </select>

  <select id="selectUserUuidsByQueryAndScope" parameterType="map" resultType="String">
    select
    u.uuid, lower(u.name)
    from users u
    left join user_roles ur on ur.user_uuid = u.uuid
    <choose>
      <when test="query.componentUuid == null">
        and ur.component_uuid is null
      </when>
      <otherwise>
        and ur.component_uuid = #{query.componentUuid,jdbcType=VARCHAR}
      </otherwise>
    </choose>
    left join components p on ur.component_uuid = p.uuid
    <where>
      <include refid="sqlQueryFilters"/>
    </where>
    group by u.uuid, lower(u.name)
    order by case when (count(distinct ur.role) > 0) then 1 else 2 end asc, lower(u.name) asc
  </select>

  <select id="countUsersByQuery" parameterType="map" resultType="int">
    select count(distinct(u.uuid))
    <include refid="sqlQueryJoins"/>
    <where>
      <include refid="sqlQueryFilters"/>
    </where>
  </select>

  <sql id="sqlQueryJoins">
    from users u
    left join user_roles ur on ur.user_uuid = u.uuid
    left join components p on ur.component_uuid = p.uuid
  </sql>

  <sql id="sqlQueryFilters">
    and u.active = ${_true}
    <if test="query.searchQueryToSql != null">
      and (
      lower(u.name) like #{query.searchQueryToSqlLowercase,jdbcType=VARCHAR} ESCAPE '/'
      or lower(u.email) like #{query.searchQueryToSql,jdbcType=VARCHAR} ESCAPE '/'
      or lower(u.login) like #{query.searchQueryToSql,jdbcType=VARCHAR} ESCAPE '/')
    </if>
    <!-- filter rows with user permissions -->
    <if test="query.withAtLeastOnePermission()">
      and ur.role is not null
      <if test="query.componentUuid==null">
        and ur.component_uuid is null
      </if>
      <if test="query.componentUuid!=null">
        and p.uuid = #{query.componentUuid,jdbcType=VARCHAR}
      </if>
      <if test="query.permission!=null">
        and ur.role = #{query.permission,jdbcType=VARCHAR}
      </if>
    </if>
  </sql>

  <select id="selectGlobalPermissionsOfUser" parameterType="map" resultType="string">
    select ur.role
    from user_roles ur
    where
    ur.user_uuid = #{userUuid,jdbcType=VARCHAR} and
    ur.component_uuid is null
  </select>

  <select id="selectProjectPermissionsOfUser" parameterType="map" resultType="string">
    select ur.role
    from user_roles ur
    where
    ur.user_uuid = #{userUuid,jdbcType=VARCHAR} and
    ur.component_uuid = #{projectUuid,jdbcType=VARCHAR}
  </select>

  <select id="countUsersByProjectPermission" resultType="org.sonar.db.permission.CountPerProjectPermission">
    select ur.component_uuid as componentUuid, ur.role as permission, count(u.login) as count
    from users u
    inner join user_roles ur on ur.user_uuid = u.uuid
    inner join components p on p.uuid = ur.component_uuid
    where u.active = ${_true}
    and p.uuid in <foreach collection="projectUuids" open="(" close=")" item="projectUuid" separator=",">#{projectUuid}</foreach>
    group by ur.component_uuid, ur.role
  </select>

  <select id="selectUserIdsWithPermissionOnProjectBut" resultType="org.sonar.db.user.UserIdDto">
    select
      distinct ur1.user_uuid, u.login
    from
      user_roles ur1 inner join users u on ur1.user_uuid = u.uuid
    where
      ur1.component_uuid = #{projectUuid,jdbcType=VARCHAR}
      and role &lt;&gt; #{permission,jdbcType=VARCHAR}
      and not exists (
        select
          1
        from
          user_roles ur2
        where
          ur2.component_uuid = ur1.component_uuid
          and ur2.user_uuid = ur1.user_uuid
          and role = #{permission,jdbcType=VARCHAR}
      )
  </select>

  <insert id="insert" parameterType="org.sonar.db.permission.UserPermissionDto" useGeneratedKeys="false">
    insert into user_roles (
    uuid,
    user_uuid,
    component_uuid,
    role
    ) values (
    #{dto.uuid,jdbcType=VARCHAR},
    #{dto.userUuid,jdbcType=VARCHAR},
    #{dto.componentUuid,jdbcType=VARCHAR},
    #{dto.permission,jdbcType=VARCHAR}
    )
  </insert>

  <delete id="deleteGlobalPermission" parameterType="map">
    delete from user_roles
    where
    role = #{permission,jdbcType=VARCHAR} and
    user_uuid = #{userUuid,jdbcType=VARCHAR} and
    component_uuid is null
  </delete>

  <delete id="deleteProjectPermission" parameterType="map">
    delete from user_roles
    where
    role = #{permission,jdbcType=VARCHAR} and
    user_uuid = #{userUuid,jdbcType=VARCHAR} and
    component_uuid = #{projectUuid,jdbcType=VARCHAR}
  </delete>

  <delete id="deleteProjectPermissions" parameterType="map">
    delete from user_roles
    where
    component_uuid = #{projectUuid,jdbcType=VARCHAR}
  </delete>

  <delete id="deleteProjectPermissionOfAnyUser" parameterType="map">
    delete from
      user_roles
    where
      component_uuid = #{projectUuid,jdbcType=VARCHAR}
      and role = #{permission,jdbcType=VARCHAR}
  </delete>

  <delete id="deleteByUserUuid" parameterType="String">
    DELETE FROM user_roles WHERE user_uuid=#{userUuid,jdbcType=VARCHAR}
  </delete>
</mapper>
