<%
  table_limit = widget_properties["numberOfLines"]
%>

<% if defined? title %>
  <h3><%= title -%></h3>
<% end %>

<div id="issues-widget-<%= widget_id -%>">
  <%= render :partial => 'project/widgets/issues/issues_list',
             :locals => {:search_options => search_options,
                         :table_limit => table_limit,
                         :widget_id => widget_id} %>
</div>