<form id="delete-group-form" autocomplete="off">
  <div class="modal-head">
    <h2>Delete Group</h2>
  </div>
  <div class="modal-body">
    <div class="js-modal-messages"></div>
    <div class="js-modal-text">Are you sure you want to delete "{{name}}"?</div>
  </div>
  <div class="modal-foot">
    <button id="delete-group-submit">Delete</button>
    <a href="#" class="js-modal-close" id="delete-group-cancel">Cancel</a>
  </div>
</form>
