<div class="panel panel-vertical bordered-bottom spacer-bottom">
  <form id="groups-search-form" class="search-box">
    <button id="groups-search-submit" class="search-box-submit button-clean"><i class="icon-search"></i></button>
    <input id="groups-search-query" class="search-box-input" type="search" name="q" placeholder="Search" maxlength="100">
  </form>
</div>
