<div class="modal-head">
  <h2>{{t 'users.update'}}</h2>
</div>
<div class="modal-body">
  <div class="js-modal-messages"></div>
  <div id="groups-users"></div>
</div>
<div class="modal-foot">
  <a href="#" class="js-modal-close" id="groups-users-done">{{t 'Done'}}</a>
</div>
