<div class="pull-right big-spacer-left nowrap">
  <a class="js-group-update icon-edit little-spacer-right" title="Update Details" data-toggle="tooltip" href="#"></a>
  <a class="js-group-delete icon-delete" title="Delete" data-toggle="tooltip" href="#"></a>
</div>

<div class="display-inline-block text-top width-20">
  <strong class="js-group-name">{{name}}</strong>
</div>

<div class="display-inline-block text-top big-spacer-left width-25">
  <div class="pull-left spacer-right">
    <strong>Members</strong>
  </div>
  <div class="overflow-hidden bordered-left">
    <span class="spacer-left spacer-right">{{membersCount}}</span>
    <a class="js-group-users icon-bullet-list" title="Update Users" data-toggle="tooltip" href="#"></a>
  </div>
</div>

<div class="display-inline-block text-top big-spacer-left width-40">
  <span class="js-group-description">{{description}}</span>
</div>
