<header class="page-header">
  <h1 class="page-title">{{t 'user_groups.page'}}</h1>
  <i class="spinner hidden"></i>
  <div class="page-actions">
    <button id="groups-create">{{t 'groups.create_group'}}</button>
  </div>
  <p class="page-description">{{t 'user_groups.page.description'}}</p>
</header>
