<div class="boxed-group boxed-group-inner">
  {{#isNull organization}}
    <div class="panel panel-vertical js-anyone">
      <div class="display-inline-block text-top width-20">
        <strong class="js-group-name">{{t 'groups.anyone'}}</strong>
      </div>

      <div class="display-inline-block text-top big-spacer-left width-25">

      </div>

      <div class="display-inline-block text-top big-spacer-left width-40">
        <span class="js-group-description">{{t 'user_groups.anyone.description'}}</span>
      </div>
    </div>
  {{/isNull}}

  <ul class="js-list"></ul>
</div>
