<form id="delete-group-form" autocomplete="off">
  <div class="modal-head">
    <h2>{{t 'groups.delete_group'}}</h2>
  </div>
  <div class="modal-body">
    <div class="js-modal-messages"></div>
    <div class="js-modal-text">{{tp 'groups.delete_group.confirmation' name}}</div>
  </div>
  <div class="modal-foot">
    <button id="delete-group-submit">{{t 'delete'}}</button>
    <a href="#" class="js-modal-close" id="delete-group-cancel">{{t 'cancel'}}</a>
  </div>
</form>
