<header class="page-header">
  <h1 class="page-title">{{t 'user_groups.page'}}</h1>
  <i class="spinner hidden"></i>
  <div class="page-actions">
    <div class="button-group">
      <button id="groups-create">Create Group</button>
    </div>
  </div>
  <p class="page-description">{{t 'user_groups.page.description'}}</p>
</header>
