.navbar-search {
  position: relative;
  padding: calc((var(--globalNavHeight) - var(--globalNavContentHeight)) / 2) 0;
}

.navbar-search .search-box,
.navbar-search .search-box-input {
  width: 26vw;
  max-width: 310px;
  min-width: 260px;
  height: var(--globalNavContentHeight);
}

.navbar-search .search-box-input {
  border-color: #fff;
}

.navbar-search .search-box-magnifier,
.navbar-search .search-box-clear {
  top: calc((var(--globalNavContentHeight) - 16px) / 2);
}

.navbar-search-input {
  vertical-align: middle;
  width: 310px;
  margin-top: 3px;
  margin-bottom: 3px;
  padding-left: 26px !important;
}

.navbar-search-input-hint {
  position: absolute;
  top: 1px;
  right: 27px;
  line-height: var(--controlHeight);
  font-size: var(--smallFontSize);
  color: var(--secondFontColor);
}

.navbar-search-icon {
  position: relative;
  z-index: var(--aboveNormalZIndex);
  vertical-align: middle;
  width: 16px;
  margin-left: 4px;
  margin-right: -20px;
  background-color: #fff;
  color: var(--secondFontColor);
}

.navbar-search-icon:before {
  font-size: var(--mediumFontSize);
}

.navbar-search-item-link {
  display: flex !important;
}

.navbar-search-item-match {
  flex-grow: 5;
  overflow: hidden;
  text-overflow: ellipsis;
}

.navbar-search-item-right {
  flex-grow: 1;
  padding-left: 10px;
  text-align: right;
}

.navbar-search-item-icons {
  position: relative;
  flex-shrink: 0;
  width: 16px;
  height: 16px;
}
.navbar-search-item-icons > * {
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
}

.navbar-search-item-icons > .icon-outline,
.navbar-search-item-icons > .icon-clock {
  z-index: 6;
  top: -4px;
  left: -5px;
}

.navbar-search-no-results {
  margin-top: 4px;
  padding: 5px 10px;
}

.global-navbar-search-dropdown {
  top: 100% !important;
  max-height: 80vh;
  width: 440px;
  padding: 0 !important;
  overflow-y: auto;
  overflow-x: hidden;
}

.global-navbar-search-dropdown .dropdown-bottom-hint {
  margin-bottom: 0;
}
