{
  "presets": ["es2015", "stage-0", "react"],
  "ignore": [
    "**/libs/**"
  ],
  "env": {
    "hot": {
      "plugins": [["react-transform", {
        "transforms": [{
          "transform": "react-transform-hmr",
          "imports": ["react"],
          "locals": ["module"]
        }]
      }]]
    }
  }
}
