{
  "extends": "sonarqube",
  "rules": {
    "camelcase": "off",
    "promise/no-return-wrap": "warn",
    "react/forbid-component-props": [
      "error",
      {
        "forbid": [
          {
            "propName": "dangerouslySetInnerHTML",
            "message": "Use the SafeHTMLInjection component instead of 'dangerouslySetInnerHTML', to prevent CSS injection along other XSS attacks"
          }
        ]
      }
    ],
    "react/forbid-dom-props": [
      "error",
      {
        "forbid": [
          {
            "propName": "dangerouslySetInnerHTML",
            "message": "Use the SafeHTMLInjection component instead of 'dangerouslySetInnerHTML', to prevent CSS injection along other XSS attacks"
          }
        ]
      }
    ],
    "react/jsx-curly-brace-presence": "warn",
    "testing-library/render-result-naming-convention": "off"
  }
}