{
  "extends": [
    "eslint:recommended",
    "plugin:import/errors",
    "plugin:import/warnings"
  ],

  "env": {
    "browser": true,
    "es6": true,
    "jest": true,
    "node": true
  },

  "globals": {
    "key": true,
    "d3": true,
    "baseUrl": true
  },

  "parser": "babel-eslint",

  "plugins": [
    "react",
    "import"
  ],

  "rules": {
    "arrow-spacing": 2,
    "comma-spacing": 2,
    "curly": 2,
    "eol-last": 2,
    "eqeqeq": [2, "smart"],
    "indent": [2, 2, { "SwitchCase": 1, "VariableDeclarator": 2 }],
    "jsx-quotes": 2,
    "key-spacing": 2,
    "no-multi-spaces": 2,
    "no-self-compare": 2,
    "no-unexpected-multiline": 2,
    "max-len": [2, 120],
    "no-const-assign": 2,
    "no-multiple-empty-lines": [2, { "max": 3 }],
    "no-spaced-func": 2,
    "no-this-before-super": 2,
    "no-trailing-spaces": 2,
    "no-unneeded-ternary": 2,
    "object-curly-spacing": [2, "always"],
    "no-var": 2,
    "object-shorthand": 2,
    "one-var": [2, { "let": "never", "const": "never" }],
    "quotes": [2, "single", "avoid-escape"],
    "prefer-const": 2,
    "semi": [2, "always"],
    "keyword-spacing": 2,

    "react/jsx-closing-bracket-location": [2, "after-props"],
    "react/jsx-handler-names": 0,
    "react/jsx-max-props-per-line": [2, { "maximum": 3 }],
    "react/jsx-no-duplicate-props": 2,
    "react/jsx-no-undef": 2,
    "react/jsx-pascal-case": 2,
    "react/jsx-uses-react": 2,
    "react/jsx-uses-vars": 2,
    "react/no-did-mount-set-state": [2, "allow-in-func"],
    "react/no-did-update-set-state": [2, "allow-in-func"],
    "react/no-direct-mutation-state": 2,
    "react/no-multi-comp": 0,
    "react/no-unknown-property": 2,
    "react/prop-types": 0,
    "react/react-in-jsx-scope": 2,
    "react/self-closing-comp": 2,
    "react/sort-comp": 2
  },

  "settings": {
    "import/ignore": [
      "node_modules",
      "hbs$"
    ]
  }
}
