{
  "printWidth": 100,
  "singleQuote": true,
  "plugins": ["prettier-plugin-organize-imports"],

  "overrides": [
    {
      "files": [".eslintrc", "tsconfig.json"],
      "options": {
        "trailingComma": "none"
      }
    }
  ]
}
