<meta http-equiv='refresh' content='5;url=<%= home_path -%>'>
<h1 class="maintenance-title text-success">Database is up-to-date</h1>
<p class="maintenance-text">
  You will be redirected shortly to SonarQube.
  <br>
  <small class="text-muted">
    (if this does not happen, you can <a href="<%= home_path -%>">click here to be redirected</a>)
  </small>
</p>
