<h1 class="maintenance-title text-danger">Fail to connect to database</h1>
<p class="maintenance-text">Database connection cannot be established. Please check database status and JDBC settings.</p>
<div class="maintenance-spinner">
  <%= button_to "Try again", { :action => "index" }, :method => :get %>
</div>
