extends ./layouts/main

block header
  script(src='../js/require.js')
  script.
    window.waitForMocks('/js/coding-rules-old/app.js');

block body
  #content
    #coding-rules-page-loader.navigator-page-loader
      i.spinner
