extends ./layouts/main

block header
  script(data-main='/js/design/app', src='../js/require.js')
  script(src='../js/require.js')
  script.
    window.waitForMocks('/js/design/app.js');

block body
  #container
    #project-design: i.spinner

  script.
    window.resourceKey = 'com.maif.sonar:maif-cobol-plugin';
