extends ./layouts/main

block header
  script(src='../js/require.js')
  script.
    window.waitForMocks('/js/source-viewer/app.js');

block body
  #source-viewer

  script.
    window.file = {
      uuid: '',
      key: ''
    };
