<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd">

<mapper namespace="org.sonar.db.provisioning.DevOpsPermissionsMappingMapper">

    <sql id="devOpsPermissionsMappingColumns">
        dpm.uuid as uuid,
        dpm.devops_platform as devOpsPlatform,
        dpm.devops_platform_role as role,
        dpm.sonarqube_permission as sonarqubePermission
    </sql>

    <insert id="insert" useGeneratedKeys="false" parameterType="DevOpsPermissionsMapping">
        insert into devops_perms_mapping (
        uuid,
        devops_platform,
        devops_platform_role,
        sonarqube_permission
        ) values (
        #{uuid,jdbcType=VARCHAR},
        #{devOpsPlatform,jdbcType=VARCHAR},
        #{role,jdbcType=VARCHAR},
        #{sonarqubePermission,jdbcType=VARCHAR}
        )
    </insert>

    <delete id="delete" parameterType="DevOpsPermissionsMapping">
        delete from devops_perms_mapping
        where devops_platform = #{devOpsPlatform,jdbcType=VARCHAR} AND
        devops_platform_role = #{role,jdbcType=VARCHAR} AND
        sonarqube_permission = #{sonarqubePermission,jdbcType=VARCHAR}
    </delete>

    <delete id="deleteAllPermissionsForRole" parameterType="DevOpsPermissionsMapping">
        delete from devops_perms_mapping
        where devops_platform = #{devOpsPlatform,jdbcType=VARCHAR} AND devops_platform_role = #{role,jdbcType=VARCHAR}
    </delete>

    <select id="selectAll" resultType="DevOpsPermissionsMapping">
        SELECT
        <include refid="devOpsPermissionsMappingColumns"/>
        FROM devops_perms_mapping dpm
        where devops_platform = #{devOpsPlatform,jdbcType=VARCHAR}
    </select>

    <select id="selectAllForRole" resultType="DevOpsPermissionsMapping">
        SELECT
        <include refid="devOpsPermissionsMappingColumns"/>
        FROM devops_perms_mapping dpm
        WHERE
          devops_platform = #{devOpsPlatform,jdbcType=VARCHAR} AND
          dpm.devops_platform_role = #{role,jdbcType=VARCHAR}
    </select>

</mapper>
