<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd">

<mapper namespace="org.sonar.db.provisioning.GithubPermissionsMappingMapper">

  <sql id="githubPermissionsMappingColumns">
    gpm.uuid as uuid,
    gpm.github_role as githubRole,
    gpm.sonarqube_permission as sonarqubePermission
  </sql>

  <insert id="insert" useGeneratedKeys="false" parameterType="GithubPermissionsMapping">
    insert into github_perms_mapping (
      uuid,
      github_role,
      sonarqube_permission
    ) values (
      #{uuid,jdbcType=VARCHAR},
      #{githubRole,jdbcType=VARCHAR},
      #{sonarqubePermission,jdbcType=VARCHAR}
    )
  </insert>

  <delete id="delete" parameterType="GithubPermissionsMapping">
    delete from github_perms_mapping
    where github_role = #{githubRole,jdbcType=VARCHAR} AND sonarqube_permission = #{sonarqubePermission,jdbcType=VARCHAR}
  </delete>

  <delete id="deleteAllPermissionsForRole" parameterType="GithubPermissionsMapping">
    delete from github_perms_mapping
    where github_role = #{githubRole,jdbcType=VARCHAR}
  </delete>

  <select id="selectAll" resultType="GithubPermissionsMapping">
    SELECT
      <include refid="githubPermissionsMappingColumns"/>
    FROM github_perms_mapping gpm
  </select>

  <select id="selectAllForGithubRole" resultType="GithubPermissionsMapping">
    SELECT
      <include refid="githubPermissionsMappingColumns"/>
    FROM github_perms_mapping gpm
    WHERE gpm.github_role =  #{githubRole,jdbcType=VARCHAR}
  </select>

</mapper>
