<p class="spacer-bottom">Quality Gates are collections of simple boolean thresholds set on project measures. A project
  must pass each of the thresholds in order to pass the Quality Gate as a whole.</p>
<p>It is possible to set a default Quality Gate, which will be applied to all projects not explicitly assigned to some
  other gate.</p>
