<h1 class="page-title">{{t 'quality_gates.page'}}</h1>
{{#if canEdit}}
  <div class="page-actions">
    <div class="button-group">
      <button id="quality-gate-add">{{t 'create'}}</button>
    </div>
  </div>
{{/if}}
