<div class="search-navigator sticky search-navigator-extended-view">
  <div class="search-navigator-side search-navigator-side-light">
    <div class="search-navigator-filters"></div>
    <div class="quality-gates-results panel"></div>
  </div>

  <div class="search-navigator-workspace">
    <div class="search-navigator-workspace-header"></div>
    <div class="search-navigator-workspace-details"></div>
  </div>
</div>
