<table>
  <tr>
    <td class="text-top">{{name}}</td>
    <td class="text-top thin nowrap spacer-left">
      {{#if isDefault}}
        <span class="badge pull-right">{{t 'default'}}</span>
      {{/if}}
    </td>
  </tr>
</table>



