<form id="delete-condition-form">
  <div class="modal-head">
    <h2>{{t 'quality_gates.delete_condition'}}</h2>
  </div>
  <div class="modal-body">
    <div class="js-modal-messages"></div>
    {{tp 'quality_gates.delete_condition.confirm.message' localizedMetricName}}
  </div>
  <div class="modal-foot">
    <button id="delete-condition-submit">{{t 'delete'}}</button>
    <a href="#" class="js-modal-close" id="delete-condition-cancel">{{t 'cancel'}}</a>
  </div>
</form>
