<div class="modal-body">
  <%= render :partial => 'issue/show' -%>
</div>
<div class="modal-foot">
  <input type="button" value="<%= h message('close') -%>" onclick="return closeModalWindow()" autofocus>
</div>