<form method="POST">
  <input type="hidden" name="key" value="<%= @issue.key -%>"/>
  <input type="hidden" name="transition" value="<%= @transition -%>"/>

  <textarea id="actionText" rows="4" name="text" style="width: 100%"></textarea>
  <%= submit_to_remote "submit_btn",
                       message("issues.transition.#{@transition}.button"),
                       :url => {:action => 'transition'},
                       :html => {:id => "submit_btn"},
                       :update => 'issue' -%>
  &nbsp;
  <%= link_to_remote message('cancel'), :url => {:action => 'show', :key => params[:key]}, :update => 'issue' -%>
</form>
