<table class="spaced">
  <tr>
    <td align="center">

      <div id="login_form">
        <p id="unauthorized">Email <%= h params[:email] %> is already used by an existing user</p>
      </div>
    </td>
  </tr>
</table>
