<table class="spaced">
  <tr>
    <td align="center">

      <div id="login_form">
        <p id="unauthorized"><%= params[:providerName] %> users are not allowed to signup</p>
      </div>
    </td>
  </tr>
</table>
