<table class="spaced">
  <tr>
    <td align="center">
      <div id="login_form">
        <p id="unauthorized"><%= h params[:providerName] %> users are not allowed to sign up</p>
      </div>
      <br/>
      <a class="spacer-left" href="<%= home_path -%>"><%= message('layout.home') -%></a>
    </td>
  </tr>
</table>
