<table class="spaced">
  <tr>
    <td align="center">
      <div id="login_form">
        <p id="unauthorized">You're not authorized to access this page. Please contact the administrator.</p>
      </div>
      <br/>
      <% if params[:message] %>
        <div id="message">Reason : <%= params[:message] %></div>
        <br/>
      <% end %>
      <a class="spacer-left" href="<%= home_path -%>"><%= message('layout.home') -%></a>
    </td>
  </tr>
</table>
