<ul class="tabs">
  <li><a class="js-show-current-activity {{#if state.active}}selected{{/if}}">{{t 'analysis_reports.current_activity'}}</a></li>
  <li><a class="js-show-past-reports {{#unless state.active}}selected{{/unless}}">{{t 'analysis_reports.past_reports'}}</a></li>
</ul>

<div class="analysis-reports-total">{{tp 'analysis_reports.x_reports' total}}</div>
