<h1 class="navigator-header-title">{{t 'analysis_reports.page'}}</h1>

<div class="navigator-header-actions button-group">
  {{#if state.active}}
    <button class="js-analysis-reports-past">{{t 'analysis_reports.show_past_reports'}}</button>
  {{else}}
    <button class="js-analysis-reports-current">{{t 'analysis_reports.show_current_activity'}}</button>
  {{/if}}
</div>
