<h1 class="navigator-header-title">{{t 'analysis_reports.page'}}</h1>
<div class="navigator-header-description">The server is in charge to process reports submitted by batch analyses. This page allows to monitor the queue of pending reports to process, and gives access to the history of past analyses.</div>
