<%
   if @filter && @filter.display
     edit_mode = (params[:edit]=='true')
%>
    <% if @filter.security_exclusions %>
      <p class="notes"><%= message('results_not_display_due_to_security') -%></p>
    <% end %>

  <%= render :partial => 'measures/display', :locals => {:filter => @filter, :edit_mode => edit_mode, :widget_id => nil} -%>
<% end %>
