<div class="issues-workspace-home-inner">
  <div>
    <h2 class="big-spacer-bottom">Start From Filters:</h2>

    <ul>
      {{#each items}}
        {{#ifCanUseFilter query}}
          <li class="text-left spacer-bottom">
            <i class="icon-favorite little-spacer-right" {{#unless favorite}}style="visibility: hidden;"{{/unless}}></i>

            <a href="#id={{id}}">{{name}}</a>

            {{#if shared}}
              <span class="note nowrap">[{{t "issue_filter.shared"}}]</span>
            {{/if}}
          </li>
        {{/ifCanUseFilter}}
      {{/each}}
    </ul>
  </div>

  <div class="big-spacer-top">
    or make a
    <a href="#resolved=false" class="button spacer-left">New Search</a>
  </div>
</div>
