<div class="js-list"></div>

<div class="search-navigator-workspace-list-more">
  <span class="js-more"><i class="spinner"></i></span>
  <div class="js-last-element-reached bordered-top note">&nbsp;<br>{{t 'the_end'}}</div>
</div>
