<div class="issues search-navigator">
  <div class="search-navigator-side">
    <div class="issues-header"></div>
    <div class="search-navigator-facets"></div>
  </div>

  <div class="search-navigator-workspace">
    <div class="search-navigator-workspace-header"></div>
    <div class="search-navigator-workspace-list"></div>
    <div class="issues-workspace-component-viewer"></div>
  </div>
</div>
