<li class="issue-meta">
  <button class="button-link issue-action issue-action-with-options js-issue-filter"
          aria-label="{{t "issue.filter_similar_issues"}}">
    <i class="icon-filter icon-half-transparent"></i>&nbsp;<i class="icon-dropdown"></i>
  </button>
</li>
