html {
  color: #111;
  background: #FFF;
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
body {
  font: 13px/1.231 arial, helvetica, clean, sans-serif;
}
#content {
  padding: 5px;
}
#reportHeader {
  background-color: #262626;
  height: 40px;
  color: #FFF;
  padding: 5px 10px 0 10px;
  vertical-align: top;
  text-align: center;
}
#logo {
  float: right;
}
#reportHeader .title {
  font-size: 18px;
}
#reportHeader .subtitle {
  font-size: 11px;
}
#rules {
  margin-bottom: 25px;
}
#rules a, #rules a:visited {
  color: #111;
}
#rules .ruleSubtitle, #rules .ruleSubtitle a, #rules .ruleSubtitle a:visited {
  font-size: 93%;
  color: #777;
}
.globalIssues {
  width: 100%;
  border: 0;
  margin-left: 37px;
}
hr {
  border: none;
  border-top: 2px dashed #DDD;
  color: #FFF;
  height: 10px;
}
div.banner {
  height: 26px;
  line-height: 26px;
  background-color: #EEEEEE;
  border: 1px solid #DDDDDD;
  color: #444;
  font-size: 85%;
  margin-bottom: 10px;
  padding: 0 5px;
}
table.data > thead > tr > th {
  font-size: 93%;
  padding: 4px 7px 4px 3px;
  font-weight: normal;
}
table.data > tfoot > tr > td {
  font-size: 93%;
  color: #777;
  padding: 4px 0 4px 10px;
}

table.data > tbody > tr > td {
  padding: 4px 7px 4px 3px;
  vertical-align: text-top;
}

table.data td.small, table.data th.small {
  padding: 0;
  white-space: nowrap;
}

table.data th img, table.data td img {
  vertical-align: text-bottom;
}

.data thead tr.total {
  background-color: #ECECEC;
  font-weight: normal;
  border: 1px solid #DDD;
}

.data thead tr.total th {
  font-weight: normal;
}

table.data > thead {
  border-bottom: 1px solid #ddd;
}

table.data > tbody {
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
}

table.data, table.spaced, .gwt-SourcePanel .sources {
  width: 100%;
}

table.data>thead>tr>th {
  font-size: 93%;
  padding: 4px 7px 4px 3px;
}

table.data>tfoot>tr>td {
  font-size: 93%;
  color: #777;
  padding: 4px 0 4px 10px;
}

table.data>tbody>tr>td {
  padding: 4px 7px 4px 3px;
  vertical-align: text-top;
}

.data thead tr.total {
  background-color: #ECECEC;
}

.data thead tr.total th {
  font-weight: bold;
}

.hoverable:hover {
  background-color: #f7f7f7;
}

div, ul, li, h2, pre, form, input, td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  border: 0;
}

select, input, textarea {
  font: 99% arial, helvetica, clean, sans-serif;
}

pre, code {
  font-family: monospace;
  line-height: 100%;
}

code {
  font-size: 93%;
}

em {
  font-weight: bold;
}

h1 {
  color: #444;
  font-size: 16px;
}

h2 {
  color: #2B547D;
  font-size: 16px;
  font-weight: normal;
}

h3 {
  font-size: 100%;
  font-weight: bold;
}

h4 {
  font-size: 85%;
  color: #777;
}
td.sep {
  width: 10px;
}
.sources {
  width: 100%;
  border-top: 1px solid #DDD;
  border-bottom: 1px solid #DDD;
  margin: 0 0 25px 0;
}

.sources td.lid {
  background-color: #ECECEC;
  border-right: 1px solid #DDD;
  border-left: 1px solid #DDD;
  text-align: right;
  padding: 2px .5em 0 .5em;
  vertical-align: top;
  font-size: 85%;
  color: #444;
  min-width: 25px;
}
div.issue {
  background-color: #FFF;
  border: 1px solid #DDD;
  margin: 7px;
}

div.vtitle {
  background-color: #E4ECF3;
  line-height: 2.2em;
  margin: 0;
  padding: 0 0 0 10px;
  text-shadow: 0 1px 0 #FFF;
  color: #777;
  vertical-align: middle;
}

.rulename {
  color: #444;
  font-weight: bold;
}

span.issue_date {
  color: #777;
  font-size: 90%;
}

span.rule_key {
  color: #777;
  font-size: 90%;
}

.sources td.line {
  width: 100%;
  border-right: 1px solid #DDD;
}

.sources td.line pre {
  font-size: 12px;
  font-family: monospace;
  margin-left: 1em;
}

.sources td.ko {
  background-color: #FF9090;
}

.sources td.new_section {
  border-top: 1px solid #DDD;
  border-bottom: 1px solid #DDD;
  height: 40px;
}

td.issues {
  background-color: #FFF;
  border-right: 1px solid #DDD;
  margin: 0;
}

.sources pre {
  font-family: Monospace;
  margin: 0;
  padding: 0 5px;
  color: #333;
  margin: 0;
}

.file_title {
  line-height: 1.5em;
  height: 1.5em;
  font-size: 1.2em;
  margin: 10px 0 5px 0;
  vertical-align: middle;
}

.file_title img {
  vertical-align: middle;
}

.discussionComment.first {
  border-top: none;
}

div.discussionComment {
  background-color: #F4F4F4;
  border-top: 1px solid #DDD;
  line-height: 1.5em;
  margin: 0;
  padding: 5px 10px;
}

.rule_desc pre {
  margin: 10px 0;
  font-family: "Courier New", Courier, monospace;;
  border: 1px dashed #aaa;
  font-size: 93%;
}
span.better {
    color: green;
}
span.worst {
    color: red;
}
tr.blockSep {
  display: none;
}
tr.blockSep.visible {
  height: 20px;
  line-height: 20px;
  margin:  1px 0;
  display: table-row !important;
  display: block; /* hack for IE */
  border-top:  1px dashed #DDD;
  border-bottom:  1px dashed #DDD;
}

.big {
  font-size:24px;
  font-weight: bold;
}

.masked {
  display: none;
}

.all-masked {
  display: none;
}

/**
 Icons
 */

@font-face {
  font-family: 'sonar';
  src: url('sonar.eot');
  src: url('sonar.eot?#iefix') format('embedded-opentype'), url('sonar.ttf') format('truetype'), url('sonar.woff') format('woff'), url('sonar.svg#sonar') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  font-family: 'sonar';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: middle;
  /* Better Font Rendering =========== */

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/*
 * Severity
 */
[class^="icon-severity-"],
[class*=" icon-severity"] {
  position: relative;
  top: -1px;
}
.icon-severity-blocker:before,
.icon-severity-4:before {
  content: "\f000";
  color: #d4333f;
  font-size: 14px;
}
.icon-severity-critical:before,
.icon-severity-3:before {
  content: "\f001";
  color: #d4333f;
  font-size: 14px;
}
.icon-severity-major:before,
.icon-severity-2:before {
  content: "\f002";
  color: #d4333f;
  font-size: 14px;
}
.icon-severity-minor:before,
.icon-severity-1:before {
  content: "\f003";
  color: #85bb43;
  font-size: 14px;
}
.icon-severity-info:before,
.icon-severity-0:before {
  content: "\f004";
  color: #85bb43;
  font-size: 14px;
}
