<?xml version="1.0" encoding="UTF-8" ?>
<configuration debug="false">

  <!--
  
  This file is loaded by bootstrappers like Ant Task and Java Runner.

  Reasons to NOT move this configuration to bootstrappers:
  - same lifecycle as sonar -> loggers are always up-to-date. No need to think about ascending/descending compatibility.
  - parameters can be added without releasing new versions of bootstrappers
  - XML format is up-to-date toward the version of Logback.

  -->

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>${FORMAT}</pattern>
    </encoder>
  </appender>

  <!-- BeanUtils generate too many DEBUG logs when sonar.verbose is set -->
  <logger name="org.apache.commons.beanutils.converters">
    <level value="WARN"/>
  </logger>

  <!-- FileSnapshot generate too many DEBUG logs when sonar.verbose is set -->
  <logger name="org.eclipse.jgit.internal.storage.file">
    <level value="INFO"/>
  </logger>

  <!-- Spring generates too many DEBUG logs when sonar.verbose is set -->
  <logger name="org.springframework">
    <level value="INFO"/>
  </logger>

  <!-- AbstractApplicationContext generate too verbose warning if warn is Enabled -->
  <logger name="org.springframework.context.annotation.AnnotationConfigApplicationContext">
    <level value="ERROR"/>
  </logger>

  <logger name="org.sonar.core.platform.PriorityBeanFactory">
    <level value="INFO"/>
  </logger>

  <!-- sonar.showSql -->
  <!-- see also org.sonar.db.MyBatis#configureLogback() -->
  <logger name="org.mybatis">
    <level value="${SQL_LOGGER_LEVEL:-WARN}"/>
  </logger>
  <logger name="org.apache.ibatis">
    <level value="${SQL_LOGGER_LEVEL:-WARN}"/>
  </logger>
  <logger name="java.sql">
    <level value="${SQL_LOGGER_LEVEL:-WARN}"/>
  </logger>
  <logger name="java.sql.ResultSet">
    <level value="WARN"/>
  </logger>

  <root>
    <!-- sonar.verbose -->
    <level value="${ROOT_LOGGER_LEVEL}"/>
    <appender-ref ref="STDOUT"/>
  </root>

</configuration>
