<?xml version="1.0" encoding="UTF-8" ?>
<configuration debug="false">

  <!--
  
  This file is loaded by bootstrappers like Ant Task and Java Runner.

  Reasons to NOT move this configuration to bootstrappers:
  - same lifecycle as sonar -> loggers are always up-to-date. No need to think about ascending/descending compatibility.
  - parameters can be added without releasing new versions of bootstrappers
  - XML format is up-to-date toward the version of Logback.

  -->

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>${FORMAT}</pattern>
    </encoder>
  </appender>

  <!-- BeanUtils generate too many DEBUG logs when sonar.verbose is set -->
  <logger name="org.apache.commons.beanutils.converters" level="WARN"/>

  <!-- FileSnapshot generate too many DEBUG logs when sonar.verbose is set -->
  <logger name="org.eclipse.jgit.internal.storage.file" level="INFO"/>

  <!-- Spring generates too many DEBUG logs when sonar.verbose is set -->
  <logger name="org.springframework" level="INFO"/>

  <!-- AbstractApplicationContext generate too verbose warning if warn is Enabled -->
  <logger name="org.springframework.context.annotation.AnnotationConfigApplicationContext" level="ERROR"/>

  <logger name="org.sonar.core.platform.PriorityBeanFactory" level="INFO"/>

  <!-- sonar.showSql -->
  <!-- see also org.sonar.db.MyBatis#configureLogback() -->
  <logger name="org.mybatis" level="${SQL_LOGGER_LEVEL:-WARN}"/>
  <logger name="org.apache.ibatis" level="${SQL_LOGGER_LEVEL:-WARN}"/>
  <logger name="java.sql" level="${SQL_LOGGER_LEVEL:-WARN}"/>
  <logger name="java.sql.ResultSet" level="WARN"/>

  <root level="${ROOT_LOGGER_LEVEL}">
    <!-- sonar.verbose -->
    <appender-ref ref="STDOUT"/>
  </root>

</configuration>
