<?xml version="1.0" encoding="UTF-8" ?>
<configuration debug="false">
  <include resource="logback-shared.xml"/>

  <!--
  
  This file is loaded by bootstrappers like Ant Task and Java Runner.

  Reasons to NOT move this configuration to bootstrappers:
  - same lifecycle as sonar -> loggers are always up-to-date. No need to think about ascending/descending compatibility.
  - parameters can be added without releasing new versions of bootstrappers
  - XML format is up-to-date toward the version of Logback.

  -->

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>${FORMAT}</pattern>
    </encoder>
  </appender>

  <root level="${ROOT_LOGGER_LEVEL}">
    <!-- sonar.verbose -->
    <appender-ref ref="STDOUT"/>
  </root>

</configuration>
