<script id="quality-gate-detail-conditions-template" type="text/x-handlebars-template">
  <div class="quality-gate-section-name">{{t 'quality_gates.conditions'}}</div>

  <div class="quality-gate-introduction">
    <p>{{t 'quality_gates.introduction'}}
      <a class="link-action quality-gate-introduction-show-more">{{t 'more'}}</a>
    </p>
    <div class="quality-gate-introduction-more">
      {{t 'quality_gates.health_icons'}}
      <table class="data">
        <thead>
        <tr>
          <th colspan="3"></th>
        </tr>
        </thead>
        <tbody>
        <tr class="even">
          <td><i class="icon-alert-ok"></i></td>
          <td>{{t 'alerts.notes.ok'}}</td>
        </tr>
        <tr class="odd">
          <td><i class="icon-alert-warn"></i></td>
          <td>{{t 'alerts.notes.warn'}}</td>
        </tr>
        <tr class="even">
          <td><i class="icon-alert-error"></i></td>
          <td>{{t 'alerts.notes.error'}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  {{#if canEdit}}
    <div class="quality-gate-new-condition">
      <label for="quality-gate-new-condition-metric">{{t 'quality_gates.add_condition'}}:</label>
      <select id="quality-gate-new-condition-metric">
        <option></option>
        {{#each metricGroups}}
        <optgroup label="{{domain}}">
          {{#each metrics}}<option value="{{key}}">{{name}}</option>{{/each}}
        </optgroup>
        {{/each}}
      </select>
    </div>
  {{/if}}

  <table class="data zebra width100 marginbottom10 spaced quality-gate-conditions">
    <thead><tr></tr></thead>
    <tbody></tbody>
  </table>
</script>
