<script id="quality-gate-detail-template" type="text/x-handlebars-template">
  <div id="quality-gate-conditions" class="quality-gate-section"></div>
  <div id="quality-gate-projects" class="quality-gate-section"></div>
</script>
