<script id="quality-gate-detail-renaming-template" type="text/x-handlebars-template">
  <div class="quality-gate-header-rename">
    <input id="quality-gate-renaming-input" type="text" value="{{name}}">

    <div class="navigator-header-actions">
      <button id="quality-gate-rename"><%= message('rename') -%></button>
      <button id="quality-gate-cancel-rename"><%= message('cancel') -%></button>
    </div>
  </div>
</script>
