<script id="quality-gate-sidebar-list-item-template" type="text/x-handlebars-template">
  <div class="line line-nowrap">{{name}} {{#if default}}<span class="subtitle">({{t 'default'}})</span>{{/if}}</div>
</script>
