<script id="quality-gate-detail-template" type="text/x-handlebars-template">
  <div class="quality-gate-header"></div>

  <div class="quality-gate-details">
    <ul class="tabs quality-gate-tabs">
      <li><a id="quality-gate-tab-conditions"><%= message('quality_gates.conditions') -%></a></li>
      <li><a id="quality-gate-tab-projects"><%= message('quality_gates.projects') -%></a></li>
    </ul>
    <div class="quality-gate-details-tab"></div>
  </div>
</script>
