<script id="quality-gate-detail-header-template" type="text/x-handlebars-template">
  <h1 class="navigator-header-title">
    {{#if default}}<i class="icon-default"></i>{{/if}} {{name}}
  </h1>

  <div class="navigator-header-actions">
    <button id="quality-gate-rename"><%= message('rename') -%></button>
    {{#if default}}
      <button id="quality-gate-unset-as-default"><%= message('unset_as_default') -%></button>
    {{else}}
      <button id="quality-gate-set-as-default"><%= message('set_as_default') -%></button>
    {{/if}}
    <a id="quality-gate-delete" class="link-action link-red"><%= message('delete') -%></a>
  </div>
</script>
