<script id="quality-gate-new-template" type="text/x-handlebars-template">
  <div class="quality-gate-header">
    <div class="quality-gate-header-rename">
      <input id="quality-gate-renaming-input" type="text" value="">

      <div class="navigator-header-actions">
        <button id="quality-gate-save"><%= message('save') -%></button>
        <button id="quality-gate-cancel-save"><%= message('cancel') -%></button>
      </div>
    </div>
  </div>
</script>
