<script id="quality-gate-detail-header-template" type="text/x-handlebars-template">
  <h1 class="navigator-header-title">{{name}}</h1>

  {{#if canEdit}}
    <div class="navigator-header-actions button-group">
      <button id="quality-gate-rename">{{t 'rename'}}</button>
      <button id="quality-gate-copy">{{t 'copy'}}</button>
      {{#if default}}
        <button id="quality-gate-unset-as-default">{{t 'unset_as_default'}}</button>
      {{else}}
        <button id="quality-gate-set-as-default">{{t 'set_as_default'}}</button>
      {{/if}}
      <button id="quality-gate-delete" class="button-red">{{t 'delete'}}</button>
    </div>
  {{/if}}
</script>
