<script id="baseFilterTemplate" type="text/template">
  <div class="navigator-filter-label">{{ name }}</div>
  <div class="navigator-filter-value {[ if (defaultValue) { ]}default{[ } ]}">{{ value }}</div>
  {[ if (optional) { ]}
  <div class="navigator-filter-disable">&times;</div>
  {[ } ]}
</script>

<script id="detailsFilterTemplate" type="text/template">
  <div class="navigator-filter-details-inner">
    No details
  </div>
</script>

<script id="selectFilterItemTemplate" type="text/template">
  <li>
    <label title="{{ item.text }}">
      <input type="checkbox" value="{{ item.id }}"
      {[ if (checked) { ]}checked{[ } ]}>
      {[ if (item.icon) { ]}
      <i class="icon-{{ item.icon }}"></i>
      {[ } ]}
      <span>
        {{ item.text }}
        {[ if (item.category) { ]}
          <br>
          <span class="subtitle">{{ item.category }}</span>
        {[ } ]}
      </span>
    </label>
  </li>
</script>

<script id="selectFilterTemplate" type="text/template">
  <ul class="navigator-filter-select-list selection"></ul>
  <ul class="navigator-filter-select-list choices"></ul>
</script>

<script id="choiceFilterTemplate" type="text/x-handlebars-template">
  <ul class="navigator-filter-select-list choices"></ul>
  <ul class="navigator-filter-select-list opposite"></ul>
</script>

<script id="choiceFilterItemTemplate" type="text/x-handlebars-template">
  <li>
    <label title="{{text}}"> {{! TODO: escape }}
      <input type="checkbox" value="{{id}}" {{#if checked}}checked{{/if}}>
      {{#if icon}}<i class="icon-{{icon}}"></i>{{/if}}
      <span>
        {{text}}
        {{#if category}}
          <br>
          <span class="subtitle">{{category}}</span>
        {{/if}}
      </span>
    </label>
  </li>
</script>

<script id="ajaxSelectFilterTemplate" type="text/template">
  <div class="navigator-filter-search">
    <input type="text">
  </div>
  <ul class="navigator-filter-select-list choices"></ul>
  <ul class="navigator-filter-select-list opposite"></ul>
</script>

<script id="rangeFilterTemplate" type="text/template">
  <div class="navigator-filter-details-inner">
    <input class="navigator-filter-range-input" type="text"
           name="{{ propertyFrom }}" placeholder="{{ placeholder }}">
    <label>{[ print(window.SS.phrases.to); ]}</label>
    <input class="navigator-filter-range-input" type="text"
           name="{{ propertyTo }}" placeholder="{{ placeholder }}">
  </div>
</script>

<script id="checkboxFilterTemplate" type="text/template">
  <div class="navigator-filter-label">{{ name }}</div>
  {[ if (optional) { ]}
  <div class="navigator-filter-disable">&times;</div>
  {[ } ]}
</script>

<script id="stringFilterTemplate" type="text/template">
  <div class="navigator-filter-details-inner">
    <input type="text" name="{{ property }}" value="{{ value }}">
  </div>
</script>

<script id="metricFilterTemplate" type="text/template">
  <div class="navigator-filter-details-inner">
    <select name="metric">
      <option></option>
      {[ _.each(groupedMetrics, function(group) { ]}
      <optgroup label="{{ group.domain }}">
        {[ _.each(group.metrics, function(metric) { ]}
        <option value="{{ metric.name }}">{{ metric.short_name }}</option>
        {[ }); ]}
      </optgroup>
      {[ }); ]}
    </select>

    <select name="period">
      <option value="0">{[ print(window.SS.phrases.value); ]}</option>
      {[ _.each(periods, function(period, key) { ]}
      <option value="{{ key }}">{{ period }}</option>
      {[ }); ]}
    </select>

    <select name="op">
      {[ _.each(operations, function(op, key) { ]}
      <option value="{{ key }}">{{ op }}</option>
      {[ }); ]}
    </select>

    <input type="text" name="val">
  </div>
</script>

<script id="favoriteFilterTemplate" type="text/template">
  <div class="navigator-filter-favorite-toggle" title="{[ print(window.SS.phrases.filtersList); ]}"></div>
</script>

<script id="detailsFavoriteFilterTemplate" type="text/template">
  <ul class="navigator-filter-select-list">
    {[ if (choicesArray.length > 0) { ]}
    {[ _.each(choicesArray, function(f) { ]}
    <li>
      <label data-id="{{ f.k }}">{{{ f.v }}}</label>
    </li>
    {[ }); ]}
    <li class="line"></li>
    {[ } ]}
    <li class="manage">
      <label id="manage-favorites">{[ print(window.SS.phrases.manage); ]}</label>
    </li>
  </ul>
</script>

<script id="moreCriteriaFilterTemplate" type="text/template">
  {[ print(window.SS.phrases.moreCriteria); ]}
</script>

<script id="detailsMoreCriteriaFilterTemplate" type="text/template">
  <ul class="navigator-filter-select-list">
    {[ _.each(filters, function(filter, i) { ]}
    {[ if (!(i > 0 && filters[i - 1].get('name') === filter.get('name'))) { ]}
    <li>
      <label data-id="{{ filter.cid }}" {[ if (filter.get('inactive')) { ]}class="inactive"{[ } ]}
          {[ if (filter.get('title')) { ]}title="{{ filter.get('title') }}"{[ } ]}>{[ print(filter.get('name')); ]}</label>
    </li>
    {[ } ]}
    {[ }); ]}
  </ul>
</script>
