<li>
  <label title="{{id}}">
    <input type="checkbox" value="{{id}}" {{#if checked}}checked{{/if}}>
    <span>
      {{text}}
      <br>
      <span class="subtitle">{{language}}</span>
    </span>
  </label>
</li>
