<li>
  <label title="{{id}}">
    <input type="checkbox" value="{{id}}" {{#if checked}}checked{{/if}}>
    <span>
      {{text}}
      {{#if language}}
        <br>
        <span class="subtitle">{{language}}</span>
      {{/if}}
    </span>
  </label>
</li>
