<form method="POST">
  <input type="hidden" name="id" value="<%= @review.id -%>"/>

  <textarea id="actionText" rows="4" name="text" style="width: 100%"></textarea>
  <%= submit_to_remote "submit_btn",
                       message(@review.resolved? ? 'reviews.reopen' : 'reviews.resolve'),
                       :url => {:action => 'change_status'},
                       :html => {:id => "submit_btn"},
                       :update => 'review' -%>
  &nbsp;
  <%= link_to_remote message('cancel'), :url => {:action => 'show', :id => params[:id]}, :update => 'review' -%>
</form>
