<div>
	<a href="#" onclick="backReviews()">Back to results</a>
</div>

<h1><%= h(@review.project.long_name) -%> | <%= h(@review.resource.long_name) -%></h1>

<% if @review.source? %>

<% end %>

<%= @review.title -%>


