<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mappei.dtd">

<mapper namespace="org.sonar.core.technicaldebt.db.CharacteristicMapper">

  <sql id="characteristicColumns">
    c.id,
    c.kee as kee,
    c.name as name,
    c.parent_id as parentId,
    c.characteristic_order as characteristicOrder,
    c.rule_id as ruleId,
    c.function_key as functionKey,
    c.factor_value as factorValue,
    c.factor_unit as factorUnit,
    c.offset_value as offsetValue,
    c.offset_unit as offsetUnit,
    c.enabled as enabled,
    c.created_at as createdAt,
    c.updated_at as updatedAt
  </sql>

  <select id="selectEnabledCharacteristics" parameterType="map" resultType="Characteristic">
    select <include refid="characteristicColumns"/>
    from characteristics c
    <where>
      and c.enabled=${_true}
    </where>
  </select>

  <select id="selectEnabledRootCharacteristics" parameterType="map" resultType="Characteristic">
    select <include refid="characteristicColumns"/>
    from characteristics c
    <where>
      and c.parent_id is null
      and c.rule_id is null
      and c.enabled=${_true}
    </where>
    order by characteristic_order asc
  </select>

  <select id="selectCharacteristicByKey" parameterType="String" resultType="Characteristic">
    select <include refid="characteristicColumns"/>
    from characteristics c
    <where>
      and c.kee=#{key}
      and c.enabled=${_true}
    </where>
  </select>

  <select id="selectCharacteristicById" parameterType="Integer" resultType="Characteristic">
    select <include refid="characteristicColumns"/>
    from characteristics c
    <where>
      and c.id=#{id}
      and c.enabled=${_true}
    </where>
  </select>

  <select id="selectRequirementByRuleId" parameterType="Integer" resultType="Characteristic">
    select <include refid="characteristicColumns"/>
    from characteristics c
    <where>
      and c.rule_id=#{ruleId}
      and c.enabled=${_true}
    </where>
  </select>

  <insert id="insert" parameterType="Characteristic" keyColumn="id" useGeneratedKeys="true" keyProperty="id">
    INSERT INTO characteristics (kee, name, parent_id, characteristic_order,
    rule_id, function_key, factor_value, factor_unit, offset_value, offset_unit,
    enabled, created_at, updated_at)
    VALUES (#{kee}, #{name}, #{parentId}, #{characteristicOrder},
    #{ruleId}, #{functionKey}, #{factorValue}, #{factorUnit}, #{offsetValue}, #{offsetUnit},
    #{enabled}, current_timestamp, current_timestamp)
  </insert>

  <update id="update" parameterType="Characteristic">
    update characteristics set
    name=#{name},
    parent_id=#{parentId},
    characteristic_order=#{characteristicOrder},
    rule_id=#{ruleId},
    function_key=#{functionKey},
    factor_value=#{factorValue},
    factor_unit=#{factorUnit},
    offset_value=#{offsetValue},
    offset_unit=#{offsetUnit},
    enabled=#{enabled},
    updated_at=current_timestamp
    where id=#{id}
  </update>

  <update id="disable" parameterType="Integer">
    update characteristics set
    enabled=${_false},
    updated_at=current_timestamp
    where id=#{id}
  </update>

</mapper>

