<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mappei.dtd">

<mapper namespace="org.sonar.core.technicaldebt.db.CharacteristicMapper">

  <sql id="characteristicColumns">
    c.id,
    c.kee as kee,
    c.name as name,
    c.depth as depth,
    c.order as order
  </sql>

</mapper>

