<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mappei.dtd">

<mapper namespace="org.sonar.core.technicaldebt.db.RequirementMapper">

  <select id="selectByRuleId" parameterType="int" resultMap="requirementResult">
    select
    req.id as id,
    req.rule_id as rule_id,
    req_rule.id as rule_id,
    req_rule.plugin_rule_key as rule_key,
    req_rule.plugin_name as rule_repository_key,
    req_rule.name as rule_name,
    prop.id as prop_id,
    prop.kee as prop_kee,
    prop.value as prop_value,
    prop.text_value as prop_textValue,
    root_char.id as root_char_id,
    root_char.kee as root_char_kee,
    root_char.name as root_char_name,
    characteristic.id as char_id,
    characteristic.kee as char_kee,
    characteristic.name as char_name
    from characteristics req
    inner join quality_models on quality_models.id = req.quality_model_id and quality_models.name = 'TECHNICAL_DEBT'
    inner join rules req_rule on req_rule.id = req.rule_id
    inner join characteristic_properties prop on prop.characteristic_id = req.id
    inner join characteristic_edges req_to_char on req_to_char.child_id = req.id
    inner join characteristics characteristic on characteristic.id = req_to_char.parent_id and characteristic.enabled = ${_true}
    inner join characteristic_edges char_to_root_char on char_to_root_char.child_id = characteristic.id
    inner join characteristics root_char on root_char.id = char_to_root_char.parent_id and root_char.enabled = ${_true}
    <where>
      req.rule_id=#{ruleId}
      and req.enabled=${_true}
    </where>
  </select>

  <resultMap id="requirementResult" type="Requirement">
    <id property="id" column="id"/>

    <association property="rule" javaType="Rule">
      <id property="id" column="rule_id"/>
      <result property="ruleKey" column="rule_key"/>
      <result property="repositoryKey" column="rule_repository_key"/>
      <result property="name" column="rule_name"/>
    </association>

    <association property="characteristic" javaType="Characteristic">
      <id property="id" column="char_id"/>
      <result property="key" column="char_kee"/>
      <result property="name" column="char_name"/>
    </association>

    <association property="rootCharacteristic" javaType="Characteristic">
      <id property="id" column="root_char_id"/>
      <result property="key" column="root_char_kee"/>
      <result property="name" column="root_char_name"/>
    </association>

    <collection property="properties" ofType="RequirementProperty">
      <id property="id" column="prop_id"/>
      <result property="key" column="prop_kee"/>
      <result property="value" column="prop_value"/>
      <result property="textValue" column="prop_textValue"/>
    </collection>
  </resultMap>

</mapper>

