<% content_for :script do %>
  <script data-main="<%= ApplicationController.root_context -%>/js/component-viewer/app" src="<%= ApplicationController.root_context -%>/js/require.js"></script>
<% end %>

<div id="component-viewer"></div>