<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd">

<mapper namespace="org.sonar.db.IsAliveMapper">

  <select id="isAlive" resultType="int">
    select 1
    <choose>
      <when test="_databaseId == 'oracle'">
        from dual
      </when>
    </choose>
  </select>

</mapper>

