<?xml version="1.0" encoding="UTF-8" ?>

<configuration>
  <appender name="STDOUT"
            class="ch.qos.logback.core.ConsoleAppender">
    <layout class="ch.qos.logback.classic.PatternLayout">
      <pattern>
        %d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n
      </pattern>
    </layout>
  </appender>

  <root>
    <level value="INFO"/>
    <appender-ref ref="STDOUT"/>
  </root>
</configuration>