<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd">

<mapper namespace="org.sonar.db.scannercache.ScannerAnalysisCacheMapper">
  <delete id="removeAll">
    delete from scanner_analysis_cache
  </delete>

  <delete id="remove">
    delete from scanner_analysis_cache where branch_uuid = #{branchUuid,jdbcType=VARCHAR}
  </delete>

  <delete id="cleanOlderThan">
    delete from scanner_analysis_cache
    where branch_uuid in (
      select sac.branch_uuid from scanner_analysis_cache sac
      left outer join snapshots s on
        sac.branch_uuid = s.root_component_uuid
      where
        s.analysis_date &lt; #{timestamp,jdbcType=BIGINT} and s.islast=${_true}
        or s.islast is null
    )
  </delete>

</mapper>

