<h3>Help Tips</h3>
<table>
  <tr>
    <td>*bold*</td>
    <td class="sep"></td>
    <td><b>bold</b></td>
  </tr>
  <tr>
    <td>``code``</td>
    <td class="sep"></td>
    <td><code>code</code></td>
  </tr>
  <tr>
    <td colspan="3">* Bulleted point</td>
  </tr>
</table>