<div id="markdown-full-help" style="width:500px">
<h2>Markdown syntax</h2>

<br/>

<h3>Format text</h3>

<pre class="code">
*This text will be bold*
</pre>

<pre class="code">
* Item 1
* Item 2
* Item 3
</pre>

<pre class="code">
http://www.google.com is automatically transformed into a link.
</pre>

<h3>Code</h3>

<pre class="code">
Please check ``Lists#newArrayList()`` method.
</pre>

<pre class="code">
``java
public void foo() {
  // do some logic here
}
``
</pre>

</div>