<div class="modal-head">
  <h2>Update "{{permission.name}}" Users for "{{permissionTemplateName}}"</h2>
</div>

<div class="modal-body">
  <div class="js-modal-messages"></div>

  <div class="big-spacer-bottom panel panel-vertical">
    <input id="grant-to-project-creators"
           class="little-spacer-right"
           type="checkbox"
           {{#if permission.withProjectCreator}}checked{{/if}}/>
    <label for="grant-to-project-creators">
      {{tp 'permission_templates.grant_permission_to_project_creators' permission.name}}
    </label>
    <i class="icon-help little-spacer-left" title="{{t 'permission_templates.project_creators.explanation'}}" data-toggle="tooltip"/>
  </div>

  <div id="permission-templates-users"></div>
</div>

<div class="modal-foot">
  <a href="#" class="js-modal-close">Done</a>
</div>
