<form id="delete-permission-template-form">
  <div class="modal-head">
    <h2>Delete Permission Template</h2>
  </div>
  <div class="modal-body">
    <div class="js-modal-messages"></div>
    Are you sure you want to delete permission template "{{name}}"?
  </div>
  <div class="modal-foot">
    <button id="delete-permission-template-submit" class="button-red">Delete</button>
    <a href="#" class="js-modal-close" id="delete-permission-template-cancel">Cancel</a>
  </div>
</form>
