<div class="modal-head">
  <h2>Update "{{permissionName}}" Groups for "{{permissionTemplateName}}"</h2>
</div>
<div class="modal-body">
  <div class="js-modal-messages"></div>
  <div id="permission-templates-groups"></div>
</div>
<div class="modal-foot">
  <a href="#" class="js-modal-close">Done</a>
</div>
