<ul class="navigator-filter-select-list">
  {{#each filters}}
    <li>
      <label data-id="{{id}}" data-property="{{property}}" {{#if inactive}}class="inactive"{{/if}} {{#if title}}title="{{title}}"{{/if}}>
        {{name}}
      </label>
    </li>
  {{/each}}
</ul>
