<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd">
<mapper namespace="org.sonar.db.component.AnalysisPropertiesMapper">

  <sql id="columns">
    uuid as "uuid",
    analysis_uuid as "analysisUuid",
    kee as "key",
    text_value as "textValue",
    clob_value as "clobValue",
    is_empty as "empty",
    created_at as "createdAt"
  </sql>

  <select id="selectByAnalysisUuid" parameterType="string" resultType="ScrapAnalysisProperty">
    SELECT
      <include refid="columns"/>
    FROM
      analysis_properties
    WHERE
      analysis_uuid = #{analysisUuid}
  </select>

  <select id="selectByKeyAnAnalysisUuids" parameterType="string" resultType="ScrapAnalysisProperty">
    SELECT
    <include refid="columns"/>
    FROM
    analysis_properties
    WHERE
    kee = #{analysisPropertyKey,jdbcType=VARCHAR}
    AND analysis_uuid in <foreach collection="analysisUuids" open="(" close=")" item="uuid" separator=",">#{uuid,jdbcType=VARCHAR}</foreach>
  </select>

  <select id="selectAnalysisPropertyValueInLastAnalysisPerProject" parameterType="string" resultType="AnalysisPropertyValuePerProject">
    select
      pb.project_uuid as "projectUuid", ap.text_value as "propertyValue"
    from components cp
    inner join snapshots s on s.root_component_uuid = cp.uuid
    inner join analysis_properties ap on ap.analysis_uuid = s.uuid
    inner join project_branches pb on pb.uuid = cp.branch_uuid
    where
      pb.is_main = ${_true}
      and s.islast = ${_true}
      and ap.kee = #{analysisPropertyKey, jdbcType=VARCHAR}
    order by cp.uuid asc
  </select>

  <insert id="insertAsEmpty" parameterType="map" useGeneratedKeys="false">
    INSERT INTO analysis_properties (
      uuid,
      analysis_uuid,
      kee,
      is_empty,
      created_at
    ) VALUES (
      #{analysisPropertyDto.uuid, jdbcType=VARCHAR},
      #{analysisPropertyDto.analysisUuid, jdbcType=VARCHAR},
      #{analysisPropertyDto.key, jdbcType=VARCHAR},
      ${_true},
      #{createdAt}
    )
  </insert>

  <insert id="insertAsText" parameterType="map" useGeneratedKeys="false">
    INSERT INTO analysis_properties (
      uuid,
      analysis_uuid,
      kee,
      text_value,
      is_empty,
      created_at
    ) VALUES (
      #{analysisPropertyDto.uuid, jdbcType=VARCHAR},
      #{analysisPropertyDto.analysisUuid, jdbcType=VARCHAR},
      #{analysisPropertyDto.key, jdbcType=VARCHAR},
      #{analysisPropertyDto.value, jdbcType=VARCHAR},
      ${_false},
      #{createdAt}
    )
  </insert>

  <insert id="insertAsClob" parameterType="Map" useGeneratedKeys="false">
    INSERT INTO analysis_properties (
      uuid,
      analysis_uuid,
      kee,
      clob_value,
      is_empty,
      created_at
    ) VALUES (
      #{analysisPropertyDto.uuid, jdbcType=VARCHAR},
      #{analysisPropertyDto.analysisUuid, jdbcType=VARCHAR},
      #{analysisPropertyDto.key, jdbcType=VARCHAR},
      #{analysisPropertyDto.value, jdbcType=VARCHAR},
      ${_false},
      #{createdAt}
    )
  </insert>

</mapper>
