<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd">

<mapper namespace="org.sonar.db.component.ComponentKeyUpdaterMapper">

  <resultMap id="resourceResultMap" type="Resource">
    <id property="id" column="id"/>
    <result property="key" column="kee"/>
    <result property="uuid" column="uuid"/>
    <result property="deprecatedKey" column="deprecated_kee"/>
    <result property="rootUuid" column="root_uuid"/>
    <result property="scope" column="scope"/>
    <result property="enabled" column="enabled"/>
  </resultMap>

  <select id="countResourceByKey" parameterType="String" resultType="int">
    SELECT count(1)
    FROM projects
    WHERE kee = #{key,jdbcType=VARCHAR}
  </select>

  <select id="selectProject" parameterType="String" resultMap="resourceResultMap">
    select * from projects
    where uuid = #{uuid,jdbcType=VARCHAR}
  </select>

  <select id="selectProjectResources" parameterType="String" resultMap="resourceResultMap">
    select * from projects
    where
    root_uuid = #{rootUuid,jdbcType=VARCHAR}
    and scope != 'PRJ'
    and enabled = ${_true}
  </select>

  <select id="selectDescendantProjects" parameterType="String" resultMap="resourceResultMap">
    select * from projects
    where
    scope='PRJ'
    and root_uuid = #{rootUuid,jdbcType=VARCHAR}
    and uuid != #{rootUuid,jdbcType=VARCHAR}
    and enabled = ${_true}
  </select>

  <update id="update" parameterType="Resource">
    update projects
    set kee = #{key,jdbcType=VARCHAR}, deprecated_kee = #{deprecatedKey,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>

</mapper>

