<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd">
<mapper namespace="org.sonar.db.component.ComponentLinkMapper">

  <sql id="componentLinkColumns">
    p.id,
    p.component_uuid as "componentUuid",
    p.link_type as "type",
    p.name as name,
    p.href as href
  </sql>

  <select id="selectByComponentUuid" parameterType="String" resultType="ComponentLink">
    SELECT
    <include refid="componentLinkColumns"/>
    FROM project_links p
    where p.component_uuid=#{uuid,jdbcType=VARCHAR}
    ORDER BY p.id
  </select>

  <select id="selectByComponentUuids" parameterType="String" resultType="ComponentLink">
    SELECT
    <include refid="componentLinkColumns"/>
    FROM project_links p
    where
      p.component_uuid in
      <foreach collection="componentUuids" open="(" close=")" item="uuid" separator=",">
        #{uuid,jdbcType=VARCHAR}
      </foreach>
    order by p.id
  </select>

  <select id="selectById" parameterType="long" resultType="ComponentLink">
    SELECT
    <include refid="componentLinkColumns"/>
    FROM project_links p
    where p.id=#{id,jdbcType=BIGINT}
  </select>

  <insert id="insert" parameterType="ComponentLink" keyColumn="id" useGeneratedKeys="true" keyProperty="id">
    INSERT INTO project_links (component_uuid, link_type, name, href)
    VALUES (#{componentUuid,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR},
    #{href,jdbcType=VARCHAR})
  </insert>

  <insert id="update" parameterType="ComponentLink" useGeneratedKeys="false">
    UPDATE project_links SET component_uuid=#{componentUuid,jdbcType=VARCHAR}, link_type=#{type,jdbcType=VARCHAR},
    name=#{name,jdbcType=VARCHAR}, href=#{href,jdbcType=VARCHAR}
    WHERE id=#{id,jdbcType=BIGINT}
  </insert>

  <delete id="delete">
    DELETE FROM project_links WHERE id=#{id,jdbcType=BIGINT}
  </delete>

</mapper>

