.overview {
  animation: fadeIn 0.5s forwards;
}

.overview-main {
  background-color: #f3f3f3;
  transition: transform 0.5s ease, opacity 0.5s ease;
}

/*
 * Title
 */

.overview-title {
  font-size: 16px;
  font-weight: 400;
}

.overview-title > .level {
  vertical-align: top;
  margin-left: 15px;
}

.overview-title > a {
  border-bottom-color: #d0d0d0;
  color: #444;
}

.overview-title > a:hover,
.overview-title > a:focus {
  border-bottom-color: #cae3f2;
  color: #4b9fd5;
}

/*
 * Quality Gate
 */

.overview-quality-gate {
  padding-bottom: 15px;
  border-bottom: 1px solid #e6e6e6;
  background-color: #f3f3f3;
}

.overview-quality-gate-conditions-list {}

.overview-quality-gate-condition {
  float: left;
  display: block;
  margin-top: 15px;
  margin-right: 30px;
  border: 1px solid #e6e6e6;
  border-radius: 2px;
  background-color: #fff;
  color: #444;
  transition: none;
}

.overview-quality-gate-condition:hover,
.overview-quality-gate-condition:focus {
  border-width: 2px;
  color: #444;
}

.overview-quality-gate-condition:hover .overview-quality-gate-condition-container,
.overview-quality-gate-condition:focus .overview-quality-gate-condition-container {
  padding: 9px;
}

.overview-quality-gate-condition-leak {
  background-color: #fbf3d5;
}

.overview-quality-gate-condition-metric,
.overview-quality-gate-condition-period {
  max-width: 125px;
  line-height: 16px;
  font-size: 12px;
}

.overview-quality-gate-condition-period {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.overview-quality-gate-condition-container {
  display: flex;
  align-items: center;
  min-width: 150px;
  /* three lines by 16px and 4px margin */
  min-height: 52px;
  padding: 10px;
}

.overview-quality-gate-condition-value {
  line-height: 1;
  margin-right: 10px;
  font-size: 24px;
  font-weight: normal;

  /* for consistency with ratings */
  min-width: 24px;
  text-align: center;
}

.overview-quality-gate-condition-value span {
  display: inline-block;
  vertical-align: top;
}

.overview-quality-gate-threshold {
  margin-top: 4px;
  font-size: 12px;
}

.overview-quality-gate-warning {
  margin: 15px 0 0;
}

.overview-quality-gate-condition-error {
  border-color: #d4333f;
}

.overview-quality-gate-condition-warn {
  border-color: #ed7d20;
}

.overview-quality-gate-condition-error .overview-quality-gate-threshold {
  color: #d4333f;
}

.overview-quality-gate-condition-warn .overview-quality-gate-threshold {
  color: #ed7d20;
}


/*
 * Domain
 */

.overview-domains-list {
  animation: fadeIn 0.5s forwards;
}

.overview-card {
  margin: 15px 0;
}

.overview-card-special {
  padding-bottom: 26px;
  border-bottom: 1px solid #e6e6e6;
}

.overview-card-header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-bottom: 10px;
  line-height: 24px;
}

.overview-domain-panel {
  display: flex;
  margin-top: 10px;
  border: 1px solid #e6e6e6;
  background-color: #fff;
}

.overview-domain-nutshell,
.overview-domain-leak {
  position: relative;
  display: flex;
  padding: 15px 10px;
}

.overview-domain-nutshell {
  flex: 3;
}

.overview-domain-nutshell .line-chart-backdrop {
  fill: #e5f1f9;
}

.overview-domain-leak {
  flex: 2;
  background-color: #fbf3d5;
}

.overview-domain-leak .overview-domain-measures {
  padding: 0;
}

.overview-domain-leak .line-chart-backdrop {
  fill: #efe7b8;
}

.overview-domain-measures {
  position: relative;
  z-index: 2;
  display: flex;
  flex: 1;
  align-items: center;
  padding: 0 10%;
}

.overview-domain-measures + .overview-domain-measures {
  margin-top: 30px;
}

.overview-domain-measures + .overview-domain-measures .overview-domain-measure-value {
  font-size: 14px;
  font-weight: 400;
}

.overview-domain-measures + .overview-domain-measures .overview-domain-measure-label {
  margin-top: 4px;
}

.overview-domain-measure {
  flex: 1;
}

.overview-domain-measure + .overview-domain-measure {
  padding-left: 15%;
}

.overview-domain-measure-value {
  line-height: 1;
  font-size: 36px;
  font-weight: 300;
  white-space: nowrap;
}

.overview-domain-secondary-measure-value {
  line-height: 1;
  font-size: 20px;
  font-weight: 300;
}

.overview-domain-leak .overview-domain-measure-value {
  text-align: center;
}

.overview-domain-measure-label {
  margin-top: 10px;
}

.overview-domain-leak .overview-domain-measure-label {
  text-align: center;
}

.overview-domain-measure-sup {
  display: inline-block;
  vertical-align: top;
  margin-top: -4px;
  margin-left: 6px;
  font-size: 16px;
}

.overview-domain-timeline {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  right: 0;
  animation: fadeIn 0.5s forwards;
}

.overview-domain-timeline .line-chart-path {
  fill: none;
  stroke: none;
}

.overview-domain-timeline-date {
  position: absolute;
  bottom: 2px;
  left: 5px;
  color: rgba(119, 119, 119, 0.6);
  font-size: 11px;
}

/*
 * Meta
 */

.overview-meta {
  background-color: #f3f3f3;
}

.overview-meta-card {
  min-width: 200px;
  padding-bottom: 20px;
  box-sizing: border-box;
}

.overview-meta-description {
  line-height: 1.5;
}

.overview-meta-header {
  color: #797979;
}

.overview-meta-list > li {
  /* 1px to not cut icons on the left */
  padding-left: 1px;
  padding-bottom: 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.overview-meta-tags {
  position: relative;
}

.overview-meta-size-ncloc {
  display: inline-block;
  vertical-align: middle;
  width: 100px;
  text-align: center;
}

.overview-meta-size-ncloc a {
  line-height: 24px;
  font-size: 18px;
  font-weight: 300;
}

.overview-meta-size-lang-dist {
  display: inline-block;
  vertical-align: middle;
  width: 160px;
  min-height: 40px;
  border-left: 1px solid #e6e6e6;
  box-sizing: border-box;
}

.overview-analysis {}

.overview-analysis + .overview-analysis {
  margin-top: 8px;
  padding-top: 8px;
  border-top: 1px solid #e6e6e6;
}

.overview-analysis-graph {
  display: block;
  outline: none;
  border: none;
}

.overview-analysis-event {}

.overview-analysis-event.badge {
  vertical-align: middle;
  padding: 4px 14px;
  border-radius: 2px;
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 0;
}

.overview-analysis-event + .overview-analysis-event {
  margin-top: 4px;
}

/*
 * Other
 */

.overview-legend {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: -1px;
  padding: 5px 0 2px;
  border: 1px solid #e6e6e6;
  background-color: #fbf3d5;
  font-size: 14px;
  text-align: center;
  transform: translateY(-4px);
}

.overview-legend-spaced-line {
  padding: 14px 0 10px;
}

.overview-key {
  width: 100%;
  background-color: transparent !important;
}

.overview-deprecated-rules {
  margin: 4px -6px 4px;
  padding: 3px 6px !important;
  border: 1px solid #ebccd1;
  border-radius: 3px;
  background-color: #f2dede;
}

/*
 * Animations
 */

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
