<% form_for :user, @user, :url => { :id => @user.id, :action => 'reactivate' }, :html => { :id =>'user_form', :method => @user.id.nil? ?  :post : :put} do |f| %>
  <fieldset>
    <div class="modal-head">
        <h2>Reactivate user?</h2>
    </div>
    <div class="modal-body">
      <%= f.hidden_field :login %>

              <p class="error">
                  A user with login "<%= h @user.login -%>" already exists in the database but is deactivated.<br/>
                  <br/>
                  Do you really want to reactivate this user?
              </p>
    </div>
    <div class="modal-foot">
           <%= submit_tag 'Reactivate user' %>
           <%= link_to 'Cancel', { :controller => 'users', :action => 'index'}, { :class => 'action' } %><br/>
    </div>
  </fieldset>

  <script>
    $j("#user_form").modalForm();
  </script>
<% end %>
