<table class="source-viewer-measures">
  <tr>
    {{#unless isUnitTest}}
      {{> '_source-viewer-measures-lines'}}
    {{/unless}}

    {{> '_source-viewer-measures-issues'}}

    {{#unless isUnitTest}}
      <td class="source-viewer-measures-section">
        {{> '_source-viewer-measures-overall-coverage'}}

        {{#all measures.coverage measures.it_coverage}}
          {{> '_source-viewer-measures-ut-coverage'}}
          {{> '_source-viewer-measures-it-coverage'}}
        {{/all}}
      </td>
    {{/unless}}

    {{#if isUnitTest}}
      {{> '_source-viewer-measures-tests'}}
    {{/if}}

    {{#unless isUnitTest}}
      {{> '_source-viewer-measures-duplications'}}
    {{/unless}}
  </tr>
</table>

<div class="modal-foot">
  <a class="overlay-popup-close" title="{{t 'close'}}">{{t 'close'}}</a>
</div>
