<div class="bubble-popup-container">
  <div class="bubble-popup-section">
    <a href="#" class="js-get-permalink link-action">{{t 'component_viewer.get_permalink'}}</a>
  </div>

  {{#if canCreateManualIssue}}
    <div class="bubble-popup-section">
      <a href="#" class="js-add-manual-issue link-action">{{t 'component_viewer.add_manual_issue'}}</a>
    </div>
  {{/if}}
</div>

<div class="bubble-popup-arrow"></div>
