<div class="source-viewer-measures">

  {{#unless isUnitTest}}
    <div class="source-viewer-measures-section">
      <div class="source-viewer-measures-card">
        {{> '_source-viewer-measures-lines'}}
      </div>
      {{> '_source-viewer-measures-duplications'}}
    </div>

    <div class="source-viewer-measures-section">
      {{> '_source-viewer-measures-issues'}}
    </div>

    <div class="source-viewer-measures-section source-viewer-measures-section-big">
      <div class="source-viewer-measures-card">
        {{> '_source-viewer-measures-coverage'}}
      </div>
    </div>
  {{else}}
    <div class="source-viewer-measures-section">
      {{> '_source-viewer-measures-tests'}}
    </div>
    <div class="source-viewer-measures-section">
      {{> '_source-viewer-measures-issues'}}
    </div>
  {{/unless}}

</div>

{{#if isUnitTest}}
  <div class="source-viewer-measures">
    {{> '_source-viewer-measures-test-cases'}}
  </div>
{{/if}}

<div class="modal-foot">
  <a class="overlay-popup-close" title="{{t 'close'}}">{{t 'close'}}</a>
</div>
