<div class="multi_value marginbottom5">
  <%= render "settings/single_value", :property => property, :value => value -%>
  <% if delete_link -%>
    <a href="#" class="delete link-action"><%= message('delete') -%></a>
  <% end -%>
  <br/>
</div>
