<% resource_id = @resource.id if @resource -%>

<% Property.values(property.key, resource_id).reject(&:blank?).each do |set_key| -%>
  <%= render 'settings/set_instance', :property => property, :set_key => set_key, :resource_id => resource_id %>
<% end -%>

<div class="template" style="display:none;">
  <%= render 'settings/set_instance', :property => property, :set_key => nil, :resource_id => resource_id %>
</div>

<button class="add_value"><%= message('settings.add') -%></button>
