# nodeJS downloaded by Maven
node/

# nodeJS dependencies
node_modules/

# build
src/main/webapp/build/

# generated css
src/main/webapp/css/

# generated js
src/main/webapp/js/
src/main/webapp/javascripts/coding-rules/
src/main/webapp/javascripts/quality-gate/
src/main/webapp/javascripts/tests/common/
src/main/webapp/javascripts/tests/translateSpec.js

