<?xml version="1.0" encoding="UTF-8" ?>

<configuration>

  <appender name="STDOUT"
            class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>
        %d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n
      </pattern>
    </encoder>
  </appender>

  <logger name="org.dbunit">
    <level value="WARN"/>
  </logger>

  <!-- set to level DEBUG to log SQL requests executed by MyBatis -->
  <logger name="java.sql">
    <level value="WARN"/>
  </logger>

  <!-- required for DryRunDatabaseFactoryTest -->
  <logger name="org.elasticsearch">
    <level value="WARN"/>
  </logger>

  <root>
    <level value="INFO"/>
    <appender-ref ref="STDOUT"/>
  </root>

</configuration>
