<% if @filter.period? %>
  <%= message('filters.treemap_not_supported_for_period_selection') -%>

<% else %>
  <%
     metrics=treemap_metrics(@filter)
  %>
  <div class="line-block"></div>
  <%= render :partial => 'treemap/treemap_container', :locals => {
    :treemap_id => @filter.id,
    :size_metric => metrics[0],
    :color_metric => metrics[1],
    :height_in_percents => 50.0,
    :context_type => 'filter',
    :context_id => @filter.id
  } -%>
<% end %>
