.navbar-global,
.navbar-global .navbar-inner {
  background-color: #262626;
  z-index: 421;
}

.navbar-brand {
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--globalNavHeight);
  margin-left: calc(-1 * (var(--globalNavHeight) - var(--globalNavContentHeight)) / 2);
  padding-top: 4px;
  padding-left: calc((var(--globalNavHeight) - var(--globalNavContentHeight)) / 2);
  padding-right: calc((var(--globalNavHeight) - var(--globalNavContentHeight)) / 2);
  border-bottom: 4px solid transparent;
}

.navbar-login {
  margin-right: -10px;
  white-space: nowrap;
}

.navbar-avatar {
  margin-right: calc(-1 * (var(--globalNavHeight) - var(--globalNavContentHeight)) / 2);
  padding: calc((var(--globalNavHeight) - var(--globalNavContentHeight)) / 2) !important;
  border: none !important;
}

.navbar-help,
.navbar-plus {
  display: inline-block;
  height: var(--globalNavHeight);
  padding: calc(var(--globalNavHeight) - var(--globalNavContentHeight)) 12px !important;
  border-bottom: none !important;
  color: #fff !important;
}

.navbar-plus {
  margin-right: calc(-1 * var(--gridSize));
}

.global-navbar-menu {
  display: flex;
  align-items: center;
  height: var(--globalNavHeight);
}

.global-navbar-menu > li > a {
  display: block;
  height: var(--globalNavHeight);
  padding: calc((var(--globalNavHeight) - var(--globalNavContentHeight)) / 2) 10px;
  line-height: var(--globalNavContentHeight);
  border-bottom: 4px solid transparent;
  box-sizing: border-box;
  color: #ccc;
  font-size: var(--smallFontSize);
  letter-spacing: 0.05em;
}

.navbar-brand:hover,
.navbar-brand:focus,
.global-navbar-menu > li > a.active,
.global-navbar-menu > li > a:hover,
.global-navbar-menu > li > a:focus,
.global-navbar-menu > .dropdown.open > a {
  background-color: #020202;
}

.global-navbar-menu > li > a.active {
  border-bottom-color: #646464;
}

@media print {
  .navbar-global {
    display: none !important;
  }
}
