.bt-search-form {
  display: flex;
  align-items: flex-end;
}

.bt-search-form > li + li {
  margin-left: 40px;
}

.bt-search-form-label {
  margin-bottom: 4px;
}

.bt-search-form-field {
  padding: 4px 0;
}

.bt-search-form-right {
  margin-left: auto !important;
}

.bt-workers-warning-icon {
  position: relative;
  top: -1px;
}

.bt-workers-warning-icon::before {
  color: #d3d3d3;
}
