@import (reference) "../variables";
@import (reference) "../mixins";
@import (reference) "../init/type";
@import (reference) "../init/links";

@side-padding: 20px;

.overview {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  min-height: ~"calc(100vh - @{navbarGlobalHeight} - @{navbarContextHeight} - @{pageFooterHeight})";
  animation: fadeIn 0.5s forwards;
}

.overview-main {
  flex: 4;
  box-sizing: border-box;
  background-color: @barBackgroundColor;
  transition: transform 0.5s ease, opacity 0.5s ease;
}

/*
 * Gate
 */

.overview-gate {
  margin-right: 20px;
  padding: 15px 0;
  border-bottom: 1px solid @barBorderColor;
  background-color: @barBackgroundColor;

  .overview-title {
    margin: 0 @side-padding;
  }
}

.overview-gate-conditions-list {
  display: flex;
  flex-wrap: wrap;
}

.overview-gate-condition {
  padding: 10px @side-padding;
}

.overview-gate-condition-metric {

}

.overview-gate-condition-value {
  margin-right: 4px;
  font-weight: 300;
  font-size: 24px;
}

.overview-gate-warning {
  margin: 15px @side-padding 0;
}

/*
 * Title
 */

.overview-title {
  font-size: 16px;
  font-weight: 400;

  & > .badge {
    position: relative;
    top: -2px;
    margin-left: 15px;
    padding: 6px 12px;
    font-size: 14px;
    letter-spacing: 0.05em;
  }
}

/*
 * Cards
 * TODO drop it
 */

.overview-cards {
  display: flex;
  flex-wrap: wrap;
}

/*
 * Meta
 */

.overview-meta {
  flex: 1;
  box-sizing: border-box;
  background-color: @barBackgroundColor;
}

.overview-meta-card {
  min-width: 200px;
  padding: @side-padding;
  box-sizing: border-box;
}

.overview-meta-description {
  line-height: 1.5;
}

.overview-meta-header {
  color: #797979;
}

.overview-meta-list {
  & > li {
    padding-bottom: 4px;
    .text-ellipsis;
  }
}

/*
 * Domain
 */

.overview-domains {
  animation: fadeIn 0.5s forwards;
}

.overview-domain {
  margin: 30px @side-padding;
}

.overview-domain-header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-bottom: 10px;
  line-height: @formControlHeight;

  .overview-title {
    flex: 1;
  }
}

.overview-domain-panel {
  display: flex;
  margin-top: 10px;
  border: 1px solid @barBorderColor;
  background-color: #fff;
  overflow: hidden;

  .overview-bar-chart {
    padding: 0;
  }
}

.overview-domain-nutshell,
.overview-domain-leak {
  position: relative;
  display: flex;
  padding: 30px 10px;
}

.overview-domain-nutshell {
  flex: 2;

  .line-chart-backdrop {
    fill: #e5f1f9;
  }
}

.overview-domain-leak {
  flex: 1;
  background-color: #fffae7;

  .line-chart-backdrop {
    fill: #f1ecd1;
  }
}

.overview-domain-measures {
  position: relative;
  z-index: 2;
  display: flex;
  flex: 1;
  justify-content: space-around;
  align-items: center;
}

.overview-domain-measures + .overview-domain-measures {
  margin-top: 30px;

  .overview-domain-measure-value {
    font-size: 14px;
    font-weight: 400;
  }

  .overview-domain-measure-label {
    margin-top: 4px;
  }
}

.overview-domain-measure {

}

.overview-domain-measure-value {
  line-height: 1;
  font-size: 36px;
  font-weight: 300;
  text-align: center;
}

.overview-domain-measure-label {
  margin-top: 10px;
  text-align: center;
}

.overview-domain-timeline {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  right: 0;
  animation: fadeIn 0.5s forwards;

  .line-chart-path {
    fill: none;
    stroke: none;
  }
}

/*
 * Detailed Pages
 */

.overview-detailed-page {
  flex: 1;
  animation: fadeIn 0.5s forwards;
}

.overview-detailed-measures-list {
  border: 1px solid @barBorderColor;
  background-color: #fff;
  overflow: hidden;
}

.overview-detailed-measures-list + .overview-detailed-measures-list {
  margin-top: 40px;
}

.overview-detailed-measure {
  display: flex;
  background-color: #fff;
}

.overview-detailed-measure-nutshell,
.overview-detailed-measure-leak,
.overview-detailed-measure-chart {
  position: relative;
  padding: 7px 10px;

  & & {
    padding-right: 0;
  }
}

.overview-detailed-measure-nutshell {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  flex: 3;
}

.overview-detailed-measure-leak {
  flex: 1;
  background-color: #fffae7;
  text-align: center;
}

.overview-detailed-measure-name {
  flex: 1;
}

.overview-detailed-measure-value {
  font-size: 16px;
}

.overview-detailed-layout-size {
  display: flex;
  justify-content: space-between;
  margin: 0 -10px;

  .overview-detailed-layout-column {
    flex: 1;
    max-width: 560px;
  }
}

.overview-detailed-layout-column {
  padding: 0 10px;
}

.overview-legend-nutshell,
.overview-legend-leak {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  margin-top: -2px;
  margin-left: 16px;
  margin-right: 8px;
  border: 1px solid @barBorderColor;
  box-sizing: border-box;
}

.overview-legend-nutshell {
  background-color: #fff;
}

.overview-legend-leak {
  background-color: #fffae7;
}

/*
 * Charts
 */

.overview-domain-charts {
  display: flex;

  & > .overview-domain,
  & > .overview-domain-chart {
    flex: 1;
  }

  & > .overview-domain {
    max-width: 560px;
  }
}

.overview-domain-chart {
  .overview-title {
    display: inline-block;
    margin-right: 20px;
  }
}

.overview-bar-chart {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 15px;
}

.bar-chart-bar {
  fill: @blue;
}

.bar-chart-tick {
  fill: @secondFontColor;
  font-size: 11px;
  text-anchor: middle;
}

.histogram-tick {
  text-anchor: end;
}

.histogram-value {
  text-anchor: start;
}

.overview-timeline {
  padding: 10px;
  border: 1px solid @barBorderColor;
  box-sizing: border-box;
  background-color: #fff;

  .line-chart-path {
    fill: none;
    stroke: @blue;
    stroke-width: 2px;
  }

  .line-chart-point {
    fill: #fff;
    stroke: @darkBlue;
    stroke-width: 2px;
  }

  .line-chart-backdrop {
    fill: #fffae7;
  }

  .line-chart-tick {
    fill: @secondFontColor;
    font-size: 11px;
    text-anchor: middle;
  }

  .line-chart-tick-x {
    text-anchor: end;
  }

  .line-chart-tick-x-right {
    text-anchor: start;
  }

  .line-chart-grid {
    shape-rendering: crispedges;
    stroke: #eee;
  }
}

.overview-timeline-1 {
  .line-chart-path {
    stroke: @purple;
  }

  .line-chart-point {
    stroke: darken(@purple, 20%);
  }
}

.overview-timeline-sample {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 2px;
  margin-right: 8px;
}

.overview-timeline-sample-0 {
  background-color: @blue;
}

.overview-timeline-sample-1 {
  background-color: @purple;
}

.overview-timeline-chart {
  text-align: center;
}

.overview-timeline-chart + .overview-timeline-chart {
  margin-top: 40px;
}

.overview-timeline-select {
  width: 12em;
  height: @formControlHeight;
  line-height: @formControlHeight;
  border: 1px solid #cdcdcd;
  background: none;
}

.overview-treemap {
}

.overview-chart-placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
}

.overview-bubble-chart {
  padding: 10px;
  border: 1px solid @barBorderColor;
  box-sizing: border-box;
  background-color: #fff;

  .bubble-chart-bubble {
    fill: @blue;
    fill-opacity: 0.2;
    stroke: @blue;
    cursor: pointer;
    transition: all 0.2s ease;

    &:hover { fill-opacity: 0.8; }
  }

  .bubble-chart-grid {
    shape-rendering: crispedges;
    stroke: #eee;
  }

  .bubble-chart-tick {
    fill: @secondFontColor;
    font-size: 11px;
    text-anchor: middle;
  }

  .bubble-chart-tick-y {
    text-anchor: end;
  }
}

.overview-donut-chart {
  display: inline-block;
  vertical-align: top;
  margin-right: 8px;
}



/*
 * Responsive Stuff
 */

@media (max-width: 1200px) {
  .overview {
    display: block;
  }

  .overview-meta {
    display: flex;
    justify-content: flex-start;
  }

  .overview-meta .overview-meta-card {
    max-width: 25%;
  }
}

/*
 * Animations
 */

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
