<a class="js-measures">{{t 'component_viewer.show_details'}}</a>
<br>
<a class="js-new-window">{{t 'component_viewer.new_window'}}</a>
{{#unless options.workspace}}
  <br>
  <a class="js-workspace">{{t 'component_viewer.open_in_workspace'}}</a>
{{/unless}}
<br>
<a class="js-raw-source">{{t 'component_viewer.show_raw_source'}}</a>
