<div class="bubble-popup-container">
  <div class="bubble-popup-section">
    {{line.scmAuthor}}
  </div>
  <div class="bubble-popup-section">
    {{dt line.scmDate}}
  </div>
  {{#if line.scmRevision}}
    <div class="bubble-popup-section">
      {{line.scmRevision}}
    </div>
  {{/if}}
</div>

<div class="bubble-popup-arrow"></div>
