<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.sonar.core.purge.PurgeMapper">

  <select id="selectSnapshotIds" parameterType="map" resultType="long">
    select s.id from snapshots s
    <where>
      <if test="islast != null">
        and s.islast=#{islast}
      </if>
      <if test="notPurged != null and notPurged">
        and (s.purge_status is null or s.purge_status=0)
      </if>
      <if test="rootSnapshotId != null">
        and s.root_snapshot_id=#{rootSnapshotId}
      </if>
      <if test="id != null">
        and s.id=#{id}
      </if>
      <if test="rootProjectId != null">
        and s.root_project_id=#{rootProjectId}
      </if>
      <if test="resourceId != null">
        and s.project_id=#{resourceId}
      </if>
      <if test="status != null">
        and s.status in
        <foreach item="s" index="index" collection="status" open="(" separator="," close=")">#{s}</foreach>
      </if>
      <if test="scopes != null">
        and s.scope in
        <foreach item="scope" index="index" collection="scopes" open="(" separator="," close=")">#{scope}</foreach>
      </if>
      <if test="qualifiers != null">
        and s.qualifier in
        <foreach item="qualifier" index="index" collection="qualifiers" open="(" separator="," close=")">#{qualifier}
        </foreach>
      </if>
      <if test="withVersionEvent != null">
        <if test="withVersionEvent">
          and exists(select e.id from events e where e.snapshot_id=s.id and e.category='Version')
        </if>
        <if test="!withVersionEvent">
          and not exists(select e.id from events e where e.snapshot_id=s.id and e.category='Version')
        </if>
      </if>
    </where>
  </select>

  <select id="selectPurgeableSnapshotsWithEvents" parameterType="long" resultType="PurgeableSnapshot">
    select s.id as "snapshotId", s.created_at as "date", ${_true} as "hasEvents", islast as "isLast" from
    snapshots s where
    s.project_id=#{id} and s.status='P' and s.qualifier &lt;&gt; 'LIB' and
    exists(select e.id from events e where e.snapshot_id=s.id)
  </select>

  <select id="selectPurgeableSnapshotsWithoutEvents" parameterType="long" resultType="PurgeableSnapshot">
    select s.id as "snapshotId", s.created_at as "date", ${_false} as "hasEvents", islast as "isLast" from
    snapshots s where
    s.project_id=#{id} and s.status='P' and s.qualifier &lt;&gt; 'LIB' and
    not exists(select e.id from events e where e.snapshot_id=s.id)
  </select>

  <select id="selectResourceIdsToDisable" resultType="long" parameterType="long">
    select p.id from projects p
    where (p.id=#{id} or p.root_id=#{id}) and p.enabled=${_true}
    and not exists(select s.project_id from snapshots s where s.islast=${_true} and s.project_id=p.id)
  </select>

  <select id="selectMetricIdsWithoutHistoricalData" resultType="long">
    select id from metrics where delete_historical_data=${_true}
  </select>

  <select id="selectCharacteristicIdsToPurge" resultType="long">
    select id from characteristics where rule_id is not null
  </select>

  <select id="selectProjectIdsByRootId" resultType="long" parameterType="long">
    select id from projects where root_id=#{id} and scope='PRJ'
  </select>

  <select id="selectResourceIdsByRootId" resultType="long" parameterType="long">
    select id from projects where root_id=#{id} or id=#{id}
  </select>

  <delete id="deleteSnapshotMeasures" parameterType="long">
    delete from project_measures where snapshot_id=#{id}
  </delete>

  <delete id="deleteSnapshotMeasureData" parameterType="long">
    delete from measure_data where snapshot_id=#{id}
  </delete>

  <delete id="deleteSnapshotSource" parameterType="long">
    delete from snapshot_sources where snapshot_id=#{id}
  </delete>

  <delete id="deleteSnapshotViolations" parameterType="long">
    delete from rule_failures where snapshot_id=#{id}
  </delete>

  <delete id="deleteSnapshotGraphs" parameterType="long">
    delete from graphs where snapshot_id=#{id}
  </delete>

  <delete id="deleteSnapshotDependencies" parameterType="long">
    delete from dependencies where from_snapshot_id=#{id} or to_snapshot_id=#{id} or project_snapshot_id=#{id}
  </delete>

  <delete id="deleteSnapshotDuplications" parameterType="long">
    delete from duplications_index where snapshot_id=#{id}
  </delete>

  <delete id="deleteSnapshotEvents" parameterType="long">
    delete from events where snapshot_id=#{id}
  </delete>

  <delete id="deleteSnapshot" parameterType="long">
    delete from snapshots where id=#{id}
  </delete>

  <delete id="deleteSnapshotWastedMeasures" parameterType="map">
    delete from project_measures where snapshot_id=#{sid} and
    (rule_id is not null or person_id is not null or metric_id in
    <foreach item="mid" index="index" collection="mids" open="(" separator="," close=")">#{mid}</foreach>
    )
  </delete>

  <delete id="deleteSnapshotMeasuresOnCharacteristics" parameterType="map">
    delete from project_measures where snapshot_id=#{sid}
    and (
    <foreach item="cid" index="index" collection="cids" open="" separator=" OR " close="">characteristic_id=#{cid}</foreach>
    )
  </delete>

  <update id="updatePurgeStatusToOne" parameterType="long">
    update snapshots set purge_status = 1 where id = #{id}
  </update>

  <update id="disableResource" parameterType="long">
    update projects set enabled=${_false} where id=#{id}
  </update>

  <update id="closeResourceReviews" parameterType="long">
    update reviews set status='CLOSED', updated_at=CURRENT_TIMESTAMP where resource_id=#{id}
  </update>


  <delete id="deleteResourceIndex" parameterType="long">
    delete from resource_index where resource_id=#{id}
  </delete>

  <delete id="deleteEvent" parameterType="long">
    delete from events where id=#{id}
  </delete>

  <delete id="deleteResourceLinks" parameterType="long">
    delete from project_links where project_id=#{id}
  </delete>

  <delete id="deleteResourceProperties" parameterType="long">
    delete from properties where resource_id=#{id}
  </delete>

  <delete id="deleteResource" parameterType="long">
    delete from projects where id=#{id}
  </delete>

  <delete id="deleteResourceGroupRoles" parameterType="long">
    delete from group_roles where resource_id=#{id}
  </delete>

  <delete id="deleteResourceUserRoles" parameterType="long">
    delete from user_roles where resource_id=#{id}
  </delete>

  <delete id="deleteResourceManualMeasures" parameterType="long">
    delete from manual_measures where resource_id=#{id}
  </delete>

  <delete id="deleteResourceReviews" parameterType="long">
    delete from reviews where resource_id=#{id}
  </delete>

  <delete id="deleteResourceEvents" parameterType="long">
    delete from events where resource_id=#{id}
  </delete>

  <delete id="deleteResourceActionPlans" parameterType="long">
    delete from action_plans where project_id=#{id}
  </delete>

  <delete id="deleteResourceGraphs" parameterType="long">
    delete from graphs where resource_id=#{id}
  </delete>

  <delete id="deleteAuthors" parameterType="long">
    delete from authors where person_id=#{id}
  </delete>

  <update id="setSnapshotIsLastToFalse" parameterType="long">
    update snapshots set islast=${_false} where project_id=#{id}
  </update>

  <delete id="deleteResourceReviewComments" parameterType="long">
    delete from review_comments rc where exists (select * from reviews r where rc.review_id=r.id and
    r.resource_id=#{id})
  </delete>

  <delete id="deleteResourceActionPlansReviews" parameterType="long">
    delete from action_plans_reviews apr where exists (select * from action_plans ap where ap.id=apr.action_plan_id and
    ap.project_id=#{id})
  </delete>

  <delete id="deleteSnapshotData" parameterType="long">
    delete from snapshot_data where snapshot_id=#{id}
  </delete>

  <!-- Mssql -->
  <delete id="deleteResourceReviewComments" databaseId="mssql" parameterType="long">
    delete review_comments from review_comments
    inner join reviews on review_comments.review_id=reviews.id
    where reviews.resource_id=#{id}
  </delete>

  <delete id="deleteResourceActionPlansReviews" databaseId="mssql" parameterType="long">
    delete action_plans_reviews from action_plans_reviews
    inner join action_plans on action_plans.id=action_plans_reviews.action_plan_id
    where action_plans.project_id=#{id}
  </delete>

  <!-- Mysql -->
  <delete id="deleteResourceReviewComments" databaseId="mysql" parameterType="long">
    delete rc from review_comments as rc, reviews as r where rc.review_id=r.id and r.resource_id=#{id}
  </delete>

  <delete id="deleteResourceActionPlansReviews" databaseId="mysql" parameterType="long">
    delete apr from action_plans_reviews as apr, action_plans as ap where ap.id=apr.action_plan_id and ap.project_id=#{id}
  </delete>

  <delete id="deleteResourceIssueChanges" parameterType="long">
    delete from issue_changes ic
    where exists (select * from issues i where i.kee=ic.issue_key and i.resource_id=#{id})
  </delete>

  <!-- Mssql -->
  <delete id="deleteResourceIssueChanges" databaseId="mssql" parameterType="long">
    delete issue_changes from issue_changes
    inner join issues on issue_changes.issue_key=issues.kee
    where issues.resource_id=#{id}
  </delete>

  <!-- Mysql -->
  <delete id="deleteResourceIssueChanges" databaseId="mysql" parameterType="long">
    delete ic from issue_changes as ic, issues as i where ic.issue_key=i.kee and i.resource_id=#{id}
  </delete>

  <delete id="deleteResourceIssues" parameterType="long">
    delete from issues where resource_id=#{id}
  </delete>

</mapper>

