<div style="font-size: 85%; margin-bottom: 10px">
» <a href="#" onclick="history.back()"><%= message('back') -%></a>
</div>

<div id="reviews-search">
  <h1><%= message('reviews') -%></h1>

  <%= render :partial => "reviews/list" -%>

</div>