<div id="api-documentation" class="search-navigator sticky"></div>

<% content_for :extra_script do %>
  <script>
    require(['apps/api-documentation/app'], function (App) {
      App.start({ el: '#api-documentation' });
    });
  </script>
<% end %>
