<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.sonar.db.measure.MeasureFilterMapper">

  <sql id="measureFilterColumns">
    mf.id,
    mf.name,
    mf.user_id as "userId",
    mf.shared,
    mf.description,
    mf.data,
    mf.created_at as "createdAt",
    mf.updated_at as "updatedAt"
  </sql>

  <select id="findSystemFilterByName" parameterType="string" resultType="MeasureFilter">
    SELECT <include refid="measureFilterColumns"/>
    FROM measure_filters mf
    WHERE mf.user_id is null and mf.name=#{id}
  </select>

  <select id="selectById" parameterType="long" resultType="MeasureFilter">
    SELECT <include refid="measureFilterColumns"/>
    FROM measure_filters mf
    WHERE mf.id=#{id}
  </select>

  <insert id="insert" parameterType="MeasureFilter" keyColumn="id" useGeneratedKeys="true" keyProperty="id">
    INSERT INTO measure_filters (name, user_id, shared, description, data, created_at, updated_at)
    VALUES (#{name,jdbcType=VARCHAR}, #{userId,jdbcType=BIGINT}, #{shared,jdbcType=BOOLEAN}, #{description,jdbcType=VARCHAR}, #{data,jdbcType=VARCHAR},
    #{createdAt,jdbcType=TIMESTAMP}, #{updatedAt,jdbcType=TIMESTAMP})
  </insert>

</mapper>
