<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.sonar.db.measure.MeasureFilterFavouriteMapper">

  <sql id="measureFilterFavouriteColumns">
    mff.id,
    mff.user_id as "userId",
    mff.measure_filter_id as "measureFilterId",
    mff.created_at as "createdAt"
  </sql>

  <select id="selectById" parameterType="long" resultType="MeasureFilterFavourite">
    SELECT <include refid="measureFilterFavouriteColumns"/>
    FROM measure_filter_favourites mff
    WHERE mff.id=#{id}
  </select>

  <insert id="insert" parameterType="MeasureFilterFavourite" keyColumn="id" useGeneratedKeys="true" keyProperty="id">
    INSERT INTO measure_filter_favourites (user_id, measure_filter_id, created_at)
    VALUES (#{userId,jdbcType=BIGINT}, #{measureFilterId,jdbcType=BIGINT}, #{createdAt,jdbcType=TIMESTAMP})
  </insert>

</mapper>
