@import (reference) "../variables";
@import (reference) "../mixins";


.columns {
  .clearfix;
  margin-left: -10px;
  margin-right: -10px;
  overflow: hidden;
}

.column-half {
  float: left;
  width: 50%;
  padding: 0 10px;
  box-sizing: border-box;

  &.column-one { margin: 0 25%; }
}

.column-third {
  float: left;
  width: 33.3333333333%;
  padding: 0 10px;
  box-sizing: border-box;
}

.column-two-thirds {
  float: left;
  width: 66.6666666667%;
  padding: 0 10px;
  box-sizing: border-box;
}


.flex-columns {
  display: flex;
}

.flex-column + .flex-column {
  margin-left: 20px;
}

.flex-column-half {
  width: 50%;
}

.flex-column-third {
  width: ~"calc(100% / 3)";
}

.flex-column-two-thirds {
  width: ~"calc(100% / 3 * 2)";
}
