.modal {
  position: fixed;
  z-index: 9000;
  top: 15%;
  left: 50%;
  margin-left: -270px;
  width: 540px;
  background-color: #fff;
}

.modal-overlay {
  position: fixed;
  z-index: 8999;
  top: 0; bottom: 0; left: 0; right: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
