.navbar-context-branches {
  display: inline-block;
  vertical-align: top;
  padding: var(--gridSize) 0;
  margin-left: calc(2 * var(--gridSize));
  line-height: 16px;
}

.navbar-context-meta-branch-menu-item {
  display: flex !important;
  justify-content: space-between;
  align-items: center;
}

.navbar-context-meta-branch-menu-item-name {
  flex: 1;
  max-width: 300px;
}

.navbar-context-meta-branch-menu-item-actions {
  height: 12px;
  margin-left: 32px;
}
