.navbar-context-branches {
  display: inline-flex;
  justify-content: center;
  line-height: calc(2 * var(--gridSize));
  margin-left: calc(2 * var(--gridSize));
  font-size: var(--baseFontSize);
}

.navbar-context-meta-branch-menu-item {
  display: flex !important;
  justify-content: space-between;
  align-items: center;
}

.navbar-context-meta-branch-menu-item-name {
  flex: 1;
  max-width: 300px;
}

.navbar-context-meta-branch-menu-item-actions {
  height: 12px;
  margin-left: 32px;
}
