.navbar-context-favorite {
  float: left;
  padding: 7px 10px 0 0;
}

.navbar-context-title-qualifier {
  display: inline-block;
  line-height: 16px;
  padding-top: 5px;
  box-sizing: border-box;
}

.navbar-context-branches {
  float: left;
  padding: 8px 0 6px;
  margin-left: 16px;
  line-height: 16px;
}

.navbar-context-meta-branch {
  margin-top: 3px;
  line-height: 16px;
}

.navbar-context-meta-branch-menu-item {
  display: flex !important;
  justify-content: space-between;
}
