<li>
  <label title="{{name}}" class="polop">
    <input type="checkbox" value="{{key}}" {{#if checked}}checked{{/if}}>
    <span>
      {{name}}
      {{#if language}}
        <br>
        <span class="subtitle">{{language}}</span>
      {{/if}}
    </span>
  </label>
</li>
