<h3 class="navigator-facets-list-item-name">{{name}}</h3>
<ul class="navigator-facets-list-item-options">
  {{#each options}}
    <li class="navigator-facets-list-item-option">
      <span class="navigator-facets-list-item-option-name">{{this}}</span>
      <span class="navigator-facets-list-item-option-stat subtitle">42</span>
    </li>
  {{/each}}
</ul>