@import (reference) "mixins";
@import (reference) "variables";
@import (reference) "ui";

@pageWidth: 1020px;
@containerWidth: 980px;
@contentWidth: 780px;
@sideMargin: 10px;
@sideWidth: @containerWidth - @contentWidth - @sideMargin;

html {
  overflow-y: scroll;
}

body {
  min-width: @pageWidth;
  min-height: 100vh;
}

.wrapper {
  min-height: ~"calc(100vh - 60px)";
}

.container {
  width: @containerWidth;
  margin: 0 auto;
  .box-sizing(border-box);
}

.container-full-width {
  width: ~"calc(100% - 40px)";

  .container-main {
    width: 100%;
  }

  .container-side {
    display: none;
  }
}

.container-one-third {
  width: @containerWidth / 3;
}

.container-two-thirds {
  width: @containerWidth / 3 * 2;
}

.container-one-half {
  width: @containerWidth / 2;
}

.container-side {
  width: @sideWidth;
  .box-sizing(border-box);
}

.container-side-left {
  float: left;
  padding-right: @sideMargin;
  border-right: 1px solid @barBackgroundColor;
}

.container-side-left + .container-main {
  padding-left: @sideMargin;
}

.container-side-right {
  float: right;
  padding-left: @sideMargin;
  border-left: 1px solid @barBackgroundColor;
}

.container-side-right + .container-main {
  padding-right: @sideMargin;
}

.container-main {
  float: left;
  width: @contentWidth;
}

.face-bar {

}

.face-main {
  background-color: #fff;
}
