@import (reference) "mixins";
@import (reference) "variables";
@import (reference) "ui";

@pageWidth: 1020px;
@containerWidth: 980px;
@sideWidth: 200px;
@fullWidthSideWidth: 40px;
@sideMargin: 10px;

html {
  overflow-y: scroll;
}

body {
  min-width: @pageWidth;
  min-height: 100vh;
}

.wrapper {
  min-height: ~"calc(100vh - 60px)";
}

.container {
  width: @containerWidth;
  margin: 0 auto;
  .box-sizing(border-box);
  .trans(width);
}

.container-full-width {
  width: ~"calc(100% - @{fullWidthSideWidth})";

  .container-main {
    width: 100%;
  }

  .container-side {
    position: absolute;
    .translate(-100%, 0);
    opacity: 0;
  }
}

.container-one-third {
  width: @containerWidth / 3;
}

.container-two-thirds {
  width: @containerWidth / 3 * 2;
}

.container-one-half {
  width: @containerWidth / 2;
}

.container-side {
  width: @sideWidth;
  .box-sizing(border-box);
  .trans;
}

.container-side-left {
  float: left;
  padding-right: @sideMargin;
}

.container-side-right {
  float: right;
  padding-left: @sideMargin;
}

.container-main {
  float: left;
  width: @containerWidth - @sideWidth;
  .box-sizing(border-box);
  .trans(width);
}

.face-bar {

}

.face-main {
  background-color: #fff;
}
