<h1>Ruby API tests</h1>


<% success=true %>

<% if logged_in? %>
  <h2>User Properties</h2>
  <ul id="user_properties">
      <%
        current_user.set_property({:prop_key => 'foo', :text_value => 'bar'})
        test=current_user.property_value('foo')=='bar'
        success&=test
      %>
      <li>create: <%= 'OK' if test -%></li>

      <%
        current_user.delete_property('foo')
        test=current_user.property('foo').nil?
        success&=test
      %>
      <li>delete: <%= 'OK' if test -%></li>

      <%
        current_user.set_property({:prop_key => 'foo', :text_value => 'bar'})
        current_user.set_property({:prop_key => 'foo', :text_value => 'newbar'})
        test=current_user.property_value('foo')=='newbar'
        success&=test
      %>
      <li>update: <%= 'OK' if test -%></li>
  </ul>
<% end %>

<br/>
<p>Result: <span id="result"><%= success ? 'OK' : 'FAIL' %></span></p>