<div class="layout-page coding-rules">
  <div class="layout-page-side-outer">
    <div class="layout-page-side">
      <div class="layout-page-side-inner">
        <div class="layout-page-filters">
        </div>
      </div>
    </div>
  </div>

  <div class="layout-page-main">
    <div class="layout-page-header-panel layout-page-main-header">
      <div class="layout-page-header-panel-inner layout-page-main-header-inner">
        <div class="layout-page-main-inner coding-rules-header"></div>
      </div>
    </div>
    <div class="layout-page-main-inner coding-rules-list"></div>
    <div class="layout-page-main-inner coding-rules-details"></div>
  </div>
</div>
