<div class="js-rule-meta"></div>
<div class="js-rule-description"></div>
<div class="js-rule-parameters"></div>

{{#if isEditable}}
  <div class="coding-rules-detail-description">
    <button class="js-edit-custom" id="coding-rules-detail-custom-rule-change">{{t 'edit'}}</button>
    <button class="button-red js-delete" id="coding-rules-detail-rule-delete" class="button-red">{{t 'delete'}}</button>
  </div>
{{/if}}

<div class="js-rule-custom-rules coding-rule-section"></div>
<div class="js-rule-profiles coding-rule-section"></div>
<div class="js-rule-issues coding-rule-section"></div>
