<div class="coding-rules search-navigator sticky">
  <div class="search-navigator-side">
    <div class="search-navigator-filters"></div>
    <div class="search-navigator-facets"></div>
  </div>

  <div class="search-navigator-workspace">
    <div class="search-navigator-workspace-header"></div>
    <div class="search-navigator-workspace-list"></div>
    <div class="search-navigator-workspace-details"></div>
  </div>
</div>
