<h1 class="page-title">
  {{t 'coding_rules.page'}}
</h1>

{{#if canWrite}}
  <div class="pull-right button-group">
    <button class="js-create-manual-rule">{{t 'coding_rules.create_manual_rule'}}</button>
  </div>
{{/if}}
