<script id="range-filter-template" type="text/x-handlebars-template">
  <div class="navigator-filter-details-inner">
    <input class="navigator-filter-range-input" type="text" name="{{propertyFrom}}" placeholder="{{placeholder}}">
    <label>{{translate "to"}}</label>
    <input class="navigator-filter-range-input" type="text" name="{{propertyTo}}" placeholder="{{placeholder}}">
  </div>
</script>
