<div style="margin-bottom: auto;" class="notes">
  <div style="float: left;"><%= message('issue_filter.no_result') -%></div>
  <div style="cursor: help;"><%= image_tag 'help.png', :title => h(message('issue_filter.no_result.help')) -%></div>
</div>