<div class="search-navigator-side search-navigator-side-light">
  <div class="search-navigator-filters">
    <h1 class="page-title">Web Service API</h1>
    <div class="page-actions">
      <input id="api-documentation-show-internals" type="checkbox">
      <label for="api-documentation-show-internals">Show Internals</label>
    </div>
  </div>
  <div class="api-documentation-results panel"></div>
</div>

<div class="search-navigator-workspace"></div>
