<div class="search-navigator-side search-navigator-side-light">
  <div class="search-navigator-filters">
    <h1 class="page-title">API Documentation</h1>
  </div>
  <div class="api-documentation-results panel"></div>
</div>

<div class="search-navigator-workspace"></div>
