@import 'mixins';
@import 'variables';
@import 'navigator/config';


.coding-rules-page {

  .navigator-results .spinner {
    margin: @navigatorPadding;
  }

}



/*
 * Detail
 */

.coding-rules-detail-header {
  margin-bottom: @navigatorPadding;
  font-weight: bold;
  text-transform: uppercase;
}

.coding-rules-detail-status {
  padding: 3px 4px;
  background-color: @navigatorBarBackground;
  color: #777;
  font-size: @smallFontSize;
  text-transform: uppercase;
}

.coding-rules-detail-properties {
  margin: @navigatorPadding 0;
  font-size: 0;
}

.coding-rules-detail-property {
  display: inline-block;
  vertical-align: middle;
  font-size: @baseFontSize;
}

.coding-rules-detail-property + .coding-rules-detail-property {
  margin-left: 2 * @navigatorPadding;
}

.coding-rules-detail-description {
  margin: 2 * @navigatorPadding 0;
  padding-left: @navigatorPadding;
  border-left: 5px solid @blue;

  *:first-child {
    margin-top: 0;
    padding-top: 0;
  }

  *:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

.coding-rules-detail-description-extra {
  margin-top: -10px;
  border-left-color: @darkGrey;
}


// Quality Profiles
.coding-rules-detail-quality-profiles-header {
  margin-top: 3 * @navigatorPadding;
}

.coding-rules-detail-quality-profiles {
  font-size: 0;
}

.coding-rules-detail-quality-profile {
  display: inline-block;
  vertical-align: top;
  width: 240px;
  margin-right: 2 * @navigatorPadding;
  .box-sizing(border-box);
  font-size: @baseFontSize;

  &.active {
    background-color: #CAE3F2;
    border-color: @highlighted;

    .coding-rules-detail-quality-profile-name {
      background-color: @highlighted;
      color: #fff;
    }
  }
}

.coding-rules-detail-quality-profile-severity {
  padding: @navigatorPadding / 2;
  font-size: @smallFontSize;
}

.coding-rules-detail-quality-profile-name {
  padding: @navigatorPadding / 2;
  background-color: @navigatorBarBackground;
  line-height: 1;
  font-weight: bold;
}

.coding-rules-detail-quality-profile-actions {
  padding: @navigatorPadding / 2;
}

.coding-rules-detail-quality-profile-parameters {
  padding: @navigatorPadding / 2;
}

.coding-rules-detail-quality-profile-parameter {
  white-space: nowrap;
}

.coding-rules-detail-quality-profile-parameter-key,
.coding-rules-detail-quality-profile-parameter-value,
.coding-rules-detail-quality-profile-parameter-actions {
  vertical-align: middle;
}

.coding-rules-detail-quality-profile-parameter-key {
  &:after {
    content: ":";
  }
}

.coding-rules-detail-quality-profile-parameter-value {
  width: 110px;
}

.coding-rules-detail-quality-profile-parameter-actions {
  float: right;
}

.coding-rules-detail-quality-profiles-activation {
  margin-top: -3px;
  margin-left: @navigatorPadding;
}
