/*
 * Fonts
 */
/*
 * Colors
 */
/*
 * Icons
 */
/*
 * Transitions
 */
.coding-rules-page .navigator-results .spinner {
  margin: 10px;
}
/*
 * Detail
 */
.coding-rules-detail-header {
  margin-bottom: 20px;
  line-height: 1.5;
  font-weight: bold;
  text-transform: uppercase;
}
.coding-rules-detail-status {
  padding: 3px 4px;
  background-color: #efefef;
  color: #777;
  font-size: 11px;
  text-transform: uppercase;
}
.coding-rules-detail-properties {
  margin: 20px 0;
  font-size: 0;
}
.coding-rules-detail-property {
  display: inline-block;
  vertical-align: middle;
  font-size: 13px;
  height: 22px;
  line-height: 22px;
}
.coding-rules-detail-property .select2-search-field {
  line-height: 1;
}
.coding-rules-detail-property + .coding-rules-detail-property {
  margin-left: 20px;
}
.coding-rules-detail-tag + .coding-rules-detail-tag {
  margin-left: 10px;
}
.coding-rules-detail-tag-delete {
  position: relative;
  top: -1px;
  transition: all 0.3s ease;
}
.coding-rules-detail-tag-delete:hover,
.coding-rules-detail-tag-delete:focus {
  color: #d4333f;
}
.coding-rules-detail-tag-add {
  transition: all 0.3s ease;
}
.coding-rules-detail-tag-add:hover,
.coding-rules-detail-tag-add:focus {
  color: #85bb43;
}
.coding-rules-detail-tag + .coding-rules-detail-tags-change {
  margin-left: 15px;
}
.coding-rules-detail-add-tag-box {
  position: absolute;
  width: 200px;
  padding: 10px;
  border: 1px solid #e1e1e1;
  background-color: #fff;
}
.coding-rules-detail-add-tag-list-item {
  padding: 3px 0;
}
.coding-rules-detail-add-tag-list-item input[type=text] {
  width: 120px;
}
.coding-rules-detail-description {
  margin: 20px 0;
  padding-left: 10px;
  border-left: 5px solid #4b9fd5;
}
.coding-rules-detail-description *:first-child {
  margin-top: 0;
  padding-top: 0;
}
.coding-rules-detail-description *:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
}
.coding-rules-detail-description-extra {
  margin-top: -10px;
  border-left-color: #cdcdcd;
}
.coding-rules-detail-parameters {
  margin: 20px 0;
}
.coding-rules-detail-parameter {
  margin: 10px 0;
}
.coding-rules-detail-quality-profiles-header {
  margin-top: 30px;
}
.coding-rules-detail-quality-profiles {
  font-size: 0;
}
.coding-rules-detail-quality-profile {
  display: inline-block;
  vertical-align: top;
  width: 240px;
  margin-right: 20px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 13px;
}
.coding-rules-detail-quality-profile.active {
  background-color: #CAE3F2;
  border-color: #4b9fd5;
}
.coding-rules-detail-quality-profile.active .coding-rules-detail-quality-profile-name {
  background-color: #4b9fd5;
  color: #fff;
}
.coding-rules-detail-quality-profile-severity {
  padding: 5px;
  font-size: 11px;
}
.coding-rules-detail-quality-profile-name {
  padding: 5px;
  background-color: #efefef;
  line-height: 1;
  font-weight: bold;
}
.coding-rules-detail-quality-profile-actions {
  padding: 5px;
}
.coding-rules-detail-quality-profile-parameters {
  padding: 5px;
}
.coding-rules-detail-quality-profile-parameter {
  white-space: nowrap;
}
.coding-rules-detail-quality-profile-parameter-key,
.coding-rules-detail-quality-profile-parameter-value,
.coding-rules-detail-quality-profile-parameter-actions {
  vertical-align: middle;
}
.coding-rules-detail-quality-profile-parameter-key:after {
  content: ":";
}
.coding-rules-detail-quality-profile-parameter-value {
  width: 110px;
}
.coding-rules-detail-quality-profile-parameter-actions {
  float: right;
}
.coding-rules-detail-quality-profiles-activation {
  margin-top: -3px;
  margin-left: 10px;
}
