/*
 * Fonts
 */
/*
 * Colors
 */
/*
 * Icons
 */
/*
 * Transitions
 */
.coding-rules-page .navigator-results .spinner {
  margin: 10px;
}
.coding-rules-page .navigator-actions,
.coding-rules-page .navigator-details {
  top: 194px;
}
.coding-rules-page .navigator-results {
  top: 224px;
}
/*
 * Detail
 */
.coding-rules-detail-header {
  margin-bottom: 10px;
  font-weight: bold;
  text-transform: uppercase;
}
.coding-rules-detail-language {
  margin-bottom: 10px;
}
.coding-rules-detail-description {
  padding: 10px;
  background-color: #efefef;
}
.coding-rules-detail-description *:first-child {
  margin-top: 0;
  padding-top: 0;
}
.coding-rules-detail-description *:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
}
.coding-rules-detail-quality-profiles-header {
  margin-top: 30px;
}
.coding-rules-detail-quality-profiles {
  font-size: 0;
}
.coding-rules-detail-quality-profile {
  display: inline-block;
  vertical-align: top;
  width: 240px;
  margin-right: 20px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 13px;
}
.coding-rules-detail-quality-profile.active {
  background-color: #CAE3F2;
  border-color: #4b9fd5;
}
.coding-rules-detail-quality-profile.active .coding-rules-detail-quality-profile-name {
  background-color: #4b9fd5;
  color: #fff;
}
.coding-rules-detail-quality-profile-severity {
  padding: 5px;
  font-size: 11px;
}
.coding-rules-detail-quality-profile-name {
  padding: 5px;
  background-color: #efefef;
  line-height: 1;
  font-weight: bold;
}
.coding-rules-detail-quality-profile-actions {
  padding: 5px;
}
.coding-rules-detail-quality-profile-parameters {
  padding: 5px;
}
.coding-rules-detail-quality-profile-parameter {
  white-space: nowrap;
}
.coding-rules-detail-quality-profile-parameter-key,
.coding-rules-detail-quality-profile-parameter-value,
.coding-rules-detail-quality-profile-parameter-actions {
  vertical-align: middle;
}
.coding-rules-detail-quality-profile-parameter-key:after {
  content: ":";
}
.coding-rules-detail-quality-profile-parameter-value {
  width: 110px;
}
.coding-rules-detail-quality-profile-parameter-actions {
  float: right;
}
.coding-rules-detail-quality-profiles-activation {
  margin-top: -3px;
  margin-left: 10px;
}
