/*
 * Fonts
 */
/*
 * Colors
 */
/*
 * Icons
 */
/*
 * Transitions
 */
.coding-rules-page .navigator-results .spinner {
  margin: 10px;
}
/*
 * Detail
 */
.coding-rules-detail-header,
.coding-rules-detail-title {
  margin-bottom: 10px;
  line-height: 1.5;
  font-weight: bold;
}
.coding-rules-detail-title {
  display: inline-block;
  text-transform: uppercase;
}
.coding-rules-detail-status {
  padding: 3px 4px;
  background-color: #efefef;
  color: #777;
  font-size: 11px;
}
.coding-rules-detail-properties {
  margin: 10px 0;
  font-size: 0;
}
.coding-rules-detail-property {
  display: inline-block;
  vertical-align: middle;
  font-size: 11px;
  height: 22px;
  line-height: 22px;
}
.coding-rules-detail-property .select2-search-field {
  line-height: 1;
}
.coding-rules-detail-property + .coding-rules-detail-property {
  margin-left: 20px;
}
.coding-rules-detail-tag + .coding-rules-detail-tag {
  margin-left: 10px;
}
.coding-rules-detail-description {
  margin: 20px 0;
}
.coding-rules-detail-description-extra {
  margin-top: -10px;
}
.coding-rules-detail-parameters {
  margin: 10px 0 20px;
}
.coding-rules-detail-parameter {
  margin: 10px 0;
  font-size: 0;
}
.coding-rules-detail-parameter-name {
  display: inline-block;
  visibility: top;
  width: 150px;
  font-size: 13px;
  font-weight: bold;
  text-align: right;
}
.coding-rules-detail-parameter-description {
  display: inline-block;
  vertical-align: top;
  margin-left: 20px;
  font-size: 13px;
}
.coding-rules-detail-quality-profiles-header {
  margin-top: 30px;
}
.coding-rules-detail-quality-profiles {
  font-size: 0;
}
.coding-rules-detail-quality-profile {
  border: 1px solid transparent;
}
.coding-rules-detail-quality-profile.active {
  border-color: #4b9fd5;
}
.coding-rules-detail-quality-profile.active .coding-rules-detail-quality-profile-name {
  background-color: #4b9fd5;
  color: #fff;
}
.coding-rules-detail-quality-profile + .coding-rules-detail-quality-profile {
  margin-top: 20px;
}
.coding-rules-detail-quality-profile-name {
  padding: 5px;
  background-color: #efefef;
  line-height: 1;
  font-weight: bold;
}
.coding-rules-detail-quality-profile-actions {
  padding: 5px;
}
.coding-rules-detail-quality-profile-parameters {
  padding: 0 5px;
}
.coding-rules-detail-quality-profile-parameters .coding-rules-detail-parameter-name,
.coding-rules-detail-quality-profile-parameters .coding-rules-detail-parameter-description {
  vertical-align: middle;
}
.coding-rules-detail-quality-profile-parameters .coding-rules-detail-parameter-description input {
  width: 200px;
}
.coding-rules-detail-quality-profile-inheritance {
  margin: 10px 0;
  padding: 0 5px;
}
.coding-rules-detail-quality-profile-inheritance strong {
  font-weight: bold;
}
.coding-rules-detail-quality-profile-note {
  margin: 10px 0;
  padding: 0 5px;
}
.coding-rules-detail-quality-profiles-activation {
  margin-top: -3px;
  margin-left: 10px;
}
