/*
 * Fonts
 */
/*
 * Colors
 */
/*
 * Icons
 */
/*
 * Transitions
 */
@font-face {
  font-family: 'sonar';
  src: url('../fonts/sonar.woff') format('woff'), url('../fonts/sonar.svg#sonar') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  font-family: 'sonar';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: middle;
  /* Better Font Rendering =========== */

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a[class^="icon-"],
a[class*=" icon-"] {
  text-decoration: none !important;
}
/*
 * Severity
 */
[class^="icon-severity-"],
[class*=" icon-severity"] {
  position: relative;
  top: -1px;
}
.icon-severity-blocker:before,
.icon-severity-4:before {
  content: "\f000";
  color: #d4333f;
  font-size: 14px;
}
.icon-severity-critical:before,
.icon-severity-3:before {
  content: "\f001";
  color: #d4333f;
  font-size: 14px;
}
.icon-severity-major:before,
.icon-severity-2:before {
  content: "\f002";
  color: #d4333f;
  font-size: 14px;
}
.icon-severity-minor:before,
.icon-severity-1:before {
  content: "\f003";
  color: #85bb43;
  font-size: 14px;
}
.icon-severity-info:before,
.icon-severity-0:before {
  content: "\f004";
  color: #85bb43;
  font-size: 14px;
}
/*
 * Status
 */
[class^="icon-status-"],
[class*=" icon-status"] {
  position: relative;
  top: -1px;
}
.icon-status-open:before {
  content: "\f010";
  color: #4b9fd5;
  font-size: 14px;
  line-height: 12px;
}
.icon-status-confirmed:before {
  content: "\f011";
  color: #4b9fd5;
  font-size: 14px;
  line-height: 12px;
}
.icon-status-reopened:before {
  content: "\f012";
  color: #4b9fd5;
  font-size: 14px;
  line-height: 12px;
}
.icon-status-resolved:before {
  content: "\f013";
  color: #444444;
  font-size: 14px;
  line-height: 12px;
}
.icon-status-closed:before {
  content: "\f014";
  color: #444444;
  font-size: 14px;
  line-height: 12px;
}
/*
 * Alert
 */
.icon-alert-ok:before {
  content: "\f013";
  color: #85bb43;
  font-size: 16px;
}
.icon-alert-warn:before {
  content: "\f000";
  color: #ff9900;
  font-size: 16px;
}
.icon-alert-error:before {
  content: "\f057";
  color: #d4333f;
  font-size: 16px;
}
.icon-alert-none:before {
  content: "\f059";
  color: #4b9fd5;
  font-size: 16px;
}
/*
 * Qualifier
 */
.icon-qualifier-dir:before {
  content: "\f07b";
  font-size: 16px;
}
.icon-qualifier-fil:before {
  content: "\f0f6";
  font-size: 16px;
}
.icon-qualifier-lib:before {
  content: "\e600";
  font-size: 16px;
}
/*
 * Common
 */
.icon-list:before {
  content: "\f039";
}
.icon-bullet-list:before {
  content: "\f03a";
}
.icon-settings:before {
  content: "\f015";
}
.icon-settings-multiple:before {
  content: "\f085";
}
.icon-arrow-down:before {
  content: "\f0d7";
  position: relative;
  top: -2px;
}
.icon-arrow-up:before {
  content: "\f0d8";
  position: relative;
  top: -2px;
}
.icon-arrow-left:before {
  content: "\f0d9";
}
.icon-arrow-right:before {
  content: "\f0da";
}
.icon-emoticon-smiley:before {
  content: "\f118";
}
.icon-emoticon-sad:before {
  content: "\f119";
}
.icon-emoticon-speechless:before {
  content: "\f11a";
}
.icon-rect-check:before {
  content: "\f046";
}
.icon-check:before {
  content: "\f00c";
}
.icon-default:before {
  position: relative;
  top: -0.1em;
  content: "\f00c";
}
.icon-lang:before {
  content: "\f024";
  font-size: 14px;
}
.icon-quality-profile:before {
  content: "\f022";
  font-size: 14px;
}
.icon-tags:before {
  content: "\f02c";
  font-size: 14px;
}
.icon-calendar:before {
  position: relative;
  top: -0.1em;
  content: "\f073";
  font-size: 14px;
}
.icon-favorite:before {
  content: "\f005";
  color: #ff9900;
  font-size: 16px;
}
.icon-not-favorite:before {
  content: "\f005";
  color: #cdcdcd;
  font-size: 16px;
}
.icon-help:before {
  content: "\f059";
  color: #4b9fd5;
  font-size: 16px;
}
.icon-info:before {
  content: "\f05a";
  color: #4b9fd5;
  font-size: 16px;
}
.icon-uniF060:before {
  content: "\f060";
}
.icon-uniF061:before {
  content: "\f061";
}
.icon-uniF062:before {
  content: "\f062";
}
.icon-uniF063:before {
  content: "\f063";
}
.icon-comment:before {
  content: "\f075";
}
.icon-delete:before {
  content: "\f00d";
}
.icon-compare:before {
  content: "\f0c5";
}
.icon-link:before {
  content: "\f0c1";
}
.icon-inheritance:before {
  content: "\f126";
  font-size: 16px;
}
.icon-plus:before {
  content: "\f067";
}
/*
 * Spinner
 */
.spinner {
  position: relative;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  border: 2px solid #0cf;
  border-radius: 50%;
  -webkit-animation: spin 0.75s infinite linear;
  animation: spin 0.75s infinite linear;
}
.ie9 .spinner {
  background-image: url(../images/loading.gif);
  background-repeat: no-repeat;
  background-position: 0 0;
  border: none;
}
.spinner:before,
.spinner:after {
  left: -2px;
  top: -2px;
  display: none;
  position: absolute;
  content: '';
  width: inherit;
  height: inherit;
  border: inherit;
  border-radius: inherit;
}
.spinner,
.spinner:before,
.spinner:after {
  display: inline-block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-color: transparent;
  border-top-color: #4b9fd5;
  -webkit-animation-duration: 1.2s;
  animation-duration: 1.2s;
}
.spinner:before {
  -webkit-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  transform: rotate(120deg);
}
.spinner:after {
  -webkit-transform: rotate(240deg);
  -ms-transform: rotate(240deg);
  transform: rotate(240deg);
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
