/*
 * Fonts
 */
/*
 * Colors
 */
/*
 * Transitions
 */
.navigator-filters {
  margin-bottom: 10px;
  border-bottom: 1px solid #cdcdcd;
  background: #efefef;
  font-size: 0;
}
.navigator-filters-list {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: -1px;
  font-size: 0;
}
.navigator-filter-submit,
.navigator-filter-new-search {
  vertical-align: middle;
  margin-left: 15px;
  font-size: 13px;
}
.navigator-filter-list-favorite {
  position: relative;
  padding-left: 36px;
  overflow: hidden;
}
.navigator-filters-actions {
  display: inline-block;
  vertical-align: middle;
  margin-left: 20px;
  font-size: 13px;
}
.navigator-filter {
  display: inline-block;
  vertical-align: top;
  height: 36px;
  line-height: 36px;
  margin: -1px 0 0;
  padding: 0 10px;
  border: 1px solid transparent;
  white-space: nowrap;
  cursor: pointer;
  transition: background 0.3s ease;
}
.navigator-filter:hover {
  background-color: #e2e2e2;
}
.navigator-filter.active {
  border-color: #cdcdcd;
  background: #fff;
}
.navigator-filter-disabled {
  display: none;
}
.navigator-filter-optional {
  padding-right: 0;
}
.navigator-filter-inline {
  cursor: default;
}
.navigator-filter-inline:hover,
.navigator-filter-inline.active {
  border-color: transparent;
  background: transparent;
}
.navigator-filter-inline .navigator-filter-label:after {
  content: "";
}
.navigator-filter-label {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  color: #333;
  font-size: 13px;
}
.navigator-filter-label:after {
  content: ":";
}
.navigator-filter-value {
  display: inline-block;
  vertical-align: middle;
  max-width: 120px;
  color: #333;
  font-size: 13px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.navigator-filter-value.default {
  color: #666;
}
.navigator-filter-disable {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  line-height: 20px;
  margin: 0 0 0 5px;
  font-size: 18px;
  text-align: center;
  transition: background 0.3s ease;
}
.navigator-filter-disable:hover {
  background-color: #d0d0d0;
}
.navigator-filter-range-input {
  width: 120px;
}
.navigator-filter-details {
  display: none;
  position: absolute;
  z-index: 1200;
  min-width: 100px;
  border: 1px solid #cdcdcd;
  background: #fff;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
  font-size: 13px;
  transition: opacity 0.3s ease;
}
.navigator-filter-details.active {
  display: block;
}
.navigator-filter-details-inner {
  max-width: 300px;
  padding: 5px 10px;
}
.navigator-filter-details-inner .select2-container,
.navigator-filter-details-inner input {
  margin: 5px 0;
}
.navigator-filter-select-list {
  min-width: 150px;
  max-width: 300px;
  max-height: 182px;
  padding: 5px 0;
  overflow-y: auto;
}
.navigator-filter-select-list label {
  display: block;
  padding: 5px 10px;
  transition: background 0.3s ease;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.navigator-filter-select-list label:hover,
.navigator-filter-select-list label.current {
  background-color: #ededed;
}
.navigator-filter-select-list label img {
  vertical-align: text-bottom;
}
.navigator-filter-select-list input[type=checkbox] {
  cursor: pointer;
}
.navigator-filter-select-list .single {
  padding: 5px 10px;
}
.navigator-filter-select-list .line {
  height: 1px;
  margin: 5px 0;
  background: #cdcdcd;
}
.navigator-filter-select-list:not(.hidden) + .navigator-filter-select-list {
  margin-top: 5px;
  border-top: 1px solid #cdcdcd;
}
.navigator-filter-search {
  position: relative;
  margin: 10px 26px 10px 10px;
}
.navigator-filter-search input {
  width: 100%;
  height: 26px;
  padding: 0 7px;
  border: 1px solid #cdcdcd;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.fetching .navigator-filter-search:after {
  content: ' ';
  position: absolute;
  top: 6px;
  right: -21px;
  display: block;
  width: 16px;
  height: 16px;
  background: #ffffff url(../images/loading.gif) no-repeat center center;
}
.navigator-filter-load-more {
  display: none;
  height: 26px;
  line-height: 26px;
  background-color: #efefef;
  text-align: center;
  cursor: pointer;
  transition: background 0.3s ease;
}
.navigator-filter-load-more:hover {
  background-color: #dddddd;
}
.navigator-filter-favorite {
  position: absolute;
  top: 0;
  left: 0;
}
.navigator-filter-favorite-toggle {
  width: 16px;
  height: 36px;
  background: url('../images/navigator/favorite-filters.png') no-repeat center center;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .navigator-filter-favorite-toggle {
    background-image: url(../images/navigator/favorite-filters@2x.png);
    background-size: 16px 14px;
  }
}
.navigator-filter-more-criteria {
  font-size: 13px;
}
.navigator-results .notes {
  margin-top: -10px;
  padding-left: 10px;
  padding-right: 10px;
  border-top: none;
}
.navigator-results #issues-list {
  margin: 0 10px;
}
.navigator-results #issue-filters-operations {
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
