/*
 * Fonts
 */
/*
 * Colors
 */
.navigator-filter-shown {
  overflow: hidden;
}
.navigator-filters {
  margin-bottom: 10px;
  border-bottom: 1px solid #cdcdcd;
  background: #efefef;
  font-size: 0;
}
.navigator-filters-list {
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
}
.navigator-filters-actions {
  display: inline-block;
  vertical-align: middle;
  margin-left: 20px;
  font-size: 13px;
}
.navigator-filter {
  display: inline-block;
  vertical-align: top;
  height: 36px;
  line-height: 36px;
  padding: 0 10px;
  white-space: nowrap;
  cursor: pointer;
  transition: background 0.3s ease;
}
.navigator-filter:hover {
  background-color: #e2e2e2;
}
.navigator-filter.active {
  position: relative;
  padding: 0 9px;
  border-left: 1px solid #cdcdcd;
  border-right: 1px solid #cdcdcd;
  background: #fff;
}
.navigator-filter-disabled {
  display: none;
}
.navigator-filter-label {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  color: #333;
  font-size: 13px;
}
.navigator-filter-label:after {
  content: ":";
}
.navigator-filter-value {
  display: inline-block;
  vertical-align: middle;
  max-width: 120px;
  color: #333;
  font-size: 13px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.navigator-filter-value.default {
  color: #666;
}
.navigator-filter-range-input {
  width: 120px;
}
.navigator-filter-details {
  display: none;
  position: absolute;
  z-index: 1200;
  min-width: 100px;
  border: 1px solid #cdcdcd;
  background: #fff;
  font-size: 13px;
  transition: opacity 0.3s ease;
}
.navigator-filter-details.active {
  display: block;
}
.navigator-filter-details-inner {
  padding: 5px 10px;
}
.navigator-filter-select-list {
  min-width: 150px;
  max-width: 300px;
  max-height: 182px;
  padding: 5px 0;
  overflow-y: auto;
}
.navigator-filter-select-list label {
  display: block;
  padding: 5px 10px;
  transition: background 0.3s ease;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.navigator-filter-select-list label:hover {
  background-color: #ededed;
}
.navigator-filter-select-list input[type=checkbox] {
  position: relative;
  top: -1px;
  cursor: pointer;
}
.navigator-filter-select-list .single {
  padding: 5px 10px;
}
.navigator-filter-select-list .line {
  height: 1px;
  margin: 5px 0;
  background: #cdcdcd;
}
.navigator-filter-search {
  margin: 10px;
}
.navigator-filter-search input {
  width: 100%;
  height: 26px;
  padding: 0 7px;
  border: 1px solid #cdcdcd;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.navigator-filter-load-more {
  display: none;
  height: 26px;
  line-height: 26px;
  background-color: #efefef;
  text-align: center;
  cursor: pointer;
  transition: background 0.3s ease;
}
.navigator-filter-load-more:hover {
  background-color: #dddddd;
}
.navigator-filter-favorite {
  width: 16px;
  height: 36px;
  background: url('../images/star.png') no-repeat center center;
}
.navigator-filter-more-criteria {
  font-size: 13px;
}
