@import "variables";
@import "mixins";
@import "navigator/base";

.quality-gate {
  position: relative;
  padding: 0 10px;
  overflow: hidden;
}

.quality-gate-page-loader {
  position: relative;
  .square(24px);
  .navigator-fetching;
}

.quality-gate-header {
  position: relative;
  padding: 0 10px;
  border-left: 1px solid @darkGrey;
  border-right: 1px solid @darkGrey;
  border-bottom: 1px solid @darkGrey;
  background-color: @grey;
  font-size: 0;

  &.navigator-fetching:before {
    background-color: @grey;
    background-position: 10px center;
  }
}

.quality-gate-header-rename {
  padding: 8px 0 7px;

  input {
    vertical-align: middle;
    width: 200px;
    font-size: @baseFontSize;
  }
}

.quality-gate-details {
  margin-top: 10px;
}

.quality-gate-tabs {
  margin-bottom: 10px;
}

.quality-gate-new-condition {
  margin: 20px 0 10px;
  
  label {
    vertical-align: middle;
  }
}

.quality-gate-conditions {

  img, input, button, .action {
    vertical-align: middle !important;
  }
}

.quality-gate-condition-actions {
  position: relative;

  &.navigator-fetching:before {
    background-position: center left;
  }
}
