/*
 * Fonts
 */
/*
 * Colors
 */
/*
 * Icons
 */
/*
 * Transitions
 */
.quality-gates-navigator .navigator-header {
  left: 230px;
  border-color: #cdcdcd;
}
.quality-gates-navigator .navigator-header .spinner {
  margin-top: 9px;
}
.quality-gates-navigator .navigator-actions {
  top: 30px;
  height: 37px;
  width: 230px;
  padding: 0 10px;
  border-color: #cdcdcd;
  border-bottom-color: #efefef;
}
.quality-gates-navigator .navigator-actions .navigator-header-title {
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
}
.quality-gates-navigator .navigator-results {
  top: 67px;
  width: 229px;
  border-color: #cdcdcd;
}
.quality-gates-navigator .navigator-details {
  top: 67px;
  left: 230px;
  padding: 10px;
}
.quality-gates-page #footer {
  left: 230px;
}
.quality-gates-nav {
  background-color: #efefef;
}
.quality-gates-nav .navigator-results-list > li {
  border-color: transparent;
}
.quality-gates-nav .navigator-results-list > li:hover:not(.active):not(.empty) {
  background-color: #e1e1e1;
}
.quality-gates-nav .navigator-results-list > li.active {
  border-color: #4B9FD5;
}
.quality-gates-nav .navigator-results-list > li.empty {
  cursor: default;
}
.quality-gates-nav .navigator-results-list > li .line {
  padding-top: 2px;
  padding-bottom: 2px;
}
.quality-gates-nav .navigator-results-list > li .subtitle {
  text-transform: lowercase;
}
.quality-gate-section + .quality-gate-section {
  margin-top: 10px;
  padding-top: 20px;
}
.quality-gate-section-empty + .quality-gate-section {
  border-top: 1px solid #e1e1e1;
}
.quality-gate-section-name {
  margin-bottom: 10px;
  font-weight: bold;
  text-transform: uppercase;
}
.quality-gate-introduction {
  margin-bottom: 20px;
}
.quality-gate-new-condition {
  margin-bottom: 10px;
}
.quality-gate-condition-actions {
  position: relative;
}
.quality-gate-default-message {
  padding: 6px 5px;
  border: 1px solid #ddd;
  background-color: #efefef;
}
