.select-list-container {
  min-width: 500px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.select-list-control {
  margin-bottom: 10px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.select-list-list-container {
  border: 1px solid #bfbfbf;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.select-list-list-container.loading .select-list-list {
  display: none;
}

.select-list-list {
  overflow-x: hidden;
}

  .select-list-list > li {
    position: relative;
    display: block;
    margin-top: -1px;
    padding: 5px 10px;
    border-top: 1px solid #e0e0e0;
    color: #404040;
    transition: -webkit-transform 0.3s ease;
    transition: -ms-transform 0.3s ease;
    transition: transform 0.3s ease;
  }

  .select-list-list > li.removed {
    -webkit-transform: translateX(100%);
       -moz-transform: translateX(100%);
        -ms-transform: translateX(100%);
         -o-transform: translateX(100%);
            transform: translateX(100%);
  }

  .select-list-list > li.added {
    -webkit-transform: translateX(-100%);
       -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
         -o-transform: translateX(-100%);
            transform: translateX(-100%);
  }

  .select-list-list > li.progress {
    background: url(../images/loading.gif) no-repeat 10px 5px;
  }

  .select-list-list > li.progress .select-list-list-checkbox {
    visibility: hidden;
  }


.select-list-list-checkbox {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.select-list-list-item {
  display: inline-block;
  vertical-align: middle;
}

.select-list-control {
  height: 27px;
}

.select-list-check-control {
  float: left;
}

.select-list-check-control.disabled {
  filter: alpha(opacity=60);
  opacity: 0.6;
}

.select-list-check-control.disabled .select-list-control-button {
  background-color: #fff !important;
}

.select-list-control-button {
  position: relative;
  z-index: 1;
  display: inline-block;
  vertical-align: middle;
  width: 110px;
  height: 27px;
  line-height: 25px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  border: 1px solid #bfbfbf;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.select-list-control-button:hover {
  background-color: #f6f6f6;
}

.select-list-control-button:active,
.select-list-control-button.active {
  z-index: 2;
  background-color: #efefef;
}

.select-list-control-button + .select-list-control-button {
  margin-left: -1px;
}


.select-list-search-control {
  position: relative;
  float: right;
  height: 27px;
}

.select-list-search-control input {
  width: 170px;
  height: 100%;
  line-height: 27px\9;
  padding: 0 40px 0 10px;
  border: 1px solid #bfbfbf;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  transition: all 0.3s ease;
}

.select-list-search-control input:focus {
  outline: none;
  box-shadow: none;
}

.select-list-search-control input::-ms-clear {
  display: none;
}

.select-list-search-control-clear {
  position: absolute;
  top: 2px;
  right: 2px;
  width: 23px;
  height: 23px;
  line-height: 24px;
  background-color: #e0e0e0;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  text-align: center;
  transition: all 0.3s ease;
}

  .select-list-search-control.disabled .select-list-search-control-clear {
    filter: alpha(opacity=0);
    opacity: 0;
  }

  .select-list-search-control-clear:hover {
    background-color: #d6d6d6;
  }
