/* CSS optimized by http://www.cleancss.com */

@media print {
/* ------------------- PRINT ------------------- */
  html, body {
    font-size: 8pt;
  }
  a, a:link, a:visited {
    text-decoration: none;
    border-bottom: 0;
  }
  .noprint {
    display: none !important;
  }
  .print {
    display: inline;
    position: static;
    left: 0;
  }
  #hd, #sb {
    display: none;
  }
  .with_sidebar, .wo_sidebar {
    padding: 0 !important;
    margin: 0;
  }
  #content {
    margin-left: 0 !important;
  }
}
@media screen {
  .print {
    display: none;
  }
}
html, body {
  height: 100%;
}
body {
  background-color: #FFF;
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
}
a {
  color: #444;
}

/*

  LAYOUT

*/
#container {
  height: auto !important;
}
#hd {
  background: #262626;
  padding: 0 5px;
  height: 30px;
  line-height: 28px;
  font-size: 93%;
  margin: 0 10px;
}
#crumbs ol, #nav ol {
  list-style-type:none;
  padding: 0;
  margin:0;
  
}
#crumbs li {
  float: left;
  margin:0;
  color: #fff;
  padding: 0 10px 0 5px;
}
#nav li {
  float: right;
  margin:0;
  line-height: 29px;
  color: #fff;
  padding: 0 0 0 10px;
}
#crumbs li a, #nav li a {
  color: #fff;
  vertical-align: middle;
}
#crumbs li a:link, #crumbs li a:visited, #nav li a:link, #nav li a:visited {
  text-decoration:none;
}
#crumbs li a:hover, #crumbs li a:focus, #nav li a:hover, #nav li a:focus {
  text-decoration:underline;
}
#crumbs li img, #nav li img {
  vertical-align: text-bottom;
}
#nonav {
  text-align: left;
  margin: 50px 180px 0;
}
#ft {
  height: 30px;
}
#body {
  clear: both;
}
.with_sidebar {
  padding-left: 160px;
}
.wo_sidebar {
  padding-left: 20px;
}
#content {
  margin: 0 10px 0 10px;
  padding-top: 10px;
  position: relative;
  min-height: 400px;
}
#sb {
  position: absolute;
  width: 150px;
  left: 10px;
  top: 30px;
  float: none;
  margin: 0;
}
#sidebar {
  background-color: #CAE3F2;
  color: #262626;
  text-align: left;
  line-height: 1.1em;
  border: 2px solid #4b9fd5;
  border-top: 0;
  padding: 10px 0;
}
#sidebar li {
  list-style-type: none;
  padding: 3px 0 3px 8px;
}
#sidebar li.h2 {
  color: #003366;
  padding: 20px 0 3px 8px;
  text-transform: uppercase;
  font-size: 100% !important;
  font-weight: bold;
}
#sidebar .selected {
  background-color: #4b9fd5;
}
#sidebar a, #sidebarpages a:visited {
  text-decoration: none;
  border-bottom: 0;
}

#sidebar a:hover {
  color: #4b9fd5;
}
#sidebar .selected a, #sidebar .selected a:hover, #sidebar.selected a:visited {
  font-weight: bold;
  color: #efefef;
}
#logo {
  text-align: center;
  padding: 8px 0 0 0;
}
#logo a {
  text-decoration: none;
  border-bottom-width: 0;
}
#logo img {
  display: block;
}
#sidebarconf {
  background-color: #eee;
  border: 2px solid #ccc;
  color: #666;
  line-height: 1.1em;
  margin-top: 10px;
  padding: 10px;
}
.nolayout {
  padding: 10px;
}

/* ------------------- PROJECTS SEARCH FORM ------------------- */
#projectSearch {
  color: #444;
  margin: 4px 0 0 0;
}
#projectResults {
  position: relative;
  background: #fff;
  color: #111;
  line-height: 1em;
  border: 1px solid #ccc;
  z-index: 999999;
  margin: 0;
  padding: 0;
}
#projectResults ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#projectResults ul li.selected {
  background-color: #4b9fd5;
  color: #fff;
  margin: 0;
}
#projectResults ul li {
  float: none;
  display: block;
  list-style-type: none;
  cursor: pointer;
  color: #333;
  margin: 0;
  padding: 5px 10px;
  line-height: 1em;
}
#projectResults strong {
  font-weight: bold;
}
/*
  FOOTER
*/
#ftlinks {
  background: #fff;
  color: #262626;
  text-align: center;
  border-top: 1px solid #fff;
  font-size: 85%;
  padding: 4px 0;
  margin-top: 10px;
}
#ftlinks a {
  color: #333;
}


/*
  GENERAL
*/
.loading {
  background-image: url("../images/loading.gif");
  background-position: 4px 2px;
  background-repeat: no-repeat;
  color: #444;
  padding: 3px 25px;
}

.right {
  text-align: right;
}

.left {
  text-align: left;
}
code {
  font-size: 93%;
}

.hidden {
  display: none;
  visibility: hidden;
}

.clear {
  height: 0;
  clear: both;
}

.note {
  color: #777;
  font-size: 93%;
  font-weight: normal;
}

.crossout {
  text-decoration: line-through;
}

.small {
  font-size: 85%;
}
a.external {
	background: url('../images/links/external.png') no-repeat 100% 0;
	padding: 0 16px 0px 0;
}
.fav {
  display: inline-block;
  background: url('../images/star.png') no-repeat 100% 0;
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}
.notfav {
  display: inline-block;
  background: url('../images/star_off.png') no-repeat 100% 0;
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}
button, .button {
  max-height: 20px;
}
/* ------------------- PAGE ------------------- */
h1 {
  color: #444;
  font-size: 16px;
}
h1 a {
  color: #444;
  text-decoration: none;
  border-bottom: 1px dotted #2B547D;
}
h2, .h2 {
  color: #2B547D;
  font-size: 16px;
  font-weight: normal;
}
h2 a {
  color: #2B547D;
  text-decoration: none;
  border-bottom: 1px dotted #2B547D;
}
h3, .h3 {
  font-size: 100%;
  font-weight: bold;
}

h4, .h4 {
  font-size: 85%;
  color: #777;
}
.subtitle {
  color: #777;
  font-size: 85%;
  margin: 0;
  padding: 0;
}
.notes {
  color: #777;
  font-size: 85%;
  margin-bottom: 10px;
  background-color: #f4f4f4;
  border: 1px solid #cdcdcd;
  padding: 4px;
}
.treemap {
  position: relative;
  cursor: pointer;
}

.treemap .label {
  color: #fff;
  padding: 2px;
}

/* ------------------- MESSAGES ------------------- */
.warning {
  border: solid 1px #FFD324;
  background-color: #FFF6BF;
  color: #514721;
  margin: 0 0 4px;
  padding: 4px;
}

.error {
  border: 1px solid red;
  background-color: #FF5252;
  color: #eee;
  margin: 0 0 4px;
  padding: 4px;
}

.error a {
  color: #eee;
}

.notice {
  border: 1px solid #9c9;
  background-color: #e2f9e3;
  color: #060;
  margin: 0 0 4px;
  padding: 4px;
}

/* ------------------- LOGIN FORM ------------------- */
#login_form {
  border: 1px solid #4b9fd5;
  width: 230px;
  text-align: left;
  background-color: #d4e7ff;
  padding: 15px 20px;
}

#login_form h4 {
  text-align: left;
  font-weight: bold;
  color: #036;
}

#login_form p {
  padding: 3px 0 10px;
}
#login_form .desc {
  font-size: 85%;
  font-weight: normal;
}
/* ------------------- DOCUMENTATION --------------------- */
.doc p {
	margin: 10px 0;
}
.doc pre, pre.code {
	color: #777;
	background-color: #f4f4f4;
	padding: 10px;
	margin: 10px 0;
	border: 1px dashed #777;
	font-size: 93%;
	line-height: 1.5em;
}

/* ------------------- TABLES ------------------- */
.odd {
  background-color: #fff;
}
.odd.selected, .even.selected, .odd.selected a, .even.selected a, .even.selected span, .odd.selected span {
  background-color: #4b9fd5;
  color: #fff;
}
table.data > thead > tr > th {
  font-size: 93%;
  padding: 4px 7px 4px 3px;
  font-weight: bold;
}
table.data > tfoot > tr > td {
  font-size: 93%;
  color: #777;
  padding: 4px 0 4px 10px;
}

table.data > tbody > tr > td {
  padding: 4px 7px 4px 3px;
  vertical-align: text-top;
}
table.data td.small, table.data th.small {
  padding: 0;
  white-space: nowrap;
}
table.data th img, table.data td img {
  vertical-align: top;
}
.data thead tr.total {
  background-color: #eee;
  font-weight: normal;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
}
.data thead tr.total th {
  font-weight: normal;
}
.data thead tr.blank {
  background-color: #fff;
  line-height: 15px;
}
.data tr.highlight {
  background-color: #CAE3F2;
  border-top: 1px solid #4B9FD5;
  border-bottom: 1px solid #4B9FD5;
}
.data input, .data select, .data button {
  vertical-align: baseline;
}
.hoverable:hover {
  background-color: #CAE3F2;
}

.hoverable:hover a {
  color: #111;
}

table.sortable .sortcol {
  cursor: pointer;
  padding-right: 15px;
  background-repeat: no-repeat;
  background-position: right center;
  text-decoration: underline;
}

table.sortable .sortasc {
  background-image: url('../images/bullet_arrow_up.gif');
  background-position: right center;
}

table.sortable .sortdesc {
  background-image: url('../images/bullet_arrow_down.gif');
  background-position: right center;
}

table.sortable .nosort {
  cursor: default;
}

table.spaced th {
  font-weight: bold;
  color: #333;
  padding: 4px 5px;
}

table.spaced td, table.matrix tfoot td {
  padding: 3px 5px;
  line-height: 18px;
}
table.spaced td img {
  vertical-align: text-bottom;
}

table.spacedicon th {
  font-weight: bold;
  color: #333;
  padding: 4px 5px;
}

table.spacedicon td {
  padding: 0px 5px;
  height: 24px;
}

.thin {
  width: 1%;
}
td.sep {
	width: 10px;
}
.spacer {
  width: 5px;
  display: inline-block;
}
.formError {
  display: inline-block;
  background-color: #FF9090;
  color: #000;
  padding: 0 5px;
}
table.form td {
  padding: 2px 5px;
  vertical-align: top;
}
table.form td.first {
  min-width: 120px;
  text-align: right;
  font-weight: bold;
  vertical-align: middle;
}
table.form td img {
  vertical-align: bottom;
}
.admin hr {
  background: transparent;
  border-left:  none;
  border-right: none;
  border-top:   none;
  border-bottom: 1px dashed #FFD324;
  height: 1px;
}



/* OPERATIONS */
#page-operations {
  display: inline-block;
  width: 100%;
}
ul.operations {
  float: right;
  list-style-type: none;
  margin: 0;
  background-color: #f4f4f4;
  border: 1px solid #cdcdcd;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}
ul.operations li {
  float: left;
  margin: 0;
  padding: 2px 7px;
  font-size: 85%;
  border-right: 1px solid #cdcdcd;
}
ul.operations li.last {
  border-right-width:0;
}
ul.operations li a {
  color: #555;
}



/* RESOURCE VIEWER */
.resourceName h1 {
	margin: 5px 0;
}
#source {
  margin: 1px;
  padding: 15px 2px 2px;
}

#source h2 {
  border-bottom: 1px solid #dedede;
  margin-bottom: 5px;
  font-size: 100%;
  font-weight: bold;
  padding: 0 0 5px 5px;
}

#source pre {
  font-size: 93%;
  text-align: left;
  margin-top: 10px;
  border: 1px solid #ccc;
  background-color: #fff;
}

#source span {
  padding-left: 4px;
}

#source .error {
  background-color: #FF9090;
  border: 0;
  color: #000;
  margin: 0;
  padding: 0;
}

#source .warning {
  background-color: #FFFFAF;
  border: 0;
  color: #000;
  margin: 0;
  padding: 0;
}

#source .info {
  background-color: #80FF80;
  border: 0;
  color: #000;
  margin: 0;
  padding: 0;
}

#source .ln {
  color: #666;
  padding-right: 4px;
  border-right: solid 1px #ccc;
  margin-right: 4px;
  background-color: #eee;
}

#source .big {
  font-size: 100%;
  text-align: left;
}
#gwtpage {
	width: 100%;
	clear: both;
}
.gwt-SourcePanel {
  font-size: 12px;
  background-color: #fff;
  border-top: 1px solid silver;
  border-bottom: 1px solid silver;
  width: 100%;
}

.gwt-SourcePanel .ln {
  background-color: #eee;
  white-space: nowrap;
  text-align: right;
  color: #777;
  border-right: 1px solid silver;
  padding: 0 3px;
  height: 14px;
}

.gwt-SourcePanel .src {
  padding: 0 5px;
  height: 14px;
}

.gwt-SourcePanel .val {
  background-color: #eee;
  border-right: 1px solid silver;
  text-align: right;
  color: #777;
  padding: 0 3px;
  height: 14px;
  white-space: nowrap;
}

.gwt-SourcePanel .red {
  background-color: #F0C8C8;
}

.gwt-SourcePanel .orange {
  background-color: #FFF6BF;
  color: #514721;
}

.gwt-SourcePanel .green {
  background-color: #ACE97C;
}

.gwt-SourcePanel .msg {
  font-family: sans-serif;
  vertical-align: top;
  padding: 3px 0;
  height: 1.3em;
  background-position: 5px 1px;
  background-repeat: no-repeat;
}
.gwt-SourcePanel .bigln {
  font-family: sans-serif;
  vertical-align: top;
  padding: 3px 0;
  height: 1.6em;
  background-position: 5px 1px;
  background-repeat: no-repeat;
  background-color: #eee;
}

.gwt-SourcePanel .warn {
  font-family: sans-serif;
  vertical-align: top;
  background-color: #FFFFC9;
  border: 1px solid #DCDCDC;
  border-top: none;
  color: black;
  line-height: 1.6em;
  margin: 0;
  padding: 0 0 2px 5px;
}

.gwt-SourcePanel .msg.error {
  background-image: url("../images/exclamation.png");
}

.gwt-SourcePanel .msg.warning {
  background-image: url("../images/warning.png");
}

.gwt-SourcePanel .msg.BLOCKER {
  padding: 1px 5px 1px 25px;
  background-image: url("../images/priority/BLOCKER.gif");
  background-color: #FF5252;
  color: #eee;
  border: 1px solid red;
  margin: 1px 0 1px 5px;
  height: 100%;
}

.gwt-SourcePanel .msg.CRITICAL {
  padding: 1px 5px 1px 25px;
  background-image: url("../images/priority/CRITICAL.gif");
  background-color: #FF5252;
  color: #eee;
  border: 1px solid red;
  margin: 1px 0 1px 5px;
  height: 100%;
}

.gwt-SourcePanel .msg.MAJOR {
  padding: 1px 5px 1px 25px;
  background-image: url("../images/priority/MAJOR.gif");
  background-color: #FF5252;
  color: #eee;
  border: 1px solid red;
  margin: 1px 0 1px 5px;
  height: 100%;
}

.gwt-SourcePanel .msg.MINOR {
  padding: 1px 5px 1px 25px;
  background-image: url("../images/priority/MINOR.gif");
  background-color: #FFF6BF;
  border: 1px solid #FFD324;
  margin: 1px 0 1px 5px;
  height: 100%;
}

.gwt-SourcePanel .msg.INFO {
  padding: 1px 5px 1px 25px;
  background-image: url("../images/priority/INFO.gif");
  background-color: #FFF6BF;
  border: 1px solid #FFD324;
  margin: 1px 0 1px 5px;
  height: 100%;
}

.gwt-ViewerHeader {
  background-color: #eee;
  border-bottom: 1px solid silver;
  margin-bottom: 8px;
  color: #333;
  vertical-align: bottom;
}

.gwt-ViewerHeader .metric {
  padding: 8px 2px 5px 10px;
  font-size: 93%;
  text-align: right;
  font-weight: bold;
}

.gwt-ViewerHeader .value {
  padding: 8px 15px 5px 2px;
  font-size: 93%;
  text-align: left;
  font-weight: normal;
}

.gwt-ViewerHeader .cell {
  padding: 3px 10px;
}

.gwt-ViewerHeader .big {
  padding: 4px 10px 2px 10px;
  font-size: 152%;
  font-weight: bold;
}

/* ------------------- DASHBOARD ------------------- */
.page_title {
  margin: 0 0 7px 0;
}
.widget {
  border: 1px solid #ccc;
  margin-bottom: 10px;
  padding: 8px 5px 5px 8px;
}

.color_OK {
  background-color: #6ec563;
  color: #fff;
}

.color_WARN {
  background-color: #ff8500;
  color: #fff;
}

.color_ERROR {
  background-color: #f93f40;
  color: #FFF;
}

#alerts_widget {
  margin-bottom: 10px;
  padding: 5px 5px 5px 10px;
}

#alerts_widget img {
  vertical-align: bottom;
}

.dashbox {
  float: left;
  vertical-align: top;
  text-align: left;
  min-width: 60px;
  padding: 0 7px 7px 0;
}

.big {
  font-size: 152%;
  font-weight: bold;
}

.adminportlet {
  border: 2px dashed #ccc;
  margin-bottom: 10px;
  padding: 10px;
}

/* ------------------- HELP ------------------- */
.help {
  border: 1px solid #ccc;
  background-color: #eee;
  color: #444;
  padding: 5px;
}

.help h2 {
  padding-left: 23px;
  color: #444;
  vertical-align: bottom;
  font-weight: bold;
  background-repeat: no-repeat;
  background-position: left center;
  background-image: url('../images/information.png');
}

.help p {
  padding: 5px 0;
}

/* ------------------- FORMS ------------------- */
.admintable {
  border: solid 1px #FFD324;
  background-color: #FFF6BF;
  color: #111;
}
.admintable td {
  padding: 5px 10px;
}
.admintable span.desc {
  font-size: 85%;
  font-weight: normal;
}

/* ------------------- BOXES ------------------- */
.box {
  border: 1px solid silver;
  background-color: #f4f4f4;
  margin-bottom: 5px;
  color: #444;
  padding: 10px;
}

.box a, .box a:visited {
  color: #555;
}

.admin {
  border: solid 1px #FFD324;
  background-color: #FFF6BF;
  color: #514721;
  margin-bottom: 5px;
  padding: 5px;
}

.admin h3 {
  font-size: 100%;
  text-align: left;
  font-weight: bold;
  color: #333;
  padding: 5px 10px;
}

.column {
  vertical-align: top;
  text-align: left;
  padding: 0 0 0 10px;
}

.column.first {
  padding: 0;
}

.column h3 {
  padding: 3px 0;
}

.scrollable {
  height: 144px;
  overflow: auto;
  border: 1px solid #ccc;
  margin-right: 17px;
}

html>body .scrollable {
  margin-right: 0;
}

.red {
  color: #8B0000;
}

.green {
  color: #050;
}

ul.bullet {
  list-style-image: url("../images/bullet.png");
  margin: 3px 0 3px 25px;
}

ul.bullet li {
  padding: 2px 0;
}

.rule_title {
  font-size: 110%;
}

.tabs {
  height: 20px;
  border-bottom: 1px solid #DDD;
  margin: 0;
  padding: 0;
}
.tablinks {
  float:right;
  padding-right: 10px;
  align: right;
}
.tablinks a {
  text-decoration: underline;
  color: #555;
}
.tabs li {
  display: inline;
  list-style-type: none;
  font-weight: normal;
  color: #555;
  background-color: #FFF;
  vertical-align: baseline;
  white-space: nowrap;
  margin: 0;
  border: 0;
  padding: 0;
}
.tabs li a:link, .tabs li a:visited {
  float: left;
  background-color: #f4f4f4;
  color: #555;
  vertical-align: bottom;
  height: 17px;
  margin: 0 1px 0 0;
  padding: 1px 10px;
  border: 1px solid #cdcdcd;
  border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
}
.tabs li a.selected:link, .tabs li a.selected:visited {
  text-decoration: none;
  background-color: #4B9FD5;
  color: #efefef;
  font-weight: bold;
  border: 1px solid #CAE3F2;
  margin: 0 1px 0 0;
}
.tabs-panel {
  border-right: 1px solid #DDD;
  border-bottom: 1px solid #DDD;
  border-left: 1px solid #DDD;
  border-top-width: 0;
  padding: 10px;
}
.smalltabs {
  line-height: 1.5em;
  border-bottom: 1px solid #ccc;
  vertical-align: bottom;
  font-size: 85%;
}
.smalltabs .tab {
  font-weight: normal;
  text-decoration: none;
  color: #777;
  background-color: #FFF;
  border: 1px solid silver;
  border-bottom: 0;
  vertical-align: middle;
  white-space: nowrap;
  margin-right: 5px;
  padding: 0.1em 0.5em;
}

.smalltabs .tab.selected {
  font-weight: bold;
  background-color: #EEE;
}

.smalltabs .tab.selected a {
  text-decoration: none;
  background-color: #EEE;
  color: #777;
}

.smalltabs .tab a {
  text-decoration: none;
  background-color: #FFF;
  color: #777;
}

.smalltabs .tab a:visited {
  text-decoration: none;
}

.smalltabs .tab.selected a:visited {
  text-decoration: none;
}

.tabbed {
  border: 1px solid silver;
  border-top: 0;
  padding: 5px;
}

#time_machine {
  margin: 10px 0;
}

#time_machine #selected {
  background-image: url("../images/timemachine.png");
  background-repeat: repeat-x;
  background-position: left;
  background-color: #9D9D9D;
  border: 2px solid #ccc;
  color: #fff;
}

#time_machine #selected a {
  border-bottom: 1px dotted #fff;
}

#time_machine #selected a.nolink {
  border-bottom: 0;
}

#time_machine #selector {
  background-color: #eee;
  border: 1px solid #ccc;
}
.comments {
  color: #777;
  font-size: 93%;
  margin-bottom: 10px;
  padding: 4px;
}

.little {
  font-size: 80%;
}

.tooltip {
  position: absolute;
  background-color: #CAE3F2;
  border: 1px solid #4b9fd5;
  max-width: 480px;
  text-align: left;
  color: #262626;
}

.tooltip .content {
  color: #111;
  padding: 4px;
}

.tooltip .title {
  color: #111;
  font-weight: bold;
  font-size: 100%;
  padding: 2px 4px;
}

.tooltip td {
  margin: 0;
  padding: 2px;
}

.tooltip p {
  margin: 0;
  padding: 0;
}

.alert_WARN {
  background-color: #ff8500;
  color: #fff;
  margin: 0;
  padding: 0 3px;
}

.alert_ERROR {
  background-color: #f93f40;
  color: #fff;
  margin: 0;
  padding: 0 3px;
}

#comparison span.best {
  font-size: 108%;
  font-weight: bold;
}



.gwt-TabBar {
  font-size: 93%;
  width: 100%;
  border-bottom: 1px solid #cdcdcd;
}

.gwt-TabBarFirst {
  width: 0;
}

.gwt-TabBar .gwt-TabBarItem {
  cursor: pointer;
  font-weight: normal;
  text-decoration: underline;
  color: #555;
  background-color: #f4f4f4;
  vertical-align: middle;
  white-space: nowrap;
  padding: 0.3em 0.6em;
  border: 1px solid #cdcdcd;
  border-bottom: none;
  border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
}

.gwt-TabBar .gwt-TabBarItem-wrapper {
  padding: 0 0 0 1px;
}

.gwt-TabBar .gwt-TabBarItem-selected {
  cursor: default;
  font-weight: bold;
  text-decoration: underline;
  color: #efefef;
  background-color: #4B9FD5;
  border-bottom: none;
  vertical-align: middle;
  white-space: nowrap;
  padding: 0.3em 0.6em;
}

.gwt-TabPanelBottom {
  width: 100%;
}

.rule_desc {
  color: #444;
  padding: 2px 0;
}

.rule_desc li {
  list-style: disc outside;
  padding: 2px;
}

.rule_desc ul {
  list-style: none outside;
  padding-left: 30px;
}

.rule_desc pre, .rule_desc p {
  padding: 7px;
}

.rule_desc pre {
  margin: 10px 0;
  font-family: "Courier New", Courier, monospace;;
  border: 1px dashed #aaa;
  font-size: 93%;
}

.tip:hover {
  background: #FFF;
  position: relative;
  z-index: 100;
}

.tip span {
  display: none;
  margin-left: -20px;
  padding: 4px 5px;
}

.tip:hover span {
  display: inline;
  position: absolute;
  background: #CAE3F2;
  border: 1px solid #4b9fd5;
  color: #262626;
  white-space: nowrap;
  text-decoration: none;
}
.hbar {
  float: left;
  border: none;
  clear: both;
  width: 4em;
  margin: 0;
  padding: 2px 0 0;
}

.hbar li {
  background-color: #777;
  color: #FFF;
  font-family: Verdana, Tahoma, Arial, sans-serif;
  font-size: xx-small;
  letter-spacing: -0.075em;
  list-style: none;
  line-height: 1.1em;
  text-align: right;
  vertical-align: middle;
  padding: 0.1em;
}

div.barchart {
  border: 0;
  margin: 0;
  padding: 0 5px;
  float: left;
}

div.barchart > div {
  background-color: #4B9FD5;
  height: 0.9em;
}

table.matrix thead {
  background-color: #CAE3F2;
  border: 1px solid #4b9fd5;
}

table.matrix thead th {
  text-align: right;
  border-right: 1px solid #4b9fd5;
  padding: 4px 5px;
}

table.matrix tbody td {
  border: 1px solid #ddd;
  margin: 0;
  padding: 4px 5px;
}

table.matrix tbody td.title {
  border: none;
  font-weight: bold;
  margin: 0;
  padding: 5px 0 0 5px;
}


a.nolink, .dashbox a, .dashbox a:visited {
  text-decoration: none;
}

a.nolink:hover, .dashbox a:hover, .dashbox a.action, .dashbox a.action:visited {
  text-decoration: underline;
}

h1 strong, .dashbox .title, .gwt-SourcePanel .sources .msg li strong {
  font-weight: bold;
}

h4 a, h4 a:visited, .gray, table.data tfoot a, table.data tfoot a:visited {
  color: #777;
}

.even, table.sortable tr.rowodd {
  background-color: #f4f4f4;
}

.bordered, table.data > thead {
  border-bottom: 1px solid #ddd;
}

table.data > tbody {
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
}

table.data, table.spaced, .gwt-SourcePanel .sources {
  width: 100%;
}

.hoverable.selected a, #time_machine #selected h3, #time_machine #selected a {
  color: #fff;
}

#time_machine td, .gwt-SourcePanel .sources td {
  vertical-align: top;
}
/* Button "More" in source viewers. See sonar-gwt-api, class SourcePanel */
#more_source {
  margin: 5px 10px;
}




/* GENERIC STYLES */
.line-block {
  display: inline-block;
  width: 100%;
}
.line-info {
  background: url('../images/information.png') no-repeat scroll left 50% transparent;
  padding-left:18px
}
div.break10 {
  clear: both;
  height: 10px;
}
div.break30 {
  clear: both;
  height: 30px;
}
.marginbottom10 {
  margin-bottom: 10px;
}
.marginright10 {
  margin-right: 10px;
}
.marginleft10 {
  margin-left: 10px;
}
.width100 {
  width: 100%;
}
ul.horizontal {
  list-style-type: none;
}
ul.horizontal li {
  float: left;
  position: relative;
}
table.nowrap td, td.nowrap {
  white-space: nowrap;
}
.background-gray {
  background-color: #f4f4f4;
  color: #444;
}

/* CONFIGURATION OF Q PROFILES */
.bulk-edit {
  display: block;
  background: url("../images/bulk-edit.png") no-repeat scroll left 50% transparent;
  padding: 2px 0 2px 20px;
}
.csv {
  display: block;
  background: url("../images/csv.png") no-repeat scroll left 50% transparent;
  padding: 2px 0 2px 20px;
}
.add {
  display: block;
  background: url("../images/add.png") no-repeat scroll left 50% transparent;
  padding: 2px 0 2px 20px;
}
.restore {
  display: block;
  background: url("../images/restore.gif") no-repeat scroll left 50% transparent;
  padding: 2px 0 2px 20px;
}