/*
 * Fonts
 */
/*
 * Colors
 */
/*
 * Icons
 */
/*
 * Transitions
 */
input[type=text],
input[type=password],
input[type=email],
textarea {
  border: 1px solid #cdcdcd;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #fff;
  color: #444444;
  transition: border-color 0.3s ease;
}
input[type=text]:active,
input[type=password]:active,
input[type=email]:active,
textarea:active,
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
textarea:focus {
  border-color: #4b9fd5;
  box-shadow: none;
  outline: none;
}
input[type=text],
input[type=password],
input[type=email] {
  height: 22px;
  padding: 0 3px;
}
textarea {
  padding: 3px;
}
button,
.button,
input[type=submit],
input[type=button] {
  display: inline-block;
  vertical-align: baseline;
  height: 22px;
  margin: 0 1px;
  padding: 2px 10px;
  border: 1px solid #cdcdcd;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #f4f4f4;
  color: #444444;
  font-weight: bold;
  font-size: 13px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  transition: border-color 0.3s ease;
}
button:hover,
.button:hover,
input[type=submit]:hover,
input[type=button]:hover {
  border-color: #5281a0;
  background: #4b9fd5;
  color: #fff;
}
button:active,
.button:active,
input[type=submit]:active,
input[type=button]:active {
  border-color: #2790c0;
  background: #78bdea;
  color: #fff;
}
button:focus,
.button:focus,
input[type=submit]:focus,
input[type=button]:focus {
  border-color: #4b9fd5;
}
button[disabled],
.button[disabled],
input[type=submit][disabled],
input[type=button][disabled],
button[disabled]:hover,
.button[disabled]:hover,
input[type=submit][disabled]:hover,
input[type=button][disabled]:hover,
button[disabled]:active,
.button[disabled]:active,
input[type=submit][disabled]:active,
input[type=button][disabled]:active,
button[disabled]:focus,
.button[disabled]:focus,
input[type=submit][disabled]:focus,
input[type=button][disabled]:focus {
  color: #bbb;
  border-color: #ddd;
  background: #ebebeb;
  cursor: default;
}
