<div id="resource_container"> </div>

<% if @display_viewers %>
<script>
  <% if @drilldown.highlighted_resource %>
    d(<%= @drilldown.highlighted_resource.id -%>, true);
  <% else %>
    d(<%= @drilldown.resource.id -%>, false);
  <% end %>
</script>
<% end %>
