<% content_for :script do %>
  <script data-main="<%= ApplicationController.root_context -%>/js/quality-gate/app" src="<%= ApplicationController.root_context -%>/js/require.js"></script>
<% end %>

<div id="quality-gate-page-loader" class="navigator-page-loader">
  <i class="spinner"></i>
</div>
