<div class="search-navigator sticky search-navigator-extended-view" id="quality-gates"></div>
<script>
  require(['apps/quality-gates/app'], function (App) {
    App.start({ el: '#quality-gates' });
  });
</script>
