<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mappei.dtd">

<mapper namespace="org.sonar.core.issue.db.ActionPlanStatsMapper">

  <sql id="actionPlanColumns">
    ap.id as id,
    ap.kee as kee,
    ap.name as name,
    ap.description as description,
    ap.user_login as userLogin,
    ap.project_id as projectId,
    ap.status as status,
    ap.deadline as deadLine,
    ap.created_at as createdAt,
    ap.updated_at as updatedAt
  </sql>

  <select id="findByProjectId" parameterType="map" resultType="ActionPlanStats">
    select <include refid="actionPlanColumns"/>, count(total_issues.id) as totalIssues, count(open_issues.id) as openIssues
    from action_plans ap
    left join issues total_issues on total_issues.action_plan_key = ap.kee
    left join issues open_issues on open_issues.id = total_issues.id and open_issues.resolution is null
    <where>
      and ap.project_id = #{projectId}
      and ap.status = #{status}
    </where>
    group by ap.id, ap.kee, ap.name, ap.description, ap.user_login, ap.project_id, ap.status, ap.deadline, ap.created_at, ap.updated_at
    <if test="sort != null">
    order by
    <choose>
      <when test="'DEADLINE'.equals(sort)">
        ap.deadline
      </when>
    </choose>
    <choose>
      <when test="true.equals(asc)">
        asc
      </when>
      <otherwise>
        desc
      </otherwise>
    </choose>
    </if>
  </select>

</mapper>