<?xml version="1.0" encoding="UTF-8" ?>

<!--
  ~ SonarQube, open source software quality management tool.
  ~ Copyright (C) 2008-2013 SonarSource
  ~ mailto:contact AT sonarsource DOT com
  ~
  ~ SonarQube is free software; you can redistribute it and/or
  ~ modify it under the terms of the GNU Lesser General Public
  ~ License as published by the Free Software Foundation; either
  ~ version 3 of the License, or (at your option) any later version.
  ~
  ~ SonarQube is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
  ~ Lesser General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Lesser General Public License
  ~ along with this program; if not, write to the Free Software Foundation,
  ~ Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mappei.dtd">

<mapper namespace="org.sonar.core.issue.db.IssueChangeMapper">

  <sql id="issueChangeColumns">
    c.id,
    c.kee as kee,
    c.issue_key as issueKey,
    c.user_login as userLogin,
    c.change_type as changeType,
    c.change_data as changeData,
    c.created_at as createdAt,
    c.updated_at as updatedAt
  </sql>

  <insert id="insert" parameterType="IssueChange" useGeneratedKeys="false" keyProperty="id">
    INSERT INTO issue_changes (kee, issue_key, user_login, change_type, change_data, created_at, updated_at)
    VALUES (#{kee}, #{issueKey}, #{userLogin}, #{changeType}, #{changeData}, #{createdAt}, #{updatedAt})
  </insert>

  <!-- Oracle -->
  <insert id="insert" databaseId="oracle" parameterType="IssueChange" keyColumn="id" useGeneratedKeys="false"
          keyProperty="id">
    <selectKey order="BEFORE" resultType="Long" keyProperty="id">
      select issue_changes_seq.NEXTVAL from DUAL
    </selectKey>
    INSERT INTO issue_changes (id, kee, issue_key, user_login, change_type, change_data, created_at, updated_at)
    VALUES (#{id}, #{kee}, #{issueKey}, #{userLogin}, #{changeType}, #{changeData}, #{createdAt}, #{updatedAt})
  </insert>

  <delete id="delete" parameterType="string">
    delete from issue_changes where kee=#{id}
  </delete>

  <update id="update" parameterType="map">
    update issue_changes set change_data=#{changeData}, updated_at=#{updatedAt} where kee=#{kee}
  </update>

  <select id="selectByIssuesAndType" parameterType="map" resultType="IssueChange">
    select
    <include refid="issueChangeColumns"/>
    from issue_changes c
    where c.change_type=#{changeType} and c.issue_key in (
    <foreach collection="issueKeys" item="key" separator=",">#{key}</foreach>
    )
    order by c.created_at
  </select>
</mapper>

