<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.sonar.core.issue.db.IssueFilterFavouriteMapper">

  <sql id="issueFilterFavouriteColumns">
    filter_favourites.id as id,
    filter_favourites.user_login as userLogin,
    filter_favourites.issue_filter_id as issueFilterId,
    filter_favourites.created_at as createdAt
  </sql>

  <select id="selectById" parameterType="long" resultType="issueFilterFavourite">
    select <include refid="issueFilterFavouriteColumns"/>
    from issue_filter_favourites filter_favourites
    <where>
      filter_favourites.id=#{id}
    </where>
  </select>

  <select id="selectByIssueFilterId" parameterType="long" resultType="issueFilterFavourite">
    select <include refid="issueFilterFavouriteColumns"/>
    from issue_filter_favourites filter_favourites
    <where>
      filter_favourites.issue_filter_id=#{issueFilterId}
      and filter_favourites.user_login=#{userLogin}
    </where>
  </select>

  <insert id="insert" parameterType="issueFilterFavourite" useGeneratedKeys="true" keyProperty="id">
    INSERT INTO issue_filter_favourites (user_login, issue_filter_id, created_at)
    VALUES (#{userLogin}, #{issueFilterId}, current_timestamp)
  </insert>

  <!-- Oracle -->
  <insert id="insert" databaseId="oracle" parameterType="issueFilterFavourite" keyColumn="id" useGeneratedKeys="true" keyProperty="id">
    <selectKey order="BEFORE" resultType="Long" keyProperty="id">
      select issue_filter_favourites_seq.NEXTVAL from DUAL
    </selectKey>
    INSERT INTO issue_filter_favourites (id, user_login, issue_filter_id, created_at)
    VALUES (#{id},#{userLogin}, #{issueFilterId}, current_timestamp)
  </insert>

  <delete id="delete" parameterType="int">
    delete from issue_filter_favourites where id=#{id}
  </delete>

  <delete id="deleteByIssueFilterId" parameterType="int">
    delete from issue_filter_favourites where issue_filter_id=#{issueFilterId}
  </delete>

</mapper>
