<form id="delete-project-form">
  <div class="modal-head">
    <h2>Delete Projects</h2>
  </div>
  <div class="modal-body">
    <div class="js-modal-messages"></div>
    Are you sure you want to delete selected projects?
  </div>
  <div class="modal-foot">
    <button id="delete-project-submit" class="button-red">Delete</button>
    <a href="#" class="js-modal-close" id="delete-project-cancel">Cancel</a>
  </div>
</form>
