.duplications-rating {
  position: relative;
  display: inline-flex;
  vertical-align: top;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border: 3px solid #ed7d20;
  border-radius: 24px;
  box-sizing: border-box;
}

.duplications-rating-small {
  width: 16px;
  height: 16px;
  border-width: 2px;
}

.duplications-rating-big {
  width: 40px;
  height: 40px;
  border-width: 3px;
}

.duplications-rating-huge {
  width: 60px;
  height: 60px;
  border-width: 4px;
  border-radius: 30px;
}

.duplications-rating-muted {
  border-color: #bdbdbd !important;
}

.duplications-rating-muted:after {
  background-color: #bdbdbd !important;
}

.duplications-rating:after {
  border-radius: 24px;
  content: '';
}

.duplications-rating-A {
  border-color: #00aa00;
}

.duplications-rating-A:after {
  display: none;
}

.duplications-rating-B {
  border-color: #b0d513;
}

.duplications-rating-B:after {
  width: 6px;
  height: 6px;
  background-color: #b0d513;
}

.duplications-rating-small.duplications-rating-B:after {
  width: 2px;
  height: 2px;
}

.duplications-rating-big.duplications-rating-B:after {
  width: 12px;
  height: 12px;
}

.duplications-rating-huge.duplications-rating-B:after {
  width: 18px;
  height: 18px;
}

.duplications-rating-C {
  border-color: #eabe06;
}

.duplications-rating-C:after {
  width: 8px;
  height: 8px;
  background-color: #eabe06;
}

.duplications-rating-small.duplications-rating-C:after {
  width: 6px;
  height: 6px;
}

.duplications-rating-big.duplications-rating-C:after {
  width: 16px;
  height: 16px;
}

.duplications-rating-huge.duplications-rating-C:after {
  width: 24px;
  height: 24px;
}

.duplications-rating-D {
  border-color: #ed7d20;
}

.duplications-rating-D:after {
  width: 12px;
  height: 12px;
  background-color: #ed7d20;
}

.duplications-rating-small.duplications-rating-D:after {
  width: 8px;
  height: 8px;
}

.duplications-rating-big.duplications-rating-D:after {
  width: 24px;
  height: 24px;
}

.duplications-rating-huge.duplications-rating-D:after {
  width: 36px;
  height: 36px;
}

.duplications-rating-E {
  border-color: #d4333f;
}

.duplications-rating-E:after {
  width: 14px;
  height: 14px;
  background-color: #d4333f;
}

.duplications-rating-small.duplications-rating-E:after {
  width: 10px;
  height: 10px;
}

.duplications-rating-big.duplications-rating-E:after {
  width: 28px;
  height: 28px;
}

.duplications-rating-huge.duplications-rating-E:after {
  width: 42px;
  height: 42px;
}
