.level {
  display: inline-block;
  width: auto;
  min-width: 80px;
  padding-left: 9px;
  padding-right: 9px;
  height: var(--controlHeight);
  line-height: var(--controlHeight);
  border-radius: var(--controlHeight);
  box-sizing: border-box;
  color: #fff;
  letter-spacing: 0.02em;
  font-size: var(--baseFontSize);
  font-weight: 400;
  text-align: center;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.35);
}

.level-small {
  width: auto;
  min-width: 64px;
  padding-left: 9px;
  padding-right: 9px;
  margin-top: -1px;
  margin-bottom: -1px;
  height: 18px;
  line-height: 18px;
  font-size: var(--smallFontSize);
}

.level-muted {
  background-color: #bdbdbd !important;
}

a > .level {
  margin-bottom: -1px;
  border-bottom: 1px solid;
  transition: all 0.2s ease;
}

a > .level:hover {
  opacity: 0.8;
}

.level-OK {
  background-color: var(--green);
}

.level-WARN {
  background-color: var(--orange);
}

.level-ERROR {
  background-color: var(--red);
}

.level-NONE {
  background-color: var(--gray71);
}
