.rating {
  display: inline-block;
  width: 24px;
  height: 24px;
  line-height: 24px;
  border-radius: 24px;
  box-sizing: border-box;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.35);
}

.rating-muted {
  background-color: #bdbdbd !important;
  color: #fff !important;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.35) !important;
}

a > .rating {
  margin-bottom: -1px;
  border-bottom: 1px solid;
  transition: all 0.2s ease;
}

a > .rating:hover {
  opacity: 0.8;
}

.rating-A {
  line-height: 23px;
  background-color: #00aa00;
}

a > .rating-A {
  border-bottom-color: #00aa00;
}

.rating-B {
  background-color: #b0d513;
}

a .rating-B {
  border-bottom-color: #b0d513;
}

.rating-C {
  background-color: #eabe06;
}

a .rating-C {
  border-bottom-color: #eabe06;
}

.rating-D {
  background-color: #ed7d20;
}

a .rating-D {
  border-bottom-color: #ed7d20;
}

.rating-E {
  background-color: #e00;
}

a .rating-E {
  border-bottom-color: #e00;
}

.rating-small {
  width: 18px;
  height: 18px;
  line-height: 18px;
  margin-top: -1px;
  margin-bottom: -1px;
  font-size: 12px;
}
