.size-rating {
  display: inline-block;
  vertical-align: top;
  width: 24px;
  height: 24px;
  line-height: 24px;
  border-radius: 24px;
  background-color: #4b9fd5;
  color: #fff;
  font-size: 12px;
  text-align: center;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.35);
}

.size-rating-small {
  width: 18px;
  height: 18px;
  line-height: 18px;
  margin-top: -1px;
  margin-bottom: -1px;
  font-size: 10px;
}

.size-rating-muted {
  background-color: #bdbdbd;
}
