.size-rating {
  display: inline-block;
  vertical-align: top;
  width: var(--controlHeight);
  height: var(--controlHeight);
  line-height: var(--controlHeight);
  border-radius: var(--controlHeight);
  background-color: var(--blue);
  color: #fff;
  font-size: var(--smallFontSize);
  text-align: center;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.35);
}

.size-rating-small {
  width: 18px;
  height: 18px;
  line-height: 18px;
  margin-top: -1px;
  margin-bottom: -1px;
  font-size: 10px;
}

.size-rating-muted {
  background-color: #bdbdbd;
}
