<% #locals = rule -%>
<% unless rule.systemTags.isEmpty && rule.adminTags.isEmpty %>
  <% (rule.systemTags + rule.adminTags).each do |tag| %>
  <span id="rule_tag_<%= rule.id -%>_<%= tag -%>">
    <%= link_to tag, url_for( params.merge({ 'tags[]' => tag, 'searchtext' => '' }) ) -%>
  </span>
  <% end %>
<% end %>
