<?xml version="1.0" encoding="UTF-8" ?>
<configuration debug="false">
  <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator"/>

  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} %-5level - %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="TESTING" class="org.sonar.process.TestLogbackAppender">
    <encoder>
      <pattern>%-5level %msg%n</pattern>
    </encoder>
  </appender>

  <root>
    <level value="INFO"/>
    <appender-ref ref="CONSOLE" />
    <appender-ref ref="TESTING" />
  </root>

  <logger name="ch.qos.logback">
    <level value="WARN"/>
  </logger>
</configuration>
