<div class="multi_value marginbottom5">
  <%= render "settings/single_value", :property => property, :value => value -%>
  <a href="#" class="delete link-action" style="<%= 'display:none;' if hide_delete  -%>"><%= message('delete') -%></a>
  <br/>
</div>
