<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.sonar.core.rule.RuleMapper">

  <sql id="selectColumns">
    id,
    plugin_rule_key as "ruleKey",
    plugin_name as "repositoryKey",
    description,
    status,
    name,
    plugin_config_key as "configKey",
    priority as "priorityOrdinal",
    cardinality,
    language as "language",
    parent_id as "parentId",
    created_at as "createdAt",
    updated_at as "updatedAt",
    note_data as "noteData",
    note_user_login as "noteUserLogin",
    note_created_at as "noteCreatedAt",
    note_updated_at as "noteUpdatedAt"
  </sql>

  <select id="selectAll" resultType="Rule">
    select <include refid="selectColumns"/> from rules
  </select>

  <select id="selectById" parameterType="Integer" resultType="Rule">
    select <include refid="selectColumns"/> from rules WHERE id=#{id}
  </select>

  <select id="selectNonManual" resultType="Rule">
    select <include refid="selectColumns"/> from rules
    where plugin_name != 'manual'
  </select>

  <update id="update" parameterType="Rule">
    update rules set
    plugin_rule_key=#{ruleKey},
    plugin_name=#{repositoryKey},
    description=#{description},
    status=#{status},
    name=#{name},
    plugin_config_key=#{configKey},
    priority=#{priorityOrdinal},
    cardinality=#{cardinality},
    language=#{language},
    parent_id=#{parentId},
    updated_at=#{updatedAt},
    note_data=#{noteData},
    note_user_login=#{noteUserLogin},
    note_created_at=#{noteCreatedAt},
    note_updated_at=#{noteUpdatedAt}
    where id=#{id}
  </update>

  <sql id="insertColumns">
    (plugin_rule_key, plugin_name, description, status, name, plugin_config_key, priority, cardinality, language,
      parent_id, created_at, updated_at)
  </sql>

  <insert id="insert" parameterType="Rule" useGeneratedKeys="false">
    insert into rules <include refid="insertColumns"/>
    values (#{ruleKey}, #{repositoryKey}, #{description}, #{status}, #{name}, #{configKey},
      #{priorityOrdinal}, #{cardinality}, #{language}, #{parentId}, #{createdAt}, #{updatedAt})
  </insert>

  <delete id="deleteParams" parameterType="Integer" >
    delete from active_rule_parameters where rules_parameter_id=#{id}
  </delete>

  <sql id="paramColumns">
    id, rule_id as "ruleId", name, param_type as "type", default_value as "defaultValue", description
  </sql>

  <select id="selectAllParams" resultType="RuleParam">
    select <include refid="paramColumns"/>
    from rules_parameters
  </select>

  <select id="selectParamsForRule" resultType="RuleParam">
    select <include refid="paramColumns"/>
    from rules_parameters
    where rule_id=#{id}
  </select>

  <select id="selectParamByRuleAndKey" resultType="RuleParam">
    SELECT <include refid="paramColumns"/>
    FROM rules_parameters
    <where>
      AND rule_id=#{ruleId}
      AND name=#{key}
    </where>
  </select>

</mapper>

