<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.sonar.core.rule.RuleMapper">
  <select id="selectAll" resultType="Rule">
    select id, plugin_rule_key as "ruleKey", plugin_name as "repositoryKey", description, status, name from rules
  </select>

  <select id="selectById" parameterType="long" resultType="Rule">
    select id, plugin_rule_key as "ruleKey", plugin_name as "repositoryKey", description, status, name from rules WHERE id=#{id}
  </select>
</mapper>

