<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.sonar.persistence.resource.ResourceIndexMapper">

  <resultMap id="resourceIndexMap" type="ResourceIndex">
    <result property="key" column="kee"/>
    <result property="position" column="position"/>
    <result property="resourceId" column="resource_id"/>
    <result property="projectId" column="project_id"/>
  </resultMap>

  <sql id="resourceIndexColumns">
    kee, position, resource_id, project_id
  </sql>

  <select id="selectLikeKey" parameterType="String" resultMap="resourceIndexMap">
    select
    <include refid="resourceIndexColumns"/>
    from resource_index
    where kee like #{id}
    order by position asc
  </select>

  <insert id="insert" parameterType="ResourceIndex" useGeneratedKeys="false">
    insert into resource_index (kee, position, resource_id, project_id)
    values (#{key}, #{position}, #{resourceId}, #{projectId})
  </insert>
</mapper>

