<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.sonar.persistence.resource.ResourceIndexerMapper">

  <select id="selectResourcesToIndex" parameterType="map" resultType="Resource">
    select id, root_id as "rootId", name, scope, qualifier
    from projects
    <where>
      enabled=#{enabled}
      and copy_resource_id is null
      <if test="scopes != null">and scope in
        <foreach item="scope" index="index" collection="scopes" open="(" separator="," close=")">#{scope}</foreach>
      </if>
      <if test="qualifiers != null">and qualifier in
        <foreach item="qualifier" index="index" collection="qualifiers" open="(" separator="," close=")">#{qualifier}</foreach>
      </if>
    </where>
  </select>

  <select id="selectRootId" parameterType="int" resultType="Resource">
    select id, root_id as "rootId"
    from projects
    where id=#{id}
  </select>

  <select id="selectMasterIndexByResourceId" parameterType="int" resultType="ResourceIndex">
    select kee as "key", resource_id as "resourceId"
    from resource_index
    where resource_id=#{id} and position=0
  </select>

  <delete id="deleteByResourceId" parameterType="int">
    delete from resource_index
    where resource_id=#{id}
  </delete>

  <insert id="insert" parameterType="ResourceIndex" useGeneratedKeys="false">
    insert into resource_index (kee, position, name_size, resource_id, root_project_id, qualifier)
    values (#{key}, #{position}, #{nameSize}, #{resourceId}, #{rootProjectId}, #{qualifier})
  </insert>
</mapper>

