.Select-big .Select-control {
  padding-top: 4px;
  padding-bottom: 4px;
}

.Select-big .Select-placeholder {
  margin-top: 4px;
  margin-bottom: 4px;
}

.Select-big .Select-value-label {
  margin-top: 5px;
}
