.alert {
  display: block;
  margin: 0 -1em 1.5rem;
  padding: 1em;
  border: 1px solid #777;
}

.alert > p {
  margin: 0;
}

.alert-danger {
  border-color: #ebccd1;
  background-color: #f2dede;
  color: #a94442;
}

.alert-warning {
  border-color: #faebcc;
  background-color: #fcf8e3;
  color: #8a6d3b;
}

.alert-info {
  border-color: #bce8f1;
  background-color: #d9edf7;
  color: #666666;
}

.alert-success {
  border-color: #d6e9c6;
  background-color: #dff0d8;
  color: #3c763d;
}

ul > ul {
  margin-bottom: 0 !important;
}

.collapse {
  border: 1px solid #e6e6e6;
  border-radius: 2px;
  background-color: #f3f3f3;
  padding: 8px;
  margin: 0 -1em 1.5rem;
}

.collapse > a:first-child {
  background: url(../images/open.svg) no-repeat 0 50%;
  padding-left: 20px;
  display: block;
  color: #236a97;
  display: block;
  cursor: pointer;
  margin-bottom: 0.5rem;
  font-size: 16px;
  text-decoration: none;
}

.collapse.close > a:first-child {
  background: url(../images/close.svg) no-repeat 0 50%;
}

.collapse.close > * {
  display: none;
}

.collapse.close > a:first-child {
  margin: 0;
}

.collapse *:last-child {
  margin-bottom: 0;
}

.collapse .alert {
  margin: 0 0.5em 1.5rem;
}

img[src='/images/exclamation.svg'],
img[src='/images/check.svg'],
img[src='/images/cross.svg'],
img[src='/images/info.svg'] {
  margin-bottom: 0;
  top: 0 !important;
}
