.application-quality-gate-project {
  padding: 10px;
}

.overview-quality-gate-condition:hover .application-quality-gate-project {
  padding: 9px;
}

.application-quality-gate-project-conditions {
  margin-top: 4px;
}

.application-quality-gate-project-conditions > li {
  display: flex;
  justify-content: space-between;
  padding-top: 2px;
  padding-bottom: 2px;
}

.application-quality-gate-project-conditions > li.is-on-leak {
  margin-left: -9px;
  margin-right: -9px;
  padding-left: 9px;
  padding-right: 9px;
  background-color: #fbf3d5;
}
