<ul class="issue-more-actions">
  {{#pluginActions actions}}
    <li>
      <a class="issue-action js-issue-action" data-action="{{this}}">{{t "issue.action" this "formlink"}}</a>
    </li>
  {{/pluginActions}}
</ul>

<div class="bubble-popup-arrow"></div>
