.navbar-context,
.navbar-context .navbar-inner {
  background-color: var(--barBackgroundColor);
  z-index: 420;
}

.navbar-context .navbar-inner {
  padding-top: 5px;
  border-bottom: 1px solid var(--barBorderColor);
}

.navbar-context .navbar-inner-with-notif {
  border-bottom: none;
}

.navbar-context-header {
  float: left;
  line-height: 30px;
  font-size: 15px;
}

.navbar-context-meta {
  position: absolute;
  top: 0;
  right: 0;
  line-height: 30px;
  padding: 0 10px;
  color: var(--secondFontColor);
  font-size: var(--smallFontSize);
  text-align: right;
}

.navbar-context-description {
  display: inline-block;
  line-height: var(--controlHeight);
  margin-left: 16px;
  padding-top: 4px;
  padding-left: 4px;
  color: var(--secondFontColor);
  font-size: var(--smallFontSize);
}
