.navbar-context,
.navbar-context .navbar-inner {
  background-color: #fff;
  z-index: 420;
}

.navbar-context .navbar-inner {
  padding-top: var(--gridSize);
  border-bottom: 1px solid var(--barBorderColor);
}

.navbar-context .navbar-inner-with-notif {
  border-bottom: none;
}

.navbar-context-header {
  display: flex;
  align-items: center;
  height: calc(4 * var(--gridSize));
  font-size: var(--bigFontSize);
}

.navbar-context-header .slash-separator {
  margin-left: var(--gridSize);
  margin-right: var(--gridSize);
  font-size: 24px;
}

.navbar-context-header .slash-separator::after {
  color: rgba(68, 68, 68, 0.2);
}

.navbar-context-meta {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  height: calc(4 * var(--gridSize));
  padding: 0 20px;
  color: var(--secondFontColor);
  font-size: var(--smallFontSize);
  text-align: right;
}

.navbar-context-meta-secondary {
  position: absolute;
  top: 36px;
  right: 0;
  padding: 0 20px;
  white-space: nowrap;
}

.navbar-context-description {
  display: inline-block;
  line-height: var(--controlHeight);
  margin-left: 16px;
  padding-top: 4px;
  padding-left: 4px;
  color: var(--secondFontColor);
  font-size: var(--smallFontSize);
}
