.navbar-tabs {
  display: flex;
  align-items: center;
  clear: left;
  height: var(--controlHeight);
  margin-top: var(--gridSize);
}

.navbar-tabs > li + li {
  margin-left: 20px;
}

.navbar-tabs > li > a {
  display: block;
  height: var(--controlHeight);
  line-height: calc(var(--controlHeight) - 6px);
  border-bottom: 3px solid transparent;
  box-sizing: border-box;
  color: var(--baseFontColor);
  transition: none;
}

.navbar-tabs > li > a.active,
.navbar-tabs > li > a:hover,
.navbar-tabs > li > a:focus {
  border-bottom-color: var(--blue);
}
