<div class="bubble-popup-container">
  <div class="bubble-popup-section">
    <a href={{permalink}} target="_blank" class="js-get-permalink link-action">{{t 'component_viewer.get_permalink'}}</a>
  </div>
</div>

<div class="bubble-popup-arrow"></div>
