<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.sonar.persistence.dashboard.DashboardMapper">

  <insert id="insert" parameterType="Dashboard" useGeneratedKeys="true" keyProperty ="id">
    INSERT INTO dashboards (kee, user_id, name, description, column_layout, shared, created_at, updated_at)
    VALUES (#{key}, #{userId, jdbcType=FLOAT}, #{name, jdbcType=VARCHAR}, #{description, jdbcType=VARCHAR}, 
            #{columnLayout, jdbcType=INTEGER}, #{shared}, #{createdAt, jdbcType=TIMESTAMP}, #{updatedAt, jdbcType=TIMESTAMP})
  </insert>

</mapper>
