<ul class="bullet">
  <li>Store the secret key <input type="text" size="40" readonly="readonly" id="secret" value="<%= @secret -%>" class="notice"/> in the file <code>~/.sonar/sonar-secret.txt</code> of the server. This file can be relocated
  by defining the property <code>sonar.secretKeyPath</code> in <code>conf/sonar.properties</code></li>
  <li>Restrict access to this file by making it readable and by owner only</li>
  <li>Restart the server if the property <code>sonar.secretKeyPath</code> has been set or changed.</li>
  <li>Copy this file on all the machines that execute code inspection. Define the property <code>sonar.secretKeyPath</code> on those machines if the path is not <code>~/.sonar/sonar-secret.txt</code>.</li>
  <li>For each property that you want to encrypt, <%= link_to 'generate the encrypted value', {:action => 'index'}, {:class => 'link-action'} %>
    and replace the original value wherever it is stored (configuration files, command lines)
  </li>
</ul>