<h3 class="spacer-bottom">Encryption</h3>
<p class="spacer-bottom">Secret key is required to be able to encrypt properties. <a href="http://docs.codehaus.org/display/SONAR/Settings+Encryption" class="external" target="sonar_doc">More information</a>.</p>
<div id="secret_content">
  <%=  button_to_remote 'Generate secret key',
                          :url => {:action => 'generate_secret'},
                          :update => {:success => 'secret_content', :failure => 'secret_error'},
                          :failure => "$('secret_error').show()",
                          :method => 'POST',
                          :id => 'submit_generate_secret' -%>
  <span id="secret_error" class="error" style="display:none"></span>
</div>