<style>
  #body {
    padding: 0 1px 0 0;
  }
</style>

<table class="data marginbottom10">
  <thead>
  <tr>
    <th>Encryption</th>
  </tr>
  </thead>
  <tbody>
  <tr class="even">
    <td style="padding: 10px">
      <p class="marginbottom10">Secret key is required to be able to encrypt properties.
        <a href="http://docs.codehaus.org/display/SONAR/Security#Security-encryption" class="external" target="sonar_doc">More
          information</a>.</p>

      <div id="secret_content">
        <%= button_to_remote 'Generate secret key',
                             {:url => {:action => 'generate_secret'},
                              :update => {:success => 'secret_content', :failure => 'secret_error'},
                              :failure => "$('secret_error').show()",
                              :method => 'POST'},
                             {:id => 'submit_generate_secret'} -%>
        <span id="secret_error" class="error" style="display:none"></span>
      </div>
    </td>
  </tr>
  </tbody>
</table>
