<p>Secret key is required to be able to encrypt properties. Please follow those steps :</p>
<ul class="bullet">
  <li>
    <%=  button_to_remote 'Generate a random key',
                          :url => {:action => 'generate_secret'},
                          :update => {:success => 'secret', :failure => 'secret_error'},
                          :success => "$('secret').show()",
                          :failure => "$('secret_error').show()",
                          :method => 'POST',
                          :id => 'submit_generate_secret' -%>
    <span id="secret" class="notice" style="display:none"></span>
    <span id="secret_error" class="error" style="display:none"></span>
  </li>
  <li>Store this key in the file <code>~/.sonar/sonar-secret.txt</code> of the server. This file can be relocated
  by defining the property <code>sonar.secretKeyPath</code> in <code>conf/sonar.properties</code></li>
  <li>Restrict access to this file by making it readable and by owner only</li>
  <li>Copy this file on all the machines that execute code inspection. Define the property <code>sonar.secretKeyPath</code> on those machines if needed.</li>
  <li>For each property that you want to encrypt, <%= link_to 'generate the encrypted value', {:action => 'index'}, {:class => 'link-action'} -%>
    and replace the original values where ever they are stored
    (configuration files, command lines)
  </li>
</ul>