<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.sonar.server.db.fake.FakeMapper">

  <sql id="selectColumns">
    f.id,
    f.kee as "key",
    f.created_at as "createdAt",
    f.updated_at as "updatedAt"
  </sql>

  <select id="selectByKey" parameterType="String" resultType="fake">
    select
    <include refid="selectColumns"/>
    from fake f WHERE f.kee=#{key}
  </select>

  <insert id="insert" parameterType="fake" keyColumn="id" useGeneratedKeys="true" keyProperty="id">
    insert into fake (kee, created_at, updated_at)
    values (#{key}, #{createdAt}, #{updatedAt})
  </insert>

  <select id="selectAfterDate" resultType="fake" fetchSize="${_scrollFetchSize}" resultSetType="FORWARD_ONLY">
    select
    <include refid="selectColumns"/>
    from fake f
    <where>
      <if test="date != null">
        f.updated_at IS NULL or f.updated_at &gt;= #{date}
      </if>
    </where>
  </select>

</mapper>
