.measures-domains {
  max-width: 980px;
  margin: 20px auto;
  column-count: 2;
  column-gap: 60px;
}

.measures-domains > li + li {
  margin-top: 40px;
}

.measures-domains-leak-header {
  float: right;
  line-height: 22px;
  padding: 0 10px;
  border: 1px solid #eae3c7;
  background-color: #fbf3d5;
}


.domain-measures > li > a {
  display: flex;
  border: none;
}

.domain-measures > li:nth-child(odd) > a {
  background-color: #f8f8f8;
}

.domain-measures-name,
.domain-measures-value {
  padding: 7px 10px;
  box-sizing: border-box;
}

.domain-measures-name {
  width: calc(100% - 160px);
}

.domain-measures-name > span {
  border-bottom: 1px solid #cae3f2;
}

.domain-measures-value {
  width: 80px;
  color: #444;
  text-align: right;
}

.domain-measures-leak {
  background-color: #fbf3d5;
  transition: background-color 0.3s ease;
}

.domain-measures > li:nth-child(odd) .domain-measures-leak {
  background-color: #f5eed0;
}

.measure-details {
  margin-top: 10px;
}

.measure-details-metric,
.measure-details-value {
  margin-left: 20px;
  margin-right: 20px;
}

.measure-details-metric {
  margin-bottom: 10px;
}

.measure-details-value {
  font-size: 24px;
  font-weight: 300;
}

.measure-details-value-absolute {
  display: inline-block;
  padding: 5px 0;
}

.measure-details-value-leak {
  display: inline-block;
  padding: 4px 10px;
  border: 1px solid #eae3c7;
  background-color: #fbf3d5;
}

.measure-details-value-absolute + .measure-details-value-leak {
  margin-left: 20px;
}

.measure-details-drilldown {
  margin-top: 20px;
}

.measure-details-drilldown-mode {
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
  border-bottom: 1px solid #e6e6e6;
}

.measure-details-drilldown-mode > li {
  margin-bottom: -1px;
}

.measure-details-drilldown-mode > li + li {
  margin-left: 2px;
}

.measure-details-drilldown-mode > li > a {
  display: inline-block;
  padding: 5px 10px;
  border-bottom: 2px solid transparent;
  color: #444;
}

.measure-details-drilldown-mode > li > a:hover,
.measure-details-drilldown-mode > li > a.active {
  border-bottom-color: #4b9fd5;
}

.measure-details-drilldown-mode > li > a.active .measure-tab-icon path {
  fill: #4b9fd5;
}

.measure-details-breadcrumbs {
  margin-bottom: 10px;
}

.measure-details-components {
  width: 300px;
  padding: 10px;
  box-sizing: border-box;
}

.measure-details-components-parent {
  padding-bottom: 6px;
}

.measure-details-components > li > a {
  display: flex;
  padding-top: 5px;
  padding-bottom: 5px;
  border: none;
  color: #444;
}

.measure-details-components > li > a:hover,
.measure-details-components > li > a.selected {
  background-color: #cae3f2 !important;
}

.measure-details-component-name,
.measure-details-component-value {
  padding-right: 10px;
  box-sizing: border-box;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.measure-details-component-name {
  width: calc(100% - 60px);
  padding-left: 10px;
}

.measure-details-component-value {
  width: 60px;
  text-align: right;
}

.measure-details-tree,
.measure-details-plain-list {
  display: flex;
}

.measure-details-viewer {
  width: calc(100% - 300px);
  margin-top: -1px;
  margin-bottom: -1px;
  box-sizing: border-box;
}

.measure-tab-icon {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-right: 6px;
}

.measure-tab-icon path {
  fill: #aeaeae;
  transition: fill 0.3s ease;
}

.measure-details-components-up-icon {
  display: inline-block;
  height: 14px;
  padding: 2px 4px 0;
}

.measure-details-components-up-icon path {
  fill: #aeaeae;
}

.measures-details-components-empty {
  padding: 10px;
}

.measure-details-history {
  padding: 10px;
}

.measure-details-bubble-chart {
  position: relative;
  max-width: 960px;
  margin: 10px auto;
  padding: 30px 0 30px 50px;
}

.measure-details-bubble-chart-axis {
  position: absolute;
  color: #777;
  font-size: 12px;
}

.measure-details-bubble-chart-axis.x {
  left: 50%;
  bottom: 10px;
}

.measure-details-bubble-chart-axis.y {
  top: 50%;
  left: -20px;
  transform: rotate(-90deg);
}

.measure-details-bubble-chart-axis.size {
  left: 50%;
  top: 10px;
}

.measure-details-treemap {
  max-width: 960px;
  margin: 10px auto;
}
