.home-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 20px;
}

.measures-domains {}

.measures-domains > li {
  margin-bottom: 20px;
}

.measures-domains > li > div {
  border: 1px solid #e6e6e6;
  background-color: #fff;
}

.measures-domains-leak-header {
  line-height: 22px;
  padding: 0 10px;
  border: 1px solid #eae3c7;
  background-color: #fbf3d5;
  white-space: nowrap;
}

.main-domain-measures {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  float: left;
  width: 480px;
  margin-right: 60px;
}

.main-domain-measures > li {
  padding: 12px 0;
}

.main-domain-measures > li > a {
  display: flex;
  flex-direction: column-reverse;
  width: 160px;
  border: none;
  text-align: center;
}

.main-domain-measures .domain-measures-value {
  height: 40px;
  box-sizing: border-box;
  color: #444;
  font-size: 30px;
  font-weight: 300;
}

.main-domain-measures .domain-measures-value .rating,
.measure-details-value .rating {
  vertical-align: top;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 40px;
  font-size: 24px;
}

.main-domain-measures .domain-measures-name {
  margin-top: 8px;
}

.main-domain-measures .domain-measures-name > span:last-child {
  border-bottom: 1px solid #cae3f2;
}

.main-domain-measures .domain-measures-leak {
  margin: 0 20px;
  border: 1px solid #eae3c7;
  background-color: #fbf3d5;
}

.domain-measures {
  overflow: hidden;
  line-height: 1.4;
}

.domain-measures > li > a {
  display: flex;
  justify-content: space-between;
  border: none;
}

.domain-measures > li:nth-child(odd) > a {
  background-color: #f8f8f8;
}

.domain-measures > li > a:hover {
  background-color: #ecf6fe !important;
}

.domain-measures .domain-measures-name,
.domain-measures .domain-measures-value {
  padding: 7px 10px;
  box-sizing: border-box;
}

.domain-measures .domain-measures-name {
  width: calc(100% - 160px);
  line-height: 24px;
}

.domain-measures .domain-measures-name > span {
  border-bottom: 1px solid #cae3f2;
}

.domain-measures .domain-measures-value {
  min-width: 80px;
  color: #444;
  text-align: right;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.domain-measures .domain-measures-leak {
  background-color: #fbf3d5;
  transition: background-color 0.3s ease;
}

.domain-measures .domain-measures > li:nth-child(odd) .domain-measures-leak {
  background-color: #f5eed0;
}

.measure-details {
  margin-top: 10px;
}

.measure-details-header {
  position: relative;
  margin-top: 10px;
  margin-bottom: 30px;
}

.measure-details-metric,
.measure-details-value {}

.measure-details-metric {
  display: inline-block;
  margin-bottom: 10px;
}

.measure-details-metric > a {
  border: none;
  color: #444;
}

.measure-details-metric > a:hover {
  color: #236a97;
}

.measure-details-value {
  font-size: 24px;
}

.measure-details-value-absolute {
  display: inline-block;
  vertical-align: middle;
  padding: 5px 0;
  font-weight: 300;
}

.measure-details-value-leak {
  display: inline-block;
  vertical-align: middle;
  padding: 4px 10px;
  border: 1px solid #eae3c7;
  background-color: #fbf3d5;
  font-weight: 300;
}

.measure-details-value-absolute + .measure-details-value-leak {
  margin-left: 20px;
}

.measure-details-secondary {
  display: inline-block;
  vertical-align: middle;
  width: 260px;
  margin-left: 20px;
}

.measure-details-drilldown {
  margin-top: 20px;
}

.measure-details-drilldown-mode {
  display: flex;
  margin-bottom: 10px;
  border-bottom: 1px solid #e6e6e6;
}

.measure-details-drilldown-mode > li {
  margin-bottom: -1px;
}

.measure-details-drilldown-mode > li + li {
  margin-left: 2px;
}

.measure-details-drilldown-mode > li > a {
  display: inline-block;
  padding: 5px 10px;
  border-bottom: 2px solid transparent;
  color: #444;
}

.measure-details-drilldown-mode > li > a:hover,
.measure-details-drilldown-mode > li > a.active {
  border-bottom-color: #4b9fd5;
}

.measure-details-drilldown-mode > li > a.active .measure-tab-icon path {
  fill: #4b9fd5;
}

.measure-details-plain-list {}

.measure-details-components {
  width: 300px;
  padding: 10px;
  box-sizing: border-box;
}

.measure-details-components > li > a {
  display: flex;
  padding-top: 5px;
  padding-bottom: 5px;
  border: none;
  color: #444;
}

.measure-details-components > li > a:hover,
.measure-details-components > li > a.selected {
  background-color: #cae3f2 !important;
}

.measure-details-component-name,
.measure-details-component-value {
  padding-right: 10px;
  box-sizing: border-box;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.measure-details-component-name {
  width: calc(100% - 60px);
  padding-left: 10px;
}

.measure-details-component-value {
  width: 60px;
  text-align: right;
}

.measure-details-viewer {
  min-height: 100vh;
}

.measure-details-viewer-header {
  margin-bottom: 10px;
  line-height: 24px;
}

.measure-details-viewer-header .button-group {
  vertical-align: top;
}

.measure-details-header-container {
  display: inline-block;
  line-height: 16px;
  padding-right: 10px;
}

.measure-tab-icon {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-right: 6px;
}

.measure-tab-icon path {
  fill: #aeaeae;
  transition: fill 0.3s ease;
}

.measure-details-components-up-icon path {
  fill: #aeaeae;
}

.measure-details-history {
  padding: 10px 0;
}

.measure-details-bubble-chart {
  position: relative;
  margin: 40px 0 10px;
  padding: 30px 0 30px 60px;
  border: 1px solid #e6e6e6;
  background-color: #fff;
}

.measure-details-bubble-chart-axis {
  position: absolute;
  color: #777;
  font-size: 12px;
}

.measure-details-bubble-chart-axis.x {
  left: 50%;
  bottom: 10px;
  width: 500px;
  margin-left: -250px;
  text-align: center;
}

.measure-details-bubble-chart-axis.y {
  top: 50%;
  left: -20px;
  transform: rotate(-90deg);
}

.measure-details-bubble-chart-axis.size {
  left: 50%;
  top: 10px;
  width: 500px;
  margin-left: -250px;
  text-align: center;
}

.measure-details-treemap {
  margin: 20px 0;
}

.measure-details-treemap-legend {
  margin-bottom: 10px;
}

.component-measures-breadcrumbs {
  display: flex;
  flex-wrap: wrap;
}

.component-measures-breadcrumbs > li {
  padding: 5px 5px 3px;
}

.component-measures-breadcrumbs > li:first-child {
  padding-left: 0;
}

.component-measures-breadcrumbs > li::after {
  position: relative;
  top: -1px;
  padding-left: 10px;
  color: #777;
  font-size: 11px;
  content: ">";
}

.component-measures-breadcrumbs > li:last-child::after {
  display: none;
}

.home-measures-list {
  border: 1px solid #e6e6e6;
  background-color: #fff;
}
