 .onboarding {
   min-height: calc(70vh - 60px);
 }

.onboarding-step {
  position: relative;
  padding-left: 34px;
}

.onboarding-step:not(.is-open):not(.is-finished) {
  opacity: 0.4;
}

.onboarding-step .boxed-group-actions {
  height: 24px;
  line-height: 24px;
}

.onboarding-step-number {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 24px;
  height: 24px;
  line-height: 24px;
  border-radius: 24px;
  background-color: #b9b9b9;
  color: #fff;
  font-size: 14px;
  text-align: center;
}

.onboarding-step.is-open .onboarding-step-number {
  background-color: #236a97;
}

.onboarding-step.is-finished {
  cursor: pointer;
  outline: none;
}

.onboarding-command {
  position: relative;
  margin: 8px 0;
}

.onboarding-command pre {
  padding: 15px;
  border-radius: 2px;
  background: #404040;
  color: #f0f0f0;
  overflow: auto;
}

.onboarding-command button {
  position: absolute;
  top: 15px;
  right: 15px;
  height: 20px;
  line-height: 18px;
  border: 1px solid #fff;
  color: #fff;
  font-size: 11px;
  font-weight: normal;
}

.onboarding-command button:hover,
.onboarding-command button:focus,
.onboarding-command button:active {
  background-color: #fff;
  color: #404040;
}
