<style>
  #body {
    padding: 0 1px 0 0;
  }
</style>

<table class="marginbottom10">
  <tbody>
  <tr class="property">
    <td style="padding: 10px">
      <p class="marginbottom10">Secret key is required to be able to encrypt properties.
        <a href="http://redirect.sonarsource.com/doc/settings-encryption.html" class="external" target="sonar_doc">More
          information</a>.</p>

      <div id="secret_content">
          <input 	id="submit_generate_secret"
                  type="button"
                  value="Generate secret key"
                  onclick="$j.ajax({
                    url:'<%=ApplicationController.root_context-%>/encryption_configuration/generate_secret',
                    type:'post',
                    success:function(response){$j('#secret_content').html(response);},
                    error:function(response){$j('#secret_error').html(response.responseText); $j('#secret_error').show();}
                    });
                    return false;">
          </input>
        <span id="secret_error" class="error" style="display:none"></span>
      </div>
    </td>
  </tr>
  </tbody>
</table>
