<% dist_measure = measure(metric)
   if dist_measure && !dist_measure.data.blank?
     query="w=220&h=100&fs=10&bgc=ffffff&ck=distbar&c=777777&v=" + u(dist_measure.data)
%>
  <div id="chart_<%= metric -%>" class="chart" style="display: <%= visible ? "block" : "none" %>">
    <%= chart(query, :id => 'chart_img_' + metric, :alt => title) -%>
  </div>
<% end %>