.source-issue-locations {
  position: relative;
}

.source-issue-locations-panel {
  background-color: #fff;
  box-shadow: 0 -6px 12px rgba(0, 0, 0, .175);
}

.source-issue-locations-panel.fixed {
  position: fixed;
  bottom: 0;
  margin-left: -1px;
  border-left: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
}

.source-issue-locations-header {
  height: 15px;
  padding: 0 15px;
  box-sizing: border-box;
  background-color: #404040;
  color: #fff;
}

.source-issue-locations-shortcuts {
  position: absolute;
  top: 18px;
  right: 18px;
  padding: 6px;
  background-color: #fff;
  color: #777;
  font-size: 11px;
}

.source-issue-locations-list {
  height: 185px;
  padding: 15px;
  box-sizing: border-box;
  overflow: auto;
}

.source-issue-locations-line {
  display: inline-block;
  min-width: 25px;
  margin-right: 15px;
  color: #777;
  font-size: 12px;
  text-align: right;
}

.issue-location,
.issue-location-message {
  display: inline-block;
  vertical-align: top;
  line-height: 18px;
  height: 18px;
  box-sizing: border-box;
  background-color: #ffeaea;
}

.issue-location {
  /* nothing so far */
}

.issue-location.highlighted {
  border-color: #e1e1f2;
  background-color: #e1e1f2;
}

.issue-location.selected {
  border-color: #f4b1b0;
  background-color: #f4b1b0;
}

.issue-location-message {
  padding: 0 10px;
  border: 1px solid #ffeaea;
  color: #444 !important;
  font-size: 12px;
  white-space: nowrap;
  transition: all 0.3s ease;
}

.issue-location-message:hover {
  border-color: #f4b1b0;
  background-color: #f4b1b0;
}

.issue-location-message.selected {
  border-color: #dd4040;
}