@font-face {
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/Ubuntu/UbuntuMono-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'Ubuntu Mono';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/Ubuntu/UbuntuMono-Italic.woff2') format('woff2');
}

@font-face {
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/Ubuntu/UbuntuMono-Bold.woff2') format('woff2');
}
@font-face {
  font-family: 'Ubuntu Mono';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/Ubuntu/UbuntuMono-BoldItalic.woff2') format('woff2');
}
