<form id="restart-server-form">
  <div class="modal-head">
    <h2>Restart Server</h2>
  </div>
  <div class="modal-body">
    <div class="js-modal-messages"></div>
    <p class="spacer-top spacer-bottom text-center">
      Server is restarting. This page will be automatically refreshed.
    </p>
    <p class="big-spacer-top spacer-bottom text-center">
      <i class="spinner"></i>
    </p>
  </div>
</form>
