<form id="restart-server-form">
  <div class="modal-head">
    <h2>Restart Server</h2>
  </div>
  <div class="modal-body">
    <div class="js-modal-messages"></div>
    <p class="spacer-top spacer-bottom">
      Are you sure you want to restart the server?
    </p>
  </div>
  <div class="modal-foot">
    <button id="restart-server-submit">Restart</button>
    <a href="#" class="js-modal-close" id="restart-server-cancel">Cancel</a>
  </div>
</form>
