<div name="settings">

  <h1 class="marginbottom10">Settings</h1>
  
  <div class="yui-g widget" id="widget_plugins">
    <%= render :partial => 'settings/plugins', :locals => {:project=>@project} %>
  </div>

</div>