<div class="container-side container-side-left">
  <div class="navigator-actions"></div>
  <div class="navigator-results quality-gates-nav"></div>
</div>
<div class="container-main">
  <div class="navigator-header"></div>
  <div class="navigator-details"></div>
</div>
