<div class="navigator-content">
  <div class="navigator-side">
    <div class="navigator-actions"></div>
    <div class="navigator-results quality-gates-nav"></div>
  </div>
  <div class="navigator-main">
    <div class="navigator-header"></div>
    <div class="navigator-details"></div>
  </div>
</div>