<div class="modal-head">
  <h2>Issues Help</h2>
</div>

<div class="modal-body doc">
  <h3>Shortcuts</h3>
  <p>To control results</p>
  <ul>
    <li>&uparrow; &darr; &nbsp;&nbsp; to navigate between issues</li>
    <li>&rarr; &nbsp;&nbsp; to go from the list of issues to the source code</li>
    <li>&larr; &nbsp;&nbsp; to return back to the list</li>
  </ul>
  <p>To control selected issue</p>
  <ul>
    <li>c &nbsp;&nbsp; to confirm</li>
    <li>u &nbsp;&nbsp; to unconfirm</li>
    <li>r &nbsp;&nbsp; to resolve/reopen</li>
    <li>f &nbsp;&nbsp; to mark as false-positive</li>
    <li>a &nbsp;&nbsp; to assign</li>
    <li>m &nbsp;&nbsp; to assign to the current user</li>
    <li>p &nbsp;&nbsp; to plan</li>
    <li>i &nbsp;&nbsp; to change severity</li>
  </ul>
</div>

<div class="modal-foot">
  <a class="js-modal-close">{{t 'close'}}</a>
</div>
