<div class="container-side container-side-left">
  <div class="search-navigator-filters"></div>
  <div class="search-navigator-side">
    <div class="search-navigator-facets"></div>
  </div>
</div>

<div class="container-main face-main">
  <div class="search-navigator-workspace-header"></div>
  <div class="search-navigator-workspace">
    <div class="search-navigator-workspace-list"></div>
    <div class="issues-workspace-component-viewer"></div>
  </div>
</div>
