<div class="issues-side">
  <div class="issues-filters"></div>
  <div class="issues-facets"></div>
</div>

<div class="issues-workspace">
  <div class="issues-workspace-header issues-header"></div>
  <div class="issues-workspace-list"></div>
  <div class="issues-workspace-component-viewer"></div>
</div>
