{{#if items}}
  <ul class="navigator-filter-select-list">
    {{#each items}}
      <li>
        <label data-id="{{id}}">{{{name}}}</label>
      </li>
    {{/each}}
  </ul>
{{/if}}
<ul class="navigator-filter-select-list">
  <li class="manage">
    <label id="manage-favorites">{{t 'manage'}}</label>
  </li>
</ul>
