<div class="text-right">
  <div class="spacer-bottom">{{t 'issue.comment.delete_confirm_message'}}</div>
  <button class="button-red">{{t 'delete'}}</button>
</div>

<div class="bubble-popup-arrow"></div>
