<div class="search-box menu-search">
  <button class="search-box-submit button-clean">
    <i class="icon-search-new"></i>
  </button>
  <input class="search-box-input" type="search" placeholder="{{t 'search_verb'}}" value="{{query}}">
</div>

<ul class="menu"></ul>

<div class="bubble-popup-arrow"></div>
