<ul class="menu">
  {{#each transitions}}
    <li>
      <a href="#" class="js-issue-transition" data-value="{{this}}"
         title="{{t 'issue.transition' this 'description'}}" data-placement="right" data-container="body">
        {{t 'issue.transition' this}}
      </a>
    </li>
  {{/each}}
</ul>

<div class="bubble-popup-arrow"></div>
