<ul class="menu">
  {{#each items}}
    <li>
      <a href="#" class="js-issue-severity" data-value="{{this}}">
        {{severityIcon this}} {{t 'severity' this}}
      </a>
    </li>
  {{/each}}
</ul>

<div class="bubble-popup-arrow"></div>
