<ul class="menu">
  {{#pluginActions actions}}
    <li>
      <a class="issue-action js-issue-action" href="#" data-action="{{this}}">{{t "issue.action" this "formlink"}}</a>
    </li>
  {{/pluginActions}}
</ul>

<div class="bubble-popup-arrow"></div>
