<ul class="menu">
  {{#each items}}
    {{#notEq status 'CLOSED'}}
      <li>
        <a href="#" class="js-issue-assignee" data-value="{{key}}" data-text="{{name}}">
          {{name}}
        </a>
      </li>
    {{/notEq}}
  {{/each}}
</ul>

<div class="bubble-popup-arrow"></div>
