<form class="js-manual-issue-form spacer-top spacer-bottom">

  <div class="spacer-bottom">
    <select name="rule">
      {{#each rules}}
        <option value="{{key}}">{{name}}</option>
      {{/each}}
    </select>
  </div>

  <div class="spacer-top">
    <textarea rows="4" name="message" class="width-100" required></textarea>
  </div>

  <div class="spacer-top">
    <input type="submit" value="{{t 'create'}}">
    <a class="js-cancel" href="#">{{t 'cancel'}}</a>
  </div>

</form>
