<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         id="SonarQube"
         version="3.0"
         metadata-complete="true">
  <display-name>SonarQube</display-name>

  <filter>
    <filter-name>ServletFilters</filter-name>
    <filter-class>org.sonar.server.platform.web.MasterServletFilter</filter-class>
  </filter>
  <filter>
    <filter-name>UserSessionFilter</filter-name>
    <filter-class>org.sonar.server.platform.web.UserSessionFilter</filter-class>
  </filter>
  <filter>
    <filter-name>SetCharacterEncodingFilter</filter-name>
    <filter-class>org.apache.catalina.filters.SetCharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter>
    <filter-name>SecurityFilter</filter-name>
    <filter-class>org.sonar.server.platform.web.SecurityServletFilter</filter-class>
  </filter>
  <filter>
    <filter-name>RootFilter</filter-name>
    <filter-class>org.sonar.server.platform.web.RootFilter</filter-class>
  </filter>
  <filter>
    <filter-name>RedirectFilter</filter-name>
    <filter-class>org.sonar.server.platform.web.RedirectFilter</filter-class>
  </filter>
  <filter>
    <filter-name>RequestUidFilter</filter-name>
    <filter-class>org.sonar.server.platform.web.RequestIdFilter</filter-class>
  </filter>
  <filter>
    <filter-name>WebPagesFilter</filter-name>
    <filter-class>org.sonar.server.platform.web.WebPagesFilter</filter-class>
  </filter>
  <filter>
    <filter-name>CacheControlFilter</filter-name>
    <filter-class>org.sonar.server.platform.web.CacheControlFilter</filter-class>
  </filter>

  <!-- order of execution is important -->
  <filter-mapping>
    <filter-name>SetCharacterEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>RootFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>RequestUidFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>RedirectFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SecurityFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>CacheControlFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>UserSessionFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ServletFilters</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>WebPagesFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <servlet>
    <servlet-name>static</servlet-name>
    <servlet-class>org.sonar.server.platform.web.StaticResourcesServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>static</servlet-name>
    <url-pattern>/static/*</url-pattern>
  </servlet-mapping>

  <listener>
    <listener-class>org.sonar.server.platform.web.PlatformServletContextListener</listener-class>
  </listener>

  <mime-mapping>
    <extension>css</extension>
    <mime-type>text/css</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>xml</extension>
    <mime-type>text/xml</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>gif</extension>
    <mime-type>image/gif</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>jpeg</extension>
    <mime-type>image/jpeg</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>jpg</extension>
    <mime-type>image/jpeg</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>htm</extension>
    <mime-type>text/html</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>html</extension>
    <mime-type>text/html</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>jar</extension>
    <mime-type>application/java-archive</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>pdf</extension>
    <mime-type>application/pdf</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>png</extension>
    <mime-type>image/png</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>ico</extension>
    <mime-type>image/x-icon</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>txt</extension>
    <mime-type>text/plain</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>csv</extension>
    <mime-type>text/plain</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>woff</extension>
    <mime-type>application/font-woff</mime-type>
  </mime-mapping>
</web-app>
