<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd">

<mapper namespace="org.sonar.db.alm.OrganizationAlmBindingMapper">

  <sql id="columns">
    oab.uuid,
    oab.organization_uuid as organizationUuid,
    oab.alm_app_install_uuid as almAppInstallUuid,
    oab.alm_id as rawAlmId,
    oab.url,
    oab.user_uuid as userUuid,
    oab.members_sync_enabled as membersSyncEnabled,
    oab.created_at as createdAt
  </sql>

  <select id="selectByOrganizationUuid" parameterType="String" resultType="org.sonar.db.alm.OrganizationAlmBindingDto">
    select
      <include refid="columns"/>
    from
      organization_alm_bindings oab
    where
      oab.organization_uuid = #{organizationUuid, jdbcType=VARCHAR}
  </select>

  <select id="selectByOrganizationUuids" parameterType="String" resultType="org.sonar.db.alm.OrganizationAlmBindingDto">
    select
    <include refid="columns"/>
    from
      organization_alm_bindings oab
    where
      oab.organization_uuid in
      <foreach collection="organizationUuids" open="(" close=")" item="organizationUuid" separator=",">
        #{organizationUuid , jdbcType=VARCHAR}
      </foreach>
  </select>

  <select id="selectByInstallationUuid" parameterType="String" resultType="org.sonar.db.alm.OrganizationAlmBindingDto">
    select
    <include refid="columns"/>
    from
      organization_alm_bindings oab
    where
      oab.alm_app_install_uuid = #{installationUuid, jdbcType=VARCHAR}
  </select>

  <select id="selectByOrganizationAlmIds" parameterType="Map" resultType="org.sonar.db.alm.OrganizationAlmBindingDto">
    select
    <include refid="columns"/>
    from
      organization_alm_bindings oab
      inner join alm_app_installs aai on aai.uuid = oab.alm_app_install_uuid and aai.alm_id = oab.alm_id
    where
      aai.alm_id = #{alm, jdbcType=VARCHAR}
      and aai.owner_id in
      <foreach collection="organizationAlmIds" open="(" close=")" item="organizationAlmId" separator=",">
        #{organizationAlmId , jdbcType=VARCHAR}
      </foreach>
  </select>

  <insert id="insert" parameterType="Map" useGeneratedKeys="false">
    INSERT INTO organization_alm_bindings
    (
      uuid,
      organization_uuid,
      alm_app_install_uuid,
      alm_id,
      url,
      user_uuid,
      members_sync_enabled,
      created_at
    )
    VALUES (
      #{dto.uuid, jdbcType=VARCHAR},
      #{dto.organizationUuid, jdbcType=VARCHAR},
      #{dto.almAppInstallUuid, jdbcType=VARCHAR},
      #{dto.rawAlmId, jdbcType=VARCHAR},
      #{dto.url, jdbcType=VARCHAR},
      #{dto.userUuid, jdbcType=VARCHAR},
      #{dto.membersSyncEnabled, jdbcType=BOOLEAN},
      #{dto.createdAt, jdbcType=BIGINT}
    )
  </insert>

  <delete id="deleteByOrganizationUuid" parameterType="String">
    DELETE FROM organization_alm_bindings WHERE organization_uuid = #{organizationUuid, jdbcType=VARCHAR}
  </delete>

  <delete id="deleteByAlmAppInstallUuid" parameterType="String">
    DELETE FROM organization_alm_bindings WHERE alm_app_install_uuid = #{almAppInstallUuid, jdbcType=VARCHAR}
  </delete>

  <update id="updateMembersSync" parameterType="map">
    update organization_alm_bindings set
    members_sync_enabled = #{membersSyncEnabled, jdbcType=BOOLEAN}
    where
    uuid = #{uuid, jdbcType=VARCHAR}
  </update>
</mapper>
