<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd">

<mapper namespace="org.sonar.db.alm.ProjectAlmBindingMapper">

  <sql id="columns">
    uuid,
    alm_id as rawAlmId,
    repo_id as repoId,
    project_uuid as projectUuid,
    github_slug as githubSlug,
    url
  </sql>

  <select id="bindingCount" parameterType="Map" resultType="int">
    select
      count(*) as count
    from
      project_alm_bindings
    where
      alm_id = #{almId, jdbcType=VARCHAR}
      and repo_id = #{repoId, jdbcType=VARCHAR}
  </select>

  <insert id="insert" parameterType="Map" useGeneratedKeys="false">
    insert into project_alm_bindings
    (
      uuid,
      alm_id,
      repo_id,
      project_uuid,
      github_slug,
      url,
      created_at,
      updated_at
    )
    values (
      #{uuid, jdbcType=VARCHAR},
      #{almId, jdbcType=VARCHAR},
      #{repoId, jdbcType=VARCHAR},
      #{projectUuid, jdbcType=VARCHAR},
      #{githubSlug, jdbcType=VARCHAR},
      #{url, jdbcType=VARCHAR},
      #{now, jdbcType=BIGINT},
      #{now, jdbcType=BIGINT}
    )
  </insert>

  <update id="update" parameterType="map">
    update project_alm_bindings
    set
      project_uuid = #{projectUuid, jdbcType=VARCHAR},
      github_slug = #{githubSlug, jdbcType=VARCHAR},
      url = #{url, jdbcType=VARCHAR},
      updated_at = #{now, jdbcType=BIGINT}
    where
      alm_id = #{almId, jdbcType=VARCHAR}
      and repo_id = #{repoId, jdbcType=VARCHAR}
  </update>

  <select id="selectByRepoIds" parameterType="map" resultType="ProjectAlmBinding">
    select
      <include refid="columns"/>
    from
      project_alm_bindings
    where
      alm_id = #{almId, jdbcType=VARCHAR}
      and repo_id in
    <foreach collection="repoIds" open="(" close=")" item="repoId" separator=",">
      #{repoId,jdbcType=VARCHAR}
    </foreach>
  </select>

  <select id="selectByRepoId" parameterType="map" resultType="ProjectAlmBinding">
    select
      <include refid="columns"/>
    from
      project_alm_bindings
    where
      alm_id = #{almId, jdbcType=VARCHAR}
      and repo_id = #{repoId, jdbcType=VARCHAR}
  </select>

  <select id="selectByProjectUuid" parameterType="map" resultType="ProjectAlmBinding">
    select
      <include refid="columns"/>
    from
      project_alm_bindings
    where
      project_uuid = #{projectUuid, jdbcType=VARCHAR}
  </select>

  <select id="selectProjectKey" parameterType="Map" resultType="String">
    select
      p.kee as projectKey
    from
      project_alm_bindings b
    inner join projects p
      on b.project_uuid = p.project_uuid
    where
      alm_id = #{almId, jdbcType=VARCHAR}
      and repo_id = #{repoId, jdbcType=VARCHAR}
  </select>

</mapper>
