<% if @treemap && @treemap.enough_data? %>
<div id="treemap" class="treemap" style="width: <%= @treemap.width -%>px; height:<%= @treemap.height %>px;">
<%= @treemap.generate_html() %>
</div>
<% end %>