<script id="coding-rules-detail-template" type="text/x-handlebars-template">
  <h3 class="coding-rules-detail-header">
    {{#notEq status 'READY'}}
      <span class="coding-rules-detail-status">{{status}}</span>
    {{/notEq}}
    {{name}}
  </h3>
  <ul class="coding-rules-detail-properties">
    <li class="coding-rules-detail-property"><i class="icon-lang"></i> {{language}}</li>
    <li class="coding-rules-detail-property"><i class="icon-calendar"></i> {{fCreationDate}}</li>
    <li class="coding-rules-detail-property"><i class="icon-tags"></i> {{join tags ', '}}</li>
  </ul>

  <div class="coding-rules-detail-description rule-desc">{{{description}}}</div>
  {{#if extra}}
    <div class="coding-rules-detail-description coding-rules-detail-description-extra rule-desc">{{{extra}}}</div>
  {{/if}}


  <h3 class="coding-rules-detail-header coding-rules-detail-quality-profiles-header">
    {{t 'coding_rules.quality_profiles'}}

    <div class="button-group coding-rules-detail-quality-profiles-activation">
      <button>{{t 'coding_rules.activate_quality_profile'}}</button>
    </div>
  </h3>

  <ul class="coding-rules-detail-quality-profiles">
    {{#each qualityProfiles}}
      <li class="coding-rules-detail-quality-profile">
        <div class="coding-rules-detail-quality-profile-name">{{name}}</div>
        <div class="coding-rules-detail-quality-profile-severity">{{severityIcon severity}}{{t 'severity' severity}}</div>
        <ul class="coding-rules-detail-quality-profile-parameters">
          {{#each parameters}}
            <li class="coding-rules-detail-quality-profile-parameter">
              {{#if ../canUpdate}}
                <label class="coding-rules-detail-quality-profile-parameter-key">{{key}}</label>
                <input class="coding-rules-detail-quality-profile-parameter-value" type="text" value="{{value}}">
                 <div class="button-group coding-rules-detail-quality-profile-parameter-actions">
                   <button class="coding-rules-detail-quality-profile-parameter-update">{{t 'update'}}</button>
                 </div>
              {{else}}
                {{key}}: {{value}}
              {{/if}}
            </li>
          {{/each}}
        </ul>
        {{#if canDeactivate}}
          <div class="button-group coding-rules-detail-quality-profile-actions">
            <button class="button-red">{{t 'coding_rules.deactivate_quality_profile'}}</button>
          </div>
        {{/if}}
      </li>
    {{/each}}
  </ul>
</script>
