<script id="coding-rules-status-template" type="text/x-handlebars-template">
  <div class="navigator-actions-order">
    {{#if sorting}}
      {{t 'coding_rules.ordered_by'}} <strong>{{sorting.sortText}}</strong> {{#if sorting.asc}}<i class="icon-arrow-up"></i>{{else}}<i class="icon-arrow-down"></i>{{/if}}
    {{else}}
      {{t 'coding_rules.order'}}
    {{/if}}
  </div>
  <ul class="navigator-actions-order-choices">
    <li data-sort="CREATION_DATE" data-asc="true">{{t 'coding_rules.sort.creation_date'}} <i class="icon-arrow-up"></i></li>
    <li data-sort="CREATION_DATE" data-asc="false">{{t 'coding_rules.sort.creation_date'}} <i class="icon-arrow-down"></i></li>
    <li data-sort="NAME" data-asc="true">{{t 'coding_rules.sort.name'}} <i class="icon-arrow-up"></i></li>
    <li data-sort="NAME" data-asc="false">{{t 'coding_rules.sort.name'}} <i class="icon-arrow-down"></i></li>
  </ul>
  <div class="navigator-actions-total">
    {{t 'coding_rules.found'}}: <strong>{{paging.fTotal}}</strong>
    <a class="navigator-actions-bulk"
       title="{{t 'bulk_change'}}"><i class="icon-settings-multiple"></i></a>
  </div>
</script>
