<script id="coding-rules-header-template" type="text/x-handlebars-template">
  <h1 class="navigator-header-title">{{t 'coding_rules.page'}}</h1>

  <div class="navigator-header-actions button-group">
    <button id="coding-rules-new-search">{{t 'coding_rules.new_search'}}</button>
  </div>
</script>
