<script id="coding-rules-detail-quality-profile-template" type="text/x-handlebars-template">
  <div class="coding-rules-detail-quality-profile-name">
    {{name}}
    {{#if parent}}
      <span class="coding-rules-detail-quality-profile-inheritance">
        <i class="icon-inheritance"></i> {{parent.name}}
      </span>
    {{/if}}
  </div>

  <ul class="coding-rules-detail-parameters coding-rules-detail-quality-profile-parameters">
    <li class="coding-rules-detail-parameter">
      <h3 class="coding-rules-detail-parameter-name">{{t 'severity'}}</h3>
      <div class="coding-rules-detail-parameter-description">
        <select class="coding-rules-detail-quality-profile-severity">
          {{#each severities}}
            <option value="{{this}}">{{t 'severity' this}}</option>
          {{/each}}
        </select>
        {{#if parent}}
          {{#notEq severity parent.severity}}
            <span class="coding-rules-detail-parameter-original">
              {{t 'coding_rules.original'}} {{severityIcon parent.severity}}{{t 'severity' parent.severity}}
            </span>
          {{/notEq}}
        {{/if}}
      </div>
    </li>
    {{#each parameters}}
      <li class="coding-rules-detail-parameter">
        <h3 class="coding-rules-detail-parameter-name">{{key}}</h3>
        <div class="coding-rules-detail-parameter-description">
          <input type="text" value="{{value}}">
          {{#if ../parent}}
            {{#notEq value original}}
              <span class="coding-rules-detail-parameter-original">
                {{t 'coding_rules.original'}} {{original}}
              </span>
            {{/notEq}}
          {{/if}}
        </div>
      </li>
    {{/each}}
  </ul>

  <div class="button-group coding-rules-detail-quality-profile-actions">
    <button class="coding-rules-detail-quality-profile-update" disabled>{{t 'update'}}</button>
    {{#unless note}}
      <button class="coding-rules-detail-quality-profile-note-add">{{t 'coding_rules.add_note'}}</button>
    {{/unless}}
    {{#if parent}}
      <button class="button-red">{{t 'coding_rules.revert_to_parent_definition'}}</button>
    {{/if}}
    <button class="button-red">{{t 'coding_rules.deactivate_quality_profile'}}</button>
  </div>

  {{#if note}}
    <div class="coding-rules-detail-quality-profile-note">
      <blockquote class="rule-desc">
        <cite>
          <b>{{note.username}}</b> ({{note.fCreationDate}}) &nbsp;|&nbsp;
          <a class="coding-rules-detail-quality-profile-note-edit link-action">{{t 'edit'}}</a>&nbsp;
          <a class="coding-rules-detail-quality-profile-note-delete link-action">{{t 'delete'}}</a>
        </cite>
        {{{note.html}}}
      </blockquote>
    </div>
  {{/if}}

  <div class="coding-rules-detail-quality-profile-note-form admin">
    <table class="width100 table">
      <tbody>
      <tr>
        <td class="width100" colspan="2">
          <textarea class="coding-rules-detail-quality-profile-note-text" rows="4" style="width: 100%;">{{#if note}}{{note.raw}}{{/if}}</textarea>
        </td>
      </tr>
      <tr>
        <td>
          <button class="coding-rules-detail-quality-profile-note-submit">
            {{#if note}}{{t 'update'}}{{else}}{{t 'coding_rules.add_note'}}{{/if}}
          </button>
          <a class="coding-rules-detail-quality-profile-note-cancel action">{{t 'cancel'}}</a>
        </td>
        <td class="right">
          <%= render :partial => 'markdown/tips' -%>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</script>
