<script id="coding-rules-status-template" type="text/x-handlebars-template">
  <div class="navigator-actions-total">
    {{t 'coding_rules.found'}}: <strong>{{paging.fTotal}}</strong>
    <a class="navigator-actions-bulk"
       title="{{t 'bulk_change'}}"><i class="icon-settings-multiple"></i></a>
  </div>
</script>
