<script id="coding-rules-detail-template" type="text/x-handlebars-template">
  <h3 class="coding-rules-detail-header">{{name}}</h3>

  <ul class="coding-rules-detail-properties">
    <li class="coding-rules-detail-property">{{severityIcon severity}} {{t "severity" severity}}</li>
    <li class="coding-rules-detail-property">
      <span class="coding-rules-detail-status">{{language}}</span>
    </li>
    {{#notEq status 'READY'}}
      <li class="coding-rules-detail-property">
        <span class="coding-rules-detail-status">{{status}}</span>
      </li>
    {{/notEq}}
    <li class="coding-rules-detail-property coding-rules-detail-tag-list">
      <i class="icon-tags"></i>
      {{join tags ', '}}
      <a class="link-action coding-rules-detail-tags-change">{{t 'change'}}</a>
    </li>
    <li class="coding-rules-detail-property coding-rules-detail-tag-edit">
      <input class="coding-rules-detail-tag-input" type="text" value="{{join tags ','}}">
      <a class="link-action coding-rules-detail-tag-edit-done">{{t 'done'}}</a>
    </li>
    <li class="coding-rules-detail-property">{{t 'coding_rules.available_since'}} {{fCreationDate}}</li>
    <li class="coding-rules-detail-property">{{t 'coding_rules.repository'}} {{repository}}</li>
    <li class="coding-rules-detail-property">{{t 'coding_rules.key'}} {{key}}</li>
  </ul>

  <div class="coding-rules-detail-description rule-desc">{{{description}}}</div>

  <div class="coding-rules-detail-description coding-rules-detail-description-extra">
    <div id="coding-rules-detail-description-extra">
      {{#if extra}}<div class="rule-desc">{{{extra}}}</div>{{/if}}
      <a class="link-action" id="coding-rules-detail-extend-description">{{t 'coding_rules.extend_description'}}</a>
    </div>

    <div id="coding-rules-detail-extend-description-form" class="admin">
      <table class="width100 table">
        <tbody>
        <tr>
          <td class="width100" colspan="2">
            <textarea id="coding-rules-detail-extend-description-text" rows="4" style="width: 100%;">{{extraRaw}}</textarea>
          </td>
        </tr>
        <tr>
          <td>
            <button id="coding-rules-detail-extend-description-submit">{{t 'coding_rules.extend_description'}}</button>
            <a id="coding-rules-detail-extend-description-cancel" class="action">{{t 'cancel'}}</a>
          </td>
          <td class="right">
            <%= render :partial => 'markdown/tips' -%>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

    <div id="coding-rules-detail-extend-description-spinner">
      <i class="spinner"></i>
    </div>
  </div>


  {{#if parameters}}
    <h3 class="coding-rules-detail-title">{{t 'coding_rules.parameters'}}</h3>
    <ul class="coding-rules-detail-parameters">
      {{#each parameters}}
        <li class="coding-rules-detail-parameter">
          <h3 class="coding-rules-detail-parameter-name">{{key}}</h3>
          <div class="coding-rules-detail-parameter-description">
            {{description}}

            {{#if default}}
              <div>{{t 'coding_rules.parameters.default_value'}} {{default}}</div>
            {{/if}}
          </div>
        </li>
      {{/each}}
    </ul>
  {{/if}}


  <h3 class="coding-rules-detail-title">{{t 'coding_rules.quality_profiles'}}</h3>
  <div id="coding-rules-detail-quality-profiles"></div>
</script>
