<script id="coding-rules-list-item-template" type="text/x-handlebars-template">
  <div class="line line-nowrap" title="{{name}}">{{name}}</div>
  <div class="line line-small">{{language}}</div>
</script>
