<script id="coding-rules-header-template" type="text/x-handlebars-template">
  <div class="navigator-header-menu-toggle">
    <i class="icon-list"></i>
  </div>

  <h1 class="navigator-header-title">
    {{#if header}}{{{header}}}{{else}}{{t 'coding_rules.page'}}{{/if}}
  </h1>

  <div class="navigator-header-actions button-group">
    <button id="issues-new-search">{{t 'coding_rules.new_search'}}</button>
  </div>
</script>
