<script id="coding-rules-layout" type="text/x-handlebars-template">
  <div class="navigator-header"></div>
  <div class="navigator-filters"></div>
  <div class="navigator-facets"></div>
  <div class="navigator-actions"></div>
  <div class="navigator-results"></div>
  <div class="navigator-details"></div>
</script>
