<div class="markdown-tips">
  <a href="#" onclick="window.open(baseUrl + '/markdown/help','markdown','height=300,width=600,scrollbars=1,resizable=1');return false;"><%= message('markdown.helplink')-%></a> :
  &nbsp; *<%= message('bold') -%>*  &nbsp;&nbsp; ``<%= message('code') -%>``  &nbsp;&nbsp; * <%= message('bulleted_point') -%>
</div>