body {
  font-family: Verdana,arial,sans-serif;
  font-size: 9pt;
}
a {
  color: #036;
}
table {
  border-collapse: collapse;
  width: 100%;
}
table td {
  border: 1px #CCC solid;
  padding: 3px;
  font-size: 9pt;
}
th {
  text-align: left;
}
.button {
  background: #3C78B5;
  text-align: center;
  border-radius: 3px;
  display: block;
  padding: 5px;
  cursor: pointer;
  margin: 5px;
  color: white;
}
