<meta http-equiv='refresh' content='5;url=<%= home_path -%>'>

<div class="notice migration" style="padding:10px">
  <%= image_tag 'accept.png' -%> <b>Database is up-to-date.</b>
  <br/>
  <br/>
  You will be redirected shortly to SonarQube.
  <br/>
  <i>(if this does not happen, you can <a href="<%= home_path -%>">click here to be redirected</a>)</i>
</div>