<h1>Fail to connect to database</h1>
<div class="error">
  Database connection cannot be established. Please check database status and JDBC settings.
  <br/><br/>
<%= button_to "Try again", { :action => "index" }, :method => :get %>
</div>