<div class="error migration" style="padding:10px">
  <%= image_tag 'exclamation.png' -%>
  <b>Impossible to upgrade database</b>
  <br/>
  <br/>
  <%= DatabaseMigrationManager.instance.message -%>
</div>