<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd">

<mapper namespace="org.sonar.db.source.FileSourceMapper">

  <select id="select" parameterType="map" resultType="org.sonar.db.source.FileSourceDto">
    select
      id,
      project_uuid as projectUuid,
      file_uuid as fileUuid,
      created_at as createdAt,
      updated_at as updatedAt,
      binary_data as binaryData,
      line_hashes as rawLineHashes,
      line_count as lineCount,
      data_hash as dataHash,
      src_hash as srcHash,
      data_type as
      dataType,
      revision
    from
      file_sources
    where
      file_uuid = #{fileUuid}
      and data_type = #{dataType}
  </select>

  <select id="selectHashesForProject" parameterType="map" resultType="org.sonar.db.source.FileSourceDto">
    select
      id,
      file_uuid as fileUuid,
      data_hash as dataHash,
      src_hash as srcHash,
      revision,
      updated_at as updatedAt
    from
      file_sources
    where
      project_uuid = #{projectUuid}
      and data_type=#{dataType}
  </select>

  <select id="scrollLineHashes" parameterType="map" resultType="org.sonar.db.source.LineHashesWithKeyDto" fetchSize="${_scrollFetchSize}" resultSetType="FORWARD_ONLY">
    select
      p.kee as kee,
      fs.line_hashes as rawLineHashes
    from projects p
    inner join file_sources fs on
      fs.file_uuid = p.uuid
      and fs.data_type = 'SOURCE'
    where
      p.kee in
      <foreach collection="fileKeys" item="fileKey" open="(" close=")" separator=",">
        #{fileKey,jdbcType=VARCHAR}
      </foreach>
  </select>

  <insert id="insert" parameterType="org.sonar.db.source.FileSourceDto" useGeneratedKeys="false">
    insert into file_sources
    (
      project_uuid,
      file_uuid,
      created_at,
      updated_at,
      binary_data,
      line_hashes,
      line_count,
      data_hash,
      src_hash,
      data_type,
      revision
    )
    values
    (
      #{projectUuid,jdbcType=VARCHAR},
      #{fileUuid,jdbcType=VARCHAR},
      #{createdAt,jdbcType=BIGINT},
      #{updatedAt,jdbcType=BIGINT},
      #{binaryData,jdbcType=BLOB},
      #{rawLineHashes,jdbcType=CLOB},
      #{lineCount,jdbcType=INTEGER},
      #{dataHash,jdbcType=VARCHAR},
      #{srcHash,jdbcType=VARCHAR},
      #{dataType,jdbcType=VARCHAR},
      #{revision,jdbcType=VARCHAR}
    )
  </insert>

  <update id="update" parameterType="org.sonar.db.source.FileSourceDto" useGeneratedKeys="false">
    update
      file_sources
    set
      updated_at = #{updatedAt,jdbcType=BIGINT},
      binary_data = #{binaryData,jdbcType=BLOB},
      line_hashes = #{rawLineHashes,jdbcType=CLOB},
      line_count = #{lineCount,jdbcType=INTEGER},
      data_hash = #{dataHash,jdbcType=VARCHAR},
      src_hash = #{srcHash,jdbcType=VARCHAR},
      revision = #{revision,jdbcType=VARCHAR}
    where
      id = #{id}
  </update>

</mapper>

