<div class="line-block">
  <div class="operations noprint button-group">
    <button>{{t 'dashboard.configure_widgets'}}</button>
    <a class="button" href="{{manageDashboardsUrl}}">{{t 'dashboard.manage_dashboards'}}</a>
  </div>
</div>

{{#eq dashboard.layout '50%-50%'}}
  <div class="dashboard-column-wrapper" style="width: 50%;margin: 0 -1px 0 0;">
    <div class="dashboard-column" style="margin: 0 5px 0 0;">

    </div>
  </div>
  <div class="dashboard-column-wrapper" style="width: 50%;margin: 0 -1px 0 0;">
    <div class="dashboard-column" style="margin: 0 0 0 5px;">

    </div>
  </div>
{{/eq}}
