<script id="ajax-select-filter-template" type="text/x-handlebars-template">
  <div class="navigator-filter-search">
    <input type="text">
  </div>
  <ul class="navigator-filter-select-list choices"></ul>
  <ul class="navigator-filter-select-list opposite"></ul>
</script>
