<script id="checkbox-filter-template" type="text/x-handlebars-template">
  <div class="navigator-filter-label">{{name}}</div>
  {{#if optional}}
    <div class="navigator-filter-disable">&times;</div>
  {{/if}}
</script>
