<form id="edit-property-set-form" method="post" action="property-sets/update">
  <fieldset>
    <div class="modal-head">
    </div>

    <div class="modal-body">
      <% @property_sets.each do |property_set| -%>
        <% property_set.fields.each do |field| -%>
          <%= field.name %> (<%= field.type %>)<br/>
        <% end -%>
      <% end -%>
    </div>

    <div class="modal-foot">
      <a href="#" onclick="return closeModalWindow();" id="rename-cancel"><%= h message('cancel') -%></a>
    </div>
  </fieldset>
</form>

<script>
  $j("#edit-property-set-form").modalForm();
</script>
