<header class="overview-card-header page-header">
  <h2 class="page-title">{{t 'overview.gate'}}</h2>
</header>

{{#notEmpty gateConditions}}
  <div class="columns">
    <div class="column-half">
      <ul>
        {{#eachEven gateConditions}}
          {{> '_overview-gate-condition'}}
        {{/eachEven}}
      </ul>
    </div>
    <div class="column-half">
      <ul>
        {{#eachOdd gateConditions}}
          {{> '_overview-gate-condition'}}
        {{/eachOdd}}
      </ul>
    </div>
  </div>
{{/notEmpty}}
