<div class="overview-card overview-gate" id="overview-gate"></div>

<div class="overview-container columns">
  <div class="column-half">
    <div class="overview-card" id="overview-size"></div>
  </div>
  <div class="column-half">
    <div class="overview-card" id="overview-issues"></div>
  </div>
</div>
<div class="overview-container columns">
  <div class="column-half">
    <div class="overview-card" id="overview-coverage"></div>
  </div>
  <div class="column-half">
    <div class="overview-card" id="overview-duplications"></div>
  </div>
</div>
