<div class="overview-card-header page-header">
  <h2 class="page-title">Quality Gate</h2>
  <div class="page-actions">
    <a class="badge badge-muted" href="#">SonarQube Way</a>
  </div>
</div>

<div class="alert alert-danger">
  <i class="icon-alert-error"></i>&nbsp;The project failed the quality gate on the following conditions:
</div>

<ul class="list-inline spacer-top">
  <li>
    <span class="big alert_ERROR">7</span>
    <p class="note" style="padding-top: 4px;">blocker issues</p>
  </li>
  <li>
    <span class="big alert_ERROR">26</span>
    <p class="note" style="padding-top: 4px;">critical issues</p>
    <p class="note">since 5.1</p>
  </li>
  <li>
    <span class="big alert_WARN">78.4%</span>
    <p class="note" style="padding-top: 4px;">coverage on new code</p>
    <p class="note">since 5.1</p>
  </li>
</ul>
