<div class="columns">
  <div class="column-half">
    <div class="overview-card" id="overview-gate"></div>
    <div class="overview-card" id="overview-size"></div>
  </div>
  <div class="column-half">
    <div class="overview-card" id="overview-issues"></div>
    <div class="overview-card" id="overview-coverage"></div>
    <div class="overview-card" id="overview-duplications"></div>
  </div>
</div>
