<div>
  This application is based on
  <a href="http://www.sonarqube.org/" title="SonarQube&trade;">SonarQube&trade;</a>
  but is <strong>not</strong> an official version provided by
  <a href="http://www.sonarsource.com" title="SonarSource SA">SonarSource SA</a>.
</div>
