@import "variables";
@import "mixins";
@import "navigator/config";

.web-services-list {
	width: 100%;
	margin: 10px;

	td {
		vertical-align: top;
		padding-bottom: 10px;
	}

	.web-service-description {
		margin-bottom: 20px;
	}

	.api-documentation-action {
		margin-bottom: 10px;
	}
}
