{{> "_issues-facet-header"}}
<div class="search-navigator-facet-list">
  {{#each values}}
    <a class="facet search-navigator-facet js-facet" data-value="{{val}}" title="{{default label val}}">
      <span class="facet-name">{{default label val}}</span>
      <span class="facet-stat">
        {{formatFacetValue count ../state.facetMode}}
      </span>
    </a>
  {{/each}}
</div>
