{{> "_issues-facet-header"}}

<div class="search-navigator-facet-container">
  <div class="facet search-navigator-facet active" style="cursor: default;">
    <span class="facet-name">{{issues}}</span>
  </div>
</div>
