<div class="search-navigator-facet-header">
  {{t 'issues.facet.mode'}}
</div>


<div class="search-navigator-facet-list">
  <a class="facet search-navigator-facet search-navigator-facet-half js-facet {{#eq mode 'count'}}active{{/eq}}"
     data-value="count">
    <span class="facet-name">{{t 'issues.facet.mode.issues'}}</span>
  </a>
  <a class="facet search-navigator-facet search-navigator-facet-half js-facet {{#eq mode 'effort'}}active{{/eq}}"
     data-value="effort">
    <span class="facet-name">{{t 'issues.facet.mode.effort'}}</span>
  </a>
</div>
