<div class="issues-facet-mode">
  <ul class="radio-toggle">
    <li>
      <input type="radio" name="issues-page-mode" value="count" id="issues-page-mode-count"
             {{#eq mode 'count'}}checked{{/eq}}>
      <label for="issues-page-mode-count">Issues</label>
    </li>
    <li>
      <input type="radio" name="issues-page-mode" value="debt" id="issues-page-mode-debt"
             {{#eq mode 'debt'}}checked{{/eq}}>
      <label for="issues-page-mode-debt">Debt</label>
    </li>
  </ul>
</div>
