{{#if user.isLoggedIn}}
  <ul class="radio-toggle">
    <li>
      <input type="radio" name="issues-page-my" value="my" id="issues-page-my-my" {{#if me}}checked{{/if}}>
      <label for="issues-page-my-my">My Issues</label>
    </li>
    <li>
      <input type="radio" name="issues-page-my" value="all" id="issues-page-my-all" {{#unless me}}checked{{/unless}}>
      <label for="issues-page-my-all">All</label>
    </li>
  </ul>
{{/if}}
