<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd">
<mapper namespace="org.sonar.db.dependency.IssuesDependencyMapper">

   <insert id="insert" parameterType="org.sonar.db.dependency.IssuesDependencyDto" useGeneratedKeys="false">
    insert into issues_dependency (
      issue_uuid,
      cve_uuid
    ) values (
      #{issueUuid, jdbcType=VARCHAR},
      #{cveUuid, jdbcType=VARCHAR}
    )
   </insert>

</mapper>
