<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.sonar.core.qualityprofile.db.ActiveRuleMapper">

  <sql id="activeRuleColumns">
    a.id,
    a.profile_id as profileId,
    a.rule_id as ruleId,
    a.failure_level as severity,
    a.inheritance as inheritance,
    a.note_data as noteData,
    a.note_user_login as noteUserLogin,
    a.note_updated_at as noteUpdatedAt,
    a.note_created_at as noteCreatedAt
  </sql>

  <sql id="activeRuleParamColumns">
    p.id,
    p.active_rule_id as activeRuleId,
    p.rules_parameter_id as rulesParameterId,
    p.rules_parameter_key as kee,
    p.value as value
  </sql>

  <select id="selectById" parameterType="Integer" resultType="ActiveRule">
    SELECT <include refid="activeRuleColumns"/>
    FROM active_rules a
    <where>
      AND id=#{id}
    </where>
  </select>

  <select id="selectByProfileAndRule" parameterType="map" resultType="ActiveRule">
    SELECT <include refid="activeRuleColumns"/>
    FROM active_rules a
    <where>
      AND profile_id=#{profileId}
      AND rule_id=#{ruleId}
    </where>
  </select>

  <select id="selectParamById" parameterType="Integer" resultType="ActiveRuleParam">
    SELECT <include refid="activeRuleParamColumns"/>
    FROM active_rule_parameters p
    <where>
      AND id=#{id}
    </where>
  </select>

  <select id="selectParamByActiveRuleAndKey" parameterType="map" resultType="ActiveRuleParam">
    SELECT <include refid="activeRuleParamColumns"/>
    FROM active_rule_parameters p
    <where>
      AND active_rule_id=#{activeRuleId}
      AND rules_parameter_key=#{key}
    </where>
  </select>

  <insert id="insert" parameterType="ActiveRule" keyColumn="id" useGeneratedKeys="true" keyProperty="id">
    INSERT INTO active_rules (profile_id, rule_id, failure_level, inheritance, note_created_at, note_updated_at, note_user_login, note_data)
    VALUES (#{profileId}, #{ruleId}, #{severity}, #{inheritance}, #{noteCreatedAt}, #{noteUpdatedAt}, #{noteUserLogin}, #{noteData})
  </insert>

  <update id="update" parameterType="ActiveRule">
    UPDATE active_rules SET
    profile_id=#{profileId},
    rule_id=#{ruleId},
    failure_level=#{severity},
    inheritance=#{inheritance},
    note_created_at=#{noteCreatedAt},
    note_updated_at=#{noteUpdatedAt},
    note_user_login=#{noteUserLogin},
    note_data=#{noteData}
    WHERE id=#{id}
  </update>

  <insert id="insertParameter" parameterType="ActiveRuleParam" keyColumn="id" useGeneratedKeys="true" keyProperty="id">
    INSERT INTO active_rule_parameters (active_rule_id, rules_parameter_id, rules_parameter_key, value)
    VALUES (#{activeRuleId}, #{rulesParameterId}, #{key}, #{value})
  </insert>

  <update id="updateParameter" parameterType="ActiveRuleParam">
    UPDATE active_rule_parameters SET
    active_rule_id=#{activeRuleId},
    rules_parameter_id=#{rulesParameterId},
    rules_parameter_key=#{key},
    value=#{value}
    WHERE id=#{id}
  </update>

  <update id="delete" parameterType="Integer">
    DELETE FROM active_rules WHERE id=#{id}
  </update>

  <update id="deleteParameters" parameterType="Integer">
    DELETE FROM active_rule_parameters WHERE active_rule_id=#{id}
  </update>

  <update id="deleteParameter" parameterType="Integer">
    DELETE FROM active_rule_parameters WHERE id=#{id}
  </update>


</mapper>

