<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.sonar.core.qualityprofile.db.QualityProfileMapper">

  <sql id="profilesColumns">
    p.id,
    p.name as name,
    p.language as language,
    p.parent_name as parent,
    p.version as version,
    p.used_profile as used
  </sql>

  <insert id="insert" parameterType="QualityProfile" keyColumn="id" useGeneratedKeys="true" keyProperty="id">
    INSERT INTO rules_profiles (name, language, parent_name, version, used_profile)
    VALUES (#{name}, #{language}, #{parent}, #{version}, #{used})
  </insert>

  <update id="update" parameterType="QualityProfile">
    UPDATE rules_profiles SET
    name=#{name},
    language=#{language},
    parent_name=#{parent},
    version=#{version},
    used_profile=#{used}
    WHERE id=#{id}
  </update>

  <update id="delete" parameterType="Integer">
    DELETE FROM rules_profiles WHERE id=#{id}
  </update>

  <select id="selectAll" parameterType="map" resultType="QualityProfile">
    SELECT <include refid="profilesColumns"/>
    FROM rules_profiles p
    ORDER BY p.name, p.language
  </select>

  <select id="selectByNameAndLanguage" parameterType="map" resultType="QualityProfile">
    SELECT <include refid="profilesColumns"/>
    FROM rules_profiles p
    <where>
      AND UPPER(p.name)=#{name}
      AND p.language=#{language}
    </where>
  </select>

  <select id="selectByLanguage" parameterType="String" resultType="QualityProfile">
    SELECT <include refid="profilesColumns"/>
    FROM rules_profiles p
    <where>
      AND p.language=#{language}
    </where>
    ORDER BY p.name
  </select>

  <select id="selectById" parameterType="Integer" resultType="QualityProfile">
    SELECT <include refid="profilesColumns"/>
    FROM rules_profiles p
    <where>
      AND p.id=#{id}
    </where>
  </select>

  <select id="selectParent" parameterType="Integer" resultType="QualityProfile">
    SELECT <include refid="profilesColumns"/>
    FROM rules_profiles p
    INNER JOIN rules_profiles child ON child.parent_name=p.name and child.language=p.language and child.id=#{childId}
  </select>

  <select id="selectChildren" parameterType="map" resultType="QualityProfile">
    SELECT <include refid="profilesColumns"/>
    FROM rules_profiles p
    <where>
      AND UPPER(p.parent_name)=#{name}
      AND p.language=#{language}
    </where>
    ORDER BY p.name
  </select>

  <select id="countChildren" parameterType="map" resultType="Integer">
    SELECT count(p.id)
    FROM rules_profiles p
    <where>
      AND UPPER(p.parent_name)=#{name}
      AND p.language=#{language}
    </where>
  </select>

  <select id="selectDefaultProfile" parameterType="Integer" resultType="QualityProfile">
    SELECT <include refid="profilesColumns"/>
    FROM rules_profiles p
    INNER JOIN properties prop ON prop.prop_key=#{key}
      AND prop.resource_id IS NULL
      AND prop.text_value LIKE p.name
    <where>
      AND p.language=#{language}
    </where>
  </select>

  <select id="selectProjects" parameterType="Integer" resultType="Component">
    SELECT projects.id as id, projects.name as name, projects.kee as kee
    FROM projects projects
    LEFT JOIN properties ON properties.resource_id = projects.id
    <where>
      AND properties.resource_id IS NOT NULL
      AND properties.prop_key=#{key}
      AND properties.text_value LIKE #{value}
    </where>
  </select>

  <select id="countProjects" parameterType="Integer" resultType="Integer">
    SELECT count(projects.id)
    FROM projects projects
    LEFT JOIN properties ON properties.resource_id = projects.id
    <where>
      AND properties.resource_id IS NOT NULL
      AND properties.prop_key=#{key}
      AND properties.text_value LIKE #{value}
    </where>
  </select>

  <select id="selectByProject" parameterType="map" resultType="QualityProfile">
    SELECT DISTINCT <include refid="profilesColumns"/>
    FROM rules_profiles p
    INNER JOIN properties prop ON prop.resource_id=#{projectId}
      AND prop.prop_key LIKE #{key}
      AND prop.text_value LIKE p.name
  </select>

  <update id="updatedUsedColumn" parameterType="map">
    UPDATE rules_profiles SET
    used_profile=#{used}
    WHERE id=#{id}
  </update>

</mapper>

