<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.sonar.core.qualityprofile.db.QualityProfileMapper">

  <sql id="profilesColumns">
    p.id,
    p.name as name,
    p.language as language,
    p.parent_name as parent,
    p.version as version,
    p.used_profile as used
  </sql>

  <select id="selectAll" parameterType="map" resultType="QualityProfile">
    SELECT <include refid="profilesColumns"/>
    FROM rules_profiles p
  </select>

  <select id="selectByNameAndLanguage" parameterType="map" resultType="QualityProfile">
    SELECT <include refid="profilesColumns"/>
    FROM rules_profiles p
    <where>
      AND UPPER(p.name)=#{name}
      AND p.language=#{language}
    </where>
  </select>

  <select id="selectById" parameterType="Integer" resultType="QualityProfile">
    SELECT <include refid="profilesColumns"/>
    FROM rules_profiles p
    <where>
      AND p.id=#{id}
    </where>
  </select>

  <select id="selectProjects" parameterType="Integer" resultType="Component">
    SELECT projects.id as id, projects.name as name, projects.kee as key
    FROM projects projects
    LEFT JOIN properties ON properties.resource_id = projects.id
    <where>
      AND properties.resource_id IS NOT NULL
      AND properties.prop_key=#{key}
      AND properties.text_value like #{value}
    </where>
  </select>

  <insert id="insert" parameterType="QualityProfile" keyColumn="id" useGeneratedKeys="true" keyProperty="id">
    INSERT INTO rules_profiles (name, language, parent_name, version, used_profile)
    VALUES (#{name}, #{language}, #{parent}, #{version}, #{used})
  </insert>

  <update id="update" parameterType="QualityProfile">
    UPDATE rules_profiles SET
    name=#{name},
    language=#{language},
    parent_name=#{parent},
    version=#{version},
    used_profile=#{used}
    WHERE id=#{id}
  </update>

  <update id="delete" parameterType="Integer">
    DELETE FROM rules_profiles WHERE id=#{id}
  </update>

</mapper>

