<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd">
<mapper namespace="org.sonar.db.portfolio.PortfolioMapper">

    <sql id="portfolioColumns">
      p.uuid as uuid,
      p.kee as kee,
      p.name as name,
      p.description as description,
      p.private as isPrivate,
      p.root_uuid as rootUuid,
      p.parent_uuid as parentUuid,
      p.selection_mode as selectionMode,
      p.selection_expression as selectionExpression,
      p.created_at as createdAt,
      p.updated_at as updatedAt
    </sql>

  <sql id="projectColumns">
    p.uuid as uuid,
    p.kee as kee,
    p.qualifier as qualifier,
    p.name as name,
    p.description as description,
    p.tags as tagsString,
    p.private as isPrivate,
    p.created_at as createdAt,
    p.updated_at as updatedAt
  </sql>

  <select id="selectByUuid" parameterType="String" resultType="Portfolio">
    SELECT
      <include refid="portfolioColumns"/>
    FROM portfolios p
    where
      p.uuid=#{uuid,jdbcType=VARCHAR}
  </select>

  <select id="selectByUuids" parameterType="String" resultType="Portfolio">
    SELECT
    <include refid="portfolioColumns"/>
    FROM portfolios p
    where
    p.uuid in
    <foreach collection="uuids" open="(" close=")" item="uuid" separator=",">
      #{uuid,jdbcType=VARCHAR}
    </foreach>
  </select>

    <select id="selectByKey" parameterType="String" resultType="Portfolio">
    SELECT
      <include refid="portfolioColumns"/>
    FROM portfolios p
    where
      p.kee=#{kee,jdbcType=VARCHAR}
  </select>

  <select id="selectByKeys" parameterType="String" resultType="Portfolio">
    SELECT
    <include refid="portfolioColumns"/>
    FROM portfolios p
    where
    p.kee in
    <foreach collection="keys" open="(" close=")" item="key" separator=",">
      #{key,jdbcType=VARCHAR}
    </foreach>
  </select>

  <select id="selectAll" resultType="Portfolio">
    SELECT
    <include refid="portfolioColumns"/>
    FROM portfolios p
  </select>

  <select id="selectAllRoots" resultType="Portfolio">
    SELECT
      <include refid="portfolioColumns"/>
    FROM portfolios p
    where
      p.parent_uuid is null
  </select>

   <select id="selectProjects" resultType="Project">
     SELECT
     <include refid="projectColumns"/>
     FROM portfolio_projects pp
     INNER JOIN projects p on p.uuid = pp.project_uuid
     WHERE
      pp.portfolio_uuid=#{portfolioUuid,jdbcType=VARCHAR}
  </select>

  <select id="selectAllPortfolioProjects" resultType="org.sonar.db.portfolio.PortfolioProjectDto">
    SELECT
       pp.uuid,
       pp.project_uuid as projectUuid,
       pp.portfolio_uuid as portfolioUuid,
       pp.project_uuid as projectUuid,
       pp.created_at as createdAt
    FROM portfolio_projects pp
    INNER JOIN projects p on p.uuid = pp.project_uuid
  </select>

  <select id="selectAllProjectsInHierarchy" resultType="org.sonar.db.portfolio.PortfolioProjectDto">
    SELECT
      pp.uuid,
      pp.project_uuid as projectUuid,
      pp.portfolio_uuid as portfolioUuid,
      pp.project_uuid as projectUuid,
      pp.created_at as createdAt
    FROM portfolio_projects pp
       INNER JOIN portfolios p
       ON pp.portfolio_uuid = p.uuid
    where
       p.root_uuid = #{rootUuid,jdbcType=VARCHAR}
  </select>

  <select id="selectReferenceUuids" resultType="String">
    SELECT
      p.reference_uuid
    FROM portfolio_references p
    where
      p.portfolio_uuid=#{portfolioUuid,jdbcType=VARCHAR}
  </select>

  <select id="selectRootOfReferencers" resultType="Portfolio">
    SELECT distinct <include refid="portfolioColumns"/>
    FROM portfolios c
    INNER JOIN portfolio_references pr on pr.portfolio_uuid = c.uuid
    INNER JOIN portfolios p on p.uuid = c.root_uuid
    where
      pr.reference_uuid=#{referenceUuid,jdbcType=VARCHAR}
  </select>

  <select id="selectTree" parameterType="String" resultType="Portfolio">
    SELECT <include refid="portfolioColumns"/>
    FROM portfolios p
    INNER JOIN portfolios p2 ON p.root_uuid = p2.root_uuid
    WHERE p2.uuid=#{portfolioUuid,jdbcType=VARCHAR}
  </select>

 <select id="selectReferencers" resultType="Portfolio">
    SELECT
      <include refid="portfolioColumns"/>
    FROM portfolios p
    INNER JOIN portfolio_references pr ON p.uuid = pr.portfolio_uuid
    WHERE pr.reference_uuid=#{referenceUuid,jdbcType=VARCHAR}
  </select>

  <delete id="deleteReference">
    DELETE FROM portfolio_references
    WHERE
      portfolio_uuid = #{portfolioUuid,jdbcType=VARCHAR}
    AND reference_uuid = #{referenceUuid,jdbcType=VARCHAR}
  </delete>

  <select id="selectReference" resultType="org.sonar.db.portfolio.ReferenceDetailsDto">
    (SELECT
      source.uuid as sourceUuid,
      source.root_uuid as sourceRootUuid,
      target.uuid as targetUuid,
      target.root_uuid as targetRootUuid,
      target.name as targetName,
      target.kee as targetKey
    FROM portfolio_references pr
     INNER JOIN portfolios source ON pr.portfolio_uuid = source.uuid
     INNER JOIN portfolios target ON pr.reference_uuid = target.uuid
     WHERE pr.portfolio_uuid = #{portfolioUuid,jdbcType=VARCHAR}
     AND target.kee=#{referenceKey,jdbcType=VARCHAR}

    UNION

    SELECT
      source.uuid as sourceUuid,
      source.root_uuid as sourceRootUuid,
      target.uuid as targetUuid,
      target.uuid as targetRootUuid,
      target.name as targetName,
      target.kee as targetKey
    FROM portfolio_references pr
     INNER JOIN portfolios source ON pr.portfolio_uuid = source.uuid
     INNER JOIN projects target ON pr.reference_uuid = target.uuid AND target.qualifier = 'APP'
     WHERE pr.portfolio_uuid = #{portfolioUuid,jdbcType=VARCHAR}
     AND target.kee=#{referenceKey,jdbcType=VARCHAR})
  </select>

   <insert id="insert" parameterType="Portfolio">
    INSERT INTO portfolios (
      kee,
      uuid,
      name,
      description,
      private,
      root_uuid,
      parent_uuid,
      selection_mode,
      selection_expression,
      created_at,
      updated_at
    )
    VALUES (
    #{kee,jdbcType=VARCHAR},
    #{uuid,jdbcType=VARCHAR},
    #{name,jdbcType=VARCHAR},
    #{description,jdbcType=VARCHAR},
    #{isPrivate,jdbcType=BOOLEAN},
    #{rootUuid,jdbcType=VARCHAR},
    #{parentUuid,jdbcType=VARCHAR},
    #{selectionMode,jdbcType=VARCHAR},
    #{selectionExpression,jdbcType=VARCHAR},
    #{createdAt,jdbcType=BIGINT},
    #{updatedAt,jdbcType=BIGINT}
    )
  </insert>

  <delete id="delete" parameterType="String">
    DELETE FROM portfolios WHERE uuid = #{portfolioUuid,jdbcType=VARCHAR};
    DELETE FROM portfolio_references WHERE portfolio_uuid = #{portfolioUuid,jdbcType=VARCHAR};
    DELETE FROM portfolio_projects WHERE portfolio_uuid = #{portfolioUuid,jdbcType=VARCHAR};
  </delete>

  <select id="selectAllReferencesToPortfolios" resultType="org.sonar.db.portfolio.ReferenceDto">
    SELECT
      source.uuid as sourceUuid,
      source.root_uuid as sourceRootUuid,
      target.uuid as targetUuid,
      target.root_uuid as targetRootUuid
    FROM portfolio_references pr
    INNER JOIN portfolios source ON pr.portfolio_uuid = source.uuid
    INNER JOIN portfolios target ON pr.reference_uuid = target.uuid
  </select>

  <select id="selectAllReferencesToApplications" resultType="org.sonar.db.portfolio.ReferenceDto">
    SELECT
    source.uuid as sourceUuid,
    source.root_uuid as sourceRootUuid,
    target.uuid as targetUuid,
    target.uuid as targetRootUuid
    FROM portfolio_references pr
    INNER JOIN portfolios source ON pr.portfolio_uuid = source.uuid
    INNER JOIN projects target ON pr.reference_uuid = target.uuid where target.qualifier = 'APP'
  </select>

  <select id="selectAllReferencesInHierarchy" resultType="org.sonar.db.portfolio.ReferenceDto">
    (SELECT
    source.uuid as sourceUuid,
    source.root_uuid as sourceRootUuid,
    target.uuid as targetUuid,
    target.root_uuid as targetRootUuid
    FROM portfolio_references pr
    INNER JOIN portfolios source ON pr.portfolio_uuid = source.uuid
    INNER JOIN portfolios target ON pr.reference_uuid = target.uuid
    WHERE source.root_uuid = #{rootUuid,jdbcType=VARCHAR}
    UNION
    SELECT
    source.uuid as sourceUuid,
    source.root_uuid as sourceRootUuid,
    target.uuid as targetUuid,
    target.uuid as targetRootUuid
    FROM portfolio_references pr
    INNER JOIN portfolios source ON pr.portfolio_uuid = source.uuid
    INNER JOIN projects target ON pr.reference_uuid = target.uuid
    WHERE target.qualifier = 'APP'
    AND source.root_uuid = #{rootUuid,jdbcType=VARCHAR})
  </select>

  <delete id="deletePortfoliosByUuids" parameterType="String">
    DELETE FROM portfolios WHERE uuid in
    <foreach collection="uuids" open="(" close=")" item="uuid" separator=",">#{uuid,jdbcType=VARCHAR}</foreach>
  </delete>

  <delete id="deleteReferencesByPortfolioOrReferenceUuids" parameterType="String">
    DELETE FROM portfolio_references WHERE portfolio_uuid in
    <foreach collection="uuids" open="(" close=")" item="uuid" separator=",">#{uuid,jdbcType=VARCHAR}</foreach>
    OR reference_uuid in
    <foreach collection="uuids" open="(" close=")" item="uuid" separator=",">#{uuid,jdbcType=VARCHAR}</foreach>
  </delete>

  <delete id="deleteProjectsByPortfolioUuids" parameterType="String">
    DELETE FROM portfolio_projects WHERE portfolio_uuid in
    <foreach collection="uuids" open="(" close=")" item="uuid" separator=",">#{uuid,jdbcType=VARCHAR}</foreach>
  </delete>

  <delete id="deleteAllDescendantPortfolios" parameterType="String">
    DELETE FROM portfolios WHERE root_uuid = #{rootUuid,jdbcType=VARCHAR} and parent_uuid is not null
  </delete>

  <delete id="deleteAllReferences" parameterType="String">
    DELETE FROM portfolio_references
  </delete>

  <delete id="deleteAllProjects" parameterType="String">
    DELETE FROM portfolio_projects
  </delete>

  <insert id="insertReference" parameterType="PortfolioReference">
    INSERT INTO portfolio_references (
      uuid,
      portfolio_uuid,
      reference_uuid,
      created_at
    )
    VALUES (
    #{uuid,jdbcType=VARCHAR},
    #{portfolioUuid,jdbcType=VARCHAR},
    #{referenceUuid,jdbcType=VARCHAR},
    #{createdAt,jdbcType=BIGINT}
    )
  </insert>

  <select id="selectReferencesTo" parameterType="String">
    SELECT
      <include refid="portfolioColumns"/>
    FROM portfolios p
    INNER JOIN portfolio_references pr ON p.uuid = pr.portfolio_uuid
    where pr.reference_uuid =  #{referenceUuid,jdbcType=VARCHAR}
  </select>

  <delete id="deleteReferencesTo" parameterType="String">
    delete from portfolio_references
    where reference_uuid =  #{referenceUuid,jdbcType=VARCHAR}
  </delete>

  <delete id="deleteProjects" parameterType="String">
    delete from portfolio_projects
    where portfolio_uuid = #{portfolioUuid,jdbcType=VARCHAR}
  </delete>

    <delete id="deleteProject" parameterType="map">
    delete from portfolio_projects
    where portfolio_uuid = #{portfolioUuid,jdbcType=VARCHAR}
      and
      project_uuid = #{projectUuid,jdbcType=VARCHAR}
  </delete>

    <insert id="insertProject" parameterType="PortfolioProject">
    INSERT INTO portfolio_projects (
      uuid,
      portfolio_uuid,
      project_uuid,
      created_at
    )
    VALUES (
    #{uuid,jdbcType=VARCHAR},
    #{portfolioUuid,jdbcType=VARCHAR},
    #{projectUuid,jdbcType=VARCHAR},
    #{createdAt,jdbcType=BIGINT}
    )
  </insert>

  <update id="update" parameterType="Portfolio">
    update portfolios set
    name = #{name,jdbcType=VARCHAR},
    description = #{description,jdbcType=VARCHAR},
    selection_mode = #{selectionMode,jdbcType=VARCHAR},
    selection_expression = #{selectionExpression,jdbcType=VARCHAR},
    parent_uuid = #{parentUuid,jdbcType=VARCHAR},
    root_uuid = #{rootUuid,jdbcType=VARCHAR},
    updated_at = #{updatedAt,jdbcType=BIGINT}
    where
    uuid = #{uuid,jdbcType=VARCHAR}
  </update>
</mapper>
