<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd">

<mapper namespace="org.sonar.db.jira.AtlassianAuthenticationDetailsMapper">

  <select id="selectFirst" parameterType="string" resultType="org.sonar.db.jira.dto.AtlassianAuthenticationDetailsDto">
    select
      x.client_id as clientId,
      x.secret as secret,
      x.created_at as createdAt,
      x.updated_at as updatedAt
    from
      atlassian_auth_details as x
    fetch next 1 rows only
  </select>

  <insert id="insert" parameterType="Map" useGeneratedKeys="false">
    INSERT INTO atlassian_auth_details
    (
      client_id,
      secret,
      created_at,
      updated_at
    )
    VALUES (
      #{dto.clientId, jdbcType=VARCHAR},
      #{dto.secret, jdbcType=VARCHAR},
      #{now, jdbcType=BIGINT},
      #{now, jdbcType=BIGINT}
    )
  </insert>

  <update id="update" parameterType="map">
    UPDATE atlassian_auth_details
    SET
      client_id = #{dto.clientId, jdbcType=VARCHAR},
      secret = #{dto.secret, jdbcType=VARCHAR},
      updated_at = #{now, jdbcType=BIGINT}
  </update>

</mapper>
