<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd">

<mapper namespace="org.sonar.db.jira.JiraWorkItemMapper">

  <sql id="sqlColumns">
    jwi.id as id,
    jwi.created_at as createdAt,
    jwi.updated_at as updatedAt,
    jwi.jira_issue_id as jiraIssueId,
    jwi.jira_issue_key as jiraIssueKey,
    jwi.jira_issue_url as jiraIssueUrl,
    jwi.jira_project_binding_id as jiraProjectBindingId,
    jwi.created_by as createdBy
  </sql>

  <select id="findById" parameterType="string" resultType="org.sonar.db.jira.dto.JiraWorkItemDto">
    select <include refid="sqlColumns"/>
    from
      jira_work_items jwi
    where
      jwi.id = #{id, jdbcType=VARCHAR}
  </select>

  <select id="findByResource" parameterType="map" resultType="org.sonar.db.jira.dto.JiraWorkItemDto">
    select <include refid="sqlColumns"/>
    from
      jira_work_items jwi
    inner join jira_work_items_resources jwir on jwi.id = jwir.jira_work_item_id
    inner join jira_project_bindings jpb on jwi.jira_project_binding_id = jpb.id
    where
      jwir.resource_id = #{resourceId, jdbcType=VARCHAR}
      and jwir.resource_type = #{resourceType, jdbcType=VARCHAR}
      and jpb.sonar_project_id = #{sonarProjectId, jdbcType=VARCHAR}
  </select>

  <insert id="insert" parameterType="Map" useGeneratedKeys="false">
    INSERT INTO jira_work_items
    (
      id,
      created_at,
      updated_at,
      jira_issue_id,
      jira_issue_key,
      jira_issue_url,
      jira_project_binding_id,
      created_by
    )
    VALUES (
      #{dto.id, jdbcType=VARCHAR},
      #{dto.createdAt, jdbcType=BIGINT},
      #{dto.updatedAt, jdbcType=BIGINT},
      #{dto.jiraIssueId, jdbcType=VARCHAR},
      #{dto.jiraIssueKey, jdbcType=VARCHAR},
      #{dto.jiraIssueUrl, jdbcType=VARCHAR},
      #{dto.jiraProjectBindingId, jdbcType=VARCHAR},
      #{dto.createdBy, jdbcType=VARCHAR}
    )
  </insert>

  <update id="update" parameterType="map">
    UPDATE jira_work_items
    SET
      jira_issue_id = #{dto.jiraIssueId, jdbcType=VARCHAR},
      jira_issue_key = #{dto.jiraIssueKey, jdbcType=VARCHAR},
      jira_issue_url = #{dto.jiraIssueUrl, jdbcType=VARCHAR},
      jira_project_binding_id = #{dto.jiraProjectBindingId, jdbcType=VARCHAR},
      created_by = #{dto.createdBy, jdbcType=VARCHAR},
      updated_at = #{dto.updatedAt, jdbcType=BIGINT}
    WHERE
      id = #{dto.id, jdbcType=VARCHAR}
  </update>

  <delete id="deleteById" parameterType="String">
    DELETE FROM jira_work_items WHERE id = #{id, jdbcType=VARCHAR}
  </delete>

  <delete id="deleteLinkedResource" parameterType="map">
    DELETE FROM jira_work_items_resources
    WHERE jira_work_item_id = #{workItemId, jdbcType=VARCHAR}
      AND resource_id = #{resourceId, jdbcType=VARCHAR}
      AND resource_type = #{resourceType, jdbcType=VARCHAR}
  </delete>

  <insert id="insertLinkedResource" parameterType="map" useGeneratedKeys="false">
    INSERT INTO jira_work_items_resources
    (
      id,
      jira_work_item_id,
      resource_id,
      resource_type,
      created_at,
      updated_at
    )
    VALUES (
      #{id, jdbcType=VARCHAR},
      #{workItemId, jdbcType=VARCHAR},
      #{resourceId, jdbcType=VARCHAR},
      #{resourceType, jdbcType=VARCHAR},
      #{now, jdbcType=BIGINT},
      #{now, jdbcType=BIGINT}
    )
  </insert>

  <select id="countAll" resultType="int">
    SELECT COUNT(1)
    FROM jira_work_items
  </select>

  <select id="countDistinctResourcesByType" parameterType="String" resultType="int">
    SELECT COUNT(DISTINCT jwir.resource_id)
    FROM jira_work_items_resources jwir
    WHERE jwir.resource_type = #{resourceType, jdbcType=VARCHAR}
  </select>

  <select id="countDistinctCreators" resultType="int">
    SELECT COUNT(DISTINCT jwi.created_by)
    FROM jira_work_items jwi
    WHERE jwi.created_by IS NOT NULL
  </select>

</mapper>
