<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration>
<!-- This logback configuration is used when the scanner engine is bootstrapped using the SonarScannerCli class. -->

<configuration>
  <import class="ch.qos.logback.core.ConsoleAppender"/>
  <include resource="logback-shared.xml"/>

  <appender name="STDOUT" class="ConsoleAppender">
    <encoder class="org.sonar.scanner.bootstrap.ScannerLogbackEncoder"/>
  </appender>

  <root level="info">
    <appender-ref ref="STDOUT"/>
  </root>
</configuration>