<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd">

<mapper namespace="org.sonar.db.metric.MetricMapper">

  <sql id="metricColumns">
    m.uuid,
    m.name as kee,
    m.description,
    m.direction,
    m.domain,
    m.short_name as shortName,
    m.qualitative,
    m.val_type as valueType,
    m.enabled,
    m.worst_value as worstValue,
    m.best_value as bestValue,
    m.optimized_best_value as optimizedBestValue,
    m.hidden,
    m.delete_historical_data as deleteHistoricalData,
    m.decimal_scale as decimalScale
  </sql>

  <select id="selectByKey" parameterType="map" resultType="org.sonar.db.metric.MetricDto">
    SELECT
    <include refid="metricColumns"/>
    FROM metrics m
    <where>
      AND m.name=#{key}
    </where>
  </select>

  <select id="selectAll" resultType="org.sonar.db.metric.MetricDto">
    SELECT
    <include refid="metricColumns"/>
    FROM metrics m
    ORDER BY UPPER(m.short_name), m.short_name
  </select>

  <select id="selectAllEnabled" resultType="org.sonar.db.metric.MetricDto">
    SELECT
    <include refid="metricColumns"/>
    FROM metrics m
    <where>
      m.enabled=${_true}
    </where>
    ORDER BY UPPER(m.short_name), m.short_name
    <include refid="org.sonar.db.common.Common.pagination"/>
  </select>

  <select id="countEnabled" resultType="Integer">
    SELECT COUNT(1)
    FROM metrics m
    <where>
      m.enabled=${_true}
    </where>
  </select>

  <insert id="insert" parameterType="org.sonar.db.metric.MetricDto" useGeneratedKeys="false">
    INSERT INTO metrics (
    uuid, name, description, direction, domain, short_name, qualitative, val_type, enabled, worst_value,
    best_value, optimized_best_value, hidden, delete_historical_data, decimal_scale)
    VALUES (
    #{uuid, jdbcType=VARCHAR}, #{kee, jdbcType=VARCHAR}, #{description, jdbcType=VARCHAR}, #{direction, jdbcType=INTEGER},
    #{domain, jdbcType=VARCHAR}, #{shortName, jdbcType=VARCHAR}, #{qualitative, jdbcType=BOOLEAN},
    #{valueType, jdbcType=VARCHAR}, #{enabled, jdbcType=BOOLEAN},
    #{worstValue, jdbcType=DOUBLE}, #{bestValue, jdbcType=DOUBLE},
    #{optimizedBestValue, jdbcType=BOOLEAN}, #{hidden, jdbcType=BOOLEAN}, #{deleteHistoricalData, jdbcType=BOOLEAN},
    #{decimalScale, jdbcType=INTEGER}
    )
  </insert>

  <update id="update" parameterType="org.sonar.db.metric.MetricDto">
    update metrics
    set
    name=#{key, jdbcType=VARCHAR},
    short_name=#{shortName, jdbcType=VARCHAR},
    val_type=#{valueType, jdbcType=VARCHAR},
    enabled=#{enabled, jdbcType=BOOLEAN},
    domain=#{domain, jdbcType=VARCHAR},
    description=#{description, jdbcType=VARCHAR},
    direction=#{direction, jdbcType=INTEGER},
    hidden=#{hidden, jdbcType=BOOLEAN},
    qualitative=#{qualitative, jdbcType=BOOLEAN},
    decimal_scale=#{decimalScale, jdbcType=INTEGER}
    where uuid=#{uuid}
  </update>

  <update id="disableByKey" parameterType="string">
    update metrics
    set enabled=${_false}
    where name=#{key}
    and enabled=${_true}
  </update>

  <select id="selectByKeys" resultType="org.sonar.db.metric.MetricDto">
    SELECT
    <include refid="metricColumns"/>
    FROM metrics m
    <where>
      AND m.name in
      <foreach item="key" collection="keys" open="(" separator="," close=")">
        #{key}
      </foreach>
    </where>
  </select>

  <select id="selectByUuids" resultType="org.sonar.db.metric.MetricDto">
    SELECT
    <include refid="metricColumns"/>
    FROM metrics m
    <where>
      AND m.uuid in
      <foreach item="uuid" collection="uuids" open="(" separator="," close=")">
        #{uuid}
      </foreach>
    </where>
  </select>

  <select id="selectByUuid" resultType="org.sonar.db.metric.MetricDto">
    SELECT
    <include refid="metricColumns"/>
    FROM metrics m
    <where>
      AND m.uuid=#{uuid}
    </where>
  </select>

</mapper>
