<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.sonar.core.component.db.ComponentMapper">

  <sql id="componentColumns">
    p.id,
    p.kee as kee,
    p.name as name,
    p.long_name as longName,
    p.qualifier as qualifier,
    s.root_project_id as projectId,
    p.root_id as subProjectId,
    p.path as path
  </sql>

  <select id="selectByKey" parameterType="String" resultType="Component">
    SELECT <include refid="componentColumns"/>
    FROM projects p
    INNER JOIN snapshots s on s.project_id=p.id and s.islast=${_true}
    <where>
      AND p.enabled=${_true}
      AND p.kee=#{key}
    </where>
  </select>

  <select id="selectById" parameterType="Long" resultType="Component">
    SELECT <include refid="componentColumns"/>
    FROM projects p
    INNER JOIN snapshots s on s.project_id=p.id and s.islast=${_true}
    <where>
      AND p.enabled=${_true}
      AND p.id=#{id}
    </where>
  </select>

  <select id="countById" parameterType="Long" resultType="long">
    SELECT count(p.id)
    FROM projects p
    <where>
      AND p.enabled=${_true}
      AND p.id=#{id}
    </where>
  </select>

</mapper>

