<p>
  <b>message('name'):</b>
  <%=h @profile.name %>
</p>

<p>
  <b>message('active'):</b>
  <%=h @profile.active %>
</p>


<%= link_to message('edit'), edit_profile_path(@profile) %> |
<%= link_to message('back'), profiles_path %>
