<% 
  if has_role?(:user, @project)
    limit = widget_properties["numberOfLines"].to_i == 0 ? 5 : widget_properties["numberOfLines"].to_i
%>

<h3><%= message('widget.project_reviews.name') -%></h3>

<div id="reviews-widget-<%= widget.id -%>">
  <%= render :partial => 'project/widgets/reviews/reviews_list', 
             :locals => {:assignee_login => '', 
                         :project_key => @project.key,
                         :statuses => 'OPEN,REOPENED',
                         :resolution => '',
                         :limit => limit,
                         :widget_id => widget.id.to_s} %>
</div>

<% end %>
