<div xmlns="http://www.w3.org/1999/html">
  <div class="page-split-left">
    <%= render :partial => 'issues/sidebar' -%>
  </div>

  <div class="page-split-right">
    <div id="content">
      <div class="marginbottom10">
        <%= render :partial => 'list' -%>
      </div>
    </div>
  </div>
</div>