<div xmlns="http://www.w3.org/1999/html">
  <div id="issue-filter-sidebar" class="page-split-left">
    <%= render :partial => 'issues/sidebar' -%>
  </div>

  <div class="page-split-right">
    <div id="content">
      <%= render :partial => 'search' -%>
    </div>
  </div>
</div>

<script type="text/javascript">
  function onBulkIssues(issues_query_params){
    window.location = baseUrl + '/issues/search?' + jQuery.param(issues_query_params);
  }
</script>
