<% content_for :script do %>
  <script data-main="<%= ApplicationController.root_context -%>/js/issues/app" src="<%= ApplicationController.root_context -%>/js/require.js"></script>
<% end %>

<div class="issues">
  <i class="spinner"></i>
</div>
