<h1 class="marginbottom10">Configuration Backup & Restore</h1>

<h2>Backup configuration</h2>
<div class="box">
    <p>This will backup configuration in a portable XML format. Click on "backup" to download this file.</p>

    <p>You can use this backup to duplicate configuration to another Sonar instance. This backup includes global settings,
    custom metrics and quality profiles (coding rules, alerts).
    </p>
    <br/>
    <form action="<%= ApplicationController.root_context -%>/backup/export" method="post">
        <input type="submit" value="Backup"/>
    </form>
</div>
<br/>
<h2>Restore configuration</h2>
<div class="box">
    <div class="warning"><%= image_tag 'warning.png' %> This will wipe ALL existing configuration.</div>

    <% form_tag({:action => 'import'}, {:multipart => true}) do -%>
        <%= file_field_tag 'file' %>
        <%= submit_tag 'Restore' %> 
    <% end %>
</div>