<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.sonar.core.dashboard.DashboardMapper">

  <select id="selectGlobalDashboard" parameterType="string" resultType="Dashboard">
    select id, user_id as "userId", name, description, column_layout as "columnLayout", shared, is_global, created_at as "createdAt", updated_at as "updatedAt"
    from dashboards WHERE name=#{id} and user_id is null
  </select>

  <insert id="insert" parameterType="Dashboard" keyColumn="id" useGeneratedKeys="true" keyProperty="id">
    INSERT INTO dashboards (user_id, name, description, column_layout, shared, is_global, created_at, updated_at)
    VALUES (#{userId}, #{name}, #{description},
    #{columnLayout}, #{shared}, #{global}, #{createdAt}, #{updatedAt})
  </insert>

</mapper>
