<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.sonar.core.dashboard.WidgetPropertyMapper">

  <insert id="insert" parameterType="WidgetProperty" keyColumn="id" useGeneratedKeys="true" keyProperty="id">
    INSERT INTO widget_properties (widget_id, kee, text_value)
    VALUES (#{widgetId}, #{key}, #{value})
  </insert>

</mapper>
