<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.sonar.core.dashboard.WidgetMapper">

  <insert id="insert" parameterType="Widget" keyColumn="id" useGeneratedKeys="true" keyProperty ="id">
    INSERT INTO widgets (dashboard_id, widget_key, name, description, column_index, row_index, configured, created_at, updated_at, resource_id)
    VALUES (#{dashboardId}, #{key}, #{name}, #{description}, #{columnIndex}, 
            #{rowIndex}, #{configured}, #{createdAt}, #{updatedAt}, #{resourceId})
  </insert>

</mapper>
