<% content_for :script do %>
  <script data-main="<%= ApplicationController.root_context -%>/js/monitoring/app" src="<%= ApplicationController.root_context -%>/js/require.js"></script>
<% end %>


<div id="monitoring">
  <i class="spinner"></i>
</div>
