<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd">

<mapper namespace="org.sonar.db.rule.RuleRepositoryMapper">

  <sql id="sqlColumns">
    kee, language, name
  </sql>

  <select id="selectAll" resultType="org.sonar.db.rule.RuleRepositoryDto">
    select <include refid="sqlColumns"/>
    from rule_repositories
    order by kee
  </select>

  <select id="selectByLanguage" parameterType="String" resultType="org.sonar.db.rule.RuleRepositoryDto">
    select <include refid="sqlColumns"/>
    from rule_repositories
    where language = #{language}
    order by kee
  </select>

  <select id="selectByKey" parameterType="String" resultType="org.sonar.db.rule.RuleRepositoryDto">
    select <include refid="sqlColumns"/>
    from rule_repositories
    where kee = #{key}
  </select>

  <update id="truncate">
    delete from rule_repositories
  </update>

  <insert id="insert" parameterType="map" useGeneratedKeys="false">
    insert into rule_repositories (kee, language, name, created_at)
    values (
    #{repository.kee, jdbcType=VARCHAR},
    #{repository.language, jdbcType=VARCHAR},
    #{repository.name, jdbcType=VARCHAR},
    #{now, jdbcType=BIGINT}
    )
  </insert>
</mapper>
