<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd">

<mapper namespace="org.sonar.db.user.RoleMapper">

  <select id="selectComponentUuidsByPermissionAndUserUuid" parameterType="map" resultType="String">
    select
      ur.component_uuid
    from
      user_roles ur
    where
      ur.user_uuid = #{userUuid,jdbcType=VARCHAR}
      and ur.role = #{permission,jdbcType=VARCHAR}
      and ur.component_uuid is not null
    union
    select
      gr.component_uuid
    from
      group_roles gr
    inner join groups_users gu on
      gr.group_uuid=gu.group_uuid
    where
      gr.role = #{permission,jdbcType=VARCHAR}
      and gr.component_uuid is not null
      and gu.user_uuid=#{userUuid,jdbcType=VARCHAR}
    order by
      component_uuid
  </select>

  <delete id="deleteGroupRolesByGroupUuid" parameterType="String">
    delete from
      group_roles
    where
      group_uuid=#{uuid,jdbcType=VARCHAR}
  </delete>
</mapper>
