<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd">

<mapper namespace="org.sonar.db.user.RoleMapper">

  <select id="selectEntityUuidsByPermissionAndUserUuidAndQualifier" parameterType="map" resultType="String">
    select entity.uuid
    from (select
        ur.entity_uuid
      from
        user_roles ur
      where
        ur.user_uuid = #{userUuid,jdbcType=VARCHAR}
        and ur.role = #{permission,jdbcType=VARCHAR}
        and ur.entity_uuid is not null
      union
      select
        gr.entity_uuid
      from
        group_roles gr
      inner join groups_users gu on
        gr.group_uuid=gu.group_uuid
      where
        gr.role = #{permission,jdbcType=VARCHAR}
        and gr.entity_uuid is not null
        and gu.user_uuid=#{userUuid,jdbcType=VARCHAR} ) permissions
    inner join
    ( select uuid, name from (<include refid="org.sonar.db.entity.EntityMapper.selectAll"/>) e
      where e.qualifier  in
        <foreach collection="qualifiers" open="(" close=")" item="uuid" separator=",">
          #{uuid,jdbcType=VARCHAR}
        </foreach>
    ) entity
    on permissions.entity_uuid = entity.uuid
    order by entity.name
  </select>

  <delete id="deleteGroupRolesByGroupUuid" parameterType="String">
    delete from
      group_roles
    where
      group_uuid=#{uuid,jdbcType=VARCHAR}
  </delete>
</mapper>
