<div class="navigator quality-gates-navigator" style="margin: -10px;">
  <div class="navigator-content">
    <div class="navigator-side">
      <div class="navigator-actions">
        <div><h1 class="navigator-header-title">Views</h1>

          <div class="navigator-header-actions button-group">
            <button id="quality-gate-add">Create</button>
          </div>
        </div>
      </div>
      <div class="navigator-results quality-gates-nav">
        <ol class="navigator-results-list">
          <li class="active">
            <div class="line line-nowrap">By License</div>
          </li>
          <li>
            <div class="line line-nowrap">Language Team</div>
          </li>
          <li>
            <div class="line line-nowrap">Nemo & Dory</div>
          </li>
          <li>
            <div class="line line-nowrap">Platform Team</div>
          </li>
          <li>
            <div class="line line-nowrap">Projects on Dory</div>
          </li>
          <li>
            <div class="line line-nowrap">Teams</div>
          </li>
        </ol>
      </div>
    </div>
    <div class="navigator-main">
      <div class="navigator-header">
        <div><h1 class="navigator-header-title">By License</h1>
          <div class="navigator-header-actions button-group">
            <button id="quality-gate-rename">Edit</button>
            <button id="quality-gate-copy">Add Sub-view</button>
            <button id="quality-gate-unset-as-default">Associate Projects</button>
            <button id="quality-gate-delete" class="button-red">Delete</button>
          </div>
        </div>
      </div>

      <div class="navigator-details">
        <div class="quality-gate-section-name">Structure</div>
        <div class="libraries-tree">
          <ul>
            <li>
              <i class="icon-qualifier-svw"></i>
              <span class="libraries-tree-name">By License</span>
              <ul>
                <li class="libraries-tree-with-subtree">
                  <i class="icon-qualifier-svw"></i>
                  <a>
                    <span class="libraries-tree-name">Commercial</span>
                  </a>
                  <ul>
                    <li>
                      <i class="icon-qualifier-trk"></i>
                      <span class="libraries-tree-name">All projects matching regular expression "com.*"</span>
                    </li>
                  </ul>
                </li>
                <li class="libraries-tree-with-subtree">
                  <i class="icon-qualifier-svw"></i>
                  <a>
                    <span class="libraries-tree-name">Open Source</span>
                  </a>
                  <ul>
                    <li>
                      <i class="icon-qualifier-trk"></i>
                      <span class="libraries-tree-name">All projects matching regular expression "(org.*)|(hudson.*)"</span>
                    </li>
                  </ul>
                </li>
                <li class="libraries-tree-with-subtree">
                  <i class="icon-qualifier-svw"></i>
                  <a>
                    <span class="libraries-tree-name">Unclassified</span>
                  </a>
                  <ul>
                    <li>
                      <i class="icon-qualifier-trk"></i>
                      <span class="libraries-tree-name">All remaining projects not associated to "BY_LICENSE"</span>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
