<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.sonar.core.persistence.SemaphoreMapper">

  <insert id="initialize" parameterType="map" useGeneratedKeys="false" >
    INSERT INTO semaphores (name, checksum, created_at, updated_at, locked_at)
    VALUES (#{name}, #{checksum}, #{createdAt}, #{updatedAt}, #{lockedAt})
  </insert>

  <update id="acquire" parameterType="map">
    update semaphores
    set updated_at = #{now}, locked_at = #{now}
    where name=#{name}
    <if test="updatedBefore != null">
      AND updated_at &lt; #{updatedBefore}
    </if>
  </update>

  <delete id="release" parameterType="String" >
    delete from semaphores where name=#{id}
  </delete>

  <select id="selectSemaphore" parameterType="String" resultType="Semaphore" >
    select s.id, s.name as name, s.locked_at as lockedAt, s.created_at as createdAt, s.updated_at as updatedAt
    from semaphores s where s.name=#{name}
  </select>

  <update id="update" parameterType="map" >
    update semaphores
    set updated_at = #{now}
    where name=#{name}
  </update>

</mapper>

