<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.sonar.core.source.jdbc.SnapshotDataMapper">

  <select id="selectSnapshotData" parameterType="map" resultType="SnapshotData">
    SELECT
      snapshot_id AS "snapshotId",
      value,
      data_type AS "dataType"
    FROM snapshot_data
    WHERE snapshot_id = #{sid}
    AND data_type IN <foreach item="dataType" index="index" collection="dataTypes" open="(" separator="," close=")">#{dataType}</foreach>
  </select>

  <insert id="insert" parameterType="SnapshotData" useGeneratedKeys="false">
    insert into snapshot_data
    (resource_id, snapshot_id, value, data_type, created_at, updated_at)
    values (
    #{resourceId}, #{snapshotId}, #{value}, #{dataType}, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP)
  </insert>

    <!-- Oracle -->
    <insert id="insert" databaseId="oracle" parameterType="SnapshotData" useGeneratedKeys="false" keyProperty="id">
        <selectKey order="BEFORE" resultType="Long" keyProperty="id">
            select snapshot_data_seq.NEXTVAL from DUAL
        </selectKey>
        insert into snapshot_data
        (id, resource_id, snapshot_id, value, data_type, created_at, updated_at)
        values (
        #{id}, #{resourceId}, #{snapshotId}, #{value}, #{dataType}, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP)
    </insert>
</mapper>

