<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.sonar.core.source.jdbc.SnapshotDataMapper">

  <select id="selectSnapshotData" parameterType="map" resultType="SnapshotData">
    SELECT
      snapshot_id AS "snapshotId",
      snapshot_data AS "data",
      data_type AS "dataType"
    FROM snapshot_data
    WHERE snapshot_id = #{sid}
    AND data_type IN <foreach item="dataType" index="index" collection="dataTypes" open="(" separator="," close=")">#{dataType}</foreach>
  </select>

  <insert id="insert" parameterType="SnapshotData" useGeneratedKeys="false">
    insert into snapshot_data
    (resource_id, snapshot_id, snapshot_data, data_type, created_at, updated_at)
    values (
    #{resourceId}, #{snapshotId}, #{data}, #{dataType}, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP)
  </insert>
</mapper>

