<div class="search-navigator sticky">
  <div class="search-navigator-side search-navigator-side-light">
    <div class="search-navigator-filters"></div>
    <div class="api-documentation-search"></div>
    <div class="api-documentation-results panel"></div>
  </div>

  <div class="search-navigator-workspace">
    <div class="search-navigator-workspace-header"></div>
    <div class="search-navigator-workspace-details"></div>
  </div>
</div>
