<h1 class="page-title">Web Service API</h1>

<div class="page-actions">
  <input class="js-toggle-internal" type="checkbox" id="api-documentation-show-internal" {{#if state.internal}}checked{{/if}}>
  <label for="api-documentation-show-internal">Show Internal</label>
</div>
