<form id="api-documentation-search-form" class="search-box">
  <span id="api-documentation-search-submit" class="search-box-submit button-clean"><i class="icon-search"></i></span>
  <input id="api-documentation-search-query" class="search-box-input" type="search" name="q" placeholder="Search" maxlength="100">
</form>
