<span class="search-navigator-facet-header">
  <a class="js-facet-toggle">
    <i class="icon-checkbox {{#if enabled}}icon-checkbox-checked{{/if}}"></i>
    {{t 'coding_rules.facet' property}}
  </a>
</span>
