{{> '_coding-rules-facet-header'}}

<div class="search-navigator-facet-list">
  {{#each values}}
    <a class="facet search-navigator-facet js-facet"
       data-value="{{val}}">
      <span class="facet-name">{{issueTypeIcon val}} {{t 'issue.type' val}}</span>
      <span class="facet-stat">{{formatMeasure count 'SHORT_INT'}}</span>
    </a>
  {{/each}}
</div>
