{{> '_coding-rules-facet-header'}}

<div class="search-navigator-facet-list">
  <a class="facet search-navigator-facet js-facet" data-value="true">
    <span class="facet-name">{{t 'coding_rules.filters.template.is_template'}}</span>
    <span class="facet-stat"></span>
  </a>
  <a class="facet search-navigator-facet js-facet" data-value="false">
    <span class="facet-name">{{t 'coding_rules.filters.template.is_not_template'}}</span>
    <span class="facet-stat"></span>
  </a>
</div>
