<div class="<%= definition.getId() %>" style="height:100%;">
<% if widget.configured %>
  <%
    begin
      widget_body=render :inline => definition.getTarget().getTemplate(), :locals => {:widget_properties => widget.properties_as_hash, :widget => widget, :dashboard_configuration => @dashboard_configuration}
    rescue => error
       logger.error("Can not render widget #{definition.getId()}: " + error)
       logger.error(error.backtrace.join("\n"))
       widget_body=""
    end

    if widget_body.include?('<')
  %>
    <%
      default_layout=(definition.getWidgetLayout().name()=='DEFAULT')
      if default_layout
    %>
      <div class="widget">
    <% end %>
    <%= widget_body -%>
    <% if default_layout %><div class="clear"> </div></div><% end %>
  <%
    end
  %>
<% else %>
  <div class="widget">
  <p>Please <a href="<%= url_for :action => :configure, :did => @dashboard.id, :id => @resource.id -%>">configure</a> the widget <b><%= definition.getTitle() -%></b>.</p>
  </div>
<% end %>
<div style="clear: both;"></div>
</div>