<%= render :partial => 'gwt/base', :locals => {:resource => nil, :popup => false, :metric => nil} -%>
<%= render :partial => 'gwt/resource_viewers' -%>

<div id="accordion-panel"></div>

<script type="text/javascript">

  // see if an anchor has been passed
  var anchor;
  var stripped_url = document.location.toString().split("#");
  if (stripped_url.length > 1) {
    anchor = stripped_url[1];
  }

  openAccordionItem('<%= url_for(params.merge({:controller => 'resource', :action => :index, :id => @file.id, :display_title => 'false', :popup => 'false'})) -%>', this, false)
      .done(function () {
        if (anchor != null) {
          window.location.hash = anchor;
        }
      });

</script>
