<?xml version="1.0" encoding="UTF-8" ?>

<configuration debug="false">
  <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator"/>

  <appender name="LOGFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <File>${sonar.path.logs}/sonar.log</File>
    <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
      <param name="FileNamePattern" value="${sonar.path.logs}/sonar.%i.log"/>
      <param name="MinIndex" value="1"/>
      <param name="MaxIndex" value="5"/>
    </rollingPolicy>
    <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
      <param name="MaxFileSize" value="10MB"/>
    </triggeringPolicy>
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <pattern>%3.3logger %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <pattern>
        app %d{yyyy.MM.dd HH:mm:ss} %-5level [%logger{20}] %msg%n
      </pattern>
    </encoder>
  </appender>

  <logger name="console">
    <appender-ref ref="CONSOLE"/>
  </logger>

  <root>
    <level value="INFO"/>
    <appender-ref ref="LOGFILE"/>
  </root>

</configuration>
