<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd">

<mapper namespace="org.sonar.db.qualitygate.QualityGateMapper">
  <sql id="gateColumns">
      qg.uuid, qg.name, qg.is_built_in as isBuiltIn, qg.ai_code_supported as aiCodeSupported, qg.created_at as createdAt, qg.updated_at as updatedAt
  </sql>

  <sql id="qualityGateFindingColumns">
    m.short_name as description,
    qgc.operator as operator,
    m.val_type as valueType,
    qgc.value_error as errorThreshold
  </sql>

  <insert id="insertQualityGate" parameterType="QualityGate" useGeneratedKeys="false">
    insert into quality_gates (uuid, name, is_built_in, ai_code_supported, created_at, updated_at)
    values (#{uuid, jdbcType=VARCHAR}, #{name, jdbcType=VARCHAR}, #{isBuiltIn, jdbcType=BOOLEAN}, #{aiCodeSupported, jdbcType=BOOLEAN},
    #{createdAt, jdbcType=TIMESTAMP}, #{updatedAt, jdbcType=TIMESTAMP})
  </insert>

  <select id="selectAll" resultType="QualityGate">
    SELECT
    <include refid="gateColumns"/>
    FROM quality_gates qg
    ORDER BY qg.name ASC
  </select>

  <select id="selectByName" parameterType="String" resultType="QualityGate">
    select
    <include refid="gateColumns"/>
    from quality_gates qg
    where name=#{name, jdbcType=VARCHAR}
  </select>

  <select id="selectByNames" parameterType="map" resultType="QualityGate">
    select
    <include refid="gateColumns"/>
    from quality_gates qg
    where name in
    <foreach collection="names" open="(" close=")" item="name" separator=",">#{name, jdbcType=VARCHAR}</foreach>
  </select>

  <select id="selectByUuid" parameterType="String" resultType="QualityGate">
    select
    <include refid="gateColumns"/>
    from quality_gates qg
    where uuid=#{uuid, jdbcType=VARCHAR}
  </select>

  <select id="selectByProjectUuid" parameterType="Map" resultType="QualityGate">
    SELECT
    <include refid="gateColumns"/>
    FROM
    quality_gates qg
    INNER JOIN
    project_qgates pqg ON pqg.quality_gate_uuid = qg.uuid AND pqg.project_uuid = #{projectUuid, jdbcType=VARCHAR}
  </select>

  <select id="selectBuiltIn" resultType="QualityGate">
    SELECT
      <include refid="gateColumns"/>
    FROM quality_gates qg
    WHERE
      is_built_in = ${_true}
  </select>

  <select id="selectDefault" resultType="QualityGate">
    SELECT
      <include refid="gateColumns"/>
    FROM quality_gates qg INNER JOIN properties p ON qg.uuid = p.text_value
    WHERE
      p.prop_key = 'qualitygate.default'
      and p.entity_uuid is null
      and p.user_uuid is null
  </select>

  <select id="selectQualityGateFindings" parameterType="String" resultType="org.sonar.db.qualitygate.QualityGateFindingDto">
    select
    <include refid="qualityGateFindingColumns"/>
    from quality_gates qg
    left join quality_gate_conditions qgc on qgc.qgate_uuid = qg.uuid
    left join metrics m on m.uuid = qgc.metric_uuid
    where qg.uuid=#{qualityGateUuid,jdbcType=VARCHAR}
  </select>

  <update id="delete" parameterType="String">
    delete from quality_gates where uuid=#{uuid}
  </update>

  <update id="deleteByUuids" parameterType="map">
    delete from quality_gates
    where uuid in
    <foreach collection="uuids" open="(" close=")" item="uuid" separator=",">#{uuid, jdbcType=VARCHAR}</foreach>
  </update>

  <update id="update" parameterType="QualityGate">
    update quality_gates set
    name=#{name},
    is_built_in=#{isBuiltIn, jdbcType=BOOLEAN},
    ai_code_supported=#{aiCodeSupported, jdbcType=BOOLEAN},
    updated_at=#{updatedAt, jdbcType=TIMESTAMP}
    where uuid=#{uuid, jdbcType=VARCHAR}
  </update>

  <update id="ensureOnlySonarWayQualityGatesAreBuiltIn" parameterType="string">
    UPDATE quality_gates
    SET
      is_built_in=${_false}
    WHERE
      is_built_in=${_true}
    AND name not in
    <foreach collection="names" open="(" close=")" item="name" separator=",">#{name, jdbcType=VARCHAR}</foreach>
  </update>

</mapper>

