<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd">

<mapper namespace="org.sonar.db.qualitygate.QualityGateGroupPermissionsMapper">

  <sql id="sqlColumns">
    qggp.uuid as "uuid",
    qggp.group_uuid as "groupUuid",
    qggp.quality_gate_uuid as "qualityGateUuid"
  </sql>

  <select id="selectByQualityGateAndGroup" parameterType="String" resultType="org.sonar.db.qualitygate.QualityGateGroupPermissionsDto">
    select
    <include refid="sqlColumns"/>
    from qgate_group_permissions qggp
    where
    qggp.group_uuid = #{groupUuid}
    and qggp.quality_gate_uuid = #{qualityGateUuid}
  </select>

  <select id="selectByQualityGateAndGroups" parameterType="map" resultType="org.sonar.db.qualitygate.QualityGateGroupPermissionsDto">
    select
    <include refid="sqlColumns"/>
    from qgate_group_permissions qggp
    where
    <foreach collection="groupUuids" open="(" close=")" item="groupUuid" separator=" or ">
      qggp.group_uuid = #{groupUuid, jdbcType=VARCHAR}
    </foreach>
    and qggp.quality_gate_uuid = #{qualityGateUuid, jdbcType=VARCHAR}
  </select>

  <select id="selectByQuery" parameterType="map" resultType="org.sonar.db.user.SearchGroupMembershipDto">
    SELECT g.uuid as groupUuid, g.name as name, qggp.uuid as uuid
    <include refid="sqlSelectByQuery"/>
    ORDER BY g.name ASC
    <include refid="org.sonar.db.common.Common.pagination"/>
  </select>

   <select id="countByQuery" resultType="int">
    select count(g.uuid)
    <include refid="sqlSelectByQuery" />
  </select>

  <sql id="sqlSelectByQuery">
    FROM groups g
    LEFT JOIN qgate_group_permissions qggp ON qggp.group_uuid=g.uuid AND qggp.quality_gate_uuid=#{query.qualityGateUuid, jdbcType=VARCHAR}
    <where>
      AND g.organization_uuid=#{query.organizationUuid}
      <choose>
        <when test="query.getMembership() == 'IN'">
          AND qggp.uuid IS NOT NULL
        </when>
        <when test="query.getMembership() == 'OUT'">
          AND qggp.uuid IS NULL
        </when>
      </choose>
      <if test="query.getQuery() != null">
        AND (LOWER(g.name) LIKE #{query.querySqlLowercase} ESCAPE '/')
      </if>
    </where>
  </sql>

  <insert id="insert" useGeneratedKeys="false" parameterType="map">
    insert into qgate_group_permissions(
    uuid,
    group_uuid,
    quality_gate_uuid,
    created_at
    ) values (
    #{dto.uuid, jdbcType=VARCHAR},
    #{dto.groupUuid, jdbcType=VARCHAR},
    #{dto.qualityGateUuid, jdbcType=VARCHAR},
    #{now, jdbcType=BIGINT}
    )
  </insert>

  <delete id="delete">
    delete from qgate_group_permissions
    where quality_gate_uuid = #{qualityGateUuid, jdbcType=VARCHAR}
    and group_uuid = #{groupUuid, jdbcType=VARCHAR}
  </delete>

  <delete id="deleteByGroup">
    delete from qgate_group_permissions
    where group_uuid = #{groupUuid, jdbcType=VARCHAR}
  </delete>

  <delete id="deleteByQualityGate">
    delete from qgate_group_permissions
    where quality_gate_uuid = #{qualityGateUuid, jdbcType=VARCHAR}
  </delete>

</mapper>
