<% content_for :script do %>
  <script>require(['libraries/app']);</script>
  <script>
    window.resourceKey = '<%= @resource.key -%>';
  </script>
<% end %>


<div id="project-libraries">
  <i class="spinner"></i>
</div>
