<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd">

<mapper namespace="org.sonar.db.newcodeperiod.NewCodePeriodMapper">

  <sql id="newCodePeriodMapperColumns">
    ncp.uuid,
    ncp.project_uuid as projectUuid,
    ncp.branch_uuid as branchUuid,
    ncp.type,
    ncp.value,
    ncp.previous_non_compliant_value as previousNonCompliantValue,
    ncp.updated_at as updatedAt,
    ncp.created_at as createdAt
  </sql>

    <select id="selectByUuid" parameterType="map" resultType="org.sonar.db.newcodeperiod.NewCodePeriodDto">
    SELECT
    <include refid="newCodePeriodMapperColumns"/>
    FROM new_code_periods ncp
    WHERE
    ncp.uuid = #{uuid, jdbcType=VARCHAR}
  </select>

  <select id="selectGlobal" parameterType="map" resultType="org.sonar.db.newcodeperiod.NewCodePeriodDto">
    SELECT
    <include refid="newCodePeriodMapperColumns"/>
    FROM new_code_periods ncp
    WHERE
    ncp.project_uuid is null
    AND ncp.branch_uuid is null
  </select>

  <insert id="insert" parameterType="org.sonar.db.newcodeperiod.NewCodePeriodDto">
    INSERT INTO new_code_periods (
    uuid, project_uuid, branch_uuid, type, value, previous_non_compliant_value, updated_at, created_at)
    VALUES (
    #{uuid, jdbcType=VARCHAR},
    #{projectUuid, jdbcType=VARCHAR},
    #{branchUuid, jdbcType=VARCHAR},
    #{type, jdbcType=VARCHAR},
    #{value, jdbcType=VARCHAR},
    #{previousNonCompliantValue, jdbcType=VARCHAR},
    #{updatedAt, jdbcType=TIMESTAMP},
    #{createdAt, jdbcType=TIMESTAMP}
    )
  </insert>

  <update id="update" parameterType="org.sonar.db.newcodeperiod.NewCodePeriodDto">
    UPDATE new_code_periods
    SET
    type=#{type, jdbcType=VARCHAR},
    value=#{value, jdbcType=VARCHAR},
    previous_non_compliant_value=#{previousNonCompliantValue, jdbcType=VARCHAR},
    updated_at=#{updatedAt, jdbcType=TIMESTAMP}
    WHERE
    <choose>
      <when test="projectUuid != null">
        project_uuid=#{projectUuid, jdbcType=VARCHAR}
      </when>
      <otherwise>
        project_uuid IS NULL
      </otherwise>
    </choose>
    AND
    <choose>
      <when test="branchUuid != null">
        branch_uuid=#{branchUuid, jdbcType=VARCHAR}
      </when>
      <otherwise>
        branch_uuid IS NULL
      </otherwise>
    </choose>
  </update>

  <select id="selectBranchesReferencing" parameterType="map" resultType="string">
    <!-- branch setting -->
    SELECT ncp.branch_uuid
    FROM new_code_periods ncp
    WHERE
    ncp.branch_uuid IS NOT NULL
    AND ncp.project_uuid = #{projectUuid, jdbcType=VARCHAR}
    AND ncp.type='REFERENCE_BRANCH'
    AND ncp.value=#{referenceBranchName, jdbcType=VARCHAR}
    UNION

    <!-- project default setting-->
    SELECT pb.uuid
    FROM project_branches pb, new_code_periods ncp1
    WHERE
    ncp1.project_uuid = pb.project_uuid
    AND ncp1.branch_uuid IS NULL
    AND ncp1.project_uuid = #{projectUuid, jdbcType=VARCHAR}
    AND ncp1.type='REFERENCE_BRANCH'
    AND ncp1.value=#{referenceBranchName, jdbcType=VARCHAR}
    AND NOT EXISTS (select ncp2.value from new_code_periods ncp2 where ncp2.branch_uuid = pb.uuid)
    AND pb.kee != #{referenceBranchName, jdbcType=VARCHAR}
  </select>


  <select id="selectByProject" parameterType="map" resultType="org.sonar.db.newcodeperiod.NewCodePeriodDto">
    SELECT
    <include refid="newCodePeriodMapperColumns"/>
    FROM new_code_periods ncp
    WHERE
    ncp.project_uuid=#{projectUuid, jdbcType=VARCHAR}
    AND ncp.branch_uuid is null
  </select>

  <select id="selectAll" parameterType="map" resultType="org.sonar.db.newcodeperiod.NewCodePeriodDto">
    SELECT
    <include refid="newCodePeriodMapperColumns"/>
    FROM new_code_periods ncp
  </select>

  <select id="selectAllByProject" parameterType="map" resultType="org.sonar.db.newcodeperiod.NewCodePeriodDto">
    SELECT
    <include refid="newCodePeriodMapperColumns"/>
    FROM new_code_periods ncp
    WHERE
    ncp.project_uuid=#{projectUuid, jdbcType=VARCHAR}
  </select>

  <select id="selectByBranch" parameterType="map" resultType="org.sonar.db.newcodeperiod.NewCodePeriodDto">
    SELECT
    <include refid="newCodePeriodMapperColumns"/>
    FROM new_code_periods ncp
    WHERE
    ncp.project_uuid=#{projectUuid, jdbcType=VARCHAR}
    AND ncp.branch_uuid=#{branchUuid, jdbcType=VARCHAR}
  </select>

  <update id="delete" parameterType="map">
    DELETE
    FROM new_code_periods
    WHERE
    <choose>
      <when test="projectUuid != null">
        project_uuid=#{projectUuid, jdbcType=VARCHAR}
      </when>
      <otherwise>
        project_uuid IS NULL
      </otherwise>
    </choose>
    AND
    <choose>
      <when test="branchUuid != null">
        branch_uuid=#{branchUuid, jdbcType=VARCHAR}
      </when>
      <otherwise>
        branch_uuid IS NULL
      </otherwise>
    </choose>
  </update>

  <select id="countByProjectAnalysis" parameterType="map" resultType="java.lang.Long">
    SELECT
    count(1)
    FROM new_code_periods ncp
    WHERE
    ncp.type='SPECIFIC_ANALYSIS'
    AND ncp.value=#{projectAnalysisUuid, jdbcType=VARCHAR}
  </select>

</mapper>
