<tr class="source-line source-line-expand">
  <td class="source-meta source-line-number"></td>
  {{#if settings.scm}}
    <td class="source-meta source-line-scm"></td>
  {{/if}}
  {{#if settings.coverage}}
    <td class="source-meta source-line-coverage"></td>
  {{/if}}
  {{#if settings.duplications}}
    {{#each baseDuplications}}
      <td class="source-meta source-line-duplications-extra"></td>
    {{/each}}
  {{/if}}
  <td class="source-line-code">
    <button class="button-clean js-expand" data-from="{{from}}" data-to="{{to}}"><i class="icon-expand"></i></button>
  </td>
</tr>
