<div class="bubble-popup-title">Time Changes</div>

<ul class="bubble-popup-list">
  {{#each periods}}
    <li><a class="link-action" data-period="{{key}}">{{#if key}}{{../../prefix}}{{/if}} {{label}}</a></li>
  {{/each}}
</ul>

<div class="bubble-popup-arrow"></div>
