<div id='loading'><%= image_tag 'loading.gif' %> loading</div>
<div id="error" class="hidden">error</div>
<div id="main"></div>
<div id="sonarUrl" class="hidden"><%= url_for(:controller => '/', :action => '', :only_path => false, :trailing_slash => false)[0...-2] -%></div>
