.about-page {
  font-size: 14px;
}

.about-page .boxed-group {
  border: none;
}

.about-page .boxed-group h2 {
  font-size: 18px;
}

.about-page .boxed-group > h2 {
  padding-top: 25px;
}

.about-page .boxed-group-inner {
  padding-bottom: 25px;
}

.about-page-container {
  position: relative;
  width: 1080px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
}

.about-page-entry {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 45px;
  padding: 65px 0 65px;
  border-bottom: 1px solid #e6e6e6;
}

.about-page-intro {
  padding-right: 65px;
  border-right: 1px solid #e6e6e6;
}

.about-page-intro > h1 {
  line-height: 40px;
  font-size: 26px;
  font-weight: 300;
}

.about-page-intro > .button {
  height: 32px;
  line-height: 30px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 3px;
  font-size: 13px;
  font-weight: 400;
}

.about-page-instance {
  display: flex;
  align-items: center;
}

.about-page-projects {
  margin-left: 65px;
  line-height: 1.4;
  font-size: 16px;
  text-align: center;
}

.about-page-projects-link {
  display: inline-block;
  line-height: 1;
  margin-bottom: 12px;
  font-size: 32px;
}

.about-page-issue-types {
  text-align: left;
}

.about-page-issue-types > li + li {
  margin-top: 12px;
}

.about-page-issue-types svg {
  vertical-align: middle;
  transform: translateY(-1px);
}

.about-page-issue-type-number {
  display: inline-block;
  min-width: 60px;
  margin-right: 16px;
  text-align: right;
}

.about-page-issue-type-link {
  font-size: 16px;
  font-weight: bold;
}

.about-login-form-header {
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: bold;
}

.about-page-sign-up {
  margin-top: 20px;
  color: rgba(255, 255, 255, 0.7);
}

.about-page-sign-up a {
  color: #4b9fd5;
  border-color: #4b9fd5;
}

.about-page-auth-providers {
  width: 200px;
}

.about-page-auth-providers .oauth-provider {
  width: 100%;
}

.about-page-auth-providers .oauth-provider + .oauth-provider {
  margin-top: 20px;
}

.about-page-section {
  padding-bottom: 40px;
}

.about-page-section-gray {
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  background-color: #f3f3f3;
}

.about-page-section-image {
  position: absolute;
  z-index: 5;
  top: -80px;
  right: 100%;
}

.about-page-center-container .about-page-section-image {
  right: auto;
  left: -210px;
}

.about-page-header {
  line-height: 1;
  margin-bottom: 30px;
  font-size: 28px;
  font-weight: bold;
}

.about-page-text {
  line-height: 1.4;
}

.about-page-link-more {
  border: none;
}

.about-page-link-more > span {
  border-bottom: 1px solid #cae3f2;
}

.about-page-issues {
  margin-top: 80px;
}

.about-page-issues-box {
  float: left;
  width: 33%;
  text-align: center;
}

.about-page-issues-number {
  display: inline-block;
  font-size: 32px;
  font-weight: bold;
}

.about-page-issues-description {
  margin-top: 12px;
  padding: 0 15px;
  line-height: 1.4;
}

.about-page-issues-number + .about-page-issues-description {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.about-page-issues-header {
  margin-bottom: 20px;
  font-size: 21px;
  text-transform: uppercase;
}

.about-page-languages {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.about-page-languages > li {
  line-height: 2;
}

.about-quality-model .flex-column + .flex-column{
  margin-left: 30px;
  padding-left: 30px;
  border-left: 1px solid #e6e6e6;
}

.about-quality-model svg {
  transform: translateY(2px);
}

.about-page-analyzers {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.about-page-analyzer-box {
  border: none;
}

.about-page-group-boxes {
  display: flex;
  flex-direction: column;
}

.about-page-group-boxes > .boxed-group {
  flex-grow: 1;
}
