.about-page {
  font-size: 14px;
}

.about-page .boxed-group {
  border: none;
}

.about-page .boxed-group h2 {
  padding-left: 0;
  padding-right: 0;
  font-size: 18px;
}

.about-page .boxed-group > h2 {
  padding-top: 25px;
}

.about-page .boxed-group-inner {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 25px;
}

.about-page-container {
  position: relative;
  width: 1080px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
}

.about-page-entry {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 45px;
  padding: 65px 0 65px;
  border-bottom: 1px solid #e6e6e6;
}

.about-page-intro {
  padding-right: 65px;
  border-right: 1px solid #e6e6e6;
}

.about-page-intro > h1 {
  line-height: 40px;
  font-size: 26px;
  font-weight: 300;
}

.about-page-intro > .button {
  height: 32px;
  line-height: 30px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 3px;
  font-size: 13px;
  font-weight: 400;
}

.about-page-instance {
  display: flex;
  align-items: center;
}

.about-page-projects {
  margin-left: 65px;
  line-height: 1.4;
  font-size: 16px;
  text-align: center;
  min-width: 128px;
}

.about-page-projects-link {
  display: inline-block;
  line-height: 1;
  margin-bottom: 12px;
  font-size: 32px;
}

.about-page-issue-types {
  text-align: left;
}

.about-page-issue-types tr + tr td {
  padding-top: 12px;
}

.about-page-issue-types svg {
  vertical-align: middle;
  transform: translateY(-1px);
}

.about-page-issue-type-number {
  padding-right: 16px;
  text-align: right;
}

.about-page-issue-type-link {
  font-size: 16px;
  font-weight: bold;
}

.about-page-section {
  padding-top: 20px;
  padding-bottom: 10px;
}

.about-page-text {
  line-height: 1.4;
}

.about-page-link-more {
  border: none;
}

.about-page-link-more > span {
  border-bottom: 1px solid #cae3f2;
}

.about-page-languages {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.about-page-languages > li {
  line-height: 2;
}

.about-quality-model .flex-column + .flex-column {
  margin-left: 30px;
  padding-left: 30px;
  border-left: 1px solid #e6e6e6;
}

.about-quality-model svg {
  transform: translateY(2px);
}

.about-page-analyzers {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.about-page-analyzer-box {
  border: none;
}

.about-page-group-boxes {
  display: flex;
  flex-direction: column;
}

.about-page-group-boxes > .boxed-group {
  flex-grow: 1;
}
