<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd">

<mapper namespace="org.sonar.db.measure.LiveMeasureMapper">

  <sql id="columns">
    lm.component_uuid as componentUuid,
    lm.project_uuid as projectUuid,
    lm.metric_id as metricId,
    lm.value as value,
    lm.text_value as textValue,
    lm.measure_data as data,
    lm.variation as variation
  </sql>

  <select id="selectByComponentUuidsAndMetricIds" parameterType="map" resultType="org.sonar.db.measure.LiveMeasureDto">
    select <include refid="columns"/> from live_measures lm
    where
    lm.metric_id in <foreach item="metricId" collection="metricIds" open="(" separator="," close=")">#{metricId, jdbcType=INTEGER}</foreach>
    and lm.component_uuid in
    <foreach item="componentUuid" collection="componentUuids" open="(" separator="," close=")">
      #{componentUuid, jdbcType=VARCHAR}
    </foreach>
  </select>

  <select id="selectByComponentUuidsAndMetricKeys" parameterType="map" resultType="org.sonar.db.measure.LiveMeasureDto">
    select <include refid="columns"/> from live_measures lm
    inner join metrics m on m.id = lm.metric_id
    where
    m.name in <foreach item="metricKey" collection="metricKeys" open="(" separator="," close=")">#{metricKey, jdbcType=VARCHAR}</foreach>
    and lm.component_uuid in
    <foreach item="componentUuid" collection="componentUuids" open="(" separator="," close=")">
      #{componentUuid, jdbcType=VARCHAR}
    </foreach>
  </select>

  <select id="selectByComponentUuidAndMetricKey" parameterType="map" resultType="org.sonar.db.measure.LiveMeasureDto">
    select <include refid="columns"/> from live_measures lm
    inner join metrics m on m.id = lm.metric_id
    where
    m.name = #{metricKey, jdbcType=VARCHAR}
    and lm.component_uuid = #{componentUuid, jdbcType=VARCHAR}
  </select>

  <select id="sumNclocOfBiggestLongLivingBranch" parameterType="map" resultType="long">
    select sum(sumncloc.maxncloc) from (
      select b.project_uuid as projectUuid, max(lm.value) as maxncloc
      from live_measures lm
      inner join metrics m on m.id = lm.metric_id
      inner join projects p on p.uuid = lm.component_uuid
      inner join project_branches b on b.uuid = p.uuid
      <where>
        m.name = #{ncloc, jdbcType=VARCHAR}
        <if test="private">
          and p.private=${_true}
        </if>
        and p.enabled = ${_true}
        and p.scope = 'PRJ'
        and p.qualifier = 'TRK'
        and p.copy_component_uuid is null
        and p.organization_uuid = #{organizationUuid, jdbcType=VARCHAR}
        and b.branch_type = #{branchType, jdbcType=VARCHAR}
        and b.key_type = #{branch, jdbcType=VARCHAR}
        <if test="projectUuidToExclude != null">
          and b.project_uuid &lt;&gt; #{projectUuidToExclude,jdbcType=VARCHAR}
        </if>
      </where>
      group by b.project_uuid
    ) sumncloc
  </select>

  <insert id="insert" parameterType="map" useGeneratedKeys="false">
    insert into live_measures (
    uuid,
    component_uuid,
    project_uuid,
    metric_id,
    value,
    text_value,
    variation,
    measure_data,
    created_at,
    updated_at
    ) values (
    #{uuid, jdbcType=VARCHAR},
    #{dto.componentUuid, jdbcType=VARCHAR},
    #{dto.projectUuid, jdbcType=VARCHAR},
    #{dto.metricId, jdbcType=INTEGER},
    #{dto.value, jdbcType=DOUBLE},
    #{dto.textValue, jdbcType=VARCHAR},
    #{dto.variation, jdbcType=DOUBLE},
    #{dto.data, jdbcType=BINARY},
    #{now, jdbcType=BIGINT},
    #{now, jdbcType=BIGINT}
    )
  </insert>

  <update id="update" parameterType="map">
    update live_measures set
    value = #{dto.value, jdbcType=DOUBLE},
    variation = #{dto.variation, jdbcType=DOUBLE},
    text_value = #{dto.textValue, jdbcType=VARCHAR},
    measure_data  = #{dto.data, jdbcType=BINARY},
    updated_at = #{now, jdbcType=BIGINT}
    where
    component_uuid = #{dto.componentUuid, jdbcType=VARCHAR}
    and metric_id = #{dto.metricId, jdbcType=INTEGER}
  </update>

  <update id="upsert" parameterType="map" useGeneratedKeys="false" databaseId="postgresql">
    insert into live_measures (
      uuid,
      component_uuid,
      project_uuid,
      metric_id,
      value,
      text_value,
      variation,
      measure_data,
      created_at,
      updated_at
    ) values
    <foreach item="dto" collection="dtos" open="(" separator="),(" close=")">
      #{dto.uuidForUpsert, jdbcType=VARCHAR},
      #{dto.componentUuid, jdbcType=VARCHAR},
      #{dto.projectUuid, jdbcType=VARCHAR},
      #{dto.metricId, jdbcType=INTEGER},
      #{dto.value, jdbcType=DOUBLE},
      #{dto.textValue, jdbcType=VARCHAR},
      #{dto.variation, jdbcType=DOUBLE},
      #{dto.data, jdbcType=BINARY},
      #{now, jdbcType=BIGINT},
      #{now, jdbcType=BIGINT}
    </foreach>
    on conflict(component_uuid, metric_id) do update set
      value = excluded.value,
      variation = excluded.variation,
      text_value = excluded.text_value,
      measure_data  = excluded.measure_data,
      updated_at = excluded.updated_at
    where
      live_measures.value is distinct from excluded.value or
      live_measures.variation is distinct from excluded.variation or
      live_measures.text_value is distinct from excluded.text_value or
      live_measures.measure_data is distinct from excluded.measure_data
  </update>

  <delete id="deleteByComponentUuidExcludingMetricIds" parameterType="map">
    <include refid="sql_deleteByComponentUuidExcludingMetricIds"/>
  </delete>

  <sql id="sql_deleteByComponentUuidExcludingMetricIds">
    delete from live_measures
    where
      component_uuid = #{componentUuid, jdbcType=VARCHAR}
      <if test="!excludedMetricIds.isEmpty()">
      and metric_id not in <foreach collection="excludedMetricIds" item="metricId" open="(" close=")" separator=",">#{metricId,jdbcType=INTEGER}</foreach>
      </if>
  </sql>

  <select id="scrollSelectByComponentUuidAndMetricKeys" resultType="org.sonar.db.measure.LiveMeasureDto" fetchSize="${_scrollFetchSize}"
            resultSetType="FORWARD_ONLY">
     select <include refid="columns"/> from live_measures lm
     inner join metrics m on m.id = lm.metric_id
     where
     m.name in <foreach item="metricKey" collection="metricKeys" open="(" separator="," close=")">#{metricKey, jdbcType=VARCHAR}</foreach>
     and lm.component_uuid = #{componentUuid, jdbcType=VARCHAR}
  </select>

  <select id="selectTreeByQuery" parameterType="map" resultType="org.sonar.db.measure.LiveMeasureDto" fetchSize="${_scrollFetchSize}" resultSetType="FORWARD_ONLY">
    select <include refid="columns"/> from live_measures lm
    inner join projects p on p.uuid = lm.component_uuid
    <!-- TODO do we really need another join on projects ? Using lm.project_uuid should be enough -->
    <include refid="org.sonar.db.component.ComponentMapper.selectDescendantsJoins"/>
    <where>
      <if test="query.getMetricIds() != null">
        lm.metric_id in
        <foreach item="metricId" collection="query.getMetricIds()" open="(" separator="," close=")">#{metricId,jdbcType=INTEGER}</foreach>
      </if>
      and p.enabled = ${_true}
      <if test="query.qualifiers != null">
        and p.qualifier in
        <foreach collection="query.qualifiers" item="qualifier" open="(" close=")" separator=",">
          #{qualifier,jdbcType=VARCHAR}
        </foreach>
      </if>
      <if test="query.nameOrKeyQuery != null">
        and (
        p.kee = #{query.nameOrKeyQuery,jdbcType=VARCHAR}
        or
        upper(p.name) like #{query.nameOrKeyUpperLikeQuery,jdbcType=VARCHAR} escape '/'
        )
      </if>
    </where>

    -- Add measures of base component
    union all
    select <include refid="columns"/> from live_measures lm
    inner join projects p on p.uuid = lm.component_uuid and lm.component_uuid = #{baseUuid, jdbcType=VARCHAR}
    <where>
      <if test="query.getMetricIds() != null">
        lm.metric_id in
        <foreach item="metricId" collection="query.getMetricIds()" open="(" separator="," close=")">#{metricId,jdbcType=INTEGER}</foreach>
      </if>
      and p.enabled = ${_true}
      <if test="query.qualifiers != null">
        and p.qualifier in
        <foreach collection="query.qualifiers" item="qualifier" open="(" close=")" separator=",">
          #{qualifier,jdbcType=VARCHAR}
        </foreach>
      </if>
      <if test="query.nameOrKeyQuery != null">
        and (
        p.kee = #{query.nameOrKeyQuery,jdbcType=VARCHAR}
        or
        upper(p.name) like #{query.nameOrKeyUpperLikeQuery,jdbcType=VARCHAR} escape '/'
        )
      </if>
    </where>
  </select>
</mapper>
