<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd">

<mapper namespace="org.sonar.db.measure.LiveMeasureMapper">

  <sql id="columns">
    lm.component_uuid as componentUuid,
    lm.project_uuid as projectUuid,
    lm.metric_uuid as metricUuid,
    lm.value as value,
    lm.text_value as textValue,
    lm.measure_data as data
  </sql>

  <select id="selectByComponentUuidsAndMetricUuids" parameterType="map" resultType="org.sonar.db.measure.LiveMeasureDto">
    select <include refid="columns"/> from live_measures lm
    where
    lm.metric_uuid in <foreach item="metricUuid" collection="metricUuids" open="(" separator=","
                               close=")">#{metricUuid, jdbcType=VARCHAR}</foreach>
    and lm.component_uuid in
    <foreach item="componentUuid" collection="componentUuids" open="(" separator="," close=")">
      #{componentUuid, jdbcType=VARCHAR}
    </foreach>
  </select>

  <select id="selectByComponentUuidAndMetricKey" parameterType="map" resultType="org.sonar.db.measure.LiveMeasureDto">
    select <include refid="columns"/> from live_measures lm
    inner join metrics m on m.uuid = lm.metric_uuid
    where
    m.name = #{metricKey, jdbcType=VARCHAR}
    and lm.component_uuid = #{componentUuid, jdbcType=VARCHAR}
  </select>

  <insert id="insert" parameterType="map" useGeneratedKeys="false">
    insert into live_measures (
    uuid,
    component_uuid,
    project_uuid,
    metric_uuid,
    value,
    text_value,
    measure_data,
    created_at,
    updated_at
    ) values (
    #{uuid, jdbcType=VARCHAR},
    #{dto.componentUuid, jdbcType=VARCHAR},
    #{dto.projectUuid, jdbcType=VARCHAR},
    #{dto.metricUuid, jdbcType=VARCHAR},
    #{dto.value, jdbcType=DOUBLE},
    #{dto.textValue, jdbcType=VARCHAR},
    #{dto.data, jdbcType=BINARY},
    #{now, jdbcType=BIGINT},
    #{now, jdbcType=BIGINT}
    )
  </insert>

  <update id="update" parameterType="map">
    update live_measures set
    value = #{dto.value, jdbcType=DOUBLE},
    text_value = #{dto.textValue, jdbcType=VARCHAR},
    measure_data  = #{dto.data, jdbcType=BINARY},
    updated_at = #{now, jdbcType=BIGINT}
    where
    component_uuid = #{dto.componentUuid, jdbcType=VARCHAR}
    and metric_uuid = #{dto.metricUuid, jdbcType=VARCHAR}
  </update>

  <update id="upsert" parameterType="map" useGeneratedKeys="false" databaseId="postgresql">
    insert into live_measures (
      uuid,
      component_uuid,
      project_uuid,
      metric_uuid,
      value,
      text_value,
      measure_data,
      created_at,
      updated_at
    ) values (
      #{dto.uuidForUpsert, jdbcType=VARCHAR},
      #{dto.componentUuid, jdbcType=VARCHAR},
      #{dto.projectUuid, jdbcType=VARCHAR},
      #{dto.metricUuid, jdbcType=VARCHAR},
      #{dto.value, jdbcType=DOUBLE},
      #{dto.textValue, jdbcType=VARCHAR},
      #{dto.data, jdbcType=BINARY},
      #{now, jdbcType=BIGINT},
      #{now, jdbcType=BIGINT}
    )
    on conflict(component_uuid, metric_uuid) do update set
      value = excluded.value,
      text_value = excluded.text_value,
      measure_data  = excluded.measure_data,
      updated_at = excluded.updated_at
    where
      live_measures.value is distinct from excluded.value or
      live_measures.text_value is distinct from excluded.text_value or
      live_measures.measure_data is distinct from excluded.measure_data
  </update>

  <delete id="deleteByComponentUuidExcludingMetricUuids" parameterType="map">
    <include refid="sql_deleteByComponentUuidExcludingMetricUuids"/>
  </delete>

  <sql id="sql_deleteByComponentUuidExcludingMetricUuids">
    delete from live_measures
    where
      component_uuid = #{componentUuid, jdbcType=VARCHAR}
      <if test="!excludedMetricUuids.isEmpty()">
      and metric_uuid not in <foreach collection="excludedMetricUuids" item="metricUuid" open="(" close=")" separator=",">#{metricUuid,jdbcType=VARCHAR}</foreach>
      </if>
  </sql>

</mapper>
