<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd">

<mapper namespace="org.sonar.db.qualityprofile.QProfileEditUsersMapper">

  <sql id="sqlColumns">
    qeu.uuid as "uuid",
    qeu.user_id as "userId",
    qeu.qprofile_uuid as "qProfileUuid"
  </sql>

  <select id="selectByQProfileAndUser" parameterType="map" resultType="org.sonar.db.qualityprofile.QProfileEditUsersDto">
    select
    <include refid="sqlColumns"/>
    from qprofile_edit_users qeu
    where
    qeu.user_id = #{userId, jdbcType=INTEGER}
    and qeu.qprofile_uuid = #{qProfileUuid, jdbcType=VARCHAR}
  </select>

  <select id="countByQuery" resultType="int">
    select count(u.id)
    <include refid="sqlSelectByQuery" />
  </select>

  <select id="selectByQuery" parameterType="map" resultType="org.sonar.db.qualityprofile.UserMembershipDto">
    SELECT u.id as userId, u.name as name, qeu.uuid as uuid
    <include refid="sqlSelectByQuery"/>
    ORDER BY u.name ASC
    LIMIT #{pagination.pageSize,jdbcType=INTEGER}
    OFFSET #{pagination.offset,jdbcType=INTEGER}
  </select>

  <select id="selectByQuery" parameterType="map" resultType="org.sonar.db.qualityprofile.UserMembershipDto" databaseId="mssql">
    select * from (
    select row_number() over(order by u.name asc) as number,
      u.id as userId, u.name as name, qeu.uuid as uuid
      <include refid="sqlSelectByQuery" />
    ) as query
    where
    query.number between #{pagination.startRowNumber,jdbcType=INTEGER} and #{pagination.endRowNumber,jdbcType=INTEGER}
    order by query.name asc
  </select>

  <select id="selectByQuery" parameterType="map" resultType="org.sonar.db.qualityprofile.UserMembershipDto" databaseId="oracle">
    select * from (
      select rownum as rn, t.* from (
        select u.id as userId, u.name as name, qeu.uuid as uuid
        <include refid="sqlSelectByQuery"/>
        order by u.name ASC
      ) t
    ) t
    where
    t.rn between #{pagination.startRowNumber,jdbcType=INTEGER} and #{pagination.endRowNumber,jdbcType=INTEGER}
  </select>

  <sql id="sqlSelectByQuery">
    FROM users u
    LEFT JOIN qprofile_edit_users qeu ON qeu.user_id=u.id AND qeu.qprofile_uuid=#{query.qProfileUuid, jdbcType=VARCHAR}
    INNER JOIN organization_members om ON u.id=om.user_id AND om.organization_uuid=#{query.organizationUuid, jdbcType=VARCHAR}
    <where>
      <choose>
        <when test="query.getMembership() == 'IN'">
          AND qeu.uuid IS NOT NULL
        </when>
        <when test="query.getMembership() == 'OUT'">
          AND qeu.uuid IS NULL
        </when>
      </choose>
      <if test="query.getQuery() != null">
        AND (
        lower(u.name) like #{query.querySqlLowercase} ESCAPE '/'
        or u.login like #{query.querySql} ESCAPE '/')
      </if>
      AND u.active=${_true}
    </where>
  </sql>

  <select id="selectQProfileUuidsByOrganizationAndUser" parameterType="map" resultType="string">
    SELECT qeu.qprofile_uuid as qProfileUuid
    FROM qprofile_edit_users qeu
    INNER JOIN org_qprofiles oq ON qeu.qprofile_uuid=oq.uuid AND oq.organization_uuid=#{organizationUuid, jdbcType=VARCHAR}
    <where>
      qeu.user_id=#{userId, jdbcType=INTEGER}
    </where>
  </select>

  <insert id="insert" useGeneratedKeys="false" parameterType="map">
    insert into qprofile_edit_users(
    uuid,
    user_id,
    qprofile_uuid,
    created_at
    ) values (
    #{dto.uuid, jdbcType=VARCHAR},
    #{dto.userId, jdbcType=INTEGER},
    #{dto.qProfileUuid, jdbcType=VARCHAR},
    #{now, jdbcType=BIGINT}
    )
  </insert>

  <delete id="delete" parameterType="map">
    delete from qprofile_edit_users
    where qprofile_uuid = #{qProfileUuid, jdbcType=VARCHAR}
    and user_id = #{userId, jdbcType=INTEGER}
  </delete>

  <delete id="deleteByQProfiles" parameterType="map">
    delete from qprofile_edit_users
    where qprofile_uuid in <foreach collection="qProfileUuids" open="(" close=")" item="qProfileUuid" separator=",">#{qProfileUuid, jdbcType=VARCHAR}</foreach>
  </delete>

  <delete id="deleteByUser" parameterType="map">
    delete from qprofile_edit_users
    where user_id = #{userId, jdbcType=INTEGER}
  </delete>

  <delete id="deleteByOrganizationAndUser" parameterType="map">
    delete from qprofile_edit_users
    <where>
      user_id=#{userId, jdbcType=INTEGER}
      and qprofile_uuid in (
        select oq.uuid
        from org_qprofiles oq
        where oq.organization_uuid=#{organizationUuid, jdbcType=VARCHAR}
      )
    </where>
  </delete>

</mapper>

