<form id="restore-built-in-profiles-form">
  <div class="modal-head">
    <h2>{{t 'quality_profiles.restore_built_in_profiles'}}</h2>
  </div>
  <div class="modal-body">
    <div class="js-modal-messages"></div>
    {{tp 'quality_profiles.restore_built_in_profiles_confirmation' language.name}}
  </div>
  <div class="modal-foot">
    <button id="restore-built-in-profiles-submit">{{t 'restore'}}</button>
    <a href="#" class="js-modal-close">{{t 'close'}}</a>
  </div>
</form>
