<form id="restore-built-in-profiles-form">
  <div class="modal-head">
    <h2>{{t 'quality_profiles.restore_built_in_profiles'}}</h2>
  </div>
  <div class="modal-body">
    <div class="alert alert-success">
      {{tp 'quality_profiles.restore_built_in_profiles_success_message' language.name}}
    </div>
  </div>
  <div class="modal-foot">
    <a href="#" class="js-modal-close">{{t 'close'}}</a>
  </div>
</form>
