<div class="modal-head">
  <h2>{{t 'projects'}}</h2>
</div>

<div class="modal-body">
  <div class="js-modal-messages"></div>
  <div id="profile-projects"></div>
</div>

<div class="modal-foot">
  <a href="#" class="js-modal-close">{{t 'close'}}</a>
</div>
