.projects-list {
  outline: none;
}

.projects-empty-list {
  padding: 60px 0;
  border: 1px solid #e6e6e6;
  border-radius: 2px;
  text-align: center;
  color: #777;
}

.project-card {
  height: 115px;
  box-sizing: border-box;
}

.project-card-name {
  font-weight: 600;
}

.project-card-measures {
  margin: 0 -20px;
}

.project-card-measure {
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding: 0 15px;
  text-align: center;
}

.project-card-measure + .project-card-measure:before {
  position: absolute;
  top: 50%;
  left: 0;
  width: 0;
  height: 24px;
  margin-top: -12px;
  border-left: 1px solid #e6e6e6;
  content: "";
}

.project-card-measure.pull-right:before {
  display: none;
}

.project-card-measure .level {
  margin-top: 0;
  margin-bottom: 0;
}

.project-card-measure-inner {
  display: inline-block;
  vertical-align: top;
  text-align: center;
}

.project-card-measure-number {
  line-height: 24px;
  font-size: 18px;
}

.project-card-measure-label {
  margin-top: 4px;
  font-size: 12px;
}

.projects-filter {
  border: 1px solid transparent;
  border-top-color: #e6e6e6;
}

.projects-filter:first-child {
  border-top-color: transparent;
}

.projects-filter-active .projects-filter-name {
  font-weight: 600;
}

.projects-filter-open {
  border-color: #e6e6e6 !important;
  background-color: #fff;
}

.projects-filter-open + .projects-filter {
  border-top-color: transparent;
}

.projects-filter-open .projects-filter-header {
  border-bottom: 1px solid #e6e6e6;
  transition: none;
}

.projects-filter-header {
  display: block;
  padding: 15px;
  color: #444;
  border: none;
}

.projects-filter-checkbox {
  float: left;
  padding: 4px 4px 4px 0;
}

.projects-filter-name {
  float: left;
  padding: 4px;
  line-height: 16px;
}

.projects-filter-hint {
  float: left;
  margin-right: 6px;
  padding: 4px;
  line-height: 16px;
}

.projects-filter-value {
  float: right;
}

.projects-filter-options {
  padding-top: 5px;
  padding-bottom: 5px;
}

.projects-filter-options a {
  display: block;
  padding: 5px 15px;
  line-height: 24px;
  border: none;
  color: #444;
}

.projects-filter-options a:hover,
.projects-filter-options a:active,
.projects-filter-options a:focus {
  background-color: #f3f3f3;
}

.projects-filter-options a.active {
  background-color: #cae3f2;
}
