.projects-page-actions {
  margin-bottom: 0;
}

.projects-page-side {
  transition: top 150ms ease-out;
}

.projects-topbar {
  position: fixed;
  width: 100%;
  z-index: 100;
}

.projects-topbar-actions {
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: -50px;
  display: flex;
  flex-direction: row-reverse;
  z-index: 50;
  flex-grow: 0.000001;
  background-color: #fff;
  transition: top 150ms ease-out;
}

.projects-topbar-actions.open {
  top: 0;
}

.projects-topbar-actions-inner {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  border-bottom: 1px solid #e6e6e6;
}

.projects-topbar-button {
  box-sizing: border-box;
  float: right;
  padding: 11px;
  border: none;
  width: 46px;
  height: 46px;
  color: #777;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.projects-topbar-button-close {
  padding-top: 15px;
  border-left: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
}

.projects-topbar-button:hover, .project-topbar-button:focus, .project-topbar-button:active {
  color: #444;
  outline: none;
}

.projects-sidebar {
  width: 260px;
}

.projects-list .page-actions {
  margin-bottom: 0;
}

.project-card {
  position: relative;
  min-height: 121px;
  box-sizing: border-box;
}

.project-card-name {
  font-weight: 600;
}

.project-card-measures {
  margin: 0 -15px;
}

.project-card-leak-measures {
  padding: 4px 0;
  margin: 4px -4px;
  background-color: #fbf3d5;
  border: 1px solid #eae3c7;
}


.project-card-measures .project-card-measure {
  width: 120px;
  box-sizing: border-box;
  padding: 0 15px;
}

.project-card-leak-measures .project-card-measure {
  width: 140px;
  box-sizing: border-box;
  padding: 0 5px;
}

.project-card-measure.smaller-card {
  width: 90px;
}

@media (max-width: 1130px) {
  .project-card-leak-measures .project-card-measure {
    width: 134px;
    padding: 0 2px;
  }
  .project-card-measure.smaller-card {
    width: 81px;
  }
}

.project-card-measure {
  position: relative;
  display: inline-block;
  vertical-align: top;
  text-align: center;
}

.project-card-measure + .project-card-measure:before {
  position: absolute;
  top: 50%;
  left: 0;
  width: 0;
  height: 24px;
  margin-top: -12px;
  border-left: 1px solid #e6e6e6;
  content: "";
}

.project-card-measure.pull-right {
  text-align: right;
}

.project-card-measure.pull-right:before {
  display: none;
}

.project-card-measure.pull-right .project-card-measure-inner {
  text-align: right;
}

.project-card-measure .level {
  margin-top: 0;
  margin-bottom: 0;
}

.project-card-measure-inner {
  display: inline-block;
  vertical-align: top;
  text-align: center;
}

.project-card-measure-number {
  line-height: 24px;
  font-size: 18px;
}

.project-card-measure-label {
  margin-top: 4px;
  font-size: 12px;
}

.project-card-languages {
  display: inline-block;
  max-width: 120px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.project-card-quality-gate {
  line-height: 24px;
}

.project-card-not-analyzed {
  padding: 14px 0;
}

.projects-facet-header {
  padding-top: 10px;
  padding-bottom: 10px;
  transition: none;
}

.projects-facet-sort {
  float: right;
  font-weight: normal;
  font-size: 11px;
  color: #777;
  text-transform: lowercase;
}

.projects-facet-sort .button-group {
  margin-top: -3px;
}

.projects-facet-sort .button-small {
  padding: 0 6px;
  font-size: 11px;
  font-weight: normal;
}

.projects-facets-header {
  margin-bottom: 10px;
  padding: 10px 0;
  border-bottom: 1px solid #e6e6e6;
}

.projects-facet-search {
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
}

.projects-facet-search .note {
  position: absolute;
  opacity: 0;
  left: 0;
  bottom: -7px;
  transition: opacity 0.3s ease;
}

.projects-facet-search input.touched ~ .note {
  opacity: 1;
}

.projects-facets-reset {
  float: right;
}

.projects-facets-reset .button {}

.projects-facet-bar {
  display: inline-block;
  width: 60px;
  margin-left: 8px;
}

.projects-facet-bar-inner {
  min-width: 1px;
  height: 10px;
  background-color: #b4b4b4;
  transition: width 0.3s ease;
}

.search-navigator-facet.active .projects-facet-bar-inner,
.search-navigator-facet-highlight-under.active ~ .search-navigator-facet .projects-facet-bar-inner {
  background-color: #4b9fd5;
}

.projects-visualization {
  position: relative;
  height: 600px;
}

.projects-visualization .measure-details-bubble-chart-axis.y {
  width: 300px;
  left: 15px;
  margin-top: 150px;
  transform-origin: 0 0;
  text-align: center;
}

.projects-visualizations-footer {
  margin-top: 8px;
  padding: 15px 60px;
  border-top: 1px solid #e6e6e6;
  font-size: 12px;
  line-height: 1.4;
  text-align: center;
}

.projects-visualizations-footer .note {
  font-style: italic;
}

.projects-visualizations-ratings {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.projects-visualizations-ratings > *:not(:first-child) {
  margin-left: 24px;
}

.projects-visualizations-ratings-rect {
  display: inline-block;
  vertical-align: top;
  margin-top: 1px;
  margin-right: 4px;
  border: 1px solid;
}

.projects-visualizations-ratings-rect-inner {
  display: block;
  width: 8px;
  height: 8px;
  opacity: 0.2;
}

.measure-details-bubble-chart-axis {
  position: absolute;
  color: #777;
  font-size: 12px;
}

.measure-details-bubble-chart-axis.x {
  left: 50%;
  bottom: 10px;
  width: 500px;
  margin-left: -250px;
  text-align: center;
}

.measure-details-bubble-chart-axis.y {
  top: 50%;
  left: -20px;
  transform: rotate(-90deg);
}

.measure-details-bubble-chart-axis.size {
  left: 50%;
  top: 10px;
  width: 500px;
  margin-left: -250px;
  text-align: center;
}
