<div class="component-viewer-popup-section">
  <a data-key="org.codehaus.sonar:sonar-plugin-api:src/test/java/org/sonar/api/resources/ResourceTypeTreeTest.java"
     class="component-viewer-popup-section-title">
    ResourceTypeTreeTest.java
  </a>
  <ul class="component-viewer-popup-list">
    <li><i class="icon-alert-ok"></i> 216ms forbidDuplicatedType</li>
    <li><i class="icon-alert-ok"></i> 216ms forbidNullRelation</li>
  </ul>
</div>

<div class="component-viewer-popup-section">
  <a data-key="org.codehaus.sonar:sonar-plugin-api:src/test/java/org/sonar/api/resources/ResourceTypesTest.java"
     class="component-viewer-popup-section-title">
    ResourceTypesTest.java
  </a>
  <ul class="component-viewer-popup-list">
    <li><i class="icon-alert-ok"></i> 115ms fail_on_duplicated_qualifier</li>
  </ul>
</div>