<div class="component-viewer-popup-section">
  <div class="component-viewer-popup-section-title">
    2 duplications
  </div>
  <ul class="component-viewer-popup-list">
    <li>
      <a data-key="org.codehaus.sonar:sonar-plugin-api:src/main/java/org/sonar/api/resources/ResourceTypeTree.java">
        <span>ResourceTypeTree.java</span>
      </a>
    </li>
    <li>
      <a data-key="org.codehaus.sonar:sonar-batch:src/main/java/org/sonar/batch/phases/PhaseExecutor.java">
        <span>PhaseExecutor.java</span>
      </a>
    </li>
  </ul>
</div>

<div class="component-viewer-popup-arrow"></div>