<div class="component-viewer-popup-container">
  <div class="component-viewer-popup-title">{{t 'component_viewer.extensions'}}</div>

  <div class="component-viewer-popup-section fluid">
    {{#each extensions}}
      <a href="#" class="js-extension link-action" data-key="{{this.[0]}}">{{this.[1]}}</a>
    {{/each}}
  </div>
</div>

<div class="component-viewer-popup-arrow"></div>