<h3 class="component-viewer-component">{{name}}</h3>

<div class="component-viewer-options button-group">
  <button data-option="issues"><i class="icon-issue"></i>&nbsp;&nbsp;Issues</button>
  <button data-option="coverage"><i class="icon-coverage"></i>&nbsp;&nbsp;Coverage</button>
  <button data-option="duplications"><i class="icon-duplications"></i>&nbsp;&nbsp;Duplications</button>
</div>