<div class="component-viewer-popup-container">
  <div class="component-viewer-popup-title">{{t 'component_viewer.line_actions'}}</div>

  <div class="component-viewer-popup-section">
    <a href="#" class="js-get-permalink link-action">{{t 'component_viewer.get_permalink'}}</a>
  </div>

  {{#if state.canCreateManualIssue}}
    <div class="component-viewer-popup-section">
      <a href="#" class="js-add-manual-issue link-action">{{t 'component_viewer.add_manual_issue'}}</a>
    </div>
  {{/if}}
</div>

<div class="component-viewer-popup-arrow"></div>