<div class="component-viewer-popup-container">
  <div class="component-viewer-popup-title">{{t 'component_viewer.line_actions'}}</div>

  <div class="component-viewer-popup-section">
    <a href="#" class="js-add-manual-issue link-action">{{t 'component_viewer.add_manual_issue'}}</a>
  </div>
</div>

<div class="component-viewer-popup-arrow"></div>