<div class="component-viewer-popup-section">
  <div class="component-viewer-popup-section-title">
    Time changes
  </div>
  <ul class="component-viewer-popup-list">
    <li><a><span>Current</span></a></li>
    <li><a><span>Δ since previous analysis (Apr 02 2014)</span></a></li>
    <li><a><span>Δ over 365 days (Apr 02 2013)</span></a></li>
    <li><a><span>Δ since previous version (4.2 - Feb 24 2014)</span></a></li>
  </ul>
</div>

<div class="component-viewer-popup-arrow"></div>