<div class="component-viewer-popup-title">Time Changes</div>

<ul class="component-viewer-popup-list">
  {{#each periods}}
    <li><a class="link-action" data-period="{{key}}">{{label}}</a></li>
  {{/each}}
</ul>

<div class="component-viewer-popup-arrow"></div>