<ul class="component-viewer-workspace-list">
  {{#each workspace}}
    <li class="component-viewer-workspace-item">
      {{#if transition}}
        <span>
            <i class="icon-move-right"></i>
          </span>
      {{/if}}
      <a data-key="{{key}}">{{qualifierIcon component.qualifier}} {{component.name}}</a>
    </li>
  {{/each}}
</ul>