<table>
  <thead>
  <tr>
    <th>Property</th>
    <th>Value</th>
  </tr>
  </thead>
  <tr>
    <td>mandatoryString</td>
    <td><%= widget_properties['mandatoryString'] -%></td>
  </tr>
  <tr>
    <td>mandatoryInt</td>
    <td><%= widget_properties['mandatoryInt'] -%></td>
  </tr>
</table>
