<div class="modal-head">
  <h2>Update Groups</h2>
</div>
<div class="modal-body">
  <div class="js-modal-messages"></div>
  <div id="global-permissions-groups"></div>
</div>
<div class="modal-foot">
  <a href="#" class="js-modal-close" id="global-permissions-groups-done">Done</a>
</div>
