<div class="issue-action-options">
  <i class="icon-search issue-action-options-search-icon"></i>
  <input class="issue-action-options-search" type="text" placeholder="Search..." value="{{query}}">
</div>

<div class="bubble-popup-arrow"></div>
