<ul class="issue-more-actions">
  <li>
    <a class="issue-action" target="_blank" href="{{permalink}}">Get Permalink</a>
  </li>
  <li>
    <a class="issue-action" target="_blank" href="{{rulePermalink}}">Go To Rule</a>
  </li>
  {{#pluginActions actions}}
    <li>
      <a class="issue-action js-issue-action" data-action="{{this}}">{{t "issue.action" this "formlink"}}</a>
    </li>
  {{/pluginActions}}
</ul>

<div class="bubble-popup-arrow"></div>
