.permissions-table {
  table-layout: fixed;
}

.permissions-table > tbody > tr > td {
  border-bottom: 10px solid #fff !important;
}

.permissions-table .permission-column {
  width: 12%;
  min-width: 112px;
}

.permissions-table .actions-column {
  width: 130px;
  text-align: right;
}
