<?xml version="1.0" encoding="UTF-8" ?>
<configuration debug="false">

  <!--
	ONLY FOR UNIT TESTS
  -->

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} %-5level - %msg%n</pattern>
    </encoder>
  </appender>

  <!-- BeanUtils generate to many DEBUG logs when sonar.verbose is set -->
  <logger name="org.apache.commons.beanutils.converters">
    <level value="WARN"/>
  </logger>

  <!-- sonar.showSql -->
  <!-- see also org.sonar.db.MyBatis#configureLogback() -->
  <logger name="org.mybatis">
    <level value="WARN"/>
  </logger>
  <logger name="org.apache.ibatis">
    <level value="WARN"/>
  </logger>
  <logger name="java.sql">
    <level value="WARN"/>
  </logger>
  <logger name="java.sql.ResultSet">
    <level value="WARN"/>
  </logger>
  <logger name="PERSISTIT">
    <level value="WARN"/>
  </logger>
  <logger name="ch.qos.logback">
    <level value="WARN"/>
  </logger>

  <root>
    <level value="INFO"/>
    <appender-ref ref="STDOUT"/>
  </root>

</configuration>
