<?xml version="1.0" encoding="UTF-8" ?>
<configuration debug="false">

  <!--
	ONLY FOR UNIT TESTS
  -->

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} %-5level - %msg%n</pattern>
    </encoder>
  </appender>

  <!-- BeanUtils generate to many DEBUG logs when sonar.verbose is set -->
  <logger name="org.apache.commons.beanutils.converters" level="WARN"/>

  <!-- sonar.showSql -->
  <!-- see also org.sonar.db.MyBatis#configureLogback() -->
  <logger name="org.mybatis" level="WARN"/>

  <logger name="org.apache.ibatis" level="WARN"/>

  <logger name="java.sql" level="WARN"/>

  <logger name="java.sql.ResultSet" level="WARN"/>

  <logger name="PERSISTIT" level="WARN"/>

  <logger name="ch.qos.logback" level="WARN"/>


  <root level="INFO">
    <appender-ref ref="STDOUT"/>
  </root>

</configuration>
