<tr>
  <td>
    <a href="{{issueFilterTotalLink parsedQuery displayMode}}"><strong>{{t 'total'}}</strong></a>
  </td>
  <td class="text-right nowrap">
    <strong>{{#notNull periodDate}}+{{/notNull}}{{issueFilterValue total displayMode}}</strong>
  </td>
  <td class="barchart">
    <div class="barchart" style="width: 100%;">
      <div style="width: 100%;"></div>
    </div>
  </td>
</tr>
