.system-info-health-title {
  margin-top: 24px;
  margin-bottom: 16px;
}

.system-info-health-card {
  margin-bottom: 8px;
  transition: border-color 0.3s ease;
}

.system-info-health-card:not(.no-hover):hover {
  border-color: #4b9fd5;
}

.system-info-health-card:not(.no-hover):hover .system-info-health-card-title {
  color: #4b9fd5;
}

.system-info-health-card .boxed-group-header {
  cursor: pointer;
  padding-bottom: 15px;
}

.system-info-health-card .boxed-group-header > .alert {
  margin-top: -6px;
}

.system-info-health-card .boxed-group-inner {
  padding-top: 0;
}

.system-info-health-card-title {
  font-weight: bold;
}

.system-info-health-info {
  margin-top: -12px;
}

.system-info-health-dot {
  display: inline-block;
  position: relative;
  top: 8px;
  width: 16px;
  height: 16px;
  margin: 4px;
  border-radius: 16px;
  box-sizing: border-box;
}

.system-info-health-dot.GREEN {
  background-color: #00aa00;
}

.system-info-health-dot.YELLOW {
  background-color: #eabe06;
}
.system-info-health-dot.RED {
  background-color: #d4333f;
}

.system-info-health-info .alert {
  display: inline-block;
}

.system-info-health-info.big-dot .system-info-health-dot {
  width: 24px;
  height: 24px;
  margin: 0;
  border-radius: 24px;
}

.system-info-health-info.no-margin .system-info-health-dot {
  margin: 0;
}

.system-info-section ~ .system-info-section {
  margin-top: 16px;
}

.system-info-section-item-name {
  width: 25vw;
  overflow: hidden;
  text-overflow: ellipsis;
}
