<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd">

<mapper namespace="org.sonar.db.notification.NotificationQueueMapper">

  <insert id="insert" parameterType="NotificationQueue" useGeneratedKeys="false">
    INSERT INTO notifications (uuid,data,created_at)
    VALUES (#{uuid},#{data},#{createdAt})
  </insert>

  <delete id="delete" parameterType="String">
    delete from notifications where uuid=#{uuid}
  </delete>

  <select id="count" resultType="long">
    select count(1) from notifications
  </select>

  <select id="findOldest" parameterType="int" resultType="NotificationQueue">
    select uuid, data, created_at
    from notifications
    order by created_at asc
    limit #{count}
  </select>

  <!-- SQL Server -->
  <select id="findOldest" parameterType="int" resultType="NotificationQueue" databaseId="mssql">
    select top (#{count}) uuid, data, created_at
    from notifications
    order by created_at asc
  </select>

  <!-- Oracle -->
  <select id="findOldest" parameterType="int" resultType="NotificationQueue" databaseId="oracle">
    select * from (select
    uuid, data, created_at
    from notifications
    order by created_at asc
    )
    where rownum &lt;= #{count}
  </select>

</mapper>
