.quality-profile-box {
  padding: 20px;
  border: 1px solid #e6e6e6;
  border-radius: 2px;
  background-color: #fff;
}

.quality-profiles-table {
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.quality-profiles-table-name {}

.quality-profiles-table-inheritance {
  width: 280px;
}

.quality-profiles-table-projects,
.quality-profiles-table-rules,
.quality-profiles-table-date {
  min-width: 90px;
}

.quality-profiles-list-header {
  line-height: 24px;
  padding: 5px 10px;
  border-bottom: 1px solid #e6e6e6;
}

.quality-profile-grid {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.quality-profile-grid-left {
  width: 340px;
  flex-shrink: 0;
}

.quality-profile-grid-right {
  flex-grow: 1;
  margin-left: 20px;
}

.quality-profile-rules,
.quality-profile-projects,
.quality-profile-inheritance,
.quality-profile-evolution {
  border: 1px solid #e6e6e6;
  border-radius: 2px;
  background-color: #fff;
}

.quality-profile-evolution {
  padding: 20px;
}

.quality-profile-projects,
.quality-profile-inheritance {
  padding: 15px 20px 20px;
}

.quality-profile-rules {
  min-height: 182px;
}

.quality-profile-rules > header {
  padding: 15px 20px;
}

.quality-profile-rules-distribution {
  margin-bottom: 20px;
  padding: 5px 20px 0;
}

.quality-profile-rules-deprecated {
  padding: 15px 20px;
  background-color: #f2dede;
}

.quality-profile-rules-sonarway-missing {
  padding: 15px 20px;
  background-color: #fcf8e3;
}

.quality-profile-exporters {
  margin-top: 20px;
}

.quality-profile-evolution {
  display: flex;
  margin-top: 20px;
}

.quality-profile-evolution > div {
  width: 50%;
  text-align: center;
}

.quality-profile-projects {
  margin-top: 20px;
}

.quality-profile-inheritance {}

.quality-profile-not-found {
  padding-top: 100px;
  text-align: center;
}

.quality-profiles-evolution {
  padding-top: 55px;
}

.quality-profiles-evolution-deprecated {
  margin-bottom: 20px;
  border-color: #ebccd1;
  background-color: #f2dede;
}

.quality-profiles-evolution-stagnant {
  margin-bottom: 20px;
  border-color: #faebcc;
  background-color: #fcf8e3;
}

.quality-profiles-evolution-rules {
  border: 1px solid #e6e6e6;
  background-color: #fff;
}

.quality-profile-comparison-table {
  table-layout: fixed;
}
