<%
     limit = widget_properties["numberOfLines"]

     if @dashboard_configuration.selected_period?
       search_options['from'] = @dashboard_configuration.from_datetime
       search_options['to'] = DateTime.now
     end
%>

<h3><%= title -%></h3>

<div id="reviews-widget-<%= widget_id -%>">
  <%= render :partial => 'project/widgets/reviews/reviews_list',
             :locals => {:search_options => search_options,
                         :limit => limit,
                         :widget_id => widget_id} %>
</div>