<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.sonar.core.user.GroupMembershipMapper">

  <sql id="groupColumns">
    g.id as id,
    g.name as name,
    gu.user_id as userId
  </sql>

  <select id="selectGroups" parameterType="map" resultType="GroupMembership">
    SELECT <include refid="groupColumns"/>
    FROM groups g
    <include refid="selectQueryConditions"/>
    ORDER BY g.name
  </select>

  <sql id="selectQueryConditions">
    LEFT JOIN groups_users gu ON gu.group_id=g.id AND gu.user_id=#{userId}
    <where>
      <choose>
        <when test="query.membership() == 'IN'">
          AND gu.user_id IS NOT NULL
        </when>
        <when test="query.membership() == 'OUT'">
          AND gu.user_id IS NULL
        </when>
      </choose>
      <if test="query.groupSearch() != null">
        AND (g.name LIKE #{query.groupSearchSql} ESCAPE '/')
      </if>
    </where>
  </sql>

</mapper>
