<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.sonar.core.user.GroupMembershipMapper">

  <sql id="commonClauses">
    FROM groups g
    LEFT JOIN groups_users gu ON gu.group_id=g.id AND gu.user_id=#{userId}
    <where>
      <choose>
        <when test="query.membership() == 'IN'">
          AND gu.user_id IS NOT NULL
        </when>
        <when test="query.membership() == 'OUT'">
          AND gu.user_id IS NULL
        </when>
      </choose>
      <if test="query.groupSearch() != null">
        AND (UPPER(g.name) LIKE #{query.groupSearchSql} ESCAPE '/')
      </if>
    </where>
  </sql>

  <select id="selectGroups" parameterType="map" resultType="GroupMembership">
    SELECT g.id as id, g.name as name, g.description as description, gu.user_id as userId
    <include refid="commonClauses" />
    ORDER BY g.name
  </select>

  <select id="countGroups" parameterType="map" resultType="int">
    SELECT COUNT(g.id)
    <include refid="commonClauses" />
  </select>

  <select id="countUsersByGroup" resultType="org.sonar.core.user.GroupUserCount">
    SELECT g.name as groupName, count(gu.user_id) as userCount
    FROM groups g
    LEFT JOIN groups_users gu ON gu.group_id=g.id
    GROUP BY g.name
  </select>

</mapper>
