<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.sonar.core.user.RoleMapper">

  <select id="selectUserPermissions" parameterType="String" resultType="String">
    SELECT ur.role
    FROM user_roles ur
    INNER JOIN users u ON u.id = ur.user_id
    WHERE u.login = #{userLogin}
      AND ur.resource_id IS NULL
  </select>

  <select id="selectGroupPermissions" parameterType="String" resultType="String">
    SELECT gr.role
    FROM group_roles gr
    INNER JOIN groups g ON g.id = gr.group_id
    WHERE g.name = #{groupName}
      AND gr.resource_id IS NULL
  </select>

  <insert id="insertGroupRole" parameterType="GroupRole" keyColumn="id" useGeneratedKeys="true" keyProperty="id">
    INSERT INTO group_roles (group_id, resource_id, role)
    VALUES (#{groupId}, #{resourceId}, #{role})
  </insert>

  <insert id="insertUserRole" parameterType="UserRole" keyColumn="id" useGeneratedKeys="true" keyProperty="id">
    INSERT INTO user_roles (user_id, resource_id, role)
    VALUES (#{userId}, #{resourceId}, #{role})
  </insert>

  <delete id="deleteGroupRole" parameterType="map">
    DELETE FROM group_roles
    WHERE role=#{role}
    AND
    <choose>
      <when test="resourceId != null">
        resource_id=#{resourceId}
      </when>
      <otherwise>
        resource_id IS NULL
      </otherwise>
    </choose>
    AND
    <choose>
      <when test="groupId != null">
        group_id=#{groupId}
      </when>
      <otherwise>
        group_id IS NULL
      </otherwise>
    </choose>
  </delete>

  <delete id="deleteUserRole" parameterType="map">
    DELETE FROM user_roles
    WHERE user_id=#{userId}
    AND role=#{role}
    AND
    <choose>
      <when test="resourceId != null">
        resource_id=#{resourceId}
      </when>
      <otherwise>
        resource_id IS NULL
      </otherwise>
    </choose>
  </delete>

  <delete id="deleteGroupRolesByResourceId" parameterType="long">
    delete from group_roles where resource_id=#{id}
  </delete>

  <delete id="deleteUserRolesByResourceId" parameterType="long">
    delete from user_roles where resource_id=#{id}
  </delete>

  <select id="countUserRoles" parameterType="long" resultType="int">
    SELECT count(id)
    FROM user_roles WHERE resource_id=#{id}
  </select>

  <select id="countGroupRoles" parameterType="long" resultType="int">
    SELECT count(id)
    FROM group_roles WHERE resource_id=#{id}
  </select>

  <select id="countSystemAdministrators" parameterType="String" resultType="int">
    SELECT COUNT(DISTINCT u.id)
    FROM users AS u
    LEFT JOIN user_roles AS ur ON ur.user_id = u.id
    INNER JOIN groups_users AS gu ON gu.user_id = u.id
    INNER JOIN group_roles AS gr ON gr.group_id = gu.group_id
    INNER JOIN groups AS g ON g.id = gu.group_id
    WHERE (ur.role = 'admin' AND ur.resource_id IS NULL) OR (gr.role = 'admin' AND gr.resource_id IS NULL)
    AND u.active = TRUE
    <if test="groupName != null">
      AND g.name != #{groupName}
    </if>
  </select>
</mapper>
