<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.sonar.core.user.RoleMapper">

  <insert id="insertGroupRole" parameterType="GroupRole" keyColumn="id" useGeneratedKeys="true" keyProperty="id">
    INSERT INTO group_roles (group_id, resource_id, role)
    VALUES (#{groupId}, #{resourceId}, #{role})
  </insert>

  <insert id="insertUserRole" parameterType="UserRole" keyColumn="id" useGeneratedKeys="true" keyProperty="id">
    INSERT INTO user_roles (user_id, resource_id, role)
    VALUES (#{userId}, #{resourceId}, #{role})
  </insert>

  <delete id="deleteGroupRole" parameterType="map">
    delete from group_roles where resource_id=#{resourceId} and role=#{role}
    <choose>
      <when test="groupId != null">
        and group_id=#{groupId}
      </when>
      <otherwise>
        and group_id is null
      </otherwise>
    </choose>
  </delete>

  <delete id="deleteUserRole" parameterType="map">
    delete from user_roles where resource_id=#{resourceId} and user_id=#{userId} and role=#{role}
  </delete>

  <delete id="deleteGroupRolesByResourceId" parameterType="long">
    delete from group_roles where resource_id=#{id}
  </delete>

  <delete id="deleteUserRolesByResourceId" parameterType="long">
    delete from user_roles where resource_id=#{id}
  </delete>

  <select id="countUserRoles" parameterType="long" resultType="int">
    SELECT count(id)
    FROM user_roles WHERE resource_id=#{id}
  </select>

  <select id="countGroupRoles" parameterType="long" resultType="int">
    SELECT count(id)
    FROM group_roles WHERE resource_id=#{id}
  </select>
</mapper>
