<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.sonar.core.user.UserMapper">

  <sql id="userColumns">
    u.id as id,
    u.login as login,
    u.name as name,
    u.email as email,
    u.created_at as "createdAt",
    u.updated_at as "updatedAt",
    u.active as "active"
  </sql>

  <select id="selectUserByLogin" parameterType="string" resultType="User">
    select
    <include refid="userColumns"/>
    from users u where u.login=#{id} and u.active=${_true}
  </select>

  <select id="selectUsersByLogins" parameterType="map" resultType="User">
    select
    <include refid="userColumns"/>
    from users u where u.login in
    <foreach item="login" index="index" collection="logins" open="(" separator="," close=")">
      #{login}
    </foreach>
  </select>

  <select id="selectUsers" parameterType="map" resultType="User">
    select
    <include refid="userColumns"/>
    from users u
    <where>
      <if test="logins != null and logins.size() > 0">
        u.login in
        <foreach item="login" index="index" collection="logins" open="(" separator="," close=")">
          #{login}
        </foreach>
      </if>
      <if test="includeDeactivated==false">
        and u.active=${_true}
      </if>
      <if test="searchText != null">
        and (u.login like #{searchTextSql} escape '/' or u.name like #{searchTextSql} escape '/')
      </if>
    </where>
    order by u.name
  </select>


  <select id="selectGroupByName" parameterType="string" resultType="Group">
    select id, name, description, created_at AS "createdAt", updated_at AS "updatedAt"
    from groups where name=#{id}
  </select>

  <delete id="removeUserFromGroups" parameterType="long">
    delete from groups_users where user_id=#{id}
  </delete>

  <delete id="deleteUserRoles" parameterType="long">
    delete from user_roles where user_id=#{id}
  </delete>

  <delete id="deleteUserProperties" parameterType="long">
    delete from properties where user_id=#{id}
  </delete>

  <delete id="deleteUserDashboards" parameterType="long">
    delete from dashboards where user_id=#{id}
  </delete>

  <delete id="deleteUserActiveDashboards" parameterType="long">
    delete from active_dashboards where user_id=#{id}
  </delete>

  <delete id="" parameterType="long">
    delete from user_roles where user_id=#{id}
  </delete>

  <delete id="deleteUserMeasureFilters" parameterType="long">
    delete from measure_filters where user_id=#{id}
  </delete>

  <delete id="deleteUserMeasureFilterFavourites" parameterType="long">
    delete from measure_filter_favourites where user_id=#{id}
  </delete>

  <delete id="deleteUserIssueFilters" parameterType="String">
    delete from issue_filters where user_login=#{id}
  </delete>

  <delete id="deleteUserIssueFilterFavourites" parameterType="String">
    delete from issue_filter_favourites where user_login=#{id}
  </delete>

  <update id="deactivateUser" parameterType="long">
    update users set active=${_false} where id=#{id}
  </update>

</mapper>
