<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.sonar.core.user.UserMapper">

  <select id="selectUserByLogin" parameterType="string" resultType="User">
    select id, login, name, email, created_at AS "createdAt", updated_at AS "updatedAt", active as "enabled"
    from users where login=#{id} and active=${_true}
  </select>

  <select id="selectGroupByName" parameterType="string" resultType="Group">
    select id, name, description, created_at AS "createdAt", updated_at AS "updatedAt"
    from groups where name=#{id}
  </select>


</mapper>
