<div class="navigator-content">
  <div class="navigator-side">
    <div class="navigator-actions">
    	<h1 class="navigator-header-title">API Documentation</h1>
    </div>
    <div class="api-documentation-show-internals subtitle">
    	<label for="api-documentation-show-internals">Show internal services</label>
    	<input type="checkbox" id="api-documentation-show-internals"/>
    </div>
    <div class="navigator-results api-documentation-nav"></div>
  </div>
  <div class="navigator-main">
    <!--div class="navigator-header"></div-->
    <div class="navigator-details"></div>
  </div>
</div>