<i class="navbar-search-icon icon-search"></i>

<input class="navbar-search-input js-search-input" type="search" name="q" placeholder="{{t 'search_verb'}}"
       maxlength="30" autocomplete="off">

<div class="js-search-results"></div>

<div class="note navbar-search-subtitle">{{t 'search.shortcut'}}</div>
