.project-activity-page {
  min-height: 600px;
  height: calc(100vh - 250px);
}

.project-activity-page-side-outer {
  position: relative;
  width: 400px;
  margin-bottom: 0;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.project-activity-page-side-outer > .boxed-group-inner {
  padding-left: 12px;
  padding-right: 15px;
}

.project-activity-layout-page-main {
  flex-grow: 1;
  min-width: 640px;
  padding-left: 20px;
  display: flex;
}

.project-activity-layout-page-main-inner {
  min-width: 640px;
  max-width: 880px;
  margin-bottom: 0px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.project-activity-versions-list {
  max-width: 400px;
  box-sizing: border-box;
  overflow: auto;
  flex-grow: 1;
  flex-shrink: 0;
  padding-top: 52px;
}

.project-activity-graph-container {
  padding: 10px 0;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}

.project-activity-graph {
  flex: 1;
}

.project-activity-graph-legends {
  flex-grow: 0;
  padding-bottom: 16px;
  text-align: center;
}

.project-activity-days-list {}

.project-activity-day {
  margin-top: 8px;
  margin-bottom: 24px;
}

.project-activity-day:last-child {
  margin-bottom: 10px;
}

.project-activity-date {
  margin-bottom: 16px;
  font-size: 15px;
  font-weight: bold;
}

.project-activity-analyses-list {}

.project-activity-analysis {
  position: relative;
  min-height: 20px;
  padding: 4px;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
}

.project-activity-analysis:hover {
  background-color: #ecf6fe;
}

.project-activity-analysis + .project-activity-analysis {
  border-top: none;
}

.project-activity-analysis-actions {
  float: right;
}

.project-activity-time {
  float: left;
  width: 54px;
  line-height: 20px;
  box-sizing: border-box;
  font-size: 12px;
  font-weight: bold;
  text-align: right;
}

.project-activity-analysis-icon {
  float: left;
  width: 10px;
  height: 10px;
  margin-top: 4px;
  border: 2px solid #4b9fd5;
  border-radius: 10px;
  box-sizing: border-box;
  content: "";
}

.project-activity-events {
  overflow: hidden;
}

.project-activity-event {
  line-height: 20px;
  display: flex;
}

.project-activity-event + .project-activity-event {
  margin-top: 4px;
}

.project-activity-event-inner {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.project-activity-event-inner-icon {
  flex-shrink: 0;
}

.project-activity-event-inner-text {
  flex: 1;
}

.project-activity-event-actions {
  display: inline-block;
}

.project-activity-event-actions button {
  height: 20px;
}

.project-activity-event-actions button + button {
  margin-left: 4px;
}

.project-activity-event-icon.VERSION {
  color: #4b9fd5;
}

.project-activity-event-icon.QUALITY_GATE {
  color: #00aa00;
}

.project-activity-event-icon.QUALITY_PROFILE {
  color: #ed7d20;
}

.project-activity-event-icon.OTHER {
  color: #9139d4;
}

.project-activity-version-badge {
  margin-left: -12px;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: white;
}

.project-activity-version-badge.sticky, .project-activity-version-badge.first {
  position: absolute;
  top: 0;
  left: 12px;
  right: 16px;
  padding-top: 24px;
  z-index: 100;
}

.project-activity-version-badge.sticky + .project-activity-days-list {
  padding-top: 36px;
}

.project-activity-version-badge .badge {
  vertical-align: middle;
  padding: 4px 14px 4px 14px;
  border-radius: 2px;
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 0;
}
